Repository zlib-ng/zlib-ng: changes, and which Codecov flags are due for each by the changed paths.
All: zlib-ng, tests

Fixed unused function warning for arm_has_cpuid
  arch/arm/arm_features.c
Due: zlib-ng

Add branch hints to inflate_fast.
  inffast_tpl.h
Due: none

Take account of use-case where there is an empty git tree object when reading the BASE_SHA
  .github/workflows/lint.yml
Due: none

Fix typo - missing closing quote
  .github/workflows/lint.yml
Due: none

Split CRC32 Braid and Chorba word types
  CMakeLists.txt
  arch/arm/crc32_armv8.c
  arch/arm/crc32_armv8_pmull_eor3.c
  arch/generic/crc32_chorba_c.c
  arch/generic/generic_functions.h
  arch/loongarch/crc32_la.c
  arch/x86/crc32_chorba_sse2.c
  arch/x86/crc32_chorba_sse41.c
  arch/x86/crc32_pclmulqdq_tpl.h
  arch_functions.h
  crc32.h
  crc32_braid_p.h
  crc32_chorba_p.h
  deflate.h
  functable.h
  inflate.h
Due: zlib-ng

Simplify types used in chunkset code
  arch/arm/arm_functions.h
  arch/arm/chunkset_neon.c
  arch/generic/generic_functions.h
  arch/loongarch/chunkset_lasx.c
  arch/loongarch/chunkset_lsx.c
  arch/loongarch/loongarch_functions.h
  arch/power/power_functions.h
  arch/riscv/chunkset_rvv.c
  arch/riscv/riscv_functions.h
  arch/x86/chunkset_avx2.c
  arch/x86/chunkset_avx512.c
  arch/x86/chunkset_ssse3.c
  arch/x86/x86_functions.h
  chunkset_tpl.h
  functable.c
  functable.h
  inflate_p.h
  zbuild.h
Due: zlib-ng

Add .vscode to .gitignore
  .gitignore
Due: none

cmake: Fix ARCH is empty in detect-arch
  cmake/detect-arch.cmake
Due: none

Simplify alignment casts in Chorba code
  arch/generic/crc32_chorba_c.c
  arch/x86/crc32_chorba_sse2.c
  arch/x86/crc32_chorba_sse41.c
  arch/x86/x86_functions.h
  crc32_chorba_p.h
Due: zlib-ng

Fix incorrect use of chorba_word_t in 64-bit only function
  arch/generic/crc32_chorba_c.c
Due: zlib-ng

Optimize symbol buffer access based on platform unaligned access
  deflate.c
  deflate.h
  deflate_p.h
  trees.c
Due: zlib-ng

Refactor and unify adler32 short length processing.
  adler32_p.h
  arch/arm/adler32_neon.c
  arch/generic/adler32_c.c
  arch/loongarch/adler32_lasx.c
  arch/loongarch/adler32_lsx.c
  arch/power/adler32_power8.c
  arch/power/adler32_vmx.c
  arch/riscv/adler32_rvv.c
  arch/x86/adler32_avx2.c
  arch/x86/adler32_sse42.c
  arch/x86/adler32_ssse3.c
  zbuild.h
Due: zlib-ng

Add missing native_crc32_copy define for SSE2 chorba
  arch/x86/x86_functions.h
Due: zlib-ng

Prioritize compile-time checks in ARM feature detection
  arch/arm/arm_features.c
Due: zlib-ng

Fix missing address-of operators for LoongArch functable assignments
  functable.c
Due: zlib-ng

Cleanup pointer style and parameter names in crc32 chorba functions
  arch/generic/crc32_chorba_c.c
  arch/x86/x86_functions.h
  crc32_chorba_p.h
Due: zlib-ng

Fix missing address-of operators for s390 functable assignments
  functable.c
Due: zlib-ng

Add POWER8 VSX and S390 VX CRC32 copy tests
  test/test_crc32_copy.cc
Due: tests

[CI] Retain CMake configure log if configuring fails * We need to add CMakeConfigureLog.yaml to build artifacts to diagnose configuration failures
  .github/workflows/cmake.yml
Due: none

Add compile-time native feature detection macros
  arch/arm/arm_functions.h
  arch/arm/arm_natives.h
  arch/loongarch/loongarch_functions.h
  arch/loongarch/loongarch_natives.h
  arch/power/power_functions.h
  arch/power/power_natives.h
  arch/riscv/riscv_functions.h
  arch/riscv/riscv_natives.h
  arch/s390/s390_functions.h
  arch/s390/s390_natives.h
  arch/x86/x86_functions.h
  arch/x86/x86_natives.h
  arch_natives.h
  functable.c
Due: zlib-ng

Decode the next iteration's symbol before chunk-copy
  inffast_tpl.h
  inflate_p.h
Due: zlib-ng

Optimize inflation by conditionally preloading next length code
  inffast_tpl.h
  inflate_p.h
Due: zlib-ng

Refactor preloading logic in inflate fast path for cleaner control flow
  inffast_tpl.h
Due: none

Initialize variables to silence MSVC C4701 uninitialized warnings
  inffast_tpl.h
Due: none

Keep bi_buf/bi_valid in registers across compress_block loop
  trees.c
  trees_emit.h
Due: zlib-ng

Make use of NEON alignment hints
  arch/arm/adler32_neon.c
  arch/arm/chunkset_neon.c
  arch/arm/crc32_armv8_pmull_eor3.c
  arch/arm/neon_intrins.h
  arch/arm/slide_hash_neon.c
Due: zlib-ng

Set version for the develop branch to 2.3.90
  Makefile.in
  zlib-ng.h.in
  zlib.h.in
  zutil.c
Due: zlib-ng

Slide 32 hash entries per loop iteration when using LASX
  arch/loongarch/slide_hash_lasx.c
Due: zlib-ng

Simplify slide_hash_lsx
  arch/loongarch/slide_hash_lsx.c
Due: zlib-ng

Combine extra_lbits/base_length and extra_dbits/base_dist lookup tables
  tools/maketrees.c
  trees_emit.h
  trees_tbl.h
Due: zlib-ng, tests

Split init_functable() into arch-specific functions
  functable.c
Due: zlib-ng

Simplify Chorba SSE build logic and remove MSVC version check
  CMakeLists.txt
  arch/x86/crc32_chorba_sse2.c
  arch/x86/crc32_chorba_sse41.c
  arch/x86/x86_functions.h
  functable.c
  test/benchmarks/benchmark_crc32.cc
  test/benchmarks/benchmark_crc32_copy.cc
  test/test_crc32.cc
  test/test_crc32_copy.cc
Due: zlib-ng, tests

Only compile generic C fallbacks when no native implementation exists
  CMakeLists.txt
  arch/arm/arm_functions.h
  arch/generic/adler32_c.c
  arch/generic/chunkset_c.c
  arch/generic/compare256_c.c
  arch/generic/crc32_braid_c.c
  arch/generic/crc32_chorba_c.c
  arch/generic/generic_functions.h
  arch/generic/slide_hash_c.c
  arch/loongarch/loongarch_functions.h
  arch/power/power_functions.h
  arch/riscv/riscv_functions.h
  arch/s390/s390_functions.h
  arch/x86/crc32_chorba_sse2.c
  arch/x86/crc32_chorba_sse41.c
  arch/x86/x86_functions.h
  arch_functions.h
  functable.c
  test/benchmarks/benchmark_adler32.cc
  test/benchmarks/benchmark_adler32_copy.cc
  test/benchmarks/benchmark_compare256.cc
  test/benchmarks/benchmark_crc32.cc
  test/benchmarks/benchmark_crc32_copy.cc
  test/benchmarks/benchmark_slidehash.cc
  test/test_adler32.cc
  test/test_adler32_copy.cc
  test/test_compare256.cc
  test/test_crc32.cc
  test/test_crc32_copy.cc
Due: zlib-ng, tests

Use #ifndef guards for native fallbacks instead of #undef/define pattern
  arch/arm/arm_functions.h
  arch/loongarch/loongarch_functions.h
  arch/power/power_functions.h
  arch/riscv/riscv_functions.h
  arch/s390/s390_functions.h
  arch/x86/x86_functions.h
Due: zlib-ng

Add MSVC support for Z_UNREACHABLE macro
  zbuild.h
Due: zlib-ng

Update MCST qemu-e2k
  .github/workflows/cmake.yml
Due: none

Add support for building benchmarks with alternative zlib library
  test/benchmarks/CMakeLists.txt
  test/benchmarks/README.md
Due: tests

Add parameterized deflate benchmark
  test/benchmarks/CMakeLists.txt
  test/benchmarks/benchmark_deflate.cc
Due: tests

Refactor adler32 SIMD tail processing with unified functions
  arch/loongarch/adler32_lasx.c
  arch/loongarch/adler32_loongarch_p.h
  arch/loongarch/adler32_lsx.c
  arch/x86/adler32_avx2.c
  arch/x86/adler32_avx512.c
  arch/x86/adler32_avx512_p.h
  arch/x86/adler32_avx512_vnni.c
  arch/x86/adler32_ssse3.c
  arch/x86/adler32_x86_p.h
Due: zlib-ng

Path conditions:
  zlib-ng: any of: arch/, adler32.c, adler32_p.h, chunkset.c, chunkset_tpl.h, compare258.c, compress.c, crc32.c, crc32_comb.c, crc32_comb_tbl.h, crc32_p.h, crc32_tbl.h, deflate.c, deflate_fast.c, deflate.h, deflate_medium.c, deflate_p.h, deflate_quick.c, deflate_slow.c, fallback_builtins.h, functable.c, functable.h, gzguts.h, gzlib.c, gzread.c, gzwrite.c, infback.c, inffast.c, inffast.h, inffixed_tbl.h, inflate.c, inflate.h, inflate_p.h, inftrees.c, inftrees.h, insert_string.c, insert_string_tpl.h, match_tpl.h, trees.c, trees_emit.h, trees.h, trees_tbl.h, uncompr.c, zbuild.h, zconf.h, zconf-ng.h, zendian.h, zlib.h, zlib-ng.h, zutil.c, zutil.h, zutil_p.h, but not: usr/include/.*, /usr/include/.*, /build/usr/include/.*, usr/lib/.*, /usr/lib/.*, /build/usr/lib/.*, usr/lib64/.*, /usr/lib64/.*, /build/usr/lib64/.*
  tests: any of: test/, tools/, but not: usr/include/.*, /usr/include/.*, /build/usr/include/.*, usr/lib/.*, /usr/lib/.*, /build/usr/lib/.*, usr/lib64/.*, /usr/lib64/.*, /build/usr/lib64/.*
