Repository zlib-ng/zlib-ng: changes, and which Codecov flags are due for each by the changed paths.
All: zlib-ng, tests

codecov.yml:

codecov:
  max_report_age: 72h
  
coverage:
  status:
    project:
      default:
        threshold: 0.07%
      zlib-ng:
        target: 80%
        flags:
          - zlib-ng
      tests:
        target: 50%
        flags:
          - tests
        
comment:
    require_head: no     # default yes
    require_base: no     # default yes

flags:
  zlib-ng:
    paths:
      - arch/
      - adler32.c
      - adler32_p.h
      - chunkset.c
      - chunkset_tpl.h
      - compare258.c
      - compress.c
      - crc32.c
      - crc32_comb.c
      - crc32_comb_tbl.h
      - crc32_p.h
      - crc32_tbl.h
      - deflate.c
      - deflate_fast.c
      - deflate.h
      - deflate_medium.c
      - deflate_p.h
      - deflate_quick.c
      - deflate_slow.c
      - fallback_builtins.h
      - functable.c
      - functable.h
      - gzguts.h
      - gzlib.c
      - gzread.c
      - gzwrite.c
      - infback.c
      - inffast.c
      - inffast.h
      - inffixed_tbl.h
      - inflate.c
      - inflate.h
      - inflate_p.h
      - inftrees.c
      - inftrees.h
      - insert_string.c
      - insert_string_tpl.h
      - match_tpl.h
      - trees.c
      - trees_emit.h
      - trees.h
      - trees_tbl.h
      - uncompr.c
      - zbuild.h
      - zconf.h
      - zconf-ng.h
      - zendian.h
      - zlib.h
      - zlib-ng.h
      - zutil.c
      - zutil.h
      - zutil_p.h
  tests:
    paths:
      - test/
      - tools/
  
fixes:
  - "/home/runner/work/zlib-ng/zlib-ng/::"
  - "/home/runner/work/zlib-ng/build/::"
  - "/build/home/runner/work/zlib-ng/zlib-ng/::"
  - "/build/home/runner/work/zlib-ng/build/::"

ignore:
  - "usr/include/.*"
  - "/usr/include/.*"
  - "/build/usr/include/.*"
  - "usr/lib/.*"
  - "/usr/lib/.*"
  - "/build/usr/lib/.*"
  - "usr/lib64/.*"
  - "/usr/lib64/.*"
  - "/build/usr/lib64/.*"

Don't define HASH_SIZE if it is already defined.
  deflate.h
Due: zlib-ng

Fixed undefined behavior of isgraph when character is not in the range 0 through 0xFF inclusive.
  trees.c
  trees_emit.h
Due: zlib-ng

Fixed missing enclosing parentheses for ZSWAP64 in zutil.h to avoid erroneous result in inffast.c.
  zutil.h
Due: zlib-ng

Standardize crc32_stub
  functable.c
Due: zlib-ng

Fix hangs on macOS due to loading of misaligned addresses in chunkmemset_8.
  chunkset_tpl.h
Due: zlib-ng

Fix UB in inffast.c when not using window
  inffast.c
Due: zlib-ng

COMP: Fix data loss warning
  inflate.c
Due: zlib-ng

Remove gz_intmax implementation, since INT_MAX is always available in modern C implementations.
  gzguts.h
  gzlib.c
  zlib-ng.map
  zlib.map
  zlib_name_mangling-ng.h.in
  zlib_name_mangling.h.in
Due: zlib-ng

inttypes.h includes stdint.h, so only include one of them.
  arch/x86/crc32_fold_pclmulqdq.c
  crc32.c
  crc32_comb.c
  test/example.c
  test/fuzz/checksum_fuzzer.c
  test/fuzz/compress_fuzzer.c
  test/fuzz/example_dict_fuzzer.c
  test/fuzz/example_flush_fuzzer.c
  test/fuzz/example_large_fuzzer.c
  test/fuzz/example_small_fuzzer.c
  test/infcover.c
  test/minideflate.c
  trees_emit.h
Due: zlib-ng, tests

deflate_medium: avoid emitting a suboptimal literal in the restart case
  deflate_medium.c
Due: zlib-ng

Avoid warning C4295 when using Visual C++ and maintainer warnings are enabled.
  test/deflate_quick_bi_valid.c
Due: tests

IBM Z: Run DFLTCC tests on the self-hosted builder
  .github/workflows/cmake.yml
  .github/workflows/configure.yml
  arch/s390/README.md
  arch/s390/self-hosted-builder/actions-runner.Dockerfile
  arch/s390/self-hosted-builder/actions-runner.service
  arch/s390/self-hosted-builder/fs/usr/bin/actions-runner
  arch/s390/self-hosted-builder/fs/usr/bin/entrypoint
  arch/s390/self-hosted-builder/qemu-user-static.service
Due: zlib-ng

Fix deflateBound and compressBound returning very small size estimates. Remove workaround in switchlevels.c, so we do actual testing of this. Use named defines instead of magic numbers where we can.
  compress.c
  deflate.c
  test/switchlevels.c
  zutil.h
Due: zlib-ng, tests

Upgrade version of GitHub checkout actions. #1078
  .github/workflows/libpng.yml
  .github/workflows/nmake.yml
  .github/workflows/pkgcheck.yml
  .github/workflows/release.yml
Due: none

Fixed crc32_combine_gen declaration warning in zlib-ng API.
  crc32_comb.c
Due: zlib-ng

Link crc32_test and infcover with $(CFLAGS)
  Makefile.in
Due: none

IBM Z: Do not check inflateGetDictionary() with DFLTCC
  test/example.c
Due: tests

IBM Z: Adjust compressBound() for DFLTCC
  arch/s390/dfltcc_common.h
  arch/s390/dfltcc_deflate.h
  compress.c
  zutil.h
Due: zlib-ng

[MacOS] Downgrade to XCode 11.7.0 for pkgcheck.
  .github/workflows/pkgcheck.yml
Due: none

Workaround for installation failure of wine32.
  .github/workflows/cmake.yml
Due: none

[arm] Disable ACLE, UNALIGNED_OK and UNALIGNED64_OK on armv7 and earlier. * armv7 has partial support for unaligned reads, but compiler might use instructions that do not support unaligned accesses
  CMakeLists.txt
Due: none

Call deflateBound to calculate length with custom gzip header in example.
  test/example.c
Due: tests

Include win directory in pigz even if not using threads.
  test/pigz/CMakeLists.txt
Due: tests

Fixed trailing whitespaces and missing new lines.
  cmake/detect-arch.c
  cmake/run-and-compare.cmake
  cmake/test-compress.cmake
  cmake/test-tools.cmake
  deflate_fast.c
  inffast.c
Due: zlib-ng

Fill out gzheader before calling deflateSetHeader for better code coverage in example.
  test/example.c
Due: tests

IBM Z: Fix building outside of a source directory
  arch/s390/dfltcc_common.c
  arch/s390/dfltcc_common.h
  arch/s390/dfltcc_deflate.c
  arch/s390/dfltcc_inflate.c
Due: zlib-ng

ENH: Transition to Ubuntu 18.04 in `GitHub` actions workflows
  .github/workflows/cmake.yml
  .github/workflows/configure.yml
Due: none
