Repository zlib-ng/zlib-ng: changes, and which Codecov flags are due for each by the changed paths.
All: zlib-ng, tests

codecov.yml:

codecov:
  max_report_age: 72h
  
coverage:
  status:
    project:
      default:
        threshold: 0.07%
      zlib-ng:
        target: 80%
        flags:
          - zlib-ng
      tests:
        target: 50%
        flags:
          - tests
        
comment:
    require_head: no     # default yes
    require_base: no     # default yes

flags:
  zlib-ng:
    paths:
      - arch/
      - adler32.c
      - adler32_p.h
      - chunkset.c
      - chunkset_tpl.h
      - compare258.c
      - compress.c
      - crc32.c
      - crc32_comb.c
      - crc32_comb_tbl.h
      - crc32_p.h
      - crc32_tbl.h
      - deflate.c
      - deflate_fast.c
      - deflate.h
      - deflate_medium.c
      - deflate_p.h
      - deflate_quick.c
      - deflate_slow.c
      - fallback_builtins.h
      - functable.c
      - functable.h
      - gzguts.h
      - gzlib.c
      - gzread.c
      - gzwrite.c
      - infback.c
      - inffast.c
      - inffast.h
      - inffixed_tbl.h
      - inflate.c
      - inflate.h
      - inflate_p.h
      - inftrees.c
      - inftrees.h
      - insert_string.c
      - insert_string_tpl.h
      - match_tpl.h
      - trees.c
      - trees_emit.h
      - trees.h
      - trees_tbl.h
      - uncompr.c
      - zbuild.h
      - zconf.h
      - zconf-ng.h
      - zendian.h
      - zlib.h
      - zlib-ng.h
      - zutil.c
      - zutil.h
      - zutil_p.h
  tests:
    paths:
      - test/
      - tools/
  
fixes:
  - "/home/runner/work/zlib-ng/zlib-ng/::"
  - "/home/runner/work/zlib-ng/build/::"
  - "/build/home/runner/work/zlib-ng/zlib-ng/::"
  - "/build/home/runner/work/zlib-ng/build/::"

ignore:
  - "usr/include/.*"
  - "/usr/include/.*"
  - "/build/usr/include/.*"
  - "usr/lib/.*"
  - "/usr/lib/.*"
  - "/build/usr/lib/.*"
  - "usr/lib64/.*"
  - "/usr/lib64/.*"
  - "/build/usr/lib64/.*"

Remove type declarations for z_stream/zng_stream from cpu_features.
  arch/arm/arm_features.h
  arch/generic/generic_features.h
  arch/power/power_features.h
  arch/riscv/riscv_features.h
  arch/x86/x86_features.h
  cpu_features.h
  functable.c
  functable.h
Due: zlib-ng

Remove extern keyword from cpu_feature function declarations.
  arch/arm/arm_features.h
  arch/generic/generic_features.h
  arch/power/power_features.h
  arch/riscv/riscv_features.h
  arch/s390/s390_features.h
  arch/x86/x86_features.h
  cpu_features.h
Due: zlib-ng

Split cpu_features.h by architecture.
  CMakeLists.txt
  arch/arm/arm_features.h
  arch/generic/generic_features.h
  arch/power/power_features.h
  arch/riscv/riscv_features.h
  arch/s390/s390_features.h
  arch/x86/x86_features.h
  cpu_features.h
  fallback_builtins.h
Due: zlib-ng

Generate CMake package configuration files * For COMPAT mode, zlib-config.cmake and zlib-config-version.cmake * For non-COMPAT mode, zlib-ng-config.cmake and zlib-ng-config-version.cmake
  CMakeLists.txt
  zlib-config.cmake.in
  zlib-ng-config.cmake.in
Due: none

Relocate CMake target export definitions
  CMakeLists.txt
Due: none

Speed up crc32_[v]pclmulqdq on small strings.
  arch/generic/crc32_braid_c.c
  arch/x86/crc32_pclmulqdq_tpl.h
  crc32_braid_p.h
Due: zlib-ng

Add support for handling alignment correction for input buffers down to 16 bytes in crc32_fold_[v]pclmulqdq
  arch/x86/crc32_fold_pclmulqdq_tpl.h
  arch/x86/crc32_pclmulqdq_tpl.h
Due: zlib-ng

Add more fine-grained small-length benchmarking of adler32 and crc32.
  test/benchmarks/benchmark_adler32.cc
  test/benchmarks/benchmark_crc32.cc
Due: tests

Add missing clean rule for arch/generic
  Makefile.in
Due: none

Rename crc32_braid.c to crc32.c
  CMakeLists.txt
  Makefile.in
  crc32.c
  win32/Makefile.a64
  win32/Makefile.arm
  win32/Makefile.msc
Due: zlib-ng

Remove unused code in makecrct.c
  tools/makecrct.c
Due: tests

zlib 1.3.1
  Makefile.in
  deflate.c
  deflate_fast.c
  deflate_huff.c
  deflate_p.h
  deflate_rle.c
  deflate_slow.c
  deflate_stored.c
  gzguts.h
  gzlib.c
  inftrees.c
  test/Makefile.in
  trees.c
  zconf-ng.h.in
  zconf.h.in
  zlib-ng.h.in
  zlib.h.in
  zutil.h
Due: zlib-ng, tests

Make the existence of gz_intmax() unconditional.
  gzguts.h
  gzlib.c
Due: zlib-ng

Remove -w compile option in configure test.
  configure
Due: none

Fix cmake build on AIX.
  CMakeLists.txt
Due: none

Make internal functions static in the test code.
  test/example.c
  test/fuzz/fuzzer_minigzip.c
  test/minideflate.c
  test/minigzip.c
Due: tests

Update copyright year in win32 resource files.
  win32/zlib-ng1.rc
  win32/zlib1.rc
Due: none

Fix pending buffer overflow assert with LIT_MEM allocation.
  trees.c
Due: zlib-ng

Add bounds checking to ERR_MSG() macro, used by zError().
  zutil.h
Due: zlib-ng

Fix bug in inflateSync() for data held in bit buffer.
  inflate.c
Due: zlib-ng

Enable LIT_MEM by default expect when WITH_REDUCED_MEM is ON.
  CMakeLists.txt
  configure
  deflate.h
Due: zlib-ng

Add back gz_intmax for zlib compatibility when linking statically
  gzguts.h
  gzlib.c
  zlib.map
Due: zlib-ng

Note that the len2 argument of crc_combine*() must be non-negative.
  zlib-ng.h.in
  zlib.h.in
Due: zlib-ng

Update copyright years in other source files.
  LICENSE.md
  arch/arm/insert_string_acle.c
  arch/generic/insert_string_c.c
  arch/generic/slide_hash_c.c
  arch/x86/insert_string_sse42.c
  insert_string_roll.c
  insert_string_tpl.h
  match_tpl.h
  win32/Makefile.a64
  win32/Makefile.arm
  win32/Makefile.msc
Due: zlib-ng

Add LIT_MEM define to use more memory for a small deflate speedup.
  deflate.c
  deflate.h
  deflate_p.h
  deflate_slow.c
  trees.c
Due: zlib-ng

Fix the copy of pending_buf in deflateCopy() for the LIT_MEM case.
  deflate.c
  deflate.h
Due: zlib-ng

Remove mentions of an official zlib DLL distribution.
  FAQ.zlib
Due: none

Explicitly indicate functions are conditionally dispatched.
  adler32.c
  arch/generic/adler32_fold_c.c
  arch/generic/crc32_fold_c.c
  crc32.c
  deflate.c
  deflate_fast.c
  deflate_medium.c
  deflate_quick.c
  deflate_slow.c
  functable.h
  infback.c
  inflate.c
  inflate_p.h
Due: zlib-ng

Add option to disable runtime CPU detection.
  CMakeLists.txt
  README.md
  arch/arm/arm_features.h
  arch/generic/generic_features.h
  arch/power/power_features.h
  arch/riscv/riscv_features.h
  arch/s390/s390_features.h
  arch/x86/x86_features.h
  deflate.c
  functable.c
  functable.h
  inflate.c
Due: zlib-ng
