Repository zlib-ng/zlib-ng: changes, and which Codecov flags are due for each by the changed paths.
All: zlib-ng, tests

Fix type mismatch in benchmark_compress.cc.
  test/benchmarks/benchmark_compress.cc
Due: tests

[CI] Test Visual C++ 2026 with ZLIB_COMPAT and benchmarks to catch type mismatches.
  .github/workflows/cmake.yml
Due: none

Add Z_RESTRICT to zng_memcmp functions * Use zng_memread and zng_memwrite functions with Visual C++ too to allow unaligned memory access
  zmemory.h
Due: none

Fix type mismatch errors in fuzzers.
  test/fuzz/fuzzer_compress.c
  test/fuzz/fuzzer_example_flush.c
  test/fuzz/fuzzer_example_small.c
Due: tests

Add shell script to update/refresh ABI files under Ubuntu * Add some missing ABI files for 64-bit targets
  create-abi-files.sh
  test/abi/zlib-04f42ceca40f73e2978b50e93806c2a18c1281fc-riscv64-unknown-linux-gnu.abi
  test/abi/zlib-04f42ceca40f73e2978b50e93806c2a18c1281fc-s390x-unknown-linux-gnu.abi
  test/abi/zlib-04f42ceca40f73e2978b50e93806c2a18c1281fc-sparc64-unknown-linux-gnu.abi
  test/abi/zlib-ng-e4614ebcb9b3e5b108dc983c155e4baf80882311-riscv64-unknown-linux-gnu.abi
  test/abi/zlib-ng-e4614ebcb9b3e5b108dc983c155e4baf80882311-s390x-unknown-linux-gnu.abi
  test/abi/zlib-ng-e4614ebcb9b3e5b108dc983c155e4baf80882311-sparc64-unknown-linux-gnu.abi
Due: tests

Add missing return after SkipWithError in benchmarks
  test/benchmarks/benchmark_adler32.cc
  test/benchmarks/benchmark_adler32_copy.cc
  test/benchmarks/benchmark_chunkmemset.cc
  test/benchmarks/benchmark_compare256.cc
  test/benchmarks/benchmark_compare256_rle.cc
  test/benchmarks/benchmark_crc32.cc
  test/benchmarks/benchmark_crc32_copy.cc
  test/benchmarks/benchmark_insert_string.cc
  test/benchmarks/benchmark_png_decode.cc
  test/benchmarks/benchmark_slidehash.cc
Due: tests

[CMake] Add toolchain files for cross-compiling ARM with Clang.
  .github/workflows/cmake.yml
  cmake/toolchain-aarch64-clang.cmake
  cmake/toolchain-armv7a-clang.cmake
Due: none

Refactor Adler32 ARM NEON into a reusable template
  arch/arm/adler32_neon_tpl.h
Due: zlib-ng

Add Adler32 ARM NEON wrapper that includes template
  arch/arm/adler32_neon.c
Due: zlib-ng

Add Adler32 ARM NEON DotProd variant
  CMakeLists.txt
  README.md
  arch/arm/Makefile.in
  arch/arm/adler32_neon_dotprod.c
  arch/arm/adler32_neon_tpl.h
  arch/arm/arm_features.c
  arch/arm/arm_features.h
  arch/arm/arm_functions.h
  arch/arm/arm_natives.h
  cmake/detect-intrinsics.cmake
  configure
  functable.c
  test/benchmarks/benchmark_adler32.cc
  test/benchmarks/benchmark_adler32_copy.cc
  test/test_adler32.cc
  test/test_adler32_copy.cc
Due: zlib-ng, tests

Extend the MSVC 2015 AVX2/AVX512 workaround to MSVC 2017.
  arch/x86/chunkset_avx2.c
  arch/x86/chunkset_avx512.c
Due: zlib-ng

Use macos-15 with Xcode 16.4 for package check workflow
  .github/workflows/pkgcheck.yml
Due: none

cap gzbuffer request at 1 GiB in the api
  gzguts.h
  gzlib.c
  zlib-ng.h.in
Due: zlib-ng

Rebuild stale hash chains on deflateParams change
  deflate.c
  deflate.h
  deflate_p.h
  deflate_stored.c
  test/test_deflate_params.cc
  trees.c
Due: zlib-ng, tests

Fix build with macOS 26.
  .github/workflows/cmake.yml
  .github/workflows/pkgcheck.yml
  arch/arm/adler32_neon_dotprod.c
  arch/arm/adler32_neon_tpl.h
  arch/arm/crc32_armv8_pmull_eor3.c
  arch/arm/neon_intrins.h
  cmake/detect-intrinsics.cmake
Due: zlib-ng

set memory error on oversized gzbuffer request and simplify gz_buffer_alloc types
  gzlib.c
Due: zlib-ng

Add Win32 CPU scheduling flags to benchmark suite
  test/benchmarks/README.md
  test/benchmarks/benchmark_main.cc
Due: tests

Force inline compare256 helpers
  arch/arm/compare256_neon.c
  arch/generic/compare256_c.c
  arch/loongarch/compare256_lasx.c
  arch/loongarch/compare256_lsx.c
  arch/power/compare256_power9.c
  arch/riscv/compare256_rvv.c
  arch/x86/compare256_avx2.c
  arch/x86/compare256_avx512.c
  arch/x86/compare256_sse2.c
  compare256_rle.h
Due: zlib-ng

Add WITH_PIC option to build the static library as PIC
  CMakeLists.txt
  README.md
Due: none

Export CMake targets to the build tree for superbuilds
  CMakeLists.txt
Due: none

Fix finding gz files.
  test/CMakeLists.txt
  utils/CMakeLists.txt
Due: tests

Unroll by 4x instead of 2x on avx512vnni.
  arch/x86/adler32_avx512_vnni.c
Due: zlib-ng

Cap gz_buffer_alloc size at INT_MAX accounting for allocator overhead
  gzlib.c
Due: zlib-ng

add explicit cast when storing want in state->size
  gzlib.c
Due: zlib-ng

shorten gz_buffer_alloc overflow comment
  gzlib.c
Due: zlib-ng

fix integer overflow in gz_buffer_alloc buffer sizing
  gzlib.c
Due: zlib-ng

Add ABI files for loongarch64 target and update create-abi-files.sh script
  .github/workflows/pkgcheck.yml
  create-abi-files.sh
  test/abi/zlib-04f42ceca40f73e2978b50e93806c2a18c1281fc-loongarch64-unknown-linux-gnu.abi
  test/abi/zlib-ng-e4614ebcb9b3e5b108dc983c155e4baf80882311-loongarch64-unknown-linux-gnu.abi
Due: tests

Update Adler32_copy tests and benchmarks to support testing only 64-byte aligned buffers of valid window sizes
  test/benchmarks/benchmark_adler32_copy.cc
  test/hash_test_strings_p.h
  test/test_adler32_copy.cc
Due: tests

Introduce separate adler32_copy_avx512_def function, specifically meant to handle 64-byte aligned window-sized buffers
  adler32_p.h
  arch/x86/adler32_avx512.c
  arch/x86/x86_functions.h
  functable.c
  test/benchmarks/benchmark_adler32_copy.cc
  test/test_adler32_copy.cc
Due: zlib-ng, tests

Fix this compilation issue for non-windows machines
  test/benchmarks/benchmark_png_shared.h
Due: tests

Read bits with zero refill latency
  infback.c
  inffast_tpl.h
  inflate.c
  inflate_p.h
  zutil.h
Due: zlib-ng

Cross-vary inflate and deflate benchmarks by input data type
  test/benchmarks/benchmark_compress.cc
  test/benchmarks/benchmark_deflate.cc
  test/benchmarks/benchmark_inflate.cc
  test/benchmarks/benchmark_inflate_chunked.cc
  test/benchmarks/benchmark_png_decode.cc
  test/benchmarks/benchmark_png_decode_small.cc
  test/benchmarks/benchmark_png_encode.cc
  test/benchmarks/benchmark_png_shared.h
  test/benchmarks/benchmark_uncompress.cc
  test/compressible_data_p.h
  test/test_chunked.cc
  test/test_data_p.h
  test/test_deflate.cc
Due: tests

Add --benchmark_data_types flag to select data type variants
  test/benchmarks/CMakeLists.txt
  test/benchmarks/README.md
  test/benchmarks/benchmark_data_types.cc
  test/benchmarks/benchmark_data_types.h
  test/benchmarks/benchmark_deflate.cc
  test/benchmarks/benchmark_inflate.cc
  test/benchmarks/benchmark_main.cc
  test/test_data_p.h
Due: tests

Path conditions:
  zlib-ng: any of: arch/, adler32.c, adler32_p.h, chunkset.c, chunkset_tpl.h, compare258.c, compress.c, crc32.c, crc32_comb.c, crc32_comb_tbl.h, crc32_p.h, crc32_tbl.h, deflate.c, deflate_fast.c, deflate.h, deflate_medium.c, deflate_p.h, deflate_quick.c, deflate_slow.c, fallback_builtins.h, functable.c, functable.h, gzguts.h, gzlib.c, gzread.c, gzwrite.c, infback.c, inffast.c, inffast.h, inffixed_tbl.h, inflate.c, inflate.h, inflate_p.h, inftrees.c, inftrees.h, insert_string.c, insert_string_tpl.h, match_tpl.h, trees.c, trees_emit.h, trees.h, trees_tbl.h, uncompr.c, zbuild.h, zconf.h, zconf-ng.h, zendian.h, zlib.h, zlib-ng.h, zutil.c, zutil.h, zutil_p.h, but not: usr/include/.*, /usr/include/.*, /build/usr/include/.*, usr/lib/.*, /usr/lib/.*, /build/usr/lib/.*, usr/lib64/.*, /usr/lib64/.*, /build/usr/lib64/.*
  tests: any of: test/, tools/, but not: usr/include/.*, /usr/include/.*, /build/usr/include/.*, usr/lib/.*, /usr/lib/.*, /build/usr/lib/.*, usr/lib64/.*, /usr/lib64/.*, /build/usr/lib64/.*
