Repository zlib-ng/zlib-ng: changes, and which Codecov flags are due for each by the changed paths.
All: zlib-ng, tests

codecov.yml:

codecov:
  max_report_age: 72h
  
coverage:
  status:
    project:
      default:
        threshold: 0.07%
      zlib-ng:
        target: 80%
        flags:
          - zlib-ng
      tests:
        target: 50%
        flags:
          - tests
        
comment:
    require_head: no     # default yes
    require_base: no     # default yes

flags:
  zlib-ng:
    paths:
      - arch/
      - adler32.c
      - adler32_p.h
      - chunkset.c
      - chunkset_tpl.h
      - compare258.c
      - compress.c
      - crc32.c
      - crc32_comb.c
      - crc32_comb_tbl.h
      - crc32_p.h
      - crc32_tbl.h
      - deflate.c
      - deflate_fast.c
      - deflate.h
      - deflate_medium.c
      - deflate_p.h
      - deflate_quick.c
      - deflate_slow.c
      - fallback_builtins.h
      - functable.c
      - functable.h
      - gzguts.h
      - gzlib.c
      - gzread.c
      - gzwrite.c
      - infback.c
      - inffast.c
      - inffast.h
      - inffixed_tbl.h
      - inflate.c
      - inflate.h
      - inflate_p.h
      - inftrees.c
      - inftrees.h
      - insert_string.c
      - insert_string_tpl.h
      - match_tpl.h
      - trees.c
      - trees_emit.h
      - trees.h
      - trees_tbl.h
      - uncompr.c
      - zbuild.h
      - zconf.h
      - zconf-ng.h
      - zendian.h
      - zlib.h
      - zlib-ng.h
      - zutil.c
      - zutil.h
      - zutil_p.h
  tests:
    paths:
      - test/
      - tools/
  
fixes:
  - "/home/runner/work/zlib-ng/zlib-ng/::"
  - "/home/runner/work/zlib-ng/build/::"
  - "/build/home/runner/work/zlib-ng/zlib-ng/::"
  - "/build/home/runner/work/zlib-ng/build/::"

ignore:
  - "usr/include/.*"
  - "/usr/include/.*"
  - "/build/usr/include/.*"
  - "usr/lib/.*"
  - "/usr/lib/.*"
  - "/build/usr/lib/.*"
  - "usr/lib64/.*"
  - "/usr/lib64/.*"
  - "/build/usr/lib64/.*"

Move deflateGetDictionary test into its own test binary.
  test/example.c
  test/test_deflate_dict.c
Due: tests

Move deflate and inflate small buffer test into its own test binary.
  test/example.c
  test/test_small_buffers.c
Due: tests

Move gzio test into its own test binary.
  test/test_gzio.c
Due: tests

Move deflateSetHeader test into its own test binary.
  test/example.c
  test/test_deflate_header.c
Due: tests

Fixed tests not building or running in configure.
  Makefile.in
  test/Makefile.in
Due: tests

Move zVersion check into its own test binary.
  test/test_version.c
Due: tests

Fixed tests not building or running in nmake.
  win32/Makefile.a64
  win32/Makefile.arm
  win32/Makefile.msc
Due: none

Updated inflate adler32 test.
  test/test_inflate_adler32.c
Due: tests

Use shared test functions in hash head.
  test/test_hash_head_0.c
Due: tests

Updated deflate_quick block_open test.
  test/test_deflate_quick_block_open.c
Due: tests

Added test_version to configure.
  Makefile.in
  test/Makefile.in
  test/test_deflate_quick_bi_valid.c
  win32/Makefile.a64
  win32/Makefile.arm
  win32/Makefile.msc
Due: tests

Remove the "avx512_well_suited" cpu flag
  arch/x86/adler32_avx512.c
  arch/x86/x86.c
  arch/x86/x86.h
  fallback_builtins.h
  functable.c
Due: zlib-ng

Use fixed width types in compare256 definition.
  arch/x86/compare256_avx2.c
  arch/x86/compare256_sse42.c
  compare256.c
  cpu_features.h
  functable.c
  functable.h
  test/benchmarks/benchmark_compare256.cc
Due: zlib-ng, tests

Move cpu_feature includes out of zutil.h.
  arch/x86/crc32_fold_pclmulqdq.c
  cpu_features.c
  cpu_features.h
  deflate.c
  inflate.c
  zutil.h
Due: zlib-ng

Use cpu_check_features in inflate and deflate.
  deflate.c
  inflate.c
Due: zlib-ng

Group together functable definitions that use deflate_state.
  cpu_features.h
  functable.c
  functable.h
Due: zlib-ng

Use extern keyword in slide_hash function definitions.
  cpu_features.h
Due: none

Improvements to avx512 adler32 implementations
  arch/x86/adler32_avx2.c
  arch/x86/adler32_avx512.c
  arch/x86/adler32_avx512_vnni.c
  fallback_builtins.h
Due: zlib-ng

Move cpu feature variant callback typedefs to cpu_features header.
  cpu_features.h
  test/benchmarks/benchmark_adler32.cc
  test/benchmarks/benchmark_compare256.cc
  test/benchmarks/benchmark_crc32.cc
  test/benchmarks/benchmark_slidehash.cc
Due: tests

Allow setting of version when building with pigz.
  test/pigz/CMakeLists.txt
Due: tests

Use pigz version 2.6 due to bug in NOTHREADS support. https://github.com/madler/pigz/issues/97
  .github/workflows/pigz.yml
Due: none

Fixed inadvertent breakage of CPUID usage
  arch/x86/x86.c
Due: zlib-ng

Move build basics to zbuild.h.
  zbuild.h
  zutil.h
Due: zlib-ng

Use static keyword for vec_sumsu to prevent undefined reference error when g++ linking.
  arch/power/adler32_power8.c
Due: zlib-ng

Use add_link_options which has better support for C++ projects. Throw error for code coverage if using CMake less than 3.14 to make the CMake less branchy.
  cmake/detect-coverage.cmake
Due: none

Use add_compile_options in cmake which works with both C & C++ builds.
  CMakeLists.txt
  cmake/detect-coverage.cmake
  cmake/detect-sanitizer.cmake
Due: none

Update CMake toolchains for alternative gcc/gcc++ names. Remove compiler attribute in GHA when using CMake toolchain files.
  .github/workflows/cmake.yml
  .github/workflows/pigz.yml
  .github/workflows/pkgcheck.yml
  cmake/toolchain-arm.cmake
  cmake/toolchain-armhf.cmake
  cmake/toolchain-mingw-i686.cmake
  cmake/toolchain-mingw-x86_64.cmake
  cmake/toolchain-powerpc.cmake
  cmake/toolchain-powerpc64.cmake
  cmake/toolchain-powerpc64le.cmake
  cmake/toolchain-s390x.cmake
  cmake/toolchain-sparc64.cmake
Due: none

Remove unused fdopen define for MSVC.
  test/minigzip.c
  zutil.h
Due: zlib-ng, tests

Remove zutil.h includes from many files to prevent zlib.h being included.
  adler32.c
  arch/x86/adler32_avx2.c
  arch/x86/adler32_avx512.c
  arch/x86/adler32_avx512_vnni.c
  arch/x86/adler32_sse41.c
  arch/x86/adler32_ssse3.c
  arch/x86/chunkset_avx.c
  arch/x86/chunkset_sse2.c
  arch/x86/compare256_avx2.c
  arch/x86/compare256_sse42.c
  arch/x86/crc32_fold_pclmulqdq.c
  arch/x86/crc32_fold_vpclmulqdq.c
  arch/x86/x86.c
  chunkset.c
  chunkset_tpl.h
  compare256.c
  crc32_fold.c
  crc32_p.h
  inftrees.c
  test/benchmarks/benchmark_main.cc
  uncompr.c
Due: zlib-ng, tests
