Repository zlib-ng/zlib-ng: changes, and which Codecov flags are due for each by the changed paths.
All: zlib-ng, tests

codecov.yml:

codecov:
  max_report_age: 72h
  
coverage:
  status:
    project:
      default:
        threshold: 0.07%
      zlib-ng:
        target: 80%
        flags:
          - zlib-ng
      tests:
        target: 50%
        flags:
          - tests
        
comment:
    require_head: no     # default yes
    require_base: no     # default yes

flags:
  zlib-ng:
    paths:
      - arch/
      - adler32.c
      - adler32_p.h
      - chunkset.c
      - chunkset_tpl.h
      - compare258.c
      - compress.c
      - crc32.c
      - crc32_comb.c
      - crc32_comb_tbl.h
      - crc32_p.h
      - crc32_tbl.h
      - deflate.c
      - deflate_fast.c
      - deflate.h
      - deflate_medium.c
      - deflate_p.h
      - deflate_quick.c
      - deflate_slow.c
      - fallback_builtins.h
      - functable.c
      - functable.h
      - gzguts.h
      - gzlib.c
      - gzread.c
      - gzwrite.c
      - infback.c
      - inffast.c
      - inffast.h
      - inffixed_tbl.h
      - inflate.c
      - inflate.h
      - inflate_p.h
      - inftrees.c
      - inftrees.h
      - insert_string.c
      - insert_string_tpl.h
      - match_tpl.h
      - trees.c
      - trees_emit.h
      - trees.h
      - trees_tbl.h
      - uncompr.c
      - zbuild.h
      - zconf.h
      - zconf-ng.h
      - zendian.h
      - zlib.h
      - zlib-ng.h
      - zutil.c
      - zutil.h
      - zutil_p.h
  tests:
    paths:
      - test/
      - tools/
  
fixes:
  - "/home/runner/work/zlib-ng/zlib-ng/::"
  - "/home/runner/work/zlib-ng/build/::"
  - "/build/home/runner/work/zlib-ng/zlib-ng/::"
  - "/build/home/runner/work/zlib-ng/build/::"

ignore:
  - "usr/include/.*"
  - "/usr/include/.*"
  - "/build/usr/include/.*"
  - "usr/lib/.*"
  - "/usr/lib/.*"
  - "/build/usr/lib/.*"
  - "usr/lib64/.*"
  - "/usr/lib64/.*"
  - "/build/usr/lib64/.*"

Fix build as subproject.
  test/CMakeLists.txt
  test/benchmarks/CMakeLists.txt
  test/cmake/test-tools.cmake
  test/fuzz/CMakeLists.txt
Due: tests

Add add_subdirectory test.
  .github/workflows/cmake.yml
  test/add-subdirectory-project/CMakeLists.txt
  test/add-subdirectory-project/main.c
Due: tests

Add vcpkg installation instructions
  README.md
Due: none

format and add vcpkg headings.
  README.md
Due: none

format Vcpkg
  README.md
Due: none

Add CVE-2022-37434 test.
  test/infcover.c
Due: tests

Fix wine32 dependencies for MinGW i686. * Downgrade broken libgd3
  .github/workflows/cmake.yml
Due: none

Fix build on FreeBSD/powerpc*
  arch/power/power_features.c
Due: zlib-ng

msvc/armv7: disable crc32_acle msvc compiler targeting 32bit arm supports only armv7 and lacks these intrinsics
  cmake/detect-intrinsics.cmake
Due: none

Pin Google Benchmark to v1.7.0 since master tag has been removed.
  test/benchmarks/CMakeLists.txt
Due: tests

Fixed undefined variable random_ints in adler32_copy benchmarks.
  test/benchmarks/benchmark_adler32_copy.cc
Due: tests

Fixed casting warning from uint64_t to size_t in adler32_copy benchmarks
  test/benchmarks/benchmark_adler32_copy.cc
Due: tests

[Compat] Don't use uint32_t for z_crc_t * We don't include stdint.h as it must be included before stdarg.h and other headers might include stdarg.h before us
  zconf.h.in
Due: zlib-ng

Fix build failure introduced by 8df665005952cdbe7dc995d409ffe4f861e7a83e * We need absolute path for libz.a
  .github/workflows/link.yml
  test/CMakeLists.txt
Due: tests

IBM Z DFLTCC: Fix updating strm.adler with inflate()
  arch/s390/dfltcc_inflate.c
  test/test_inflate_adler32.cc
Due: zlib-ng, tests

Inflate: Increase max root table sizes to 10 and 9
  infback.c
  inflate.c
  inftrees.h
Due: zlib-ng

Check that the OS supports saving the YMM registers before enabling AVX2
  arch/x86/x86_features.c
  arch/x86/x86_features.h
Due: zlib-ng

Use static inline in x86_features.c
  arch/x86/x86_features.c
Due: zlib-ng

Remove errant space in cmake posix specifier
  CMakeLists.txt
Due: none

Remove unused tryboth() function
  configure
Due: none

vpclmulqdq compilation fails without avx512f also enabled
  cmake/detect-intrinsics.cmake
  configure
Due: none

Don't try to link gz* objects twice.
  Makefile.in
Due: none

Make visibility tests run the same way as the other tests. Fix indentation.
  configure
Due: none

Add FreeBSD/powerpc* support to cmake/detect-intrinsics.cmake
  cmake/detect-intrinsics.cmake
Due: none

Use short decompress option name for gzip compatibility. #1347
  test/cmake/compress-and-verify.cmake
Due: tests

Move the NEON compatibility defines into a separate file
  arch/arm/adler32_neon.c
  arch/arm/chunkset_neon.c
  arch/arm/compare256_neon.c
  arch/arm/neon_intrins.h
  arch/arm/slide_hash_neon.c
  fallback_builtins.h
Due: zlib-ng

Simplify feature checks in neon_intrins.h
  arch/arm/neon_intrins.h
Due: zlib-ng

Fix compiler warnings when ARM_NEON_HASLD4 is undefined
  arch/arm/neon_intrins.h
Due: zlib-ng

Fix configure script for FreeBSD/powerpc*
  configure
Due: none
