Repository zlib-ng/zlib-ng: changes, and which Codecov flags are due for each by the changed paths.
All: zlib-ng, tests

Add supporting RISC-V cross compilation workflows Add RISC-V cross-compilation test Enable RVV support at compile time
  .github/workflows/cmake.yml
  CMakeLists.txt
  README.md
  arch/riscv/README.md
  arch/riscv/riscv_features.c
  arch/riscv/riscv_features.h
  cmake/detect-intrinsics.cmake
  cmake/toolchain-riscv.cmake
  cpu_features.c
  cpu_features.h
Due: zlib-ng

Fix abicheck no longer ignoring version string after previous variable rename.
  test/abi/ignore
Due: tests

Update README.md
  README.md
Due: none

Fix AVX512-VNNI compile flags.
  cmake/detect-intrinsics.cmake
  configure
Due: none

Fix error in previous commit breaking AVX512.
  configure
Due: none

Fix the same AVX512 error in CMake.
  cmake/detect-intrinsics.cmake
Due: none

Fix MinGW CI.
  .github/workflows/cmake.yml
Due: none

Add tests of file_compress/file_uncompress in minigzip and minideflate.
  test/cmake/compress-and-verify.cmake
  test/cmake/test-data.cmake
  test/cmake/test-tools.cmake
Due: tests

Remove refrences to z_size_t from zlib-ng.h, since we use size_t directly.
  zlib-ng.h.in
Due: zlib-ng

Make an AVX512 status message more clear
  configure
Due: none

Added support for unaligned/intrinsic to deflate_rle.
  CMakeLists.txt
  compare256_rle.h
  deflate_rle.c
  test/benchmarks/CMakeLists.txt
Due: tests

Added unit tests for compare256_rle family of functions.
  test/test_compare256_rle.cc
Due: tests

Added benchmark for compare256_rle family of functions.
  test/benchmarks/benchmark_compare256_rle.cc
Due: tests

Expand support for symbol versioning to also allow multiple functions with the same name to exist with bindings to different versions.
  CMakeLists.txt
  configure
  zbuild.h
Due: zlib-ng

Add stddef.h include
  zlib.h.in
Due: zlib-ng

Move defining z_size_t to below including stddef.h and unistd.h in zconf.h.
  zconf.h.in
Due: zlib-ng

2.1.1-Beta2
  Makefile.in
  zlib-ng.h.in
  zlib.h.in
  zutil.c
Due: zlib-ng

Optimize compare256 with rvv
  CMakeLists.txt
  README.md
  arch/riscv/compare256_rvv.c
  cpu_features.h
  functable.c
  test/benchmarks/benchmark_compare256.cc
  test/test_compare256.cc
Due: zlib-ng, tests

Minor code cleanup in deflate.c.
  deflate.c
Due: zlib-ng

Simplify deflate stream/state check.
  deflate.c
  deflate.h
Due: zlib-ng

Make sure file exists before adding it as dependency in configure.
  configure
Due: none

Add MIPS to GitHub workflows.
  .github/workflows/cmake.yml
  .github/workflows/configure.yml
  cmake/toolchain-mips.cmake
Due: none

Add distclean target to arch/generic/Makefile.in
  arch/generic/Makefile.in
Due: zlib-ng

distclean target should depend on clean target in arch directories.
  arch/arm/Makefile.in
  arch/power/Makefile.in
  arch/s390/Makefile.in
  arch/x86/Makefile.in
Due: zlib-ng

Path conditions:
  zlib-ng: any of: arch/, adler32.c, adler32_p.h, chunkset.c, chunkset_tpl.h, compare258.c, compress.c, crc32.c, crc32_comb.c, crc32_comb_tbl.h, crc32_p.h, crc32_tbl.h, deflate.c, deflate_fast.c, deflate.h, deflate_medium.c, deflate_p.h, deflate_quick.c, deflate_slow.c, fallback_builtins.h, functable.c, functable.h, gzguts.h, gzlib.c, gzread.c, gzwrite.c, infback.c, inffast.c, inffast.h, inffixed_tbl.h, inflate.c, inflate.h, inflate_p.h, inftrees.c, inftrees.h, insert_string.c, insert_string_tpl.h, match_tpl.h, trees.c, trees_emit.h, trees.h, trees_tbl.h, uncompr.c, zbuild.h, zconf.h, zconf-ng.h, zendian.h, zlib.h, zlib-ng.h, zutil.c, zutil.h, zutil_p.h, but not: usr/include/.*, /usr/include/.*, /build/usr/include/.*, usr/lib/.*, /usr/lib/.*, /build/usr/lib/.*, usr/lib64/.*, /usr/lib64/.*, /build/usr/lib64/.*
  tests: any of: test/, tools/, but not: usr/include/.*, /usr/include/.*, /build/usr/include/.*, usr/lib/.*, /usr/lib/.*, /build/usr/lib/.*, usr/lib64/.*, /usr/lib64/.*, /build/usr/lib64/.*
