Repository zlib-ng/zlib-ng: changes, and which Codecov flags are due for each by the changed paths.
All: zlib-ng, tests

Fixed off by one error when calculating number of bytes between two pointers.
  chunkset_tpl.h
Due: zlib-ng

Limit number of copy branches based on chunk size in chunkcopy_partial.
  arch/arm/chunkset_neon.c
  arch/x86/chunkset_avx.c
  arch/x86/chunkset_sse.c
  chunkset.c
  chunkset_tpl.h
Due: zlib-ng

Additional asserts in chunk copy code to prevent invalid parameter values being passed.
  chunkset_tpl.h
Due: zlib-ng

Use number of bytes left instead of pointer for determine limit of chunk copy. Helps prevent off by one errors.
  chunkset_tpl.h
  functable.c
  functable.h
  inffast.c
  inflate.c
Due: zlib-ng

Remove division operation in chunkcopy after changing limit parameter to number of bytes.
  chunkset_tpl.h
Due: zlib-ng

Use fixed width integer types in chunk functions.
  chunkset_tpl.h
  functable.c
  functable.h
  inffast.c
Due: zlib-ng

[CHUNKCOPY_SAFE] Fix off-by-one error * When chunk size was more than 8 bytes, the comparison logic failed if safe length was one less than chunk size.
  chunkset_tpl.h
Due: zlib-ng

[inflate_fast] Always use safe versions of chunkcopy and chunkmemset to avoid errors with optimizations enabled.
  inffast.c
Due: zlib-ng

[CHUNKMEMSET_SAFE] Precalculate "from". * limit len to minimum of len and left
  chunkset_tpl.h
Due: zlib-ng

fix: SSE42CMPSTR compiled even if WITH_SSE4=OFF
  CMakeLists.txt
Due: none

fix: unterminated #elif in detect-arch.c
  cmake/detect-arch.c
Due: none

Reorder config table to avoid double negation, and to use the same logical ordering as the other ifdef.
  deflate.c
Due: zlib-ng

Fixed formatting for CLEAR_HASH macro.
  deflate.c
Due: zlib-ng

Sync changes between different slide_hash variants.
  arch/arm/slide_neon.c
  arch/power/slide_hash_power8.c
  arch/x86/slide_avx.c
  arch/x86/slide_sse.c
  deflate.c
Due: zlib-ng

Rename slide_hash chain functions.
  arch/arm/slide_neon.c
  arch/power/slide_hash_power8.c
  arch/x86/slide_avx.c
  arch/x86/slide_sse.c
Due: zlib-ng

Fixed operator in comment in slide_hash_chain for power8.
  arch/power/slide_power8.c
Due: zlib-ng

Remove obsolete comment about wsize casting.
  arch/power/slide_power8.c
Due: zlib-ng

Rename slide_hash_power8.c to slide_power8.c to be consistent with other slide hash variants.
  CMakeLists.txt
  arch/power/Makefile.in
  arch/power/slide_power8.c
  configure
Due: zlib-ng

Fixed iterating over ls output is fragile in configure script.
  configure
Due: none

Fixed malformed double quotes in shell script.
  configure
Due: none

Remove legacy backticks notation for $(...) in configure script.
  configure
Due: none

Sync use of adler32_len_16 among adler32 variants.
  arch/power/adler32_power8.c
  arch/x86/adler32_avx.c
  arch/x86/adler32_ssse3.c
Due: zlib-ng

Mod adler and sum2 when calculating adler32 for short lengths.
  adler32_p.h
Due: zlib-ng

Remove extra check that always is false in compare256_c_static.
  compare258.c
Due: zlib-ng

Separate huff, rle, and stored deflate strategies into their own source files.
  CMakeLists.txt
  Makefile.in
  deflate.c
  deflate_huff.c
  deflate_p.h
  deflate_rle.c
  deflate_stored.c
  win32/Makefile.a64
  win32/Makefile.arm
  win32/Makefile.msc
Due: zlib-ng

Clean up deflate_stored and deflate_rle by using MIN() where applicable.
  deflate_rle.c
  deflate_stored.c
Due: none

Increase size of gzip output buffer to be a multiple of the size of deflate's pending buffer for improved performance and fewer calls to deflate.
  CMakeLists.txt
  gzguts.h
Due: zlib-ng

Use MIN and MAX macros.
  deflate.c
  deflate_stored.c
  infback.c
  inflate.c
  inftrees.c
  zbuild.h
Due: zlib-ng

Change bi_reverse to use a bit-twiddling hack for 240x speed improvement.
  deflate.h
  tools/maketrees.c
  trees.c
Due: zlib-ng, tests

Calculate from and out buffer advance only once in chunkcopy.
  chunkset_tpl.h
Due: zlib-ng

Path conditions:
  zlib-ng: any of: arch/, adler32.c, adler32_p.h, chunkset.c, chunkset_tpl.h, compare258.c, compress.c, crc32.c, crc32_comb.c, crc32_comb_tbl.h, crc32_p.h, crc32_tbl.h, deflate.c, deflate_fast.c, deflate.h, deflate_medium.c, deflate_p.h, deflate_quick.c, deflate_slow.c, fallback_builtins.h, functable.c, functable.h, gzguts.h, gzlib.c, gzread.c, gzwrite.c, infback.c, inffast.c, inffast.h, inffixed_tbl.h, inflate.c, inflate.h, inflate_p.h, inftrees.c, inftrees.h, insert_string.c, insert_string_tpl.h, match_tpl.h, trees.c, trees_emit.h, trees.h, trees_tbl.h, uncompr.c, zbuild.h, zconf.h, zconf-ng.h, zendian.h, zlib.h, zlib-ng.h, zutil.c, zutil.h, zutil_p.h, but not: usr/include/.*, /usr/include/.*, /build/usr/include/.*, usr/lib/.*, /usr/lib/.*, /build/usr/lib/.*, usr/lib64/.*, /usr/lib64/.*, /build/usr/lib64/.*
  tests: any of: test/, tools/, but not: usr/include/.*, /usr/include/.*, /build/usr/include/.*, usr/lib/.*, /usr/lib/.*, /build/usr/lib/.*, usr/lib64/.*, /usr/lib64/.*, /build/usr/lib64/.*
