Repository zlib-ng/zlib-ng: changes, and which Codecov flags are due for each by the changed paths.
All: zlib-ng, tests

Fix the copy of pending_buf in deflateCopy() for the LIT_MEM case.
  deflate.c
  deflate.h
Due: zlib-ng

Update copyright year in win32 resource files.
  win32/zlib-ng1.rc
  win32/zlib1.rc
Due: none

Enable LIT_MEM by default expect when WITH_REDUCED_MEM is ON.
  CMakeLists.txt
  configure
  deflate.h
Due: zlib-ng

Add LIT_MEM define to use more memory for a small deflate speedup.
  deflate.c
  deflate.h
  deflate_p.h
  deflate_slow.c
  trees.c
Due: zlib-ng

Fix bug in inflateSync() for data held in bit buffer.
  inflate.c
Due: zlib-ng

Fix cmake build on AIX.
  CMakeLists.txt
Due: none

Add back gz_intmax for zlib compatibility when linking statically
  gzguts.h
  gzlib.c
  zlib.map
Due: zlib-ng

Update copyright years in other source files.
  LICENSE.md
  arch/arm/insert_string_acle.c
  arch/generic/insert_string_c.c
  arch/generic/slide_hash_c.c
  arch/x86/insert_string_sse42.c
  insert_string_roll.c
  insert_string_tpl.h
  match_tpl.h
  win32/Makefile.a64
  win32/Makefile.arm
  win32/Makefile.msc
Due: zlib-ng

Memory alloc size must be a multiple of alignment for aligned_alloc.
  zutil_p.h
Due: zlib-ng

Prefer HAVE_ALIGNED_ALLOC when available in zng_alloc
  zutil_p.h
Due: zlib-ng

Use zng_alloc_aligned in unit tests to prevent having to use C++17.
  test/test_compare256.cc
  test/test_compare256_rle.cc
  test/test_crc32.cc
  zutil.c
Due: zlib-ng, tests

Relocate CMake target export definitions
  CMakeLists.txt
Due: none

Remove branch that is almost impossible to hit in bi_flush(). Add case that handles sizes >=48.
  trees.c
Due: zlib-ng

Avoid empty function by renaming bi_flush to zng_tr_flush_bits.
  trees.c
Due: zlib-ng

Allow overwrite NATIVEFLAG value by option NATIVE_ARCH_OVERRIDE.
  .github/workflows/cmake.yml
  CMakeLists.txt
  cmake/detect-intrinsics.cmake
Due: none

Fix `deflate_state` alignment with MS or clang-cl compilers
  deflate.h
Due: zlib-ng

Increase alignment from 8 to 16 to avoid warnings with ms compiler
  deflate.h
Due: zlib-ng

Upgrade ilammy/msvc-dev-cmd to v1.13.0
  .github/workflows/nmake.yml
Due: none

Fix xsave intrinsic test for clang, and gcc 8.2 or later, and icc.
  CMakeLists.txt
  arch/x86/x86_features.c
  cmake/detect-intrinsics.cmake
  configure
Due: zlib-ng

Add missing checks for 64bit arm/intel with msvc compiler
  crc32_braid_p.h
Due: none

Fix include paths
  arch/arm/chunkset_neon.c
  functable.h
Due: zlib-ng

Disable Intel Compiler diagnostic message 10441.
  CMakeLists.txt
Due: none

Add more result variables to the cmake package configuration
  zlib-config.cmake.in
Due: none

Fix PCLMULQDQ support for IntelLLVM.
  cmake/detect-intrinsics.cmake
Due: none

[CI] Fix creating list of artifacts for CodeCov.
  .github/workflows/cmake.yml
  .github/workflows/pigz.yml
Due: none

Upgrade codecov/codecov-action to v4.
  .github/workflows/cmake.yml
  .github/workflows/pigz.yml
Due: none

Update mymindstorm/setup-emsdk to v14.
  .github/workflows/cmake.yml
  .github/workflows/configure.yml
Due: none

Disable CodeCov for RISC-V as the toolchain doesn't support generating code coverage.
  .github/workflows/cmake.yml
Due: none

Path conditions:
  zlib-ng: any of: arch/, adler32.c, adler32_p.h, chunkset.c, chunkset_tpl.h, compare258.c, compress.c, crc32.c, crc32_comb.c, crc32_comb_tbl.h, crc32_p.h, crc32_tbl.h, deflate.c, deflate_fast.c, deflate.h, deflate_medium.c, deflate_p.h, deflate_quick.c, deflate_slow.c, fallback_builtins.h, functable.c, functable.h, gzguts.h, gzlib.c, gzread.c, gzwrite.c, infback.c, inffast.c, inffast.h, inffixed_tbl.h, inflate.c, inflate.h, inflate_p.h, inftrees.c, inftrees.h, insert_string.c, insert_string_tpl.h, match_tpl.h, trees.c, trees_emit.h, trees.h, trees_tbl.h, uncompr.c, zbuild.h, zconf.h, zconf-ng.h, zendian.h, zlib.h, zlib-ng.h, zutil.c, zutil.h, zutil_p.h, but not: usr/include/.*, /usr/include/.*, /build/usr/include/.*, usr/lib/.*, /usr/lib/.*, /build/usr/lib/.*, usr/lib64/.*, /usr/lib64/.*, /build/usr/lib64/.*
  tests: any of: test/, tools/, but not: usr/include/.*, /usr/include/.*, /build/usr/include/.*, usr/lib/.*, /usr/lib/.*, /build/usr/lib/.*, usr/lib64/.*, /usr/lib64/.*, /build/usr/lib64/.*
