Repository zlib-ng/zlib-ng: changes, and which Codecov flags are due for each by the changed paths.
All: zlib-ng, tests

codecov.yml:

codecov:
  max_report_age: 72h
  
coverage:
  status:
    project:
      default:
        threshold: 0.07%
      zlib-ng:
        target: 80%
        flags:
          - zlib-ng
      tests:
        target: 50%
        flags:
          - tests
        
comment:
    require_head: no     # default yes
    require_base: no     # default yes

flags:
  zlib-ng:
    paths:
      - arch/
      - adler32.c
      - adler32_p.h
      - chunkset.c
      - chunkset_tpl.h
      - compare258.c
      - compress.c
      - crc32.c
      - crc32_comb.c
      - crc32_comb_tbl.h
      - crc32_p.h
      - crc32_tbl.h
      - deflate.c
      - deflate_fast.c
      - deflate.h
      - deflate_medium.c
      - deflate_p.h
      - deflate_quick.c
      - deflate_slow.c
      - fallback_builtins.h
      - functable.c
      - functable.h
      - gzguts.h
      - gzlib.c
      - gzread.c
      - gzwrite.c
      - infback.c
      - inffast.c
      - inffast.h
      - inffixed_tbl.h
      - inflate.c
      - inflate.h
      - inflate_p.h
      - inftrees.c
      - inftrees.h
      - insert_string.c
      - insert_string_tpl.h
      - match_tpl.h
      - trees.c
      - trees_emit.h
      - trees.h
      - trees_tbl.h
      - uncompr.c
      - zbuild.h
      - zconf.h
      - zconf-ng.h
      - zendian.h
      - zlib.h
      - zlib-ng.h
      - zutil.c
      - zutil.h
      - zutil_p.h
  tests:
    paths:
      - test/
      - tools/
  
fixes:
  - "/home/runner/work/zlib-ng/zlib-ng/::"
  - "/home/runner/work/zlib-ng/build/::"
  - "/build/home/runner/work/zlib-ng/zlib-ng/::"
  - "/build/home/runner/work/zlib-ng/build/::"

ignore:
  - "usr/include/.*"
  - "/usr/include/.*"
  - "/build/usr/include/.*"
  - "usr/lib/.*"
  - "/usr/lib/.*"
  - "/build/usr/lib/.*"
  - "usr/lib64/.*"
  - "/usr/lib64/.*"
  - "/build/usr/lib64/.*"

Fill out gzheader before calling deflateSetHeader for better code coverage in example.
  test/example.c
Due: tests

Added code coverage for inflateGetDictionary in example.
  test/example.c
Due: tests

Use helper function for printing error and exiting in example.
  test/example.c
Due: tests

Call deflateBound to calculate length with custom gzip header in example.
  test/example.c
Due: tests

Added CI instances for CTZLL and CTZ builtin existence to improve code coverage.
  .github/workflows/cmake.yml
Due: none

Add support for name mangling
  .gitattributes
  CMakeLists.txt
  Makefile.in
  configure
  gzread.c.in
  win32/Makefile.a64
  win32/Makefile.arm
  win32/Makefile.msc
  win32/replace.vbs
  win32/zlib-ng.def
  win32/zlib-ng.def.in
  win32/zlib-ng1.rc
  win32/zlib.def
  win32/zlib.def.in
  win32/zlib1.rc
  win32/zlibcompat.def
  win32/zlibcompat.def.in
  zconf-ng.h.in
  zconf.h.in
  zlib-ng.h.in
  zlib.h.in
  zlib.pc.cmakein
  zlib.pc.in
  zlib_name_mangling-ng.h.in
  zlib_name_mangling.h.empty
  zlib_name_mangling.h.in
Due: zlib-ng

Exercise the new symbol prefix option in CI tests
  .github/workflows/cmake.yml
  .github/workflows/configure.yml
  .github/workflows/nmake.yml
  .github/workflows/pigz.yml
  .github/workflows/pkgcheck.yml
Due: none

COMP: Fix data loss warning
  inflate.c
Due: zlib-ng

IBM Z: Fix building outside of a source directory
  arch/s390/crc32-vx.c
  arch/s390/dfltcc_common.c
  arch/s390/dfltcc_common.h
  arch/s390/dfltcc_deflate.c
  arch/s390/dfltcc_inflate.c
  arch/s390/s390.c
  arch/s390/s390.h
Due: zlib-ng

Link crc32_test and infcover with $(CFLAGS)
  Makefile.in
Due: none

Fix minor formatting issues
  .gitattributes
  README.md
Due: none

IBM Z: Sync crc_fold with DFLTCC
  arch/s390/dfltcc_deflate.c
Due: zlib-ng

IBM Z: Do not check inflateGetDictionary() with DFLTCC
  test/example.c
Due: tests

IBM Z: Adjust compressBound() for DFLTCC
  arch/s390/dfltcc_common.h
  arch/s390/dfltcc_deflate.h
  compress.c
  zutil.h
Due: zlib-ng

use memcpy/memcmp for unaligned reads
  chunkset.c
  compare258.c
  deflate.h
  insert_string_tpl.h
  match_tpl.h
Due: zlib-ng

Make integration into bigger projects easier
  CMakeLists.txt
Due: none

ENH: Transition to Ubuntu 18.04 in `GitHub` actions workflows
  .github/workflows/cmake.yml
  .github/workflows/configure.yml
Due: none

IBM Z: Run DFLTCC tests on the self-hosted builder
  .github/workflows/cmake.yml
  .github/workflows/configure.yml
  arch/s390/README.md
  arch/s390/self-hosted-builder/actions-runner-entrypoint
  arch/s390/self-hosted-builder/actions-runner.Dockerfile
  arch/s390/self-hosted-builder/actions-runner.service
  arch/s390/self-hosted-builder/qemu-user-static.service
Due: zlib-ng

IBM Z: Run DFLTCC tests on the self-hosted builder
  .github/workflows/cmake.yml
  .github/workflows/configure.yml
  arch/s390/README.md
  arch/s390/self-hosted-builder/actions-runner.Dockerfile
  arch/s390/self-hosted-builder/actions-runner.service
  arch/s390/self-hosted-builder/fs/usr/bin/actions-runner
  arch/s390/self-hosted-builder/fs/usr/bin/entrypoint
  arch/s390/self-hosted-builder/qemu-user-static.service
Due: zlib-ng

[ARM] Try to compile test for float-abi detection code.
  CMakeLists.txt
Due: none

[MacOS] Downgrade to XCode 11.7.0 for pkgcheck.
  .github/workflows/pkgcheck.yml
Due: none

Fixed minideflate write buffers being overwritten.
  test/minideflate.c
Due: tests

Reuse adler32_len_64 in adler32_c.
  adler32.c
  adler32_p.h
Due: zlib-ng

Fixed inflateGetDictionary length check may include bytes added by last call to inflate.
  test/example.c
Due: tests

DFLTCC update for window optimization from Jim & Nathan
  arch/s390/README.md
  arch/s390/dfltcc_deflate.c
  arch/s390/dfltcc_detail.h
  arch/s390/dfltcc_inflate.c
  arch/s390/dfltcc_inflate.h
  deflate.c
  inflate.c
  inflate_p.h
Due: zlib-ng

Add back original version of inflate_fast for use with inflateBack.
  infback.c
  inffast.c
  inffast.h
  inflate_p.h
Due: zlib-ng

Reorganize inflate window layout
  infback.c
  inffast.c
  inffast.h
  inflate.c
  inflate.h
  inflate_p.h
  test/infcover.c
Due: zlib-ng, tests
