Repository zlib-ng/zlib-ng: changes, and which Codecov flags are due for each by the changed paths.
All: zlib-ng, tests

codecov.yml:

codecov:
  max_report_age: 72h
  
coverage:
  status:
    project:
      default:
        threshold: 0.07%
      zlib-ng:
        target: 80%
        flags:
          - zlib-ng
      tests:
        target: 50%
        flags:
          - tests
        
comment:
    require_head: no     # default yes
    require_base: no     # default yes

flags:
  zlib-ng:
    paths:
      - arch/
      - adler32.c
      - adler32_p.h
      - chunkset.c
      - chunkset_tpl.h
      - compare258.c
      - compress.c
      - crc32.c
      - crc32_comb.c
      - crc32_comb_tbl.h
      - crc32_p.h
      - crc32_tbl.h
      - deflate.c
      - deflate_fast.c
      - deflate.h
      - deflate_medium.c
      - deflate_p.h
      - deflate_quick.c
      - deflate_slow.c
      - fallback_builtins.h
      - functable.c
      - functable.h
      - gzguts.h
      - gzlib.c
      - gzread.c
      - gzwrite.c
      - infback.c
      - inffast.c
      - inffast.h
      - inffixed_tbl.h
      - inflate.c
      - inflate.h
      - inflate_p.h
      - inftrees.c
      - inftrees.h
      - insert_string.c
      - insert_string_tpl.h
      - match_tpl.h
      - trees.c
      - trees_emit.h
      - trees.h
      - trees_tbl.h
      - uncompr.c
      - zbuild.h
      - zconf.h
      - zconf-ng.h
      - zendian.h
      - zlib.h
      - zlib-ng.h
      - zutil.c
      - zutil.h
      - zutil_p.h
  tests:
    paths:
      - test/
      - tools/
  
fixes:
  - "/home/runner/work/zlib-ng/zlib-ng/::"
  - "/home/runner/work/zlib-ng/build/::"
  - "/build/home/runner/work/zlib-ng/zlib-ng/::"
  - "/build/home/runner/work/zlib-ng/build/::"

ignore:
  - "usr/include/.*"
  - "/usr/include/.*"
  - "/build/usr/include/.*"
  - "usr/lib/.*"
  - "/usr/lib/.*"
  - "/build/usr/lib/.*"
  - "usr/lib64/.*"
  - "/usr/lib64/.*"
  - "/build/usr/lib64/.*"

Fix warnings in configure * Don't assign contents of variable to itself * Quote strings containing "="
  configure
Due: none

Fix build under Cygwin.
  CMakeLists.txt
  test/minideflate.c
  test/switchlevels.c
Due: tests

Remove unnecessary test for stdarg.h
  CMakeLists.txt
Due: none

OpenBSD build fix proposal
  zutil.h
  zutil_p.h
Due: zlib-ng

Use different fuzzer bits in example_dict_fuzzer for more input value combinations.
  test/fuzz/example_dict_fuzzer.c
Due: tests

Fixed gz mode for compression level not using ascii numeric value.
  test/fuzz/minigzip_fuzzer.c
Due: tests

Fixed trying to uncompress after compressing in gzip direct mode which is not supported by gz functions. https://oss-fuzz.com/testcase-detail/6194422837542912
  test/fuzz/minigzip_fuzzer.c
Due: tests

Separate huff, rle, and stored deflate strategies into their own source files.
  CMakeLists.txt
  Makefile.in
  deflate.c
  deflate_huff.c
  deflate_p.h
  deflate_rle.c
  deflate_stored.c
  win32/Makefile.a64
  win32/Makefile.arm
  win32/Makefile.msc
Due: zlib-ng

Clean up deflate_stored and deflate_rle by using MIN() where applicable.
  deflate_rle.c
  deflate_stored.c
Due: none

Replace CMAKE_CURRENT_SOURCE_DIR to CMAKE_CURRENT_LIST_DIR
  cmake/detect-arch.cmake
Due: none

Handle HAVE_UNISTD_H defined to 0.
  CMakeLists.txt
  configure
Due: none

Only when using Visual C++, the static library name should be "zlibstatic" * On CygWin, MSYS and MinGW, the static library name should be "z" like on other Unix-like systems
  CMakeLists.txt
Due: none

Use latest version of llvm-cov 11 to prevent code coverage version mismatch when using clang.
  .github/workflows/cmake.yml
Due: none

Explicitly state clang version to prevent future code coverage format mismatches.
  .github/workflows/cmake.yml
Due: none

Use SET_BAD macro in inflateBack.
  infback.c
Due: zlib-ng

Move MIN() macro to zbuild.h
  deflate_p.h
  zbuild.h
Due: zlib-ng

Added CMake project for building pigz. Added GitHub Actions CI for testing pigz.
  .github/workflows/pigz.yml
  test/pigz/CMakeLists.txt
Due: tests

Added GH-979 failure test case against for inflateBack.
  test/GH-979/pigz-2.6.tar.gz
  test/pigz/CMakeLists.txt
Due: tests

Added pigz tests for no threads and no optimizations.
  .github/workflows/pigz.yml
  test/pigz/CMakeLists.txt
Due: tests

Calculate from and out buffer advance only once in chunkcopy.
  chunkset_tpl.h
Due: zlib-ng

Only need to add rem if it is greater than zero in chunkmemset.
  chunkset_tpl.h
Due: zlib-ng

fix: SSE42CMPSTR compiled even if WITH_SSE4=OFF
  CMakeLists.txt
Due: none

fix: unterminated #elif in detect-arch.c
  cmake/detect-arch.c
Due: none

Split out partial chunk copy into its only function.
  chunkset_tpl.h
Due: zlib-ng

Store value of out-dist in from variable in chunkmemset_safe.
  chunkset_tpl.h
Due: zlib-ng

Static inline internal chunk memory functions.
  arch/arm/chunkset_neon.c
  arch/x86/chunkset_avx.c
  arch/x86/chunkset_sse.c
  chunkset.c
  chunkset_tpl.h
Due: zlib-ng
