Repository zlib-ng/zlib-ng: changes, and which Codecov flags are due for each by the changed paths.
All: zlib-ng, tests

codecov.yml:

codecov:
  max_report_age: 72h
  
coverage:
  status:
    project:
      default:
        threshold: 0.07%
      zlib-ng:
        target: 80%
        flags:
          - zlib-ng
      tests:
        target: 50%
        flags:
          - tests
        
comment:
    require_head: no     # default yes
    require_base: no     # default yes

flags:
  zlib-ng:
    paths:
      - arch/
      - adler32.c
      - adler32_p.h
      - chunkset.c
      - chunkset_tpl.h
      - compare258.c
      - compress.c
      - crc32.c
      - crc32_comb.c
      - crc32_comb_tbl.h
      - crc32_p.h
      - crc32_tbl.h
      - deflate.c
      - deflate_fast.c
      - deflate.h
      - deflate_medium.c
      - deflate_p.h
      - deflate_quick.c
      - deflate_slow.c
      - fallback_builtins.h
      - functable.c
      - functable.h
      - gzguts.h
      - gzlib.c
      - gzread.c
      - gzwrite.c
      - infback.c
      - inffast.c
      - inffast.h
      - inffixed_tbl.h
      - inflate.c
      - inflate.h
      - inflate_p.h
      - inftrees.c
      - inftrees.h
      - insert_string.c
      - insert_string_tpl.h
      - match_tpl.h
      - trees.c
      - trees_emit.h
      - trees.h
      - trees_tbl.h
      - uncompr.c
      - zbuild.h
      - zconf.h
      - zconf-ng.h
      - zendian.h
      - zlib.h
      - zlib-ng.h
      - zutil.c
      - zutil.h
      - zutil_p.h
  tests:
    paths:
      - test/
      - tools/
  
fixes:
  - "/home/runner/work/zlib-ng/zlib-ng/::"
  - "/home/runner/work/zlib-ng/build/::"
  - "/build/home/runner/work/zlib-ng/zlib-ng/::"
  - "/build/home/runner/work/zlib-ng/build/::"

ignore:
  - "usr/include/.*"
  - "/usr/include/.*"
  - "/build/usr/include/.*"
  - "usr/lib/.*"
  - "/usr/lib/.*"
  - "/build/usr/lib/.*"
  - "usr/lib64/.*"
  - "/usr/lib64/.*"
  - "/build/usr/lib64/.*"

distclean target should depend on clean target in arch directories.
  arch/arm/Makefile.in
  arch/power/Makefile.in
  arch/s390/Makefile.in
  arch/x86/Makefile.in
Due: zlib-ng

Add MIPS64 to GitHub workflows.
  .github/workflows/cmake.yml
  .github/workflows/configure.yml
  cmake/toolchain-mips64.cmake
Due: none

distclean target in test directory should depend on clean target.
  test/Makefile.in
Due: tests

No indentation allowed for error function in test/Makefile.in
  test/Makefile.in
Due: tests

Add ABI files for MIPS/MIPS64.
  test/abi/zlib-04f42ceca40f73e2978b50e93806c2a18c1281fc-mips-unknown-linux-gnu.abi
  test/abi/zlib-04f42ceca40f73e2978b50e93806c2a18c1281fc-mips64-unknown-linux-gnuabi64.abi
  test/abi/zlib-ng-e4614ebcb9b3e5b108dc983c155e4baf80882311-mips-unknown-linux-gnu.abi
  test/abi/zlib-ng-e4614ebcb9b3e5b108dc983c155e4baf80882311-mips64-unknown-linux-gnuabi64.abi
Due: tests

Update Package Check CI workflow.
  .github/workflows/pkgcheck.yml
Due: none

Remove COMMAND_ECHO statements only available in CMake 3.15. #1511
  test/cmake/compress-and-verify.cmake
Due: tests

2.1.2 Release
  Makefile.in
  zlib-ng.h.in
  zlib.h.in
  zutil.c
Due: zlib-ng

Add support for cross-compiling for Power9.
  .github/workflows/cmake.yml
  cmake/toolchain-powerpc64-power9.cmake
  cmake/toolchain-powerpc64le-power9.cmake
Due: none

Fix for PowerPC64 little-endian.
  arch/power/adler32_vmx.c
  arch/power/compare256_power9.c
Due: zlib-ng

Try to find system copy of googletest before trying to download it. * Don't use system copy if memory sanitizer is enabled
  test/CMakeLists.txt
Due: tests

Optimize compare256 with rvv
  CMakeLists.txt
  README.md
  arch/riscv/compare256_rvv.c
  cpu_features.h
  functable.c
  test/benchmarks/benchmark_compare256.cc
  test/test_compare256.cc
Due: zlib-ng, tests

Minor code cleanup in deflate.c.
  deflate.c
Due: zlib-ng

Update detect-arch.cmake
  cmake/detect-arch.cmake
Due: none

Optimize slide_hash using RVV
  CMakeLists.txt
  arch/riscv/slide_hash_rvv.c
  cpu_features.h
  functable.c
  test/benchmarks/benchmark_slidehash.cc
Due: zlib-ng, tests

Allow re-enabling @rpath on OS/X when using relative install prefix
  CMakeLists.txt
  configure
  test/pkgcheck.sh
Due: tests

Handle complete overlap in chunkcopy_safe
  inflate_p.h
Due: zlib-ng

[ARM] Check that we have features.h before detecting float-abi * MacOS/arm64 is known to not have features.h
  CMakeLists.txt
Due: none

2.1.3 Release
  Makefile.in
  zlib-ng.h.in
  zlib.h.in
  zutil.c
Due: zlib-ng

Fix distclean target in Makefile.in
  Makefile.in
Due: none

Fix building without SSE4.2 inside Docker container.
  arch/x86/adler32_sse42.c
  functable.c
Due: zlib-ng

Optimize adler32 using rvv
  CMakeLists.txt
  arch/riscv/adler32_rvv.c
  cpu_features.h
  functable.c
  test/benchmarks/benchmark_adler32.cc
  test/benchmarks/benchmark_adler32_copy.cc
  test/test_adler32.cc
Due: zlib-ng, tests

Get rid of relative #includes in the arch/ code
  arch/arm/adler32_neon.c
  arch/arm/arm_features.c
  arch/arm/chunkset_neon.c
  arch/arm/compare256_neon.c
  arch/arm/crc32_acle.c
  arch/arm/insert_string_acle.c
  arch/arm/slide_hash_neon.c
  arch/power/chunkset_power8.c
  arch/power/compare256_power9.c
  arch/power/power_features.c
  arch/riscv/compare256_rvv.c
  arch/riscv/riscv_features.c
  arch/riscv/slide_hash_rvv.c
  arch/s390/crc32-vx.c
  arch/s390/dfltcc_detail.h
  arch/s390/s390_features.c
  arch/x86/adler32_avx2_tpl.h
  arch/x86/adler32_avx512_tpl.h
  arch/x86/adler32_avx512_vnni.c
  arch/x86/adler32_sse42.c
  arch/x86/adler32_ssse3.c
  arch/x86/compare256_avx2.c
  arch/x86/compare256_sse2.c
  arch/x86/crc32_pclmulqdq_tpl.h
  arch/x86/insert_string_sse42.c
  arch/x86/slide_hash_avx2.c
  arch/x86/slide_hash_sse2.c
  arch/x86/x86_features.c
Due: zlib-ng

Define an empty __msan_unpoison() without Z_MEMORY_SANITIZER
  arch/arm/chunkset_neon.c
  arch/s390/dfltcc_detail.h
  arch/x86/chunkset_avx2.c
  arch/x86/chunkset_ssse3.c
  zbuild.h
Due: zlib-ng
