Repository zlib-ng/zlib-ng: changes, and which Codecov flags are due for each by the changed paths.
All: zlib-ng, tests

codecov.yml:

codecov:
  max_report_age: 72h
  
coverage:
  status:
    project:
      default:
        threshold: 0.07%
      zlib-ng:
        target: 80%
        flags:
          - zlib-ng
      tests:
        target: 50%
        flags:
          - tests
        
comment:
    require_head: no     # default yes
    require_base: no     # default yes

flags:
  zlib-ng:
    paths:
      - arch/
      - adler32.c
      - adler32_p.h
      - chunkset.c
      - chunkset_tpl.h
      - compare258.c
      - compress.c
      - crc32.c
      - crc32_comb.c
      - crc32_comb_tbl.h
      - crc32_p.h
      - crc32_tbl.h
      - deflate.c
      - deflate_fast.c
      - deflate.h
      - deflate_medium.c
      - deflate_p.h
      - deflate_quick.c
      - deflate_slow.c
      - fallback_builtins.h
      - functable.c
      - functable.h
      - gzguts.h
      - gzlib.c
      - gzread.c
      - gzwrite.c
      - infback.c
      - inffast.c
      - inffast.h
      - inffixed_tbl.h
      - inflate.c
      - inflate.h
      - inflate_p.h
      - inftrees.c
      - inftrees.h
      - insert_string.c
      - insert_string_tpl.h
      - match_tpl.h
      - trees.c
      - trees_emit.h
      - trees.h
      - trees_tbl.h
      - uncompr.c
      - zbuild.h
      - zconf.h
      - zconf-ng.h
      - zendian.h
      - zlib.h
      - zlib-ng.h
      - zutil.c
      - zutil.h
      - zutil_p.h
  tests:
    paths:
      - test/
      - tools/
  
fixes:
  - "/home/runner/work/zlib-ng/zlib-ng/::"
  - "/home/runner/work/zlib-ng/build/::"
  - "/build/home/runner/work/zlib-ng/zlib-ng/::"
  - "/build/home/runner/work/zlib-ng/build/::"

ignore:
  - "usr/include/.*"
  - "/usr/include/.*"
  - "/build/usr/include/.*"
  - "usr/lib/.*"
  - "/usr/lib/.*"
  - "/build/usr/lib/.*"
  - "usr/lib64/.*"
  - "/usr/lib64/.*"
  - "/build/usr/lib64/.*"

minideflate: allow read-only input files
  utils/minideflate.c
Due: none

[CI] Add Debug build for 64-bit MinGW using CMake.
  .github/workflows/cmake.yml
  CMakeLists.txt
  deflate_p.h
Due: zlib-ng

Prefix in_func and out_func typedefs in the zlib-ng native API
  infback.c
  zlib-ng.h.in
  zlib_name_mangling-ng.h.in
Due: zlib-ng

Inline chunkcopy_safe into the safe inflate_fast variant on ARM clang
  inflate_p.h
Due: zlib-ng

Split inflate_fast into safe and non-safe specializations
  arch/arm/arm_functions.h
  arch/arm/chunkset_neon.c
  arch/generic/chunkset_c.c
  arch/generic/generic_functions.h
  arch/loongarch/chunkset_lasx.c
  arch/loongarch/chunkset_lsx.c
  arch/loongarch/loongarch_functions.h
  arch/power/chunkset_power8.c
  arch/power/power_functions.h
  arch/riscv/chunkset_rvv.c
  arch/riscv/riscv_functions.h
  arch/x86/chunkset_avx2.c
  arch/x86/chunkset_avx512.c
  arch/x86/chunkset_sse2.c
  arch/x86/chunkset_ssse3.c
  arch/x86/x86_functions.h
  functable.c
  functable.h
  infback.c
  inffast_tpl.h
  inflate.c
Due: zlib-ng

Copy two chunks per iteration in the non-safe inflate fast path
  chunkset_tpl.h
  inffast_tpl.h
  test/CMakeLists.txt
  test/test_inflate_overlap.cc
Due: zlib-ng, tests

Add a narrow-copy inflate_fast instantiation for short-match blocks
  arch/arm/chunkset_neon.c
  arch/generic/chunkset_c.c
  arch/loongarch/chunkset_lasx.c
  arch/loongarch/chunkset_lsx.c
  arch/power/chunkset_power8.c
  arch/riscv/chunkset_rvv.c
  arch/x86/chunkset_avx2.c
  arch/x86/chunkset_avx512.c
  arch/x86/chunkset_sse2.c
  arch/x86/chunkset_ssse3.c
  infback.c
  inffast_tpl.h
  inflate.c
  inflate.h
  test/test_inflate_overlap.cc
Due: zlib-ng, tests

Add zran to utils.
  Makefile.in
  utils/CMakeLists.txt
  utils/zran.c
  utils/zran.h
Due: none

[configure] Add source dependency for object files that depend on files in subdirectories * This fixes local rebuild when `make` claims all targets are already up-to-date
  Makefile.in
Due: none

Split zng_emit_dist into a zng_assemble_dist helper
  trees_emit.h
Due: zlib-ng

Use a branchless byte-granular bit writer in compress_block
  deflate.c
  trees.c
  trees_emit.h
Due: zlib-ng

Drop unused deflate_state parameter from zng_assemble_dist
  trees.c
  trees_emit.h
Due: zlib-ng

Update gz*.c copyright dates.
  gzlib.c
  gzread.c
  gzwrite.c
Due: zlib-ng

Break Huffman ties by node index instead of subtree depth
  trees.c
Due: zlib-ng

Add a sync-flush variant to the deflate benchmark
  test/benchmarks/benchmark_deflate.cc
Due: tests

Derive the gen_bitlen walk order instead of recording it
  trees.c
Due: zlib-ng

Replace the Huffman heap with counting sort and a two-queue merge
  trees.c
Due: zlib-ng

Comment the radix sort buffer roles in build_tree
  trees.c
Due: zlib-ng

Pack frequency, depth and node into 64-bit heap entries in build_tree
  deflate.h
  trees.c
Due: zlib-ng

Move the merge-order array out of deflate_state
  deflate.h
  trees.c
Due: zlib-ng

Build the radix histograms during the leaf scan
  trees.c
Due: zlib-ng

Sort with a single radix pass when frequencies fit in one byte
  trees.c
Due: zlib-ng

Move the build_tree queue buffers into deflate_state
  deflate.h
  trees.c
Due: zlib-ng

Restore deflate_state cacheline and tail alignment
  deflate.h
Due: zlib-ng

Use std::string for test PNG file names
  test/benchmarks/benchmark_png_decode.cc
Due: tests

Raise longest_match search floor for Z_FILTERED in deflate_slow
  deflate_slow.c
Due: zlib-ng

Use dynamic trees for the default deflate_quick strategy
  deflate_quick.c
Due: zlib-ng

Port old CVE inflate tests to gtest
  test/CMakeLists.txt
  test/CVE-2002-0059/test.gz
  test/CVE-2004-0797/test.gz
  test/CVE-2005-1849/test.gz
  test/CVE-2005-2096/test.gz
  test/cmake/test-cves.cmake
  test/test_inflate_cve.cc
Due: tests

Port GH-361, GH-364, GH-382 and GH-1600 tests to gtest
  test/CMakeLists.txt
  test/GH-1600/packobj.gz
  test/GH-382/defneg3.dat
  test/README.md
  test/cmake/test-issues.cmake
  test/test_deflate_gh_361.cc
  test/test_deflate_gh_364.cc
  test/test_deflate_quick_gh_382.cc
  test/test_inflate_gh_1600.cc
Due: tests

Add inflate test for long codes around inflate_fast refills
  test/CMakeLists.txt
  test/test_inflate_long_codes.cc
Due: tests

Insert only the tail strings of overlapping matches in deflate_slow
  deflate_slow.c
Due: zlib-ng

Copy the chunkmemset tail with two overlapping stores
  chunkset_tpl.h
Due: zlib-ng

Move deflate_slow tail insert into insert_string helpers
  deflate_slow.c
  insert_string_p.h
Due: zlib-ng

Vectorize the Adler32 head and tail in the ARM NEON DotProd variant
  arch/arm/adler32_neon_tpl.h
Due: zlib-ng

Fold the hardware CRC32 tail remainder into one word step
  arch/shared/crc32_hw_common_tpl.h
Due: zlib-ng
