Repository zlib-ng/zlib-ng: changes, and which Codecov flags are due for each by the changed paths.
All: zlib-ng, tests

codecov.yml:

codecov:
  max_report_age: 72h
  
coverage:
  status:
    project:
      default:
        threshold: 0.07%
      zlib-ng:
        target: 80%
        flags:
          - zlib-ng
      tests:
        target: 50%
        flags:
          - tests
        
comment:
    require_head: no     # default yes
    require_base: no     # default yes

flags:
  zlib-ng:
    paths:
      - arch/
      - adler32.c
      - adler32_p.h
      - chunkset.c
      - chunkset_tpl.h
      - compare258.c
      - compress.c
      - crc32.c
      - crc32_comb.c
      - crc32_comb_tbl.h
      - crc32_p.h
      - crc32_tbl.h
      - deflate.c
      - deflate_fast.c
      - deflate.h
      - deflate_medium.c
      - deflate_p.h
      - deflate_quick.c
      - deflate_slow.c
      - fallback_builtins.h
      - functable.c
      - functable.h
      - gzguts.h
      - gzlib.c
      - gzread.c
      - gzwrite.c
      - infback.c
      - inffast.c
      - inffast.h
      - inffixed_tbl.h
      - inflate.c
      - inflate.h
      - inflate_p.h
      - inftrees.c
      - inftrees.h
      - insert_string.c
      - insert_string_tpl.h
      - match_tpl.h
      - trees.c
      - trees_emit.h
      - trees.h
      - trees_tbl.h
      - uncompr.c
      - zbuild.h
      - zconf.h
      - zconf-ng.h
      - zendian.h
      - zlib.h
      - zlib-ng.h
      - zutil.c
      - zutil.h
      - zutil_p.h
  tests:
    paths:
      - test/
      - tools/
  
fixes:
  - "/home/runner/work/zlib-ng/zlib-ng/::"
  - "/home/runner/work/zlib-ng/build/::"
  - "/build/home/runner/work/zlib-ng/zlib-ng/::"
  - "/build/home/runner/work/zlib-ng/build/::"

ignore:
  - "usr/include/.*"
  - "/usr/include/.*"
  - "/build/usr/include/.*"
  - "usr/lib/.*"
  - "/usr/lib/.*"
  - "/build/usr/lib/.*"
  - "usr/lib64/.*"
  - "/usr/lib64/.*"
  - "/build/usr/lib64/.*"

Merge duplicate 32-bit _mm_cvtsi64_si128 polyfills
  arch/x86/x86_intrins.h
Due: zlib-ng

Remove inert comment about disabling Chorba SSE in X86 functions header
  arch/x86/x86_functions.h
Due: zlib-ng

Use fallback defines for Chorba Scalar/SSE
  CMakeLists.txt
  Makefile.in
  arch/x86/crc32_chorba_sse2.c
  arch/x86/crc32_chorba_sse41.c
  arch/x86/x86_functions.h
  functable.c
  test/benchmarks/benchmark_crc32.cc
  test/benchmarks/benchmark_crc32_copy.cc
  test/test_crc32.cc
  test/test_crc32_copy.cc
Due: zlib-ng, tests

Fail early in count_lengths if lengths are invalid.
  inftrees.c
Due: zlib-ng

Add PNG decode benchmark for narrow image widths
  test/benchmarks/CMakeLists.txt
  test/benchmarks/benchmark_png_decode_small.cc
  test/benchmarks/benchmark_png_shared.h
Due: tests

Fix libpng linking and include paths for benchmark apps
  test/benchmarks/CMakeLists.txt
Due: tests

Fix check against BUILD_ALT_BENCH that was always defined as OFF
  test/benchmarks/CMakeLists.txt
Due: tests

Replace small/large buffer tests with parameterized test_chunked
  test/CMakeLists.txt
  test/test_chunked.cc
  test/test_large_buffers.cc
  test/test_small_buffers.cc
Due: tests

Bump Google Benchmark to v1.9.5 * Google Benchmark v1.9.4 fails to compile with recent versions of clang and Visual C++ if warnings are treated as errors
  test/benchmarks/CMakeLists.txt
Due: tests

Deflate_fast does not have 'prev_length', fix comment.
  deflate_fast.c
Due: zlib-ng

deflate_rle: remove unnecessary check for too long matches
  deflate_rle.c
Due: none

Allow /delta on fork pull requests
  .github/workflows/delta.yml
Due: none

Use long long offsets for MinGW.
  zconf-ng.h.in
  zconf.h.in
Due: zlib-ng

Correct a variable type in deflate_stored.
  deflate_stored.c
Due: none

Make deflateBound() more conservative and handle negative wrap.
  deflate.c
Due: zlib-ng

Avoid implicit conversion warning in trees.c.
  trees.c
Due: zlib-ng

Expand on the deflate strategy parameter in zlib.h.
  zlib-ng.h.in
  zlib.h.in
Due: zlib-ng

Improve portability to RISC OS.
  zutil.h
Due: zlib-ng

Update old comment in inflate.h.
  inflate.h
Due: zlib-ng

Address Microsoft deprecation warnings and reduce header inclusion.
  gzguts.h
Due: zlib-ng

Use z_const for setting msg to literal strings.
  inflate_p.h
Due: zlib-ng

Avoid attempting to redefine z_const in zconf.h.
  zconf.h.in
Due: zlib-ng

Reject invalid MAX_WBITS values at compile time.
  zutil.h
Due: zlib-ng

Avoid out-of-bounds pointer arithmetic in inflateCopy().
  inflate.c
Due: zlib-ng

Have gz_skip() update how far it got for later continuation.
  gzguts.h
  gzlib.c
  gzread.c
  gzwrite.c
Due: zlib-ng

Avoid a fruitless memory copy in gzread.c.
  gzread.c
Due: zlib-ng

Add deflateUsed() function to get the used bits in the last byte.
  deflate.c
  deflate.h
  deflate_stored.c
  trees.c
  trees_emit.h
  win32/zlib-ng.def.in
  win32/zlib.def.in
  win32/zlibcompat.def.in
  zlib-ng.h.in
  zlib-ng.map.in
  zlib.h.in
  zlib.map.in
  zlib_name_mangling-ng.h.in
  zlib_name_mangling.h.in
Due: zlib-ng

Update links to the RFCs.
  deflate.c
  doc/algorithm.txt
  zlib-ng.h.in
  zlib.h.in
Due: zlib-ng

Improve the discrimination between trailing garbage and bad gzip.
  gzguts.h
  gzlib.c
  gzread.c
Due: zlib-ng

Initialize data_type in inflateResetKeep and update inflatePrime docs.
  inflate.c
  zlib-ng.h.in
  zlib.h.in
Due: zlib-ng

Clarify the use of inflateGetHeader().
  zlib-ng.h.in
  zlib.h.in
Due: zlib-ng

Allow gzflush() to write empty gzip members.
  gzwrite.c
Due: zlib-ng

Add a "G" option to force gzip, disabling transparency in gzread().
  gzlib.c
  gzread.c
  zlib-ng.h.in
  zlib.h.in
Due: zlib-ng

Update gz*.c copyright dates.
  gzlib.c
  gzread.c
  gzwrite.c
Due: zlib-ng

Return all available uncompressed data on error in gzread.c.
  gzlib.c
  gzread.c
  zlib-ng.h.in
  zlib.h.in
Due: zlib-ng

Clarify the use of errnum in gzerror().
  zlib-ng.h.in
  zlib.h.in
Due: zlib-ng

Note the use of gzungetc() to run a deferred seek while reading.
  zlib-ng.h.in
  zlib.h.in
Due: zlib-ng

Note that gzseek() requests are deferred until the next operation.
  zlib-ng.h.in
  zlib.h.in
Due: zlib-ng

zlib 1.3.2.
  compress.c
  crc32.c
  crc32_braid_comb.c
  deflate.c
  deflate.h
  gzguts.h
  gzlib.c
  gzread.c
  gzwrite.c
  infback.c
  inffixed_tbl.h
  inflate.c
  inftrees.c
  inftrees.h
  trees.c
  uncompr.c
  zconf-ng.h.in
  zconf.h.in
  zlib-ng.h.in
  zlib.h.in
  zutil.c
  zutil.h
Due: zlib-ng

Add _z versions of the compress and uncompress functions.
  compress.c
  uncompr.c
  win32/zlib.def.in
  win32/zlibcompat.def.in
  zlib.h.in
  zlib.map.in
  zlib_name_mangling.h.in
Due: zlib-ng
