Repository zlib-ng/zlib-ng: changes, and which Codecov flags are due for each by the changed paths.
All: zlib-ng, tests

codecov.yml:

codecov:
  max_report_age: 72h
  
coverage:
  status:
    project:
      default:
        threshold: 0.07%
      zlib-ng:
        target: 80%
        flags:
          - zlib-ng
      tests:
        target: 50%
        flags:
          - tests
        
comment:
    require_head: no     # default yes
    require_base: no     # default yes

flags:
  zlib-ng:
    paths:
      - arch/
      - adler32.c
      - adler32_p.h
      - chunkset.c
      - chunkset_tpl.h
      - compare258.c
      - compress.c
      - crc32.c
      - crc32_comb.c
      - crc32_comb_tbl.h
      - crc32_p.h
      - crc32_tbl.h
      - deflate.c
      - deflate_fast.c
      - deflate.h
      - deflate_medium.c
      - deflate_p.h
      - deflate_quick.c
      - deflate_slow.c
      - fallback_builtins.h
      - functable.c
      - functable.h
      - gzguts.h
      - gzlib.c
      - gzread.c
      - gzwrite.c
      - infback.c
      - inffast.c
      - inffast.h
      - inffixed_tbl.h
      - inflate.c
      - inflate.h
      - inflate_p.h
      - inftrees.c
      - inftrees.h
      - insert_string.c
      - insert_string_tpl.h
      - match_tpl.h
      - trees.c
      - trees_emit.h
      - trees.h
      - trees_tbl.h
      - uncompr.c
      - zbuild.h
      - zconf.h
      - zconf-ng.h
      - zendian.h
      - zlib.h
      - zlib-ng.h
      - zutil.c
      - zutil.h
      - zutil_p.h
  tests:
    paths:
      - test/
      - tools/
  
fixes:
  - "/home/runner/work/zlib-ng/zlib-ng/::"
  - "/home/runner/work/zlib-ng/build/::"
  - "/build/home/runner/work/zlib-ng/zlib-ng/::"
  - "/build/home/runner/work/zlib-ng/build/::"

ignore:
  - "usr/include/.*"
  - "/usr/include/.*"
  - "/build/usr/include/.*"
  - "usr/lib/.*"
  - "/usr/lib/.*"
  - "/build/usr/lib/.*"
  - "usr/lib64/.*"
  - "/usr/lib64/.*"
  - "/build/usr/lib64/.*"

Fix formatting
  arch/x86/crc32_fold_pclmulqdq_tpl.h
  arch/x86/crc32_pclmulqdq.c
  arch/x86/crc32_pclmulqdq_tpl.h
  arch/x86/crc32_vpclmulqdq.c
Due: zlib-ng

Fix TEST_CRC32 macro
  test/test_crc32.cc
Due: tests

Add missing test for crc32_vpclmulqdq
  test/test_crc32.cc
Due: tests

Fix CodeQL warnings: This pointer might have type (size 4), but this pointer arithmetic is done with type __m128i * (size 16)
  arch/x86/crc32_pclmulqdq_tpl.h
Due: zlib-ng

Fix warning: comparison of integer expressions of different signedness: 'size_t' {aka 'long unsigned int'} and 'int' [-Wsign-compare]
  test/gh1235.c
Due: tests

Fix definition of z_size_t to match documentation of legacy zlib API.
  PORTING.md
  compress.c
  inflate.c
  test/example.c
  test/test_compress.cc
  test/test_compress_bound.cc
  uncompr.c
  zbuild.h
Due: zlib-ng, tests

Replace __WIN__ with X86_FEATURES
  zbuild.h
Due: zlib-ng

Inflate: refill unconditionally
  inffast_tpl.h
Due: none

Inflate: add fast-path for literals
  inffast_tpl.h
  inflate_p.h
  zutil.h
Due: zlib-ng

Split crc32 pclmulqdq and vpclmulqdq implementations
  CMakeLists.txt
  arch/x86/Makefile.in
  arch/x86/crc32_fold_pclmulqdq_tpl.h
  arch/x86/crc32_fold_vpclmulqdq.c
  arch/x86/crc32_fold_vpclmulqdq_tpl.h
  arch/x86/crc32_pclmulqdq.c
  arch/x86/crc32_pclmulqdq_tpl.h
  arch/x86/crc32_vpclmulqdq.c
  configure
  cpu_features.h
  functable.c
  win32/Makefile.msc
Due: zlib-ng

Replace global CPU feature flag variables with local variable in init_functable
  arch/arm/arm_features.c
  arch/arm/arm_features.h
  arch/power/power_features.c
  arch/power/power_features.h
  arch/s390/crc32-vx.c
  arch/s390/s390_features.c
  arch/s390/s390_features.h
  arch/x86/x86_features.c
  arch/x86/x86_features.h
  cpu_features.c
  cpu_features.h
  deflate.c
  functable.c
  inflate.c
  test/benchmarks/benchmark_adler32.cc
  test/benchmarks/benchmark_adler32_copy.cc
  test/benchmarks/benchmark_compare256.cc
  test/benchmarks/benchmark_crc32.cc
  test/benchmarks/benchmark_main.cc
  test/benchmarks/benchmark_slidehash.cc
  test/test_adler32.cc
  test/test_compare256.cc
  test/test_cpu_features.h
  test/test_crc32.cc
  test/test_main.cc
Due: zlib-ng, tests

Remove useless assignments
  arch/x86/x86_features.c
Due: zlib-ng

IBM zSystems: Use HWCAP_S390_VXRS
  arch/s390/s390_features.c
  cmake/detect-intrinsics.cmake
Due: zlib-ng

Version 2.0.7
  Makefile.in
  zlib-ng.h
  zlib.h
  zutil.c
Due: zlib-ng

Add parametrized testing
  test/inflate_deflate_parametrized.c
Due: tests

Shared libraries on cygwin can be named with their version number
  CMakeLists.txt
Due: none

[Compat] Don't use uint32_t for z_crc_t * We don't include stdint.h as it must be included before stdarg.h and other headers might include stdarg.h before us
  zconf.h.in
Due: zlib-ng

Makefile.in: distclean should remove zlib.pc instead of clean
  Makefile.in
Due: none

Append extension to output file path based on window_bits when compressing and remove extension from output file path when decompressing.
  test/minideflate.c
Due: tests

Added missing -F argument for Z_FIXED strategy in minideflate.
  test/minideflate.c
Due: tests

Treat arm64 as aarch64 for Apple M1.
  cmake/detect-arch.c
  configure
Due: none

Added support for -k keep argument to minideflate. By default minideflate will now delete the input file.
  test/minideflate.c
Due: tests

Allow bypassing runtime feature check of TZCNT instructions. * This avoids conditional branch when it's known at build time that TZCNT instructions are always supported
  CMakeLists.txt
  README.md
  configure
  fallback_builtins.h
Due: zlib-ng

In compatibility mode, always define z_crc_t as uint32_t for backwards compatibility.
  configure
  zconf-ng.h.in
  zconf.h.in
  zlib-ng.h
  zlib.h
Due: zlib-ng

Make directory for output files.
  cmake/run-and-compare.cmake
Due: none

Added ClangCl instances to GitHub Actions workflow.
  .github/workflows/cmake.yml
Due: none

Have build test report library version if it doesn't match zlib.h.
  test/example.c
Due: tests

Remove unistd.h include from gzguts.h which is already included from zconf.h via zlib.h.
  gzguts.h
Due: zlib-ng

Mimic minigzip behavior and only unlink files if not using -c copy out argument.
  test/minideflate.c
Due: tests

Remove redundant check in gz_look().
  gzread.c
Due: zlib-ng

Throw an error when input is raw deflate stream but window_bits is not supplied.
  test/minideflate.c
Due: tests

Use short decompress option name for gzip compatibility. #1347
  cmake/test-compress.cmake
Due: none
