Repository zlib-ng/zlib-ng: changes, and which Codecov flags are due for each by the changed paths.
All: zlib-ng, tests

Add test for issue #1235. * Test both compressBound() and deflateBound() as those share same code fragment.
  test/Makefile.in
  test/gh1235.c
Due: tests

Fixed failed tools tests when source directory is read-only.
  CMakeLists.txt
  cmake/run-and-compare.cmake
Due: none

Don't try to build tests or benchmarks if cmake is too old for them.
  CMakeLists.txt
Due: none

Fixed forcing CMAKE_BUILD_TYPE to Release on multi config generators such as Xcode or MSVC.
  CMakeLists.txt
Due: none

Implement neon version of compare256.
  CMakeLists.txt
  README.md
  arch/arm/Makefile.in
  arch/arm/compare256_neon.c
  configure
  cpu_features.h
  functable.c
  test/benchmarks/benchmark_compare256.cc
  test/test_compare256.cc
  win32/Makefile.a64
  win32/Makefile.arm
Due: zlib-ng, tests

macOs M1 build fix on arm cpu checks.
  arch/arm/arm_features.c
Due: zlib-ng

Use PREFIX() for some of the Z_INTERNAL symbols
  arch/s390/crc32-vx.c
  arch/s390/dfltcc_common.c
  arch/s390/dfltcc_common.h
  arch/s390/dfltcc_deflate.c
  arch/s390/dfltcc_deflate.h
  arch/s390/dfltcc_inflate.c
  arch/s390/dfltcc_inflate.h
  arch/s390/s390_features.c
  arch/s390/s390_features.h
  cpu_features.c
  cpu_features.h
  deflate.c
  deflate.h
  deflate_p.h
  deflate_quick.c
  deflate_stored.c
  functable.c
  inflate.c
  inflate.h
  test/benchmarks/benchmark_crc32.cc
  test/test_crc32.cc
  tools/maketrees.c
  trees.c
Due: zlib-ng, tests

Remove trailing whitespace in several source code files
  arch/arm/adler32_neon.c
  arch/arm/slide_hash_neon.c
  arch/x86/adler32_avx2.c
  arch/x86/adler32_avx512.c
  arch/x86/adler32_avx512_p.h
  arch/x86/adler32_avx512_vnni.c
  arch/x86/adler32_ssse3.c
  arch/x86/crc32_fold_pclmulqdq.c
  chunkset_tpl.h
  cmake/detect-intrinsics.cmake
Due: zlib-ng

Remove CVE testing from configure script.
  .gitattributes
  test/Makefile.in
  test/testCVEinputs.sh
Due: tests

IBM Z DFLTCC: Split deflate and inflate states
  arch/s390/README.md
  arch/s390/dfltcc_common.c
  arch/s390/dfltcc_common.h
  arch/s390/dfltcc_deflate.c
  arch/s390/dfltcc_deflate.h
  arch/s390/dfltcc_detail.h
  arch/s390/dfltcc_inflate.c
  arch/s390/dfltcc_inflate.h
  deflate.c
  infback.c
  inflate.c
  inflate_p.h
Due: zlib-ng

Fixed MSVC warning about unknown option for AVX512 flag.
  cmake/detect-intrinsics.cmake
Due: none

Fixed regression introduced by inlining CRC + copy
  inflate.c
Due: zlib-ng

Improve deflateBound unit test to test a range of small buffer lengths with various deflateBound initialization values.
  test/test_deflate_bound.cc
Due: tests

Added compressBound tests for small buffers.
  test/CMakeLists.txt
  test/test_compress_bound.cc
Due: tests

Disable redirection to 64-bit function variants when Z_SOLO is defined
  zlib.h.in
Due: zlib-ng

Add test for stream adler after inflateSetDictionary
  test/test_dict.cc
Due: tests

Fixed warning about strict prototypes for cpu_check_features.
  cpu_features.h
Due: none

Remove unused chunkmemset_1 code.
  arch/arm/chunkset_neon.c
  arch/power/chunkset_power8.c
  arch/x86/chunkset_avx.c
  arch/x86/chunkset_sse2.c
  chunkset.c
Due: zlib-ng

The names CMAKE_INTERPROCEDURAL_OPTIMIZATION_* must be uppercase.
  CMakeLists.txt
Due: none

Implement power9 version of compare256.
  CMakeLists.txt
  README.md
  arch/power/Makefile.in
  arch/power/compare256_power9.c
  arch/power/power_features.c
  arch/power/power_features.h
  cmake/detect-intrinsics.cmake
  configure
  cpu_features.h
  functable.c
  test/benchmarks/benchmark_compare256.cc
  test/test_compare256.cc
Due: zlib-ng, tests

Add nonnull attributes to trees.c functions.
  deflate.h
  trees.c
  zconf-ng.h.in
  zconf.h.in
Due: zlib-ng

Create adler32_fold_c* functions
  CMakeLists.txt
  Makefile.in
  adler32_fold.c
  adler32_fold.h
  functable.c
  functable.h
  inflate.c
  inflate.h
  win32/Makefile.a64
  win32/Makefile.arm
  win32/Makefile.msc
Due: zlib-ng

Adding an SSE42 optimized copy + adler checksum implementation
  CMakeLists.txt
  adler32_fold.h
  adler32_p.h
  arch/x86/Makefile.in
  arch/x86/adler32_sse42.c
  arch/x86/adler32_sse42_tpl.h
  arch/x86/adler32_ssse3_p.h
  arch/x86/adler32_ssse3_tpl.h
  configure
  cpu_features.h
  deflate.c
  deflate.h
  functable.c
  inflate.c
  win32/Makefile.msc
Due: zlib-ng

Add AVX2 inline copy + adler implementation
  arch/x86/adler32_avx2.c
  arch/x86/adler32_avx2_p.h
  arch/x86/adler32_avx2_tpl.h
  cpu_features.h
  functable.c
Due: zlib-ng

Path conditions:
  zlib-ng: any of: arch/, adler32.c, adler32_p.h, chunkset.c, chunkset_tpl.h, compare258.c, compress.c, crc32.c, crc32_comb.c, crc32_comb_tbl.h, crc32_p.h, crc32_tbl.h, deflate.c, deflate_fast.c, deflate.h, deflate_medium.c, deflate_p.h, deflate_quick.c, deflate_slow.c, fallback_builtins.h, functable.c, functable.h, gzguts.h, gzlib.c, gzread.c, gzwrite.c, infback.c, inffast.c, inffast.h, inffixed_tbl.h, inflate.c, inflate.h, inflate_p.h, inftrees.c, inftrees.h, insert_string.c, insert_string_tpl.h, match_tpl.h, trees.c, trees_emit.h, trees.h, trees_tbl.h, uncompr.c, zbuild.h, zconf.h, zconf-ng.h, zendian.h, zlib.h, zlib-ng.h, zutil.c, zutil.h, zutil_p.h, but not: usr/include/.*, /usr/include/.*, /build/usr/include/.*, usr/lib/.*, /usr/lib/.*, /build/usr/lib/.*, usr/lib64/.*, /usr/lib64/.*, /build/usr/lib64/.*
  tests: any of: test/, tools/, but not: usr/include/.*, /usr/include/.*, /build/usr/include/.*, usr/lib/.*, /usr/lib/.*, /build/usr/lib/.*, usr/lib64/.*, /usr/lib64/.*, /build/usr/lib64/.*
