Repository zlib-ng/zlib-ng: changes, and which Codecov flags are due for each by the changed paths.
All: zlib-ng, tests

Remove unused COMPARE258 macro since longest_match only uses COMPARE256.
  arch/x86/compare258_avx.c
  arch/x86/compare258_sse.c
  compare258.c
  match_tpl.h
Due: zlib-ng

Rename x86 source files with instruction set version.
  CMakeLists.txt
  arch/x86/Makefile.in
  arch/x86/adler32_avx2.c
  arch/x86/chunkset_sse2.c
  arch/x86/compare258_avx2.c
  arch/x86/compare258_sse42.c
  arch/x86/insert_string_sse42.c
  arch/x86/slide_hash_avx2.c
  arch/x86/slide_hash_sse2.c
  configure
  win32/Makefile.msc
Due: zlib-ng

Remove unmaintained and out-dated DLL FAQ.
  win32/DLL_FAQ.txt
Due: none

Remove unmaintained index markdown in arch/x86.
  arch/x86/INDEX.md
Due: zlib-ng

Convert compare258 to compare256 and moved 2 byte check into deflate_quick. Prevents having multiple compare258 functions with 2 byte checks.
  CMakeLists.txt
  Makefile.in
  README.md
  arch/x86/Makefile.in
  arch/x86/compare256_avx2.c
  arch/x86/compare256_sse42.c
  compare256.c
  configure
  deflate_quick.c
  functable.c
  functable.h
  win32/Makefile.a64
  win32/Makefile.arm
  win32/Makefile.msc
Due: zlib-ng

Improved AVX2 adler32 performance
  arch/x86/adler32_avx2.c
Due: zlib-ng

Merge crc32_little and crc32_big with preprocessor macros for each endian. Removed crc32_generic since it is not being used.
  arch/s390/crc32-vx.c
  crc32.c
  crc32_p.h
  functable.c
Due: zlib-ng

Change fuzzer binaries and solutions to prefix with fuzzer_.
  CMakeLists.txt
  Makefile.in
  test/Makefile.in
  test/fuzz/fuzzer_checksum.c
  test/fuzz/fuzzer_compress.c
  test/fuzz/fuzzer_example_dict.c
  test/fuzz/fuzzer_example_flush.c
  test/fuzz/fuzzer_example_large.c
  test/fuzz/fuzzer_example_small.c
  test/fuzz/fuzzer_minigzip.c
Due: tests

Clean up and remove bestcmp_t type for longest_match. Use 8 byte buffer (max int comparison size) and cast to integer type when making comparison.
  match_tpl.h
Due: zlib-ng

Clean up crc32_fold structure and clearly define the size of the fold buffer.
  arch/x86/crc32_fold_pclmulqdq.c
  crc32_fold.h
  deflate.h
  inflate.h
Due: zlib-ng

Merge feature list entries for crc32.
  README.md
Due: none

Fixed incorrect version of AVX specified for inflate chunk copying in feature list.
  README.md
Due: none

Added adler32, compare256, crc32, and slide_hash benchmarks using Google Benchmark.
  .github/workflows/cmake.yml
  .github/workflows/configure.yml
  CMakeLists.txt
  Makefile.in
  README.md
  arch/x86/x86.c
  arch/x86/x86.h
  cpu_features.c
  cpu_features.h
  functable.c
  test/benchmarks/CMakeLists.txt
  test/benchmarks/README.md
  test/benchmarks/benchmark_adler32.cc
  test/benchmarks/benchmark_compare256.cc
  test/benchmarks/benchmark_crc32.cc
  test/benchmarks/benchmark_main.cc
  test/benchmarks/benchmark_slidehash.cc
  win32/Makefile.a64
  win32/Makefile.arm
  win32/Makefile.msc
Due: zlib-ng, tests

Fixed AVX512-VNNI detection when compiling with ClangCl.
  cmake/detect-intrinsics.cmake
Due: none

Rename test binaries with test_ prefix.
  .gitignore
  CMakeLists.txt
  Makefile.in
  test/Makefile.in
  test/test_adler32.c
  test/test_crc32.c
  test/test_deflate_quick_bi_valid.c
  test/test_deflate_quick_block_open.c
  test/test_hash_head_0.c
  test/test_inflate_adler32.c
Due: tests

Remove crc32 and adler32 shared library tests which don't test anyting further than what is provided by crc32 static build or examplesh.
  .gitignore
  Makefile.in
  test/Makefile.in
Due: tests

Improvements to avx512 adler32 implementations
  arch/x86/adler32_avx2.c
  arch/x86/adler32_avx512.c
  arch/x86/adler32_avx512_vnni.c
  fallback_builtins.h
Due: zlib-ng

Move inflateSync test into its own test binary.
  test/example.c
  test/test_inflate_sync.c
  test/test_shared.h
Due: tests

Move deflateCopy test into its own test binary.
  test/example.c
  test/test_deflate_copy.c
Due: tests

Move deflateBound test into its own test binary.
  test/example.c
  test/test_deflate_bound.c
Due: tests

Move deflatePrime test into its own test binary.
  test/example.c
  test/test_deflate_prime.c
Due: tests

Move deflateTune test into its own test binary.
  test/example.c
  test/test_deflate_tune.c
Due: tests

Move compress and uncompress test into its own test binary.
  test/example.c
  test/test_compress.c
Due: tests

Move deflate and inflate dictionary test into its own test binary.
  test/example.c
  test/test_dict.c
Due: tests

Move deflatePending test into its own test binary.
  test/example.c
  test/test_deflate_pending.c
Due: tests

Move deflate and inflate large/params test into its own test binary.
  test/example.c
  test/test_deflate_params.c
  test/test_large_buffers.c
Due: tests

Path conditions:
  zlib-ng: any of: arch/, adler32.c, adler32_p.h, chunkset.c, chunkset_tpl.h, compare258.c, compress.c, crc32.c, crc32_comb.c, crc32_comb_tbl.h, crc32_p.h, crc32_tbl.h, deflate.c, deflate_fast.c, deflate.h, deflate_medium.c, deflate_p.h, deflate_quick.c, deflate_slow.c, fallback_builtins.h, functable.c, functable.h, gzguts.h, gzlib.c, gzread.c, gzwrite.c, infback.c, inffast.c, inffast.h, inffixed_tbl.h, inflate.c, inflate.h, inflate_p.h, inftrees.c, inftrees.h, insert_string.c, insert_string_tpl.h, match_tpl.h, trees.c, trees_emit.h, trees.h, trees_tbl.h, uncompr.c, zbuild.h, zconf.h, zconf-ng.h, zendian.h, zlib.h, zlib-ng.h, zutil.c, zutil.h, zutil_p.h, but not: usr/include/.*, /usr/include/.*, /build/usr/include/.*, usr/lib/.*, /usr/lib/.*, /build/usr/lib/.*, usr/lib64/.*, /usr/lib64/.*, /build/usr/lib64/.*
  tests: any of: test/, tools/, but not: usr/include/.*, /usr/include/.*, /build/usr/include/.*, usr/lib/.*, /usr/lib/.*, /build/usr/lib/.*, usr/lib64/.*, /usr/lib64/.*, /build/usr/lib64/.*
