Repository zlib-ng/zlib-ng: changes, and which Codecov flags are due for each by the changed paths.
All: zlib-ng, tests

2.2.0 Release
  Makefile.in
  zlib-ng.h.in
  zlib.h.in
  zutil.c
Due: zlib-ng

[configure] Try stripping "--version-script" from LDSHAREDFLAGS if testing shared library support fails
  configure
Due: none

Improved ACLE check (#1727)
  cmake/detect-intrinsics.cmake
  configure
Due: none

Improve code coverage for SSE2.
  .github/workflows/cmake.yml
Due: none

Update mymindstorm/setup-emsdk to v14.
  .github/workflows/cmake.yml
  .github/workflows/configure.yml
Due: none

Add more result variables to the cmake package configuration
  zlib-config.cmake.in
Due: none

Fix illegal instruction usage in Xeon Phi x200 processors
  arch/x86/x86_features.c
  arch/x86/x86_features.h
  functable.c
  test/benchmarks/benchmark_adler32.cc
  test/benchmarks/benchmark_adler32_copy.cc
  test/benchmarks/benchmark_crc32.cc
  test/test_adler32.cc
  test/test_crc32.cc
Due: zlib-ng, tests

Fixed S390X configure builds not running in forks.
  .github/workflows/configure.yml
Due: none

Fix a couple typos found by codespell
  arch/s390/README.md
  deflate_stored.c
Due: zlib-ng

Disable CodeCov for RISC-V as the toolchain doesn't support generating code coverage.
  .github/workflows/cmake.yml
Due: none

- Make codecov uploads happen even if some jobs have failed. - Fix error in generating list of reports to upload. - Clean up the implementation a bit.
  .github/workflows/cmake.yml
  .github/workflows/pigz.yml
Due: none

Switch to python venv
  .github/workflows/cmake.yml
Due: none

Update copyright years in other source files.
  LICENSE.md
  arch/arm/insert_string_acle.c
  arch/x86/insert_string_sse42.c
  insert_string.c
  insert_string_roll.c
  insert_string_tpl.h
  match_tpl.h
  slide_hash.c
  win32/Makefile.a64
  win32/Makefile.arm
  win32/Makefile.msc
Due: zlib-ng

Fix a name conflict when compiled with zlib-compat
  test/benchmarks/benchmark_compress.cc
Due: tests

Make the existence of gz_intmax() unconditional.
  gzguts.h
  gzlib.c
Due: zlib-ng

Removing some outdated comments
  inflate.c
Due: zlib-ng

Add bounds checking to ERR_MSG() macro, used by zError().
  zutil.h
Due: zlib-ng

Remove mentions of an official zlib DLL distribution.
  FAQ.zlib
Due: none

Add back gz_intmax for zlib compatibility when linking statically
  gzguts.h
  gzlib.c
  zlib.map
Due: zlib-ng

Upgrade ilammy/msvc-dev-cmd to v1.13.0
  .github/workflows/nmake.yml
Due: none

Update llvm version used for MSAN. Disable unneccessary compilation of tests, benchmarks, docs.
  .github/workflows/cmake.yml
Due: none

IBM zSystems DFLTCC: Extend sanitizer checks
  arch/s390/dfltcc_detail.h
  zbuild.h
Due: zlib-ng

Update dependencies for 32-bit MinGW CI run.
  .github/workflows/cmake.yml
Due: none

Make lint check ignore *.patch files, as those can legally have trailing whitespace or end the file with blank lines.
  .github/workflows/lint.yml
Due: none

make darwin cross compilation possible
  configure
Due: none

Add test for checking if -march=native needs -mfpu=neon for 32-bit ARM.
  cmake/detect-intrinsics.cmake
Due: none

Use windows-2019 for build with toolset v141
  .github/workflows/cmake.yml
Due: none

Generate CMake package configuration files * For COMPAT mode, zlib-config.cmake and zlib-config-version.cmake * For non-COMPAT mode, zlib-ng-config.cmake and zlib-ng-config-version.cmake
  CMakeLists.txt
  zlib-config.cmake.in
  zlib-ng-config.cmake.in
Due: none

Fix bug in inflateSync() for data held in bit buffer.
  inflate.c
Due: zlib-ng

Note that the len2 argument of crc_combine*() must be non-negative.
  zlib-ng.h.in
  zlib.h.in
Due: zlib-ng

Fixed S390X CMake builds not running in forks.
  .github/workflows/cmake.yml
  .github/workflows/pigz.yml
Due: none

arch/riscv/riscv_features.c: fix uclibc build
  arch/riscv/riscv_features.c
Due: zlib-ng

Relocate CMake target export definitions
  CMakeLists.txt
Due: none

Update macOS Github Actions
  .github/workflows/cmake.yml
  .github/workflows/configure.yml
Due: none

Use actual compressed length
  test/test_dict.cc
Due: tests

zlib 1.3.1
  Makefile.in
  deflate.c
  deflate_fast.c
  deflate_huff.c
  deflate_p.h
  deflate_rle.c
  deflate_slow.c
  deflate_stored.c
  gzguts.h
  gzlib.c
  inftrees.c
  test/Makefile.in
  trees.c
  zconf-ng.h.in
  zconf.h.in
  zlib-ng.h.in
  zlib.h.in
  zutil.h
Due: zlib-ng, tests

Simplify architecture #ifdef in test_crc32.cc.
  test/test_crc32.cc
Due: tests

Improve source compatibility with zlib
  zlib.h.in
Due: zlib-ng

Fix -std option in configure script
  configure
Due: none

2.1.7 Release
  Makefile.in
  zlib-ng.h.in
  zlib.h.in
  zutil.c
Due: zlib-ng

Path conditions:
  zlib-ng: any of: arch/, adler32.c, adler32_p.h, chunkset.c, chunkset_tpl.h, compare258.c, compress.c, crc32.c, crc32_comb.c, crc32_comb_tbl.h, crc32_p.h, crc32_tbl.h, deflate.c, deflate_fast.c, deflate.h, deflate_medium.c, deflate_p.h, deflate_quick.c, deflate_slow.c, fallback_builtins.h, functable.c, functable.h, gzguts.h, gzlib.c, gzread.c, gzwrite.c, infback.c, inffast.c, inffast.h, inffixed_tbl.h, inflate.c, inflate.h, inflate_p.h, inftrees.c, inftrees.h, insert_string.c, insert_string_tpl.h, match_tpl.h, trees.c, trees_emit.h, trees.h, trees_tbl.h, uncompr.c, zbuild.h, zconf.h, zconf-ng.h, zendian.h, zlib.h, zlib-ng.h, zutil.c, zutil.h, zutil_p.h, but not: usr/include/.*, /usr/include/.*, /build/usr/include/.*, usr/lib/.*, /usr/lib/.*, /build/usr/lib/.*, usr/lib64/.*, /usr/lib64/.*, /build/usr/lib64/.*
  tests: any of: test/, tools/, but not: usr/include/.*, /usr/include/.*, /build/usr/include/.*, usr/lib/.*, /usr/lib/.*, /build/usr/lib/.*, usr/lib64/.*, /usr/lib64/.*, /build/usr/lib64/.*
