Repository zlib-ng/zlib-ng: changes, and which Codecov flags are due for each by the changed paths.
All: zlib-ng, tests

codecov.yml:

codecov:
  max_report_age: 72h
  
coverage:
  status:
    project:
      default:
        threshold: 0.07%
      zlib-ng:
        target: 80%
        flags:
          - zlib-ng
      tests:
        target: 50%
        flags:
          - tests
        
comment:
    require_head: no     # default yes
    require_base: no     # default yes

flags:
  zlib-ng:
    paths:
      - arch/
      - adler32.c
      - adler32_p.h
      - chunkset.c
      - chunkset_tpl.h
      - compare258.c
      - compress.c
      - crc32.c
      - crc32_comb.c
      - crc32_comb_tbl.h
      - crc32_p.h
      - crc32_tbl.h
      - deflate.c
      - deflate_fast.c
      - deflate.h
      - deflate_medium.c
      - deflate_p.h
      - deflate_quick.c
      - deflate_slow.c
      - fallback_builtins.h
      - functable.c
      - functable.h
      - gzguts.h
      - gzlib.c
      - gzread.c
      - gzwrite.c
      - infback.c
      - inffast.c
      - inffast.h
      - inffixed_tbl.h
      - inflate.c
      - inflate.h
      - inflate_p.h
      - inftrees.c
      - inftrees.h
      - insert_string.c
      - insert_string_tpl.h
      - match_tpl.h
      - trees.c
      - trees_emit.h
      - trees.h
      - trees_tbl.h
      - uncompr.c
      - zbuild.h
      - zconf.h
      - zconf-ng.h
      - zendian.h
      - zlib.h
      - zlib-ng.h
      - zutil.c
      - zutil.h
      - zutil_p.h
  tests:
    paths:
      - test/
      - tools/
  
fixes:
  - "/home/runner/work/zlib-ng/zlib-ng/::"
  - "/home/runner/work/zlib-ng/build/::"
  - "/build/home/runner/work/zlib-ng/zlib-ng/::"
  - "/build/home/runner/work/zlib-ng/build/::"

ignore:
  - "usr/include/.*"
  - "/usr/include/.*"
  - "/build/usr/include/.*"
  - "usr/lib/.*"
  - "/usr/lib/.*"
  - "/build/usr/lib/.*"
  - "usr/lib64/.*"
  - "/usr/lib64/.*"
  - "/build/usr/lib64/.*"

Added code coverage for inflateGetDictionary in example.
  test/example.c
Due: tests

Use helper function for printing error and exiting in example.
  test/example.c
Due: tests

Standardize crc32_stub
  functable.c
Due: zlib-ng

Add optimized crc32 for POWER8 and later processors
  CMakeLists.txt
  arch/power/Makefile.in
  arch/power/crc32_constants.h
  arch/power/crc32_power8.c
  arch/power/fallback_builtins.h
  configure
  functable.c
Due: zlib-ng

Add new crc32 unit test
  .gitignore
  CMakeLists.txt
  Makefile.in
  test/Makefile.in
  test/crc32_test.c
Due: tests

[arm] Disable ACLE, UNALIGNED_OK and UNALIGNED64_OK on armv7 and earlier. * armv7 has partial support for unaligned reads, but compiler might use instructions that do not support unaligned accesses
  CMakeLists.txt
Due: none

Fix Z_SOLO mode
  zlib.h
Due: zlib-ng

Add PowerPC without Power8 optimizations to GitHub Actions' configure and cmake workflows.
  .github/workflows/cmake.yml
  .github/workflows/configure.yml
  configure
Due: none

PowerPC: Add initial support for AltiVec. * Add detection of VMX instructions
  CMakeLists.txt
  arch/power/Makefile.in
  arch/power/adler32_vmx.c
  arch/power/power.c
  arch/power/power.h
  arch/power/slide_hash_vmx.c
  cmake/detect-intrinsics.cmake
  configure
  functable.c
  zutil.h
Due: zlib-ng

Add AltiVec (VMX) to supported intrinsics for adler32 and slide_hash.
  README.md
Due: none

[PowerPC] Use templatized code for slide_hash as code for VMX and VSX is very similar * Any differences can be handled using compiler options or added as macros before including template header
  arch/power/slide_hash_power8.c
  arch/power/slide_hash_vmx.c
  arch/power/slide_ppc_tpl.h
Due: zlib-ng

Move crc32 folding functions into functable.
  CMakeLists.txt
  Makefile.in
  arch/x86/INDEX.md
  arch/x86/Makefile.in
  arch/x86/crc32_fold_pclmulqdq.c
  arch/x86/crc_folding.h
  configure
  crc32.c
  crc32_fold.c
  crc32_fold.h
  deflate.c
  deflate.h
  functable.c
  functable.h
  win32/Makefile.a64
  win32/Makefile.arm
  win32/Makefile.msc
  zutil.h
Due: zlib-ng

Added CRC32_INITIAL_VALUE to prevent initial call to crc32 function.
  arch/x86/crc_folding.c
  arch/x86/crc_folding.h
  crc32.c
  inflate.c
  zutil.h
Due: zlib-ng

Use static inline functions for crc32 folding load/save.
  arch/x86/crc32_fold_pclmulqdq.c
Due: zlib-ng

Fix hangs on macOS due to loading of misaligned addresses in chunkmemset_8.
  chunkset_tpl.h
Due: zlib-ng

Use ZFREE_STATE macro in inflateBackEnd instead of ZFREE.
  infback.c
Due: zlib-ng

Fixed no whitespace before INFLATE_SYNC_POINT_HOOK macro.
  inflate.c
Due: zlib-ng

Include win directory in pigz even if not using threads.
  test/pigz/CMakeLists.txt
Due: tests

Fixed undefined behavior of isgraph when character is not in the range 0 through 0xFF inclusive.
  trees.c
  trees_emit.h
Due: zlib-ng

Fix UB in inffast.c when not using window
  inffast.c
Due: zlib-ng

Fix deflateBound for HASH_BITS > 15
  deflate.c
Due: zlib-ng

Fixed trailing whitespaces and missing new lines.
  cmake/detect-arch.c
  cmake/run-and-compare.cmake
  cmake/test-compress.cmake
  cmake/test-tools.cmake
  deflate_fast.c
  inffast.c
  insert_string_tpl.h
Due: zlib-ng

Fix minor formatting issues. Closes #1038.
  README.md
  cmake/detect-arch.c
  cmake/run-and-compare.cmake
  cmake/test-compress.cmake
  cmake/test-tools.cmake
  inffast.c
  insert_string_tpl.h
Due: zlib-ng

Make integration into bigger projects easier
  CMakeLists.txt
Due: none
