Repository zlib-ng/zlib-ng: changes, and which Codecov flags are due for each by the changed paths.
All: zlib-ng, tests

Added cmake and configure matrix runs for Emscripten.
  .github/workflows/cmake.yml
  .github/workflows/configure.yml
Due: none

Use CMake detection for Emscripten due to a bug in vcpkg.
  cmake/detect-arch.cmake
Due: none

Upload generated makefiles when configure runs fail.
  .github/workflows/configure.yml
Due: none

Fixed cast to smaller integer type on MSYS2 Clang64.
  crc32_braid.c
Due: none

IBM zSystems DFLTCC: Support inflate with small window
  arch/s390/README.md
  arch/s390/dfltcc_common.c
  arch/s390/dfltcc_common.h
  arch/s390/dfltcc_deflate.c
  arch/s390/dfltcc_detail.h
  arch/s390/dfltcc_inflate.c
  arch/s390/dfltcc_inflate.h
  inflate.c
  inflate_p.h
  test/CMakeLists.txt
  test/test_small_window.cc
Due: zlib-ng, tests

Allow gtest_zlib to be manually disabled
  CMakeLists.txt
  README.md
  test/CMakeLists.txt
Due: tests

Update wine32 dependencies for Ubuntu 22.04
  .github/workflows/cmake.yml
Due: none

Ubuntu 22.04 CI image doesn't have clang-11 installed.
  .github/workflows/cmake.yml
Due: none

Turn off tests for Emscripten that use large amounts of data.
  configure
  test/CMakeLists.txt
  test/Makefile.in
Due: tests

All overriding the emulator used by configure script with EMU_RUN.
  .github/workflows/configure.yml
  configure
  test/Makefile.in
Due: tests

Add support for compiling to WebAssembly using Emscripten.
  cmake/detect-arch.c
  cmake/detect-arch.cmake
Due: none

Don't run deflate concurrency Google Test for Emscripten/WASM32.
  test/CMakeLists.txt
Due: tests

Remove unused qemu-run variable from configure workflow matrix.
  .github/workflows/configure.yml
Due: none

Add CodeQL workflow for GitHub code scanning
  .github/workflows/codeql.yml
Due: none

llvm-cov-11 needs llvm-11 on Ubuntu 22.04.
  .github/workflows/cmake.yml
  .github/workflows/pigz.yml
Due: none

Fix crash with MSAN.
  .github/workflows/cmake.yml
Due: none

Tell scan-build ASSERT_TRUE() behaves like assert().
  test/test_aligned_alloc.cc
  test/test_compare256.cc
  test/test_compress_bound.cc
  test/test_deflate_bound.cc
  test/test_deflate_dict.cc
  test/test_deflate_header.cc
  test/test_deflate_params.cc
  test/test_deflate_pending.cc
  test/test_gzio.cc
  test/test_large_buffers.cc
  test/test_shared.h
Due: tests

IBM zSystems DFLTCC: Do not update strm.adler for raw streams
  arch/s390/dfltcc_deflate.c
  arch/s390/dfltcc_inflate.c
  test/CMakeLists.txt
  test/test_deflate_header.cc
  test/test_raw.cc
Due: zlib-ng, tests

Add one extra byte to return value of compressBound and deflateBound for small lengths due to shift returning 0. * Treat 0 byte input as 1 byte input when calculating compressBound and deflateBound
  compress.c
  deflate.c
Due: zlib-ng

Added ClangCl instances to GitHub Actions workflow.
  .github/workflows/cmake.yml
Due: none

Fix UBSAN's cry afoul
  arch/x86/chunkset_avx.c
  arch/x86/chunkset_sse.c
Due: zlib-ng

Disable LTO in CMake
  CMakeLists.txt
Due: none

Fix a latent issue with chunkmemset
  chunkset_tpl.h
Due: zlib-ng

Added unit test against CVE-2018-25032. Sample input from https://www.openwall.com/lists/oss-security/2022/03/26/1.
  CMakeLists.txt
  test/CVE-2018-25032/test.txt
  test/README.md
Due: tests

Update language around ABI compatibility with zlib. #1081
  PORTING.md
Due: none

Use HAVE instead of HAS for variable name for consistency.
  cmake/detect-sanitizer.cmake
Due: none

Remove unistd.h include from gzguts.h which is already included from zconf.h via zlib.h.
  gzguts.h
Due: zlib-ng

Include zutil.h for definition of DEF_MEM_LEVEL.
  test/minideflate.c
Due: tests

Test CVE-2018-25032 against the default level and levels 1 and 2.
  CMakeLists.txt
Due: none

Add test for issue #1235. * Test both compressBound() and deflateBound() as those share same code fragment.
  test/Makefile.in
  test/gh1235.c
Due: tests

Append extension to output file path based on window_bits when compressing and remove extension from output file path when decompressing.
  test/minideflate.c
Due: tests

Path conditions:
  zlib-ng: any of: arch/, adler32.c, adler32_p.h, chunkset.c, chunkset_tpl.h, compare258.c, compress.c, crc32.c, crc32_comb.c, crc32_comb_tbl.h, crc32_p.h, crc32_tbl.h, deflate.c, deflate_fast.c, deflate.h, deflate_medium.c, deflate_p.h, deflate_quick.c, deflate_slow.c, fallback_builtins.h, functable.c, functable.h, gzguts.h, gzlib.c, gzread.c, gzwrite.c, infback.c, inffast.c, inffast.h, inffixed_tbl.h, inflate.c, inflate.h, inflate_p.h, inftrees.c, inftrees.h, insert_string.c, insert_string_tpl.h, match_tpl.h, trees.c, trees_emit.h, trees.h, trees_tbl.h, uncompr.c, zbuild.h, zconf.h, zconf-ng.h, zendian.h, zlib.h, zlib-ng.h, zutil.c, zutil.h, zutil_p.h, but not: usr/include/.*, /usr/include/.*, /build/usr/include/.*, usr/lib/.*, /usr/lib/.*, /build/usr/lib/.*, usr/lib64/.*, /usr/lib64/.*, /build/usr/lib64/.*
  tests: any of: test/, tools/, but not: usr/include/.*, /usr/include/.*, /build/usr/include/.*, usr/lib/.*, /usr/lib/.*, /build/usr/lib/.*, usr/lib64/.*, /usr/lib64/.*, /build/usr/lib64/.*
