Repository zlib-ng/zlib-ng: changes, and which Codecov flags are due for each by the changed paths.
All: zlib-ng, tests

crc32_acle.c: make logic more consistent
  arch/arm/crc32_acle.c
Due: zlib-ng

IBM zSystems DFLTCC: Fix updating strm.adler
  arch/s390/dfltcc_deflate.c
  arch/s390/dfltcc_inflate.c
Due: zlib-ng

Add CVE-2022-37434 test.
  test/infcover.c
Due: tests

Fix inconsistent feature enablements in cmake and configure
  CMakeLists.txt
  configure
Due: none

Don't use unaligned access for memcpy instructions due to GCC 11 assuming it is aligned in certain instances.
  arch/arm/chunkset_neon.c
  chunkset.c
  deflate.h
Due: zlib-ng

Fix UBSAN's cry afoul
  arch/x86/chunkset_avx.c
  arch/x86/chunkset_sse.c
Due: zlib-ng

Fix bug in block type selection when Z_FIXED used.
  trees.c
Due: zlib-ng

The names CMAKE_INTERPROCEDURAL_OPTIMIZATION_* must be uppercase.
  CMakeLists.txt
Due: none

Adjust thread counts for compiles and tests to avoid under-utilization and congestion. The free Github Actions VMs have 2 cores, the dedicated s390x VM has 4 cores.
  .github/workflows/analyze.yml
  .github/workflows/cmake.yml
  .github/workflows/libpng.yml
  .github/workflows/pigz.yml
  .github/workflows/release.yml
  test/pkgcheck.sh
Due: tests

cmake: respect custom `RC` flags and delete `GCC_WINDRES`
  CMakeLists.txt
  configure
  win32/zlib-ng1.rc
  win32/zlib1.rc
Due: none

Don't try to link gz* objects twice.
  Makefile.in
Due: none

Support using aligned_alloc() for memory allocation
  CMakeLists.txt
  configure
  zbuild.h
  zutil_p.h
Due: zlib-ng

Make visibility tests run the same way as the other tests. Fix indentation.
  configure
Due: none

Don't use zlib fork identifier in copyright statement.
  deflate.c
  inftrees.c
Due: zlib-ng

Added unit test against CVE-2018-25032 with default strategy.
  CMakeLists.txt
  test/CVE-2018-25032/default.txt
  test/CVE-2018-25032/fixed.txt
Due: tests

Add test for issue #1235. * Test both compressBound() and deflateBound() as those share same code fragment.
  test/Makefile.in
  test/gh1235.c
Due: tests

Updated help usage with correct values for window_bits.
  test/minideflate.c
Due: tests

Test CVE-2018-25032 against the default level and levels 1 and 2.
  CMakeLists.txt
Due: none

Add public compile definition for zlib-ng API so that other projects that use CMake and link against the zlib project can easily determine whether or not to include "zlib-ng.h" or "zlib.h".
  CMakeLists.txt
Due: none

remove UNROLL_MORE as suggested
  arch/arm/crc32_acle.c
Due: zlib-ng

Update abicheck
  test/abicheck.sh
Due: tests

Add one extra byte to return value of compressBound and deflateBound for small lengths due to shift returning 0. * Treat 0 byte input as 1 byte input when calculating compressBound and deflateBound
  compress.c
  deflate.c
Due: zlib-ng

Remove gz_intmax implementation, since INT_MAX is always available in modern C implementations.
  gzguts.h
  gzlib.c
  zlib-ng.map
  zlib.map
Due: zlib-ng

Use large default buffer size for minideflate to match minigzip use of GZBUFSIZE.
  test/minideflate.c
Due: tests

Switch to the standard CMake module GNUInstallDirs
  CMakeLists.txt
  cmake/detect-install-dirs.cmake
  test/CMakeLists.txt
  test/pkgcheck.sh
Due: tests

Fix .pc file paths
  CMakeLists.txt
Due: none

Create FUNDING.yml
  .github/FUNDING.yml
Due: none

Fix regex for visibility attribute tests
  CMakeLists.txt
Due: none

Add member to cpu_features struct if empty
  cpu_features.h
Due: none

* Init porting for riscv * Add module setup and boostrap script * Add third_pary submodule for user-mode qemu
  .gitmodules
  README_RISCV.md
  cmake/toolchain-riscv.cmake
  script/riscv/bootstrap.sh
  script/riscv/qemu_run.sh
  script/riscv/setting.sh
  script/setup_modules.sh
  script/update_submodules.sh
  third_party/README.md
Due: none

Remove unused PREFETCH macros
  zbuild.h
Due: zlib-ng

Add fallback function for '_mm512_set_epi8' intrinsic
  fallback_builtins.h
Due: zlib-ng

Enable using AVX512 intrinsics with GCC <9
  cmake/detect-intrinsics.cmake
  configure
Due: none

Enable use of _mm_shuffle_epi8 on machines without SSE4.1
  CMakeLists.txt
  README.md
  arch/arm/chunkset_neon.c
  arch/generic/chunk_permute_table.h
  arch/x86/Makefile.in
  arch/x86/chunkset_avx.c
  arch/x86/chunkset_ssse3.c
  arch/x86/x86_features.c
  arch/x86/x86_features.h
  chunkset_tpl.h
  cmake/detect-intrinsics.cmake
  configure
  cpu_features.h
  functable.c
  win32/Makefile.msc
Due: zlib-ng

Path conditions:
  zlib-ng: any of: arch/, adler32.c, adler32_p.h, chunkset.c, chunkset_tpl.h, compare258.c, compress.c, crc32.c, crc32_comb.c, crc32_comb_tbl.h, crc32_p.h, crc32_tbl.h, deflate.c, deflate_fast.c, deflate.h, deflate_medium.c, deflate_p.h, deflate_quick.c, deflate_slow.c, fallback_builtins.h, functable.c, functable.h, gzguts.h, gzlib.c, gzread.c, gzwrite.c, infback.c, inffast.c, inffast.h, inffixed_tbl.h, inflate.c, inflate.h, inflate_p.h, inftrees.c, inftrees.h, insert_string.c, insert_string_tpl.h, match_tpl.h, trees.c, trees_emit.h, trees.h, trees_tbl.h, uncompr.c, zbuild.h, zconf.h, zconf-ng.h, zendian.h, zlib.h, zlib-ng.h, zutil.c, zutil.h, zutil_p.h, but not: usr/include/.*, /usr/include/.*, /build/usr/include/.*, usr/lib/.*, /usr/lib/.*, /build/usr/lib/.*, usr/lib64/.*, /usr/lib64/.*, /build/usr/lib64/.*
  tests: any of: test/, tools/, but not: usr/include/.*, /usr/include/.*, /build/usr/include/.*, usr/lib/.*, /usr/lib/.*, /build/usr/lib/.*, usr/lib64/.*, /usr/lib64/.*, /build/usr/lib64/.*
