Repository zlib-ng/zlib-ng: changes, and which Codecov flags are due for each by the changed paths.
All: zlib-ng, tests

codecov.yml:

codecov:
  max_report_age: 72h
  
coverage:
  status:
    project:
      default:
        threshold: 0.07%
      zlib-ng:
        target: 80%
        flags:
          - zlib-ng
      tests:
        target: 50%
        flags:
          - tests
        
comment:
    require_head: no     # default yes
    require_base: no     # default yes

flags:
  zlib-ng:
    paths:
      - arch/
      - adler32.c
      - adler32_p.h
      - chunkset.c
      - chunkset_tpl.h
      - compare258.c
      - compress.c
      - crc32.c
      - crc32_comb.c
      - crc32_comb_tbl.h
      - crc32_p.h
      - crc32_tbl.h
      - deflate.c
      - deflate_fast.c
      - deflate.h
      - deflate_medium.c
      - deflate_p.h
      - deflate_quick.c
      - deflate_slow.c
      - fallback_builtins.h
      - functable.c
      - functable.h
      - gzguts.h
      - gzlib.c
      - gzread.c
      - gzwrite.c
      - infback.c
      - inffast.c
      - inffast.h
      - inffixed_tbl.h
      - inflate.c
      - inflate.h
      - inflate_p.h
      - inftrees.c
      - inftrees.h
      - insert_string.c
      - insert_string_tpl.h
      - match_tpl.h
      - trees.c
      - trees_emit.h
      - trees.h
      - trees_tbl.h
      - uncompr.c
      - zbuild.h
      - zconf.h
      - zconf-ng.h
      - zendian.h
      - zlib.h
      - zlib-ng.h
      - zutil.c
      - zutil.h
      - zutil_p.h
  tests:
    paths:
      - test/
      - tools/
  
fixes:
  - "/home/runner/work/zlib-ng/zlib-ng/::"
  - "/home/runner/work/zlib-ng/build/::"
  - "/build/home/runner/work/zlib-ng/zlib-ng/::"
  - "/build/home/runner/work/zlib-ng/build/::"

ignore:
  - "usr/include/.*"
  - "/usr/include/.*"
  - "/build/usr/include/.*"
  - "usr/lib/.*"
  - "/usr/lib/.*"
  - "/build/usr/lib/.*"
  - "usr/lib64/.*"
  - "/usr/lib64/.*"
  - "/build/usr/lib64/.*"

Improve the swizzle of the memory magazine fed in a chunk copy for neon
  arch/arm/chunkset_neon.c
  arch/generic/chunk_permute_table.h
  arch/x86/chunkset_avx.c
  arch/x86/chunkset_sse41.c
Due: zlib-ng

Added Intel's Fast CRC Computation for Generic Polynomials Using PCLMULQDQ Instruction paper to docs folder.
  arch/x86/crc32_fold_pclmulqdq.c
  arch/x86/crc32_fold_pclmulqdq_tpl.h
  doc/crc-pclmulqdq.pdf
Due: zlib-ng

Fix MSVC possible loss of data warning in crc32_pclmulqdq by converting len types to use uint64_t.
  arch/s390/crc32-vx.c
  arch/x86/crc32_fold_pclmulqdq.c
  arch/x86/crc32_fold_pclmulqdq_tpl.h
  arch/x86/crc32_fold_vpclmulqdq_tpl.h
  cpu_features.h
  crc32_fold.c
  crc32_fold.h
  functable.c
  functable.h
Due: zlib-ng

Use uint64_t instead of size_t for len in adler32 to be consistent with crc32.
  adler32.c
  adler32_fold.c
  adler32_fold.h
  adler32_p.h
  arch/arm/adler32_neon.c
  arch/power/adler32_power8.c
  arch/power/adler32_vmx.c
  arch/x86/adler32_avx2_tpl.h
  arch/x86/adler32_avx512_tpl.h
  arch/x86/adler32_avx512_vnni.c
  arch/x86/adler32_sse42.c
  arch/x86/adler32_ssse3.c
  cpu_features.h
  functable.c
  functable.h
  test/benchmarks/benchmark_adler32_copy.cc
Due: zlib-ng, tests

Used fixed width uint8_t for crc32 and adler32 function declarations.
  adler32.c
  adler32_p.h
  arch/arm/adler32_neon.c
  arch/arm/crc32_acle.c
  arch/power/adler32_power8.c
  arch/power/adler32_vmx.c
  arch/s390/crc32-vx.c
  arch/x86/adler32_ssse3.c
  arch/x86/crc32_fold_pclmulqdq.c
  cpu_features.h
  crc32_braid.c
  crc32_braid_p.h
  functable.c
  functable.h
  test/benchmarks/benchmark_adler32_copy.cc
Due: zlib-ng, tests

Zlib patch: prevent uninitialized use of state->check
  inflate.c
Due: zlib-ng

Fixed signed warnings in GZ unit tests.
  test/test_gzio.cc
Due: tests

Remove unused chunkcopy_safe function prototypes.
  arch/arm/chunkset_neon.c
  arch/power/chunkset_power8.c
  arch/x86/chunkset_avx.c
  arch/x86/chunkset_sse2.c
  chunkset.c
  cpu_features.h
Due: zlib-ng

Fixed inflate size conversion warning in chunkcopy_safe.
  inflate_p.h
Due: zlib-ng

Fixed conversion warnings for wsize in slide_hash_c.
  slide_hash.c
Due: none

zlib 1.2.12
  README.md
  crc32_braid.c
  crc32_braid_comb.c
  deflate.c
  gzguts.h
  gzlib.c
  gzread.c.in
  gzwrite.c
  infback.c
  inflate.c
  inflate.h
  inftrees.c
  inftrees.h
  tools/makecrct.c
  trees.c
  zlib.h.in
  zutil.h
Due: zlib-ng, tests

Handle invalid windowBits in init functions
  deflate.c
  inflate.c
Due: zlib-ng

Extend GZIP conditional
  deflate.c
  deflate.h
Due: zlib-ng

IBM Z DFLTCC: Test with MSan
  .github/workflows/cmake.yml
  arch/s390/dfltcc_detail.h
  arch/s390/self-hosted-builder/actions-runner.Dockerfile
Due: zlib-ng

IBM Z DFLTCC: Simplify includes in dfltcc_detail.h
  arch/s390/dfltcc_detail.h
Due: zlib-ng

Add public compile definition for zlib-ng API so that other projects that use CMake and link against the zlib project can easily determine whether or not to include "zlib-ng.h" or "zlib.h".
  CMakeLists.txt
Due: none

In compatibility mode, always define z_crc_t as uint32_t for backwards compatibility.
  configure
  zconf-ng.h.in
  zconf.h.in
  zlib-ng.h.in
  zlib.h.in
Due: zlib-ng

Fix typo
  arch/x86/chunkset_sse41.c
Due: zlib-ng

Improve dual link test to compile against zlib. Previously we were only linking against it.
  .github/workflows/cmake.yml
  CMakeLists.txt
  test/CMakeLists.txt
  test/test_compress_dual.cc
Due: tests

Added workflow to test linking zlib and zlib-ng compat against native zlib-ng.
  .github/workflows/link.yml
Due: none

Add a test for concurrently modifying deflate() input
  test/CMakeLists.txt
  test/test_deflate_concurrency.cc
Due: tests

IBM Z DFLTCC: Buffer deflate() input data
  arch/s390/dfltcc_deflate.c
  arch/s390/dfltcc_detail.h
  test/test_deflate_concurrency.cc
Due: zlib-ng, tests

Print gtest_zlib test results using color.
  .github/workflows/cmake.yml
Due: none
