Repository zlib-ng/zlib-ng: changes, and which Codecov flags are due for each by the changed paths.
All: zlib-ng, tests

codecov.yml:

codecov:
  max_report_age: 72h
  
coverage:
  status:
    project:
      default:
        threshold: 0.07%
      zlib-ng:
        target: 80%
        flags:
          - zlib-ng
      tests:
        target: 50%
        flags:
          - tests
        
comment:
    require_head: no     # default yes
    require_base: no     # default yes

flags:
  zlib-ng:
    paths:
      - arch/
      - adler32.c
      - adler32_p.h
      - chunkset.c
      - chunkset_tpl.h
      - compare258.c
      - compress.c
      - crc32.c
      - crc32_comb.c
      - crc32_comb_tbl.h
      - crc32_p.h
      - crc32_tbl.h
      - deflate.c
      - deflate_fast.c
      - deflate.h
      - deflate_medium.c
      - deflate_p.h
      - deflate_quick.c
      - deflate_slow.c
      - fallback_builtins.h
      - functable.c
      - functable.h
      - gzguts.h
      - gzlib.c
      - gzread.c
      - gzwrite.c
      - infback.c
      - inffast.c
      - inffast.h
      - inffixed_tbl.h
      - inflate.c
      - inflate.h
      - inflate_p.h
      - inftrees.c
      - inftrees.h
      - insert_string.c
      - insert_string_tpl.h
      - match_tpl.h
      - trees.c
      - trees_emit.h
      - trees.h
      - trees_tbl.h
      - uncompr.c
      - zbuild.h
      - zconf.h
      - zconf-ng.h
      - zendian.h
      - zlib.h
      - zlib-ng.h
      - zutil.c
      - zutil.h
      - zutil_p.h
  tests:
    paths:
      - test/
      - tools/
  
fixes:
  - "/home/runner/work/zlib-ng/zlib-ng/::"
  - "/home/runner/work/zlib-ng/build/::"
  - "/build/home/runner/work/zlib-ng/zlib-ng/::"
  - "/build/home/runner/work/zlib-ng/build/::"

ignore:
  - "usr/include/.*"
  - "/usr/include/.*"
  - "/build/usr/include/.*"
  - "usr/lib/.*"
  - "/usr/lib/.*"
  - "/build/usr/lib/.*"
  - "usr/lib64/.*"
  - "/usr/lib64/.*"
  - "/build/usr/lib64/.*"

Added inlined AVX512 adler checksum + copy
  adler32_fold.c
  adler32_fold.h
  arch/x86/adler32_avx2.c
  arch/x86/adler32_avx2_tpl.h
  arch/x86/adler32_avx512.c
  arch/x86/adler32_avx512_tpl.h
  arch/x86/adler32_sse42.c
  arch/x86/adler32_sse42_tpl.h
  cpu_features.h
  deflate.c
  deflate.h
  functable.c
  functable.h
  inflate.c
  inflate.h
  win32/Makefile.msc
Due: zlib-ng

Improved chunkset substantially where it's heavily used
  CMakeLists.txt
  arch/x86/Makefile.in
  arch/x86/chunk_permute_table.h
  arch/x86/chunkset_avx.c
  arch/x86/chunkset_sse41.c
  chunkset_tpl.h
  configure
  cpu_features.h
  functable.c
  inflate_p.h
Due: zlib-ng

Remove extra CMake messages from ARM toolchains.
  cmake/toolchain-aarch64.cmake
  cmake/toolchain-arm.cmake
  cmake/toolchain-armhf.cmake
Due: none

Fixed incorrect case for __clang__ preprocessor macro in zbuild.h.
  zbuild.h
Due: zlib-ng

Fixed issue #1264: Use fallback for _mm256_zextsi128_si256 on Xcode < 9.3
  fallback_builtins.h
Due: zlib-ng

Make directory for output files.
  cmake/run-and-compare.cmake
Due: none

Adding avx512_vnni inline + copy elision
  adler32_fold.c
  adler32_fold.h
  adler32_p.h
  arch/x86/adler32_avx2.c
  arch/x86/adler32_avx2_p.h
  arch/x86/adler32_avx2_tpl.h
  arch/x86/adler32_avx512.c
  arch/x86/adler32_avx512_tpl.h
  arch/x86/adler32_avx512_vnni.c
  arch/x86/adler32_sse42.c
  arch/x86/adler32_ssse3_tpl.h
  cpu_features.h
  deflate.c
  deflate.h
  functable.c
  inflate.c
  inflate.h
  test/benchmarks/CMakeLists.txt
  test/benchmarks/benchmark_adler32_copy.cc
  win32/Makefile.msc
Due: zlib-ng, tests

Remove references to TLS code
  functable.c
  functable.h
  zbuild.h
Due: zlib-ng

Adding an SSE42 optimized copy + adler checksum implementation
  CMakeLists.txt
  adler32_fold.h
  adler32_p.h
  arch/x86/Makefile.in
  arch/x86/adler32_sse42.c
  arch/x86/adler32_sse42_tpl.h
  arch/x86/adler32_ssse3_p.h
  arch/x86/adler32_ssse3_tpl.h
  configure
  cpu_features.h
  deflate.c
  deflate.h
  functable.c
  inflate.c
  win32/Makefile.msc
Due: zlib-ng

Add AVX2 inline copy + adler implementation
  arch/x86/adler32_avx2.c
  arch/x86/adler32_avx2_p.h
  arch/x86/adler32_avx2_tpl.h
  cpu_features.h
  functable.c
Due: zlib-ng

Create adler32_fold_c* functions
  CMakeLists.txt
  Makefile.in
  adler32_fold.c
  adler32_fold.h
  functable.c
  functable.h
  inflate.c
  inflate.h
  win32/Makefile.a64
  win32/Makefile.arm
  win32/Makefile.msc
Due: zlib-ng

Correct comment for x2nmodp.
  crc32_braid_comb_p.h
Due: none

Define W = 8 on powerpc64 for braided crc32 generation.
  crc32_braid_p.h
Due: none

Allow external gtest
  test/CMakeLists.txt
Due: tests

CMakeLists.txt: fix version in zlib.pc when building statically
  CMakeLists.txt
Due: none

[ARM] We need to include NEON headers when testing for -mfpu=neon. * If -mfpu is already specified in C_FLAGS, it can disable NEON support.
  cmake/detect-intrinsics.cmake
  configure
Due: none

Simplify version and struct size checking, and ensure we do it the same way everywhere.
  deflate.c
  infback.c
  inflate.c
  zutil.h
Due: zlib-ng

Remove zng_gzgetc_ function from zlib-ng native API. It exists in zlib for backwards compatibility, but has never been documented/advertised for use in zlib-ngs native API.
  gzread.c.in
  zlib-ng.h.in
  zlib-ng.map
Due: zlib-ng

Simplify zlib-ng native API by removing version and struct size checks. This should be backwards compatible with applications compiled for 2.0.x.
  deflate.c
  infback.c
  inflate.c
  test/infcover.c
  win32/zlib-ng.def.in
  zconf-ng.h.in
  zconf.h.in
  zlib-ng.h.in
  zlib-ng.map
Due: zlib-ng, tests

Move crc32 fold functions into templates. Don't store xmm_crc_part between runs because it is automatically folded into the checksum in partial_fold.
  arch/x86/crc32_fold_pclmulqdq.c
  arch/x86/crc32_fold_pclmulqdq_tpl.h
  arch/x86/crc32_fold_vpclmulqdq.c
  arch/x86/crc32_fold_vpclmulqdq_tpl.h
  cpu_features.h
  crc32_fold.h
  functable.c
Due: zlib-ng

Upload abi files when pkgcheck failure occurs.
  .github/workflows/pkgcheck.yml
Due: none

abicheck.sh: update reference versions.
  test/abi/zlib-ng-843c16c87afd53a20bf915661012b02acdd30281-x86_64-pc-linux-gnu.abi
  test/abi/zlib-v1.2.12-x86_64-pc-linux-gnu.abi
  test/abicheck.sh
Due: tests
