Repository zlib-ng/zlib-ng: changes, and which Codecov flags are due for each by the changed paths.
All: zlib-ng, tests

Fixed building tests when -DWITH_GZFILEOP=OFF
  test/CMakeLists.txt
Due: tests

abicheck.sh: update reference versions
  test/abi/zlib-ng-2.0.0-x86_64-pc-linux-gnu.abi
  test/abi/zlib-v1.2.12-x86_64-pc-linux-gnu.abi
  test/abicheck.sh
Due: tests

Fixed missing crc32_combine exports for zlib 1.2.12.
  win32/zlib.def.in
  win32/zlibcompat.def.in
  zlib_name_mangling-ng.h.in
  zlib_name_mangling.h.in
Due: none

Move fuzzer cmake into fuzz directory.
  CMakeLists.txt
  test/fuzz/CMakeLists.txt
Due: tests

Added unit test against CVE-2018-25032. Sample input from https://www.openwall.com/lists/oss-security/2022/03/26/1.
  CMakeLists.txt
  test/CVE-2018-25032/test.txt
  test/README.md
Due: tests

Added unit test against CVE-2018-25032 with default strategy.
  CMakeLists.txt
  test/CVE-2018-25032/default.txt
  test/CVE-2018-25032/fixed.txt
Due: tests

Added missing -F argument for Z_FIXED strategy in minideflate.
  test/minideflate.c
Due: tests

Test CVE-2018-25032 against the default level and levels 1 and 2.
  CMakeLists.txt
Due: none

Remove support for building fuzzers from configure.
  Makefile.in
  README.md
  configure
  test/Makefile.in
Due: tests

Grammar fixes
  PORTING.md
  README.md
Due: none

Remove sanitizer support from configure since it is better supported in cmake. Anybody who still needs it can use cmake or manually set CFLAGS and LDFLAGS.
  .github/workflows/configure.yml
  README.md
  configure
Due: none

Add fallthrough comments for gcc.
  infback.c
  inflate.c
Due: zlib-ng

abicheck.sh: implement --refresh-if option as documented.
  .github/workflows/pkgcheck.yml
  test/abicheck.md
  test/abicheck.sh
Due: tests

Use latest stable version of google test instead of unstable main branch.
  test/CMakeLists.txt
Due: tests

abicheck.sh: zlib-ng is a bash script, not a sh script, don't hardcode shell when running configure
  test/abicheck.sh
Due: tests

Disable LTO in CMake
  CMakeLists.txt
Due: none

abicheck.sh: don't export CHOST if it wasn't already exported.
  test/abicheck.sh
Due: tests

Add one extra byte to return value of compressBound and deflateBound for small lengths due to shift returning 0. * Treat 0 byte input as 1 byte input when calculating compressBound and deflateBound
  compress.c
  deflate.c
Due: zlib-ng

Fix the custom PNG image based benchmark
  test/benchmarks/benchmark_png_shared.h
Due: tests

Add test for issue #1235. * Test both compressBound() and deflateBound() as those share same code fragment.
  test/Makefile.in
  test/gh1235.c
Due: tests

Mimic minigzip behavior and only unlink files if not using -c copy out argument.
  test/minideflate.c
Due: tests

Fixed failed tools tests when source directory is read-only.
  CMakeLists.txt
  cmake/run-and-compare.cmake
Due: none

Fixed off-by-one error when benchmarking compare256 resulting in heap-buffer-overflow.
  test/benchmarks/benchmark_compare256.cc
Due: tests

Remove CVE testing from configure script.
  .gitattributes
  test/Makefile.in
  test/testCVEinputs.sh
Due: tests

Rename memory alignment functions because they handle custom allocator which is the first parameter so having calloc and cfree (c = custom) is confusing in the name.
  test/test_aligned_alloc.cc
  zutil.c
  zutil.h
Due: zlib-ng, tests

Use _msan_unposion to unposion end of window for when it needs to read the past < chunksize bytes in the window. See #1245.
  inflate.c
  zbuild.h
Due: zlib-ng

arch/arm/arm_features.c: fix uclibc build
  arch/arm/arm_features.c
Due: zlib-ng

Don't try to build tests or benchmarks if cmake is too old for them.
  CMakeLists.txt
Due: none

Path conditions:
  zlib-ng: any of: arch/, adler32.c, adler32_p.h, chunkset.c, chunkset_tpl.h, compare258.c, compress.c, crc32.c, crc32_comb.c, crc32_comb_tbl.h, crc32_p.h, crc32_tbl.h, deflate.c, deflate_fast.c, deflate.h, deflate_medium.c, deflate_p.h, deflate_quick.c, deflate_slow.c, fallback_builtins.h, functable.c, functable.h, gzguts.h, gzlib.c, gzread.c, gzwrite.c, infback.c, inffast.c, inffast.h, inffixed_tbl.h, inflate.c, inflate.h, inflate_p.h, inftrees.c, inftrees.h, insert_string.c, insert_string_tpl.h, match_tpl.h, trees.c, trees_emit.h, trees.h, trees_tbl.h, uncompr.c, zbuild.h, zconf.h, zconf-ng.h, zendian.h, zlib.h, zlib-ng.h, zutil.c, zutil.h, zutil_p.h, but not: usr/include/.*, /usr/include/.*, /build/usr/include/.*, usr/lib/.*, /usr/lib/.*, /build/usr/lib/.*, usr/lib64/.*, /usr/lib64/.*, /build/usr/lib64/.*
  tests: any of: test/, tools/, but not: usr/include/.*, /usr/include/.*, /build/usr/include/.*, usr/lib/.*, /usr/lib/.*, /build/usr/lib/.*, usr/lib64/.*, /usr/lib64/.*, /build/usr/lib64/.*
