Repository zlib-ng/zlib-ng: changes, and which Codecov flags are due for each by the changed paths.
All: zlib-ng, tests

codecov.yml:

codecov:
  max_report_age: 72h
  
coverage:
  status:
    project:
      default:
        threshold: 0.07%
      zlib-ng:
        target: 80%
        flags:
          - zlib-ng
      tests:
        target: 50%
        flags:
          - tests
        
comment:
    require_head: no     # default yes
    require_base: no     # default yes

flags:
  zlib-ng:
    paths:
      - arch/
      - adler32.c
      - adler32_p.h
      - chunkset.c
      - chunkset_tpl.h
      - compare258.c
      - compress.c
      - crc32.c
      - crc32_comb.c
      - crc32_comb_tbl.h
      - crc32_p.h
      - crc32_tbl.h
      - deflate.c
      - deflate_fast.c
      - deflate.h
      - deflate_medium.c
      - deflate_p.h
      - deflate_quick.c
      - deflate_slow.c
      - fallback_builtins.h
      - functable.c
      - functable.h
      - gzguts.h
      - gzlib.c
      - gzread.c
      - gzwrite.c
      - infback.c
      - inffast.c
      - inffast.h
      - inffixed_tbl.h
      - inflate.c
      - inflate.h
      - inflate_p.h
      - inftrees.c
      - inftrees.h
      - insert_string.c
      - insert_string_tpl.h
      - match_tpl.h
      - trees.c
      - trees_emit.h
      - trees.h
      - trees_tbl.h
      - uncompr.c
      - zbuild.h
      - zconf.h
      - zconf-ng.h
      - zendian.h
      - zlib.h
      - zlib-ng.h
      - zutil.c
      - zutil.h
      - zutil_p.h
  tests:
    paths:
      - test/
      - tools/
  
fixes:
  - "/home/runner/work/zlib-ng/zlib-ng/::"
  - "/home/runner/work/zlib-ng/build/::"
  - "/build/home/runner/work/zlib-ng/zlib-ng/::"
  - "/build/home/runner/work/zlib-ng/build/::"

ignore:
  - "usr/include/.*"
  - "/usr/include/.*"
  - "/build/usr/include/.*"
  - "usr/lib/.*"
  - "/usr/lib/.*"
  - "/build/usr/lib/.*"
  - "usr/lib64/.*"
  - "/usr/lib64/.*"
  - "/build/usr/lib64/.*"

Fix formatting for crc32_chorba_sse2.
  arch/x86/crc32_chorba_sse2.c
Due: zlib-ng

Add NEXT_ROUND macro in crc32_chorba_c
  arch/generic/crc32_chorba_c.c
Due: zlib-ng

Add ACCUM_ROUND macro to crc32_chorba_sse2
  arch/x86/crc32_chorba_sse2.c
Due: zlib-ng

Fix formatting in crc32_chorba_c
  arch/generic/crc32_chorba_c.c
Due: zlib-ng

Fix formatting in crc32_chorba_sse41
  arch/x86/crc32_chorba_sse41.c
Due: zlib-ng

Add ACCUM_ROUND macro to crc32_chorba_c
  arch/generic/crc32_chorba_c.c
Due: zlib-ng

Fix building GH1235 test for 32-bit MinGW
  test/gh1235.c
Due: tests

Fix data race on functable reads
  adler32.c
  adler32_fold.c
  crc32_braid.c
  crc32_fold.c
  deflate.c
  deflate_fast.c
  deflate_medium.c
  deflate_quick.c
  deflate_slow.c
  functable.c
  functable.h
  infback.c
  inflate.c
  inflate_p.h
  test/CMakeLists.txt
  test/test_functable_thread_safety.cc
Due: zlib-ng, tests

Add back zng_clz for big-endian and use macro for compare256
  arch/arm/compare256_neon.c
  arch/generic/compare256_c.c
  compare256_rle.h
  fallback_builtins.h
Due: zlib-ng

Add fallback defines to skip generic C code when native intrinsics exist
  CMakeLists.txt
  arch/arm/arm_functions.h
  arch/generic/adler32_c.c
  arch/generic/chunkset_c.c
  arch/generic/compare256_c.c
  arch/generic/crc32_braid_c.c
  arch/generic/crc32_chorba_c.c
  arch/generic/generic_functions.h
  arch/generic/slide_hash_c.c
  arch/loongarch/loongarch_functions.h
  arch/power/power_functions.h
  arch/riscv/riscv_functions.h
  arch/s390/s390_functions.h
  arch/x86/crc32_chorba_sse2.c
  arch/x86/crc32_chorba_sse41.c
  arch/x86/x86_functions.h
  arch_functions.h
  functable.c
  test/benchmarks/benchmark_adler32.cc
  test/benchmarks/benchmark_adler32_copy.cc
  test/benchmarks/benchmark_compare256.cc
  test/benchmarks/benchmark_crc32.cc
  test/benchmarks/benchmark_crc32_copy.cc
  test/benchmarks/benchmark_slidehash.cc
  test/test_adler32.cc
  test/test_adler32_copy.cc
  test/test_compare256.cc
  test/test_crc32.cc
  test/test_crc32_copy.cc
Due: zlib-ng, tests

Fix VPCLMULQDQ CRC32 build with partial AVX-512 baselines
  arch/x86/crc32_pclmulqdq_tpl.h
Due: zlib-ng

Add --benchmark_cooldown flag to mitigate thermal throttling
  test/benchmarks/README.md
  test/benchmarks/benchmark_main.cc
Due: tests

[CI] Build MSVC 2026 C23 with benchmarks.
  .github/workflows/cmake.yml
Due: none

Fix scan_endstr offset in longest_match slow path.
  match_tpl.h
Due: zlib-ng

[CI] Add configure MinGW32/MinGW64 workflows.
  .github/workflows/configure.yml
Due: none

Use __attribute__((constructor)) to initialize the functable
  functable.c
Due: zlib-ng

[CI] Switch CMake workflow to use MSYS2 for MinGW32.
  .github/workflows/cmake.yml
Due: none

CMake: Add 'implicit-conversion' and 'nullability' to sanitizers we attempt to enable with ubsan builds.
  cmake/detect-sanitizer.cmake
Due: none

Fix UBSAN implicit conversion warning in inftrees.c.
  inftrees.c
Due: zlib-ng

Fix UBSAN implicit conversion warning in test/test_shared_ng.h.
  test/test_shared_ng.h
Due: tests

Fix UBSAN implicit conversion warning in arch/s390/crc32_vx.c.
  arch/s390/crc32_vx.c
Due: zlib-ng

Fix UBSAN implicit conversion warning in test/test_deflate_concurrency.cc.
  test/test_deflate_concurrency.cc
Due: tests

Fix UBSAN implicit conversion warning in test/fuzz/fuzzer_example_flush.c.
  test/fuzz/fuzzer_example_flush.c
Due: tests

Remove macro and inline inflate benchmark definition directly
  test/benchmarks/benchmark_inflate.cc
Due: tests

Add small output buffer inflate benchmark #2062
  test/benchmarks/CMakeLists.txt
  test/benchmarks/benchmark_inflate_chunked.cc
Due: tests

Rename longest_match_slow to longest_match_roll
  arch/arm/arm_functions.h
  arch/arm/compare256_neon.c
  arch/generic/compare256_c.c
  arch/generic/generic_functions.h
  arch/loongarch/compare256_lasx.c
  arch/loongarch/compare256_lsx.c
  arch/loongarch/loongarch_functions.h
  arch/power/compare256_power9.c
  arch/power/power_functions.h
  arch/riscv/compare256_rvv.c
  arch/riscv/riscv_functions.h
  arch/x86/compare256_avx2.c
  arch/x86/compare256_avx512.c
  arch/x86/compare256_sse2.c
  arch/x86/x86_functions.h
  deflate_slow.c
  functable.c
  functable.h
  match_tpl.h
Due: zlib-ng

Add early return when prev_length already exceeds lookahead
  match_tpl.h
Due: zlib-ng

Remove dead break_matching label from longest_match
  match_tpl.h
Due: zlib-ng

Simplify safe-mode copy path selection in inflate_fast
  inffast_tpl.h
Due: none

Improve inflate_fast performance for small output buffers
  arch/arm/arm_functions.h
  arch/generic/generic_functions.h
  arch/loongarch/loongarch_functions.h
  arch/power/power_functions.h
  arch/riscv/riscv_functions.h
  arch/x86/x86_functions.h
  functable.c
  functable.h
  infback.c
  inffast_tpl.h
  inflate.c
  inflate_p.h
Due: zlib-ng

Add inflateBack test for safe mode bailout MATCH state handler
  test/CMakeLists.txt
  test/test_inflate_back.cc
Due: tests

Add /delta workflow for per-PR binary size comparison
  .github/workflows/delta.yml
Due: none

Add corpora benchmarks for deflate and inflate
  test/benchmarks/CMakeLists.txt
  test/benchmarks/benchmark_corpora.cc
Due: tests

Add compressed and ratio fields to deflate/corpora benchmarks
  test/benchmarks/benchmark_corpora.cc
  test/benchmarks/benchmark_deflate.cc
Due: tests

Move attribute and builtin detection from build system to C preprocessor
  CMakeLists.txt
  configure
  gzguts.h
  zbuild.h
Due: zlib-ng

fixes WITH_CRC32_CHORBA=OFF
  functable.c
Due: zlib-ng

Use zng_memread_* and zng_memwrite_* in more places
  adler32_p.h
  arch/arm/crc32_armv8_pmull_eor3.c
  arch/shared/crc32_hw_common_tpl.h
  arch/shared/crc32_hw_copy_impl_tpl.h
  crc32_p.h
  inflate_p.h
  zmemory.h
Due: zlib-ng

Fix MSVC v142 miscompile of _mm_cvtsi64_si128 polyfill on 32-bit
  arch/x86/x86_intrins.h
Due: zlib-ng

Remove CMake warning about MSVC Chorba bug
  CMakeLists.txt
Due: none

Fix typo in No Chorba CMake option name in CI
  .github/workflows/cmake.yml
Due: none
