Repository zlib-ng/zlib-ng: changes, and which Codecov flags are due for each by the changed paths.
All: zlib-ng, tests

codecov.yml:

codecov:
  max_report_age: 72h
  
coverage:
  status:
    project:
      default:
        threshold: 0.07%
      zlib-ng:
        target: 80%
        flags:
          - zlib-ng
      tests:
        target: 50%
        flags:
          - tests
        
comment:
    require_head: no     # default yes
    require_base: no     # default yes

flags:
  zlib-ng:
    paths:
      - arch/
      - adler32.c
      - adler32_p.h
      - chunkset.c
      - chunkset_tpl.h
      - compare258.c
      - compress.c
      - crc32.c
      - crc32_comb.c
      - crc32_comb_tbl.h
      - crc32_p.h
      - crc32_tbl.h
      - deflate.c
      - deflate_fast.c
      - deflate.h
      - deflate_medium.c
      - deflate_p.h
      - deflate_quick.c
      - deflate_slow.c
      - fallback_builtins.h
      - functable.c
      - functable.h
      - gzguts.h
      - gzlib.c
      - gzread.c
      - gzwrite.c
      - infback.c
      - inffast.c
      - inffast.h
      - inffixed_tbl.h
      - inflate.c
      - inflate.h
      - inflate_p.h
      - inftrees.c
      - inftrees.h
      - insert_string.c
      - insert_string_tpl.h
      - match_tpl.h
      - trees.c
      - trees_emit.h
      - trees.h
      - trees_tbl.h
      - uncompr.c
      - zbuild.h
      - zconf.h
      - zconf-ng.h
      - zendian.h
      - zlib.h
      - zlib-ng.h
      - zutil.c
      - zutil.h
      - zutil_p.h
  tests:
    paths:
      - test/
      - tools/
  
fixes:
  - "/home/runner/work/zlib-ng/zlib-ng/::"
  - "/home/runner/work/zlib-ng/build/::"
  - "/build/home/runner/work/zlib-ng/zlib-ng/::"
  - "/build/home/runner/work/zlib-ng/build/::"

ignore:
  - "usr/include/.*"
  - "/usr/include/.*"
  - "/build/usr/include/.*"
  - "usr/lib/.*"
  - "/usr/lib/.*"
  - "/build/usr/lib/.*"
  - "usr/lib64/.*"
  - "/usr/lib64/.*"
  - "/build/usr/lib64/.*"

riscv: chunkset_rvv: fix SIGSEGV in CHUNKCOPY
  arch/riscv/chunkset_rvv.c
Due: zlib-ng

CI: Preinstall packages needed for testing and benchmark. Avoids having to compile gtest and google benchmark in every CI job.
  .github/workflows/cmake.yml
Due: none

Fix pointer type mismatch.
  test/benchmarks/benchmark_uncompress.cc
Due: tests

Pass POSIX_C_SOURCE for std::alligned_alloc try_compile checks
  CMakeLists.txt
  configure
Due: none

Remove deprecated ubuntu-20.04 image from CI.
  .github/workflows/cmake.yml
  .github/workflows/configure.yml
Due: none

Fix SPARC64 packages for Ubuntu 24.
  .github/workflows/cmake.yml
Due: none

Fix PPC64LE CI run when targeting power8.
  .github/workflows/cmake.yml
Due: none

Remove NMake build projects
  .github/workflows/nmake.yml
  README.md
  win32/Makefile.a64
  win32/Makefile.arm
  win32/Makefile.msc
  win32/depcheck.cpp
  win32/replace.vbs
Due: none

[FreeBSD] Define _XOPEN_SOURCE for gtest_zlib * Without defining _XOPEN_SOURCE as 700, isascii() is not available on FreeBSD 14.
  test/CMakeLists.txt
Due: tests

Fix CXXFLAGS when coverage enabled.
  CMakeLists.txt
Due: none

Speed up benchmarks when run as part of gtest as it does not check data for correctness, making it only run each benchmark for 1 iteration, instead of thousands or hundreds of thousands.
  .github/workflows/cmake.yml
  test/benchmarks/CMakeLists.txt
  test/benchmarks/benchmark_slidehash.cc
Due: tests

Add AVX512 version of compare256
  CMakeLists.txt
  arch/x86/Makefile.in
  arch/x86/compare256_avx512.c
  arch/x86/x86_functions.h
  configure
  functable.c
  test/benchmarks/benchmark_compare256.cc
  test/test_compare256.cc
Due: zlib-ng, tests

Remove late enable_language calls.
  cmake/detect-arch.cmake
  test/CMakeLists.txt
  test/benchmarks/CMakeLists.txt
  test/fuzz/CMakeLists.txt
Due: tests

SSE4.1 optimized chorba
  CMakeLists.txt
  arch/x86/Makefile.in
  arch/x86/chorba_sse41.c
  arch/x86/x86_features.c
  arch/x86/x86_features.h
  arch/x86/x86_functions.h
  cmake/detect-intrinsics.cmake
  configure
  functable.c
  test/benchmarks/benchmark_crc32.cc
  test/test_crc32.cc
Due: zlib-ng, tests

port: Use __cpuid only, when available.
  CMakeLists.txt
  arch/x86/x86_features.c
  configure
Due: zlib-ng

riscv: add crc32 optimization using zbc extension
  CMakeLists.txt
  arch/riscv/crc32_zbc.c
  arch/riscv/riscv_features.c
  arch/riscv/riscv_features.h
  arch/riscv/riscv_functions.h
  cmake/detect-intrinsics.cmake
  functable.c
  test/benchmarks/benchmark_crc32.cc
  test/test_crc32.cc
Due: zlib-ng, tests

Match function declaration for chorba_small_nondestructive_sse2
  arch/x86/chorba_sse41.c
Due: zlib-ng

Remove unnecessary extern
  arch/x86/chorba_sse2.c
  arch/x86/chorba_sse41.c
Due: zlib-ng

riscv: add bash configure script and related ci support for riscv
  .github/workflows/configure.yml
  .github/workflows/pkgcheck.yml
  arch/riscv/Makefile.in
  configure
Due: zlib-ng

Remove volatile keyword from ARM inline assembler
  arch/arm/acle_intrins.h
  cmake/detect-intrinsics.cmake
  configure
Due: zlib-ng

Fix 32bit large chorba
  arch/generic/crc32_chorba_c.c
Due: zlib-ng

Adding unit test for CI run
  test/test_crc32.cc
Due: tests

Add large 1mb buffer test for crc32 hashing.
  test/test_crc32.cc
Due: tests

[WebAssembly] Fix stack overflow in crc32_chorba_118960_nondestructive.
  arch/generic/crc32_chorba_c.c
Due: zlib-ng

manually align and reduce memsize internal_state for 64-bit platforms
  deflate.h
Due: zlib-ng

[configure] Add support for RISC-V ZBC extension
  arch/riscv/Makefile.in
  arch/riscv/riscv_features.c
  configure
Due: zlib-ng

Fix cyclic sharedlibdir variable in zlib.pc.in
  zlib.pc.in
Due: none

Add bindir into zlib.pc.in for compatibility with Cygwin and Msys2
  CMakeLists.txt
  zlib.pc.cmakein
  zlib.pc.in
Due: none

Optimize chunkcopy_rvv:
  arch/riscv/chunkset_rvv.c
Due: zlib-ng

Replace deprecated windows-2019 with windows-2022
  .github/workflows/cmake.yml
Due: none

Simplify compatibility intrinsics for x86
  arch/x86/chorba_sse2.c
  arch/x86/chorba_sse41.c
  arch/x86/x86_intrins.h
Due: zlib-ng

Fix broken actions-runner
  arch/s390/self-hosted-builder/actions-runner
  arch/s390/self-hosted-builder/actions-runner-rebuild.sh
  arch/s390/self-hosted-builder/actions-runner.Dockerfile
Due: zlib-ng

Fix building with runtime CPU detection disabled
  arch/arm/arm_functions.h
  arch/generic/generic_functions.h
  arch/s390/s390_functions.h
  arch/x86/x86_functions.h
Due: zlib-ng

Check ZMM support when detecting VPCLMULQDQ support
  arch/x86/x86_features.c
Due: zlib-ng

Add .gitignore to allow run tests with zlib-ng/corpora and local dataset from working copy
  .gitignore
Due: none

Add LoongArch64 (LASX) adler32, adler32_fold_copy implementation
  CMakeLists.txt
  arch/loongarch/Makefile.in
  arch/loongarch/adler32_lasx.c
  arch/loongarch/lasxintrin_ext.h
  arch/loongarch/loongarch_functions.h
  configure
  functable.c
  test/benchmarks/benchmark_adler32.cc
  test/benchmarks/benchmark_adler32_copy.cc
  test/test_adler32.cc
Due: zlib-ng, tests

Update README.md
  README.md
Due: none

Add LoongArch64 (LSX) chunkmemset family of functions implementation
  CMakeLists.txt
  arch/arm/chunkset_neon.c
  arch/generic/chunk_128bit_perm_idx_lut.h
  arch/loongarch/Makefile.in
  arch/loongarch/chunkset_lsx.c
  arch/loongarch/loongarch_functions.h
  arch/loongarch/lsxintrin_ext.h
  configure
  functable.c
Due: zlib-ng

Improve LoongArch64 crc32_fold* implementation
  arch/loongarch/crc32_la.c
  arch/loongarch/loongarch_functions.h
  functable.c
Due: zlib-ng
