Repository zlib-ng/zlib-ng: changes, and which Codecov flags are due for each by the changed paths.
All: zlib-ng, tests

[CI] Upgrade MacOS ARM64 UBSAN to use gcc-13.
  .github/workflows/cmake.yml
Due: none

Silence possible loss of data warning in crc32_braid ZSWAPWORD call
  arch/generic/crc32_braid_c.c
Due: zlib-ng

Cast result of zalloc to char * to avoid warnings
  deflate.c
  inflate.c
Due: zlib-ng

Fixes build issues C4242, C4244 and C4334 caused by loss of data bugs due to data type mismatch in various files.
  arch/arm/slide_hash_armv6.c
  arch/arm/slide_hash_neon.c
  arch/generic/crc32_braid_c.c
  arch/power/slide_ppc_tpl.h
  arch/riscv/slide_hash_rvv.c
  arch/x86/slide_hash_avx2.c
  arch/x86/slide_hash_sse2.c
  deflate.c
  deflate_fast.c
  deflate_p.h
  deflate_quick.c
  deflate_rle.c
  deflate_slow.c
Due: zlib-ng

IBM zSystems: Hardcode HWCAP_S390_VXRS
  arch/s390/s390_features.c
  cmake/detect-intrinsics.cmake
Due: zlib-ng

Enable warning C4242 and treat warnings as errors for Visual C++.
  CMakeLists.txt
  arch/arm/chunkset_neon.c
  arch/arm/neon_intrins.h
  arch/x86/adler32_avx512_p.h
  arch/x86/x86_intrins.h
  deflate.h
  inflate.h
  test/CMakeLists.txt
  test/fuzz/fuzzer_minigzip.c
  test/test_gzio.cc
  zbuild.h
Due: zlib-ng, tests

Fix new Windows SDK build break
  functable.c
Due: zlib-ng

[RISCV] Better run-time detection of RVV vector instruction support
  arch/riscv/riscv_features.c
Due: zlib-ng

Address CR feedback
  functable.c
Due: zlib-ng

Don't use chunkunroll for inflateBack
  inffast_tpl.h
Due: none

Fixed false positive HAVE_ARMV6_INTRIN value on old ARM platforms.
  cmake/detect-intrinsics.cmake
  configure
Due: none

Use more unsafe chunkcopying when we can in inflate_fast.
  inffast_tpl.h
Due: none

Split chunkcopy_safe to allow the first part to be inlined more often.
  inflate.c
  inflate.h
  inflate_p.h
Due: zlib-ng

Make use of unaligned loads on big endian in insert_string
  insert_string_tpl.h
Due: zlib-ng

Silence possible loss of data warning in crc32_braid ZSWAPWORD call
  crc32_braid.c
Due: none

Fixes build issues C4242, C4244 and C4334 caused by loss of data bugs due to data type mismatch in various files.
  arch/arm/slide_hash_armv6.c
  arch/arm/slide_hash_neon.c
  arch/power/slide_ppc_tpl.h
  arch/riscv/slide_hash_rvv.c
  arch/x86/slide_hash_avx2.c
  arch/x86/slide_hash_sse2.c
  crc32_braid.c
  deflate_fast.c
  deflate_quick.c
  deflate_rle.c
  deflate_slow.c
Due: zlib-ng

2.1.8 Release
  Makefile.in
  zlib-ng.h.in
  zlib.h.in
  zutil.c
Due: zlib-ng

Fix build on aarch64 android.
  CMakeLists.txt
Due: none

Path conditions:
  zlib-ng: any of: arch/, adler32.c, adler32_p.h, chunkset.c, chunkset_tpl.h, compare258.c, compress.c, crc32.c, crc32_comb.c, crc32_comb_tbl.h, crc32_p.h, crc32_tbl.h, deflate.c, deflate_fast.c, deflate.h, deflate_medium.c, deflate_p.h, deflate_quick.c, deflate_slow.c, fallback_builtins.h, functable.c, functable.h, gzguts.h, gzlib.c, gzread.c, gzwrite.c, infback.c, inffast.c, inffast.h, inffixed_tbl.h, inflate.c, inflate.h, inflate_p.h, inftrees.c, inftrees.h, insert_string.c, insert_string_tpl.h, match_tpl.h, trees.c, trees_emit.h, trees.h, trees_tbl.h, uncompr.c, zbuild.h, zconf.h, zconf-ng.h, zendian.h, zlib.h, zlib-ng.h, zutil.c, zutil.h, zutil_p.h, but not: usr/include/.*, /usr/include/.*, /build/usr/include/.*, usr/lib/.*, /usr/lib/.*, /build/usr/lib/.*, usr/lib64/.*, /usr/lib64/.*, /build/usr/lib64/.*
  tests: any of: test/, tools/, but not: usr/include/.*, /usr/include/.*, /build/usr/include/.*, usr/lib/.*, /usr/lib/.*, /build/usr/lib/.*, usr/lib64/.*, /usr/lib64/.*, /build/usr/lib64/.*
