Repository zlib-ng/zlib-ng: changes, and which Codecov flags are due for each by the changed paths.
All: zlib-ng, tests

codecov.yml:

codecov:
  max_report_age: 72h
  
coverage:
  status:
    project:
      default:
        threshold: 0.07%
      zlib-ng:
        target: 80%
        flags:
          - zlib-ng
      tests:
        target: 50%
        flags:
          - tests
        
comment:
    require_head: no     # default yes
    require_base: no     # default yes

flags:
  zlib-ng:
    paths:
      - arch/
      - adler32.c
      - adler32_p.h
      - chunkset.c
      - chunkset_tpl.h
      - compare258.c
      - compress.c
      - crc32.c
      - crc32_comb.c
      - crc32_comb_tbl.h
      - crc32_p.h
      - crc32_tbl.h
      - deflate.c
      - deflate_fast.c
      - deflate.h
      - deflate_medium.c
      - deflate_p.h
      - deflate_quick.c
      - deflate_slow.c
      - fallback_builtins.h
      - functable.c
      - functable.h
      - gzguts.h
      - gzlib.c
      - gzread.c
      - gzwrite.c
      - infback.c
      - inffast.c
      - inffast.h
      - inffixed_tbl.h
      - inflate.c
      - inflate.h
      - inflate_p.h
      - inftrees.c
      - inftrees.h
      - insert_string.c
      - insert_string_tpl.h
      - match_tpl.h
      - trees.c
      - trees_emit.h
      - trees.h
      - trees_tbl.h
      - uncompr.c
      - zbuild.h
      - zconf.h
      - zconf-ng.h
      - zendian.h
      - zlib.h
      - zlib-ng.h
      - zutil.c
      - zutil.h
      - zutil_p.h
  tests:
    paths:
      - test/
      - tools/
  
fixes:
  - "/home/runner/work/zlib-ng/zlib-ng/::"
  - "/home/runner/work/zlib-ng/build/::"
  - "/build/home/runner/work/zlib-ng/zlib-ng/::"
  - "/build/home/runner/work/zlib-ng/build/::"

ignore:
  - "usr/include/.*"
  - "/usr/include/.*"
  - "/build/usr/include/.*"
  - "usr/lib/.*"
  - "/usr/lib/.*"
  - "/build/usr/lib/.*"
  - "usr/lib64/.*"
  - "/usr/lib64/.*"
  - "/build/usr/lib64/.*"

Skip redundant hash slides for non-chain-walking strategies
  arch/arm/arm_functions.h
  arch/arm/slide_hash_armv6.c
  arch/arm/slide_hash_neon.c
  arch/generic/generic_functions.h
  arch/generic/slide_hash_c.c
  arch/loongarch/loongarch_functions.h
  arch/loongarch/slide_hash_lasx.c
  arch/loongarch/slide_hash_lsx.c
  arch/power/power_functions.h
  arch/power/slide_hash_power8.c
  arch/power/slide_hash_vmx.c
  arch/power/slide_ppc_tpl.h
  arch/riscv/riscv_functions.h
  arch/riscv/slide_hash_rvv.c
  arch/s390/s390_functions.h
  arch/s390/slide_hash_vx.c
  arch/x86/slide_hash_avx2.c
  arch/x86/slide_hash_sse2.c
  arch/x86/x86_functions.h
  deflate.c
  deflate.h
  functable.c
  functable.h
Due: zlib-ng

Skip prev writes in deflate_quick hash inserts
  deflate.c
  deflate.h
  deflate_quick.c
  insert_string.c
  insert_string_p.h
Due: zlib-ng

Unroll by 4x instead of 2x on avx512vnni.
  arch/x86/adler32_avx512_vnni.c
Due: zlib-ng

Use the same unroll factor for the copying variant
  arch/x86/adler32_avx512_vnni.c
Due: zlib-ng

Clean up slide_hash_c code. Also remove the original loop that GCC is still struggling to vectorize at -O2.
  arch/generic/slide_hash_c.c
Due: zlib-ng

Minor cleanup of zng_emit_dist()
  trees_emit.h
Due: zlib-ng

Optimize zng_emit_dist by having removing base and instead adding mask to extra tables.
  trees.h
  trees_emit.h
  trees_tbl.h
  utils/maketrees.c
Due: zlib-ng

Optimize zng_emit_dist by removing base and instead adding mask to extra tables
  trees_emit.h
  trees_tbl.h
  utils/maketrees.c
Due: zlib-ng

Remove unnecessary masking of extra bits from mask, the extra bits are outside the range of the data to be masked.
  trees_emit.h
Due: zlib-ng

Minor style cleanup of zng_length_code and zng_dist_code
  deflate_p.h
  trees_emit.h
  trees_tbl.h
  utils/maketrees.c
Due: zlib-ng

Initial support for MIPS MSA optimizations for I6400.
  .github/workflows/cmake.yml
  .github/workflows/pkgcheck.yml
  CMakeLists.txt
  README.md
  arch/mips/Makefile.in
  arch/mips/adler32_msa.c
  arch/mips/mips_features.c
  arch/mips/mips_features.h
  arch/mips/mips_functions.h
  arch/mips/mips_natives.h
  arch/mips/slide_hash_msa.c
  arch_functions.h
  cmake/detect-intrinsics.cmake
  cmake/toolchain-mipsisa64r6.cmake
  configure
  cpu_features.c
  cpu_features.h
  create-abi-files.sh
  functable.c
  test/abi/zlib-04f42ceca40f73e2978b50e93806c2a18c1281fc-mipsisa64r6-unknown-linux-gnuabi64.abi
  test/abi/zlib-ng-e4614ebcb9b3e5b108dc983c155e4baf80882311-mipsisa64r6-unknown-linux-gnuabi64.abi
  test/benchmarks/benchmark_adler32.cc
  test/benchmarks/benchmark_adler32_copy.cc
  test/benchmarks/benchmark_slidehash.cc
Due: zlib-ng, tests

[configure] Fix broken test * Configuring for ARM gives error message "../configure: 2093: test: -eq: unexpected operator"
  configure
Due: none

[configure] Add support for Intel DPC++/C++ compiler.
  configure
Due: none

Avoid DSB2MITE penalties with the JCC eratum mitigation in microcode
  CMakeLists.txt
  configure
Due: none

Fix a jump that was causing DSB2MITE switch penalties
  arch/x86/chunkset_avx512.c
  zbuild.h
Due: zlib-ng

Pack and unroll the inflate_table replication store
  inftrees.c
  test/CMakeLists.txt
  utils/CMakeLists.txt
Due: zlib-ng, tests

Pack up to four consecutive literals per send_bits
  trees.c
Due: zlib-ng

validate distance in inflateBack MATCH state
  infback.c
  test/test_inflate_back.cc
Due: zlib-ng, tests

Locate the literal run without a bit scan
  trees.c
Due: zlib-ng

riscv: remove ineffective Zbc HWCAP fallback
  arch/riscv/riscv_features.c
Due: zlib-ng

Fix Neoverse V3 CPU part number and add V3AE
  arch/arm/arm_features.c
Due: zlib-ng

Don't use fast PMULL path on Neoverse N2
  arch/arm/arm_features.c
Due: zlib-ng

Ignore error "cannot verify dev.mcst.ru's certificate", because GlobalSign has revoked their certificate.
  .github/workflows/cmake.yml
Due: none

Add Power8 VSX implementation of compare256
  CMakeLists.txt
  README.md
  arch/power/Makefile.in
  arch/power/compare256_power8.c
  arch/power/power_functions.h
  configure
  functable.c
  test/benchmarks/benchmark_compare256.cc
  test/test_compare256.cc
Due: zlib-ng, tests

Avoid vector to GPR moves in compare256_power8
  arch/power/compare256_power8.c
Due: zlib-ng

Load in big endian element order in compare256_power8
  arch/power/compare256_power8.c
Due: zlib-ng

Peel the first chunk in compare256_power8
  arch/power/compare256_power8.c
Due: zlib-ng

Compare 32 bytes per iteration in compare256_power8
  arch/power/compare256_power8.c
Due: zlib-ng

Improve portability to RISC OS.
  zutil.h
Due: zlib-ng

Avoid implicit conversion warning in trees.c.
  trees.c
Due: zlib-ng

Expand on the deflate strategy parameter in zlib.h.
  zlib-ng.h.in
  zlib.h.in
Due: zlib-ng

Address Microsoft deprecation warnings and reduce header inclusion.
  gzguts.h
Due: zlib-ng
