Repository zlib-ng/zlib-ng: changes, and which Codecov flags are due for each by the changed paths.
All: zlib-ng, tests

codecov.yml:

codecov:
  max_report_age: 72h
  
coverage:
  status:
    project:
      default:
        threshold: 0.07%
      zlib-ng:
        target: 80%
        flags:
          - zlib-ng
      tests:
        target: 50%
        flags:
          - tests
        
comment:
    require_head: no     # default yes
    require_base: no     # default yes

flags:
  zlib-ng:
    paths:
      - arch/
      - adler32.c
      - adler32_p.h
      - chunkset.c
      - chunkset_tpl.h
      - compare258.c
      - compress.c
      - crc32.c
      - crc32_comb.c
      - crc32_comb_tbl.h
      - crc32_p.h
      - crc32_tbl.h
      - deflate.c
      - deflate_fast.c
      - deflate.h
      - deflate_medium.c
      - deflate_p.h
      - deflate_quick.c
      - deflate_slow.c
      - fallback_builtins.h
      - functable.c
      - functable.h
      - gzguts.h
      - gzlib.c
      - gzread.c
      - gzwrite.c
      - infback.c
      - inffast.c
      - inffast.h
      - inffixed_tbl.h
      - inflate.c
      - inflate.h
      - inflate_p.h
      - inftrees.c
      - inftrees.h
      - insert_string.c
      - insert_string_tpl.h
      - match_tpl.h
      - trees.c
      - trees_emit.h
      - trees.h
      - trees_tbl.h
      - uncompr.c
      - zbuild.h
      - zconf.h
      - zconf-ng.h
      - zendian.h
      - zlib.h
      - zlib-ng.h
      - zutil.c
      - zutil.h
      - zutil_p.h
  tests:
    paths:
      - test/
      - tools/
  
fixes:
  - "/home/runner/work/zlib-ng/zlib-ng/::"
  - "/home/runner/work/zlib-ng/build/::"
  - "/build/home/runner/work/zlib-ng/zlib-ng/::"
  - "/build/home/runner/work/zlib-ng/build/::"

ignore:
  - "usr/include/.*"
  - "/usr/include/.*"
  - "/build/usr/include/.*"
  - "usr/lib/.*"
  - "/usr/lib/.*"
  - "/build/usr/lib/.*"
  - "usr/lib64/.*"
  - "/usr/lib64/.*"
  - "/build/usr/lib64/.*"

Remove unnecessary zutil.h includes.
  arch/arm/adler32_neon.c
  arch/arm/arm_features.c
  arch/arm/chunkset_neon.c
  arch/arm/crc32_acle.c
  arch/power/adler32_power8.c
  arch/power/adler32_vmx.c
  arch/power/chunkset_power8.c
  arch/power/crc32_constants.h
  arch/power/crc32_power8.c
  arch/power/power_features.c
  arch/s390/crc32-vx.c
  arch/s390/dfltcc_deflate.c
  arch/s390/s390_features.c
  arch/s390/s390_features.h
Due: zlib-ng

Update NMake GitHub Actions to use Visual Studio 2022 Enterprise.
  .github/workflows/nmake.yml
Due: none

Fix compilation with clang-cl on windows
  zlib-ng.h.in
  zlib.h.in
Due: zlib-ng

Simplify chunk_t type to uint64_t with memcpy calls.
  chunkset.c
Due: zlib-ng

Introduce zmemcpy to use unaligned access for architectures we know support unaligned access, otherwise use memcpy.
  arch/arm/chunkset_neon.c
  arch/power/chunkset_power8.c
  chunkset.c
  chunkset_tpl.h
  compare256.c
  deflate.h
  inffast.c
  insert_string_tpl.h
  match_tpl.h
  zbuild.h
Due: zlib-ng

Introduce zmemcmp to use unaligned access for architectures we know support unaligned access, otherwise use memcmp.
  deflate_quick.c
  match_tpl.h
  zbuild.h
Due: zlib-ng

IBM Z: Install Codecov dependencies on the self-hosted builder
  arch/s390/self-hosted-builder/actions-runner.Dockerfile
Due: zlib-ng

Axe the SSE4 compare256 functions
  CMakeLists.txt
  README.md
  arch/x86/Makefile.in
  arch/x86/compare256_sse2.c
  arch/x86/compare256_sse42.c
  configure
  cpu_features.h
  functable.c
  test/benchmarks/benchmark_compare256.cc
  win32/Makefile.msc
Due: zlib-ng, tests

Write an SSE2 optimized compare256
  CMakeLists.txt
  arch/x86/Makefile.in
  arch/x86/compare256_sse2.c
  configure
  cpu_features.h
  functable.c
  test/benchmarks/benchmark_compare256.cc
Due: zlib-ng, tests

Switch to using Codecov GitHub Action.
  .github/workflows/cmake.yml
  .github/workflows/pigz.yml
  codecov.yaml
  tools/codecov-upload.sh
Due: tests

Improve sse41 adler32 performance
  arch/x86/adler32_sse41.c
Due: zlib-ng

Improved adler32 NEON performance by 30-47%
  arch/arm/adler32_neon.c
  fallback_builtins.h
Due: zlib-ng

Unlocked more ILP in SSE variant of adler checksum
  arch/x86/adler32_sse41.c
Due: zlib-ng

[AArch64] Add missing LD4 test for configure.
  configure
Due: none

Don't use -march=native when doing LD4 test for ARM/AArch64.
  configure
Due: none

Prevent stale stub functions from being called in deflate_slow
  deflate_slow.c
Due: zlib-ng

Call feature detection at the beginning of every stub function
  functable.c
Due: zlib-ng

Switch to using Codecov GitHub Action.
  .github/workflows/cmake.yml
  .github/workflows/pigz.yml
  tools/codecov-upload.sh
Due: tests

Exclude unreachable branches from code coverage report.
  .github/workflows/cmake.yml
  .github/workflows/pigz.yml
Due: none

Added codecov yaml configuration to repository.
  .codecov.yaml
Due: none

Use multiple threads when running gcovr.
  .github/workflows/cmake.yml
  .github/workflows/pigz.yml
Due: none

Fix compilation of benchmark when compiler supports, but does not default to enable C++11 or higher.
  test/benchmarks/CMakeLists.txt
Due: tests

Run libpng tests on push in addition to pull-requests. Also run oss-fuzz on push to certain branches.
  .github/workflows/fuzz.yml
  .github/workflows/libpng.yml
Due: none
