Repository zlib-ng/zlib-ng: changes, and which Codecov flags are due for each by the changed paths.
All: zlib-ng, tests

codecov.yml:

codecov:
  max_report_age: 72h
  
coverage:
  status:
    project:
      default:
        threshold: 0.07%
      zlib-ng:
        target: 80%
        flags:
          - zlib-ng
      tests:
        target: 50%
        flags:
          - tests
        
comment:
    require_head: no     # default yes
    require_base: no     # default yes

flags:
  zlib-ng:
    paths:
      - arch/
      - adler32.c
      - adler32_p.h
      - chunkset.c
      - chunkset_tpl.h
      - compare258.c
      - compress.c
      - crc32.c
      - crc32_comb.c
      - crc32_comb_tbl.h
      - crc32_p.h
      - crc32_tbl.h
      - deflate.c
      - deflate_fast.c
      - deflate.h
      - deflate_medium.c
      - deflate_p.h
      - deflate_quick.c
      - deflate_slow.c
      - fallback_builtins.h
      - functable.c
      - functable.h
      - gzguts.h
      - gzlib.c
      - gzread.c
      - gzwrite.c
      - infback.c
      - inffast.c
      - inffast.h
      - inffixed_tbl.h
      - inflate.c
      - inflate.h
      - inflate_p.h
      - inftrees.c
      - inftrees.h
      - insert_string.c
      - insert_string_tpl.h
      - match_tpl.h
      - trees.c
      - trees_emit.h
      - trees.h
      - trees_tbl.h
      - uncompr.c
      - zbuild.h
      - zconf.h
      - zconf-ng.h
      - zendian.h
      - zlib.h
      - zlib-ng.h
      - zutil.c
      - zutil.h
      - zutil_p.h
  tests:
    paths:
      - test/
      - tools/
  
fixes:
  - "/home/runner/work/zlib-ng/zlib-ng/::"
  - "/home/runner/work/zlib-ng/build/::"
  - "/build/home/runner/work/zlib-ng/zlib-ng/::"
  - "/build/home/runner/work/zlib-ng/build/::"

ignore:
  - "usr/include/.*"
  - "/usr/include/.*"
  - "/build/usr/include/.*"
  - "usr/lib/.*"
  - "/usr/lib/.*"
  - "/build/usr/lib/.*"
  - "usr/lib64/.*"
  - "/usr/lib64/.*"
  - "/build/usr/lib64/.*"

Use large default buffer size for minideflate to match minigzip use of GZBUFSIZE.
  test/minideflate.c
Due: tests

Added unit test against CVE-2018-25032 with default strategy.
  CMakeLists.txt
  test/CVE-2018-25032/default.txt
  test/CVE-2018-25032/fixed.txt
Due: tests

[README] Add missing FORCE_SSE2 for CMake.
  README.md
Due: none

abicheck.sh: zlib-ng is a bash script, not a sh script, don't hardcode shell when running configure
  test/abicheck.sh
Due: tests

Added missing -F argument for Z_FIXED strategy in minideflate.
  test/minideflate.c
Due: tests

Fixed wrong error name when calling inflate in minideflate.
  test/minideflate.c
Due: tests

Wrong variable used when detecting unaligned support for sanitize
  cmake/detect-sanitizer.cmake
Due: none

Updated help usage with correct values for window_bits.
  test/minideflate.c
Due: tests

Added support for -k keep argument to minideflate. By default minideflate will now delete the input file.
  test/minideflate.c
Due: tests

Fixed failed tools tests when source directory is read-only.
  CMakeLists.txt
  cmake/run-and-compare.cmake
Due: none

macOs M1 build fix on arm cpu checks.
  arch/arm/armfeature.c
Due: zlib-ng

Auto-detect wrapper when inflating and no window_bits specified.
  test/minideflate.c
Due: tests

Allow bypassing runtime feature check of TZCNT instructions. * This avoids conditional branch when it's known at build time that TZCNT instructions are always supported
  CMakeLists.txt
  README.md
  configure
  fallback_builtins.h
Due: zlib-ng

Print help when no arguments supplied to minideflate.
  test/minideflate.c
Due: tests

In compatibility mode, always define z_crc_t as uint32_t for backwards compatibility.
  configure
  zconf-ng.h.in
  zconf.h.in
  zlib-ng.h
  zlib.h
Due: zlib-ng

crc32_acle.c: make logic more consistent
  arch/arm/crc32_acle.c
Due: zlib-ng

Add public compile definition for zlib-ng API so that other projects that use CMake and link against the zlib project can easily determine whether or not to include "zlib-ng.h" or "zlib.h".
  CMakeLists.txt
Due: none

Don't use zlib fork identifier in copyright statement.
  deflate.c
  inftrees.c
Due: zlib-ng

Fixed functions declared without a prototype warning in tools.
  tools/maketrees.c
Due: tests

remove UNROLL_MORE as suggested
  arch/arm/crc32_acle.c
Due: zlib-ng

Treat arm64 as aarch64 for Apple M1.
  cmake/detect-arch.c
  configure
Due: none

cmake: respect custom `RC` flags and delete `GCC_WINDRES`
  CMakeLists.txt
  configure
  win32/zlib-ng1.rc
  win32/zlib1.rc
Due: none

Fix inflateBack to detect invalid input with distances too far.
  infback.c
Due: zlib-ng

Handle invalid windowBits in init functions
  deflate.c
  inflate.c
Due: zlib-ng

Mimic minigzip behavior and only unlink files if not using -c copy out argument.
  test/minideflate.c
Due: tests

Don't use unaligned access for memcpy instructions due to GCC 11 assuming it is aligned in certain instances.
  arch/arm/chunkset_neon.c
  chunkset.c
  deflate.h
Due: zlib-ng

Disable redirection to 64-bit function variants when Z_SOLO is defined
  zlib.h
Due: zlib-ng

Use 15 (0xf) for ZLIB_VER_SUBREVISION to indicate zlib fork.
  zlib.h
Due: zlib-ng

Remove unused chunkmemset_1 code.
  arch/arm/chunkset_neon.c
  arch/x86/chunkset_avx.c
  arch/x86/chunkset_sse.c
  chunkset.c
Due: zlib-ng

The names CMAKE_INTERPROCEDURAL_OPTIMIZATION_* must be uppercase.
  CMakeLists.txt
Due: none

Make directory for output files.
  cmake/run-and-compare.cmake
Due: none

CMakeLists.txt: fix version in zlib.pc when building statically
  CMakeLists.txt
Due: none

Throw an error when input is raw deflate stream but window_bits is not supplied.
  test/minideflate.c
Due: tests

early return as requested
  arch/arm/crc32_acle.c
Due: zlib-ng

Extend GZIP conditional
  deflate.c
  deflate.h
Due: zlib-ng

Actually run `configure` CI on macOS with GCC
  .github/workflows/configure.yml
Due: none

[Compat] Don't use uint32_t for z_crc_t * We don't include stdint.h as it must be included before stdarg.h and other headers might include stdarg.h before us
  zconf.h.in
Due: zlib-ng

Use short decompress option name for gzip compatibility. #1347
  cmake/test-compress.cmake
Due: none

Add CVE-2022-37434 test.
  test/infcover.c
Due: tests

Make visibility tests run the same way as the other tests. Fix indentation.
  configure
Due: none
