Repository zlib-ng/zlib-ng: changes, and which Codecov flags are due for each by the changed paths.
All: zlib-ng, tests

codecov.yml:

codecov:
  max_report_age: 72h
  
coverage:
  status:
    project:
      default:
        threshold: 0.07%
      zlib-ng:
        target: 80%
        flags:
          - zlib-ng
      tests:
        target: 50%
        flags:
          - tests
        
comment:
    require_head: no     # default yes
    require_base: no     # default yes

flags:
  zlib-ng:
    paths:
      - arch/
      - adler32.c
      - adler32_p.h
      - chunkset.c
      - chunkset_tpl.h
      - compare258.c
      - compress.c
      - crc32.c
      - crc32_comb.c
      - crc32_comb_tbl.h
      - crc32_p.h
      - crc32_tbl.h
      - deflate.c
      - deflate_fast.c
      - deflate.h
      - deflate_medium.c
      - deflate_p.h
      - deflate_quick.c
      - deflate_slow.c
      - fallback_builtins.h
      - functable.c
      - functable.h
      - gzguts.h
      - gzlib.c
      - gzread.c
      - gzwrite.c
      - infback.c
      - inffast.c
      - inffast.h
      - inffixed_tbl.h
      - inflate.c
      - inflate.h
      - inflate_p.h
      - inftrees.c
      - inftrees.h
      - insert_string.c
      - insert_string_tpl.h
      - match_tpl.h
      - trees.c
      - trees_emit.h
      - trees.h
      - trees_tbl.h
      - uncompr.c
      - zbuild.h
      - zconf.h
      - zconf-ng.h
      - zendian.h
      - zlib.h
      - zlib-ng.h
      - zutil.c
      - zutil.h
      - zutil_p.h
  tests:
    paths:
      - test/
      - tools/
  
fixes:
  - "/home/runner/work/zlib-ng/zlib-ng/::"
  - "/home/runner/work/zlib-ng/build/::"
  - "/build/home/runner/work/zlib-ng/zlib-ng/::"
  - "/build/home/runner/work/zlib-ng/build/::"

ignore:
  - "usr/include/.*"
  - "/usr/include/.*"
  - "/build/usr/include/.*"
  - "usr/lib/.*"
  - "/usr/lib/.*"
  - "/build/usr/lib/.*"
  - "usr/lib64/.*"
  - "/usr/lib64/.*"
  - "/build/usr/lib64/.*"

[CI] Fix lint when using workflow_dispatch.
  .github/workflows/lint.yml
  test/abi/ignore
Due: tests

Expand codeql testing to run on multiple platforms and two configs.
  .github/workflows/codeql.yml
Due: none

Add a wrapper around getauxval() and elf_aux_info()
  arch/arm/arm_features.c
  arch/loongarch/loongarch_features.c
  arch/power/power_features.c
  arch/riscv/riscv_features.c
  arch/s390/s390_features.c
  arch/x86/x86_features.c
  cpu_features.c
  cpu_features.h
Due: zlib-ng

Simplify detection of getauxval() and elf_aux_info()
  CMakeLists.txt
  arch/power/power_features.c
  arch/s390/s390_features.h
  arch_functions.h
  arch_natives.h
  cmake/detect-intrinsics.cmake
  configure
  cpu_features.c
  cpu_features.h
Due: zlib-ng

Remove ASAN from s390x qemu build, it fails for unknown reasons.
  .github/workflows/cmake.yml
Due: none

[CodeQL] Add Windows.
  .github/workflows/codeql.yml
Due: none

Separate match finding logic in deflate_medium
  deflate_medium.c
Due: zlib-ng

Add copy fallback for Adler32 ARM when building with no-unaligned-access
  arch/arm/adler32_neon.c
Due: zlib-ng

Avoid calling fizzle_matches unless checks pass
  deflate_medium.c
Due: zlib-ng

Remove check that is always true (even if WANT_MIN_MATCH was reduced from 4 to 3).
  deflate_medium.c
Due: zlib-ng

Extract fold_block_16/8 functions for VPCLMULQDQ paths
  arch/x86/crc32_pclmulqdq_tpl.h
Due: zlib-ng

Use OSB workflow as an initial test before queueing all the other tests, this makes sure we don't spend a lot of CI time testing something that won't even build.
  .github/workflows/orchestrator.yml
Due: none

Add shared align/tail helpers for CRC32 ARMv8.
  arch/arm/crc32_armv8.c
  arch/arm/crc32_armv8_p.h
  arch/arm/crc32_armv8_pmull_eor3.c
Due: zlib-ng

Add fallback for ARM CRC32 copy when compiling with no-unaligned-access
  arch/arm/crc32_armv8.c
  arch/arm/crc32_armv8_pmull_eor3.c
Due: zlib-ng

Implement interleaved copying for CRC32 ARMv8.
  arch/arm/crc32_armv8.c
  arch/arm/crc32_armv8_p.h
  arch/arm/crc32_armv8_pmull_eor3.c
Due: zlib-ng

Implement interleaved copying for CRC32 ARMv8 PMULL+EOR3.
  arch/arm/crc32_armv8_pmull_eor3.c
Due: zlib-ng

Replace memcpy with NEON intrinsics for better performance alignment
  arch/arm/crc32_armv8_pmull_eor3.c
Due: zlib-ng

Extract fold_block_chorba function for PCLMULQDQ path
  arch/x86/crc32_pclmulqdq_tpl.h
Due: zlib-ng

Unroll 64-byte CRC32+copy loop for ARMv8
  arch/arm/crc32_armv8.c
Due: zlib-ng

crc32: zero initialize chorba bitbuffer
  arch/generic/crc32_chorba_c.c
Due: zlib-ng

crc32: use may_alias for chorba buffers
  arch/generic/crc32_chorba_c.c
Due: zlib-ng

Update e2k cross compiler to version lcc-1.29.16
  .github/workflows/cmake.yml
Due: none

Combine NEON_accum32_copy and NEON_accum32 into single function
  arch/arm/adler32_neon.c
Due: zlib-ng

Inline NEON_accum32 into adler32_copy_impl
  arch/arm/adler32_neon.c
Due: zlib-ng

Add AVX512 optimized slide_hash implementation
  CMakeLists.txt
  README.md
  arch/x86/Makefile.in
  arch/x86/slide_hash_avx512.c
  arch/x86/x86_functions.h
  configure
  functable.c
  test/benchmarks/benchmark_slidehash.cc
Due: zlib-ng, tests

Add an altivec variant of "count_lengths" in inftrees
  arch/power/power_intrins.h
  inftrees.c
Due: zlib-ng

Replace python3 with python in GitHub Actions workflows
  .github/workflows/cmake.yml
  .github/workflows/pigz.yml
Due: none

Add SWAR scalar adler32 for 64-bit platforms with unaligned access
  adler32_p.h
  arch/generic/adler32_c.c
Due: zlib-ng

Call adler32_c directly in adler32_copy_c scalar fallback
  arch/generic/adler32_c.c
Due: zlib-ng

Optimize adler32_swar alignment and remove platform conditionals
  adler32_p.h
  arch/generic/adler32_c.c
Due: zlib-ng

Update s390x actions runner docker build scripts
  arch/s390/self-hosted-builder/actions-runner-rebuild.sh
  arch/s390/self-hosted-builder/actions-runner.Dockerfile
Due: zlib-ng

Suppress MSVC C4310 warning from AVX-512 intrinsic headers
  CMakeLists.txt
Due: none

Convert crc32_armv8_align, crc32_armv8_tail and crc32_copy_impl functions to template.
  arch/arm/crc32_armv8.c
  arch/arm/crc32_armv8_p.h
  arch/arm/crc32_armv8_pmull_eor3.c
  arch/shared/crc32_hw_common_tpl.h
  arch/shared/crc32_hw_copy_impl_tpl.h
Due: zlib-ng

Reuse unrolled ARMv8 CRC32 implementation for LoongArch64.
  arch/loongarch/crc32_la.c
Due: zlib-ng

Fix loongarch64 name in crc32_copy benchmark.
  test/benchmarks/benchmark_crc32_copy.cc
Due: tests

Move chunk_{128,256}bit_perm_idx_lut.h, chunk_permute_table.h to arch/shared.
  CMakeLists.txt
  arch/arm/chunkset_neon.c
  arch/loongarch/chunkset_lasx.c
  arch/loongarch/chunkset_lsx.c
  arch/shared/chunk_128bit_perm_idx_lut.h
  arch/shared/chunk_256bit_perm_idx_lut.h
  arch/shared/chunk_permute_table.h
  arch/x86/chunkset_avx2.c
  arch/x86/chunkset_avx512.c
  arch/x86/chunkset_ssse3.c
Due: zlib-ng

Add slide hash optimization for S390 VX
  .github/workflows/cmake.yml
  .github/workflows/configure.yml
  CMakeLists.txt
  README.md
  arch/s390/Makefile.in
  arch/s390/crc32_vx.c
  arch/s390/s390_functions.h
  arch/s390/s390_natives.h
  arch/s390/slide_hash_vx.c
  cmake/detect-intrinsics.cmake
  configure
  functable.c
  test/benchmarks/benchmark_crc32.cc
  test/benchmarks/benchmark_crc32_copy.cc
  test/benchmarks/benchmark_slidehash.cc
  test/test_crc32.cc
  test/test_crc32_copy.cc
Due: zlib-ng, tests

Move S390 VX vector typedefs into vx_intrins.h
  arch/s390/crc32_vx.c
  arch/s390/slide_hash_vx.c
  arch/s390/vx_intrins.h
Due: zlib-ng

Add compatibility header for VX instructions
  arch/s390/crc32_vx.c
  arch/s390/slide_hash_vx.c
  arch/s390/vx_intrins.h
  cmake/detect-intrinsics.cmake
  configure
Due: zlib-ng
