Repository zlib-ng/zlib-ng: changes, and which Codecov flags are due for each by the changed paths.
All: zlib-ng, tests

codecov.yml:

codecov:
  max_report_age: 72h
  
coverage:
  status:
    project:
      default:
        threshold: 0.07%
      zlib-ng:
        target: 80%
        flags:
          - zlib-ng
      tests:
        target: 50%
        flags:
          - tests
        
comment:
    require_head: no     # default yes
    require_base: no     # default yes

flags:
  zlib-ng:
    paths:
      - arch/
      - adler32.c
      - adler32_p.h
      - chunkset.c
      - chunkset_tpl.h
      - compare258.c
      - compress.c
      - crc32.c
      - crc32_comb.c
      - crc32_comb_tbl.h
      - crc32_p.h
      - crc32_tbl.h
      - deflate.c
      - deflate_fast.c
      - deflate.h
      - deflate_medium.c
      - deflate_p.h
      - deflate_quick.c
      - deflate_slow.c
      - fallback_builtins.h
      - functable.c
      - functable.h
      - gzguts.h
      - gzlib.c
      - gzread.c
      - gzwrite.c
      - infback.c
      - inffast.c
      - inffast.h
      - inffixed_tbl.h
      - inflate.c
      - inflate.h
      - inflate_p.h
      - inftrees.c
      - inftrees.h
      - insert_string.c
      - insert_string_tpl.h
      - match_tpl.h
      - trees.c
      - trees_emit.h
      - trees.h
      - trees_tbl.h
      - uncompr.c
      - zbuild.h
      - zconf.h
      - zconf-ng.h
      - zendian.h
      - zlib.h
      - zlib-ng.h
      - zutil.c
      - zutil.h
      - zutil_p.h
  tests:
    paths:
      - test/
      - tools/
  
fixes:
  - "/home/runner/work/zlib-ng/zlib-ng/::"
  - "/home/runner/work/zlib-ng/build/::"
  - "/build/home/runner/work/zlib-ng/zlib-ng/::"
  - "/build/home/runner/work/zlib-ng/build/::"

ignore:
  - "usr/include/.*"
  - "/usr/include/.*"
  - "/build/usr/include/.*"
  - "usr/lib/.*"
  - "/usr/lib/.*"
  - "/build/usr/lib/.*"
  - "usr/lib64/.*"
  - "/usr/lib64/.*"
  - "/build/usr/lib64/.*"

Add bindir into zlib.pc.in for compatibility with Cygwin and Msys2
  CMakeLists.txt
  zlib.pc.cmakein
  zlib.pc.in
Due: none

Fix building with runtime CPU detection disabled
  arch/s390/s390_functions.h
  arch/x86/x86_functions.h
Due: zlib-ng

Add .gitignore to allow run tests with zlib-ng/corpora and local dataset from working copy
  .gitignore
Due: none

Check ZMM support when detecting VPCLMULQDQ support
  arch/x86/x86_features.c
Due: zlib-ng

Revert "Inserting strings is not slow any longer, remove bypass in deflate_medium()."
  deflate_medium.c
Due: zlib-ng

Revert "Clean up insert_match() in deflate_medium"
  deflate_medium.c
Due: zlib-ng

Update incorrect comment
  deflate.h
Due: zlib-ng

X86_AVX512VNNI: test _mm256_dpbusd_epi32 too
  cmake/detect-intrinsics.cmake
  configure
Due: none

style
  cmake/detect-intrinsics.cmake
Due: none

cmake: use bracket argument
  cmake/detect-intrinsics.cmake
Due: none

2.2.5 Release
  Makefile.in
  zlib-ng.h.in
  zlib.h.in
  zutil.c
Due: zlib-ng

Check the proper bit for BMI2
  arch/x86/x86_features.c
Due: zlib-ng

Retemplatize the elided copy with the adler checksum
  arch/x86/adler32_avx2.c
  arch/x86/adler32_avx2_tpl.h
  arch/x86/adler32_avx512.c
  arch/x86/adler32_avx512_tpl.h
Due: zlib-ng

Unroll some of the adler checksum for avx2
  arch/x86/adler32_avx2.c
Due: zlib-ng

Remove redundant op variable usage where possible.
  inffast_tpl.h
Due: none

Remove here pointer in inflate_fast.
  inffast_tpl.h
Due: none

Add missing Tracevv calls for decoding literals in inflate_fast.
  inffast_tpl.h
Due: none

Use sizeof(code) in memcpy for here structure in inflate_fast.
  inffast_tpl.h
Due: none

Use local pointers to avoid indirection penalty in compress_block
  trees.c
Due: zlib-ng

Use local pointers to avoid indirection penalties in pqdownheap and build_tree
  trees.c
Due: zlib-ng

Inline pqdownheap
  trees.c
Due: zlib-ng

Reorder functions related to build_tree to more closely match order of actual usage in the code. Could also help with cache locality.
  trees.c
Due: zlib-ng

Minor optimization of insert_string
  insert_string.c
  insert_string_tpl.h
Due: zlib-ng

DRAFT: Vectorize insert_string.
  CMakeLists.txt
  insert_string.c
  insert_string_avx2-8.c
  insert_string_avx2.c
  insert_string_avx512.c
Due: zlib-ng

Split out gz_read_init() from gzlook(), and rename gz_init() to gz_write_init(). This makes gzread.c more like gzwrite.c, and fits in with the new code in gzlib.c.
  gzread.c.in
  gzwrite.c
Due: zlib-ng

Reorganize initialization and use a single malloc call for both in and outbuffers in gzopen/gzread/gzwrite. Also start aligning the allocation to 64 bytes (on a cacheline border).
  gzguts.h
  gzlib.c
  gzread.c.in
  gzwrite.c
  zutil.c
  zutil.h
Due: zlib-ng

Add error propagation to gzread/gzwrite
  gzread.c.in
  gzwrite.c
Due: zlib-ng

Inline bi_reverse
  arch/s390/dfltcc_deflate.c
  deflate.h
  deflate_p.h
  tools/maketrees.c
  trees.c
Due: zlib-ng, tests

Use aligned load/store in AVX2 Slide Hash. Also test slidehash from 512 bytes, the minimum window size we use.
  arch/x86/slide_hash_avx2.c
  test/benchmarks/benchmark_slidehash.cc
Due: zlib-ng, tests

Move "Architecture-specific hooks" from deflate.c to the more appropriate deflate.h
  deflate.c
  deflate.h
Due: zlib-ng

Inline read_buf
  deflate.c
  deflate_p.h
  deflate_stored.c
Due: zlib-ng

Optimize read_buf by removing indirection penalty
  deflate_p.h
Due: zlib-ng

Partially inline flush_pending
  arch/s390/dfltcc_deflate.c
  deflate.c
  deflate_p.h
Due: zlib-ng

Add benchmark for insert_string.
  test/benchmarks/CMakeLists.txt
  test/benchmarks/benchmark_insert_string.cc
Due: tests

Upgrade to GCC 14 for macOS UBSAN ci.
  .github/workflows/cmake.yml
Due: none

Allow zlib-ng to be built as part of parent cmake project without changing compiler settings. Avoid slow compiler checks that will always fail on MSVC.
  CMakeLists.txt
Due: none

[CI] Update MacOS toolchain. * Use Xcode 16.4 as Xcode 15.2 is no longer supported
  .github/workflows/pkgcheck.yml
Due: none

[CI] Use MacOS 14 for GCC UBSAN.
  .github/workflows/cmake.yml
Due: none
