Repository zlib-ng/zlib-ng: changes, and which Codecov flags are due for each by the changed paths.
All: zlib-ng, tests

codecov.yml:

codecov:
  max_report_age: 72h
  
coverage:
  status:
    project:
      default:
        threshold: 0.07%
      zlib-ng:
        target: 80%
        flags:
          - zlib-ng
      tests:
        target: 50%
        flags:
          - tests
        
comment:
    require_head: no     # default yes
    require_base: no     # default yes

flags:
  zlib-ng:
    paths:
      - arch/
      - adler32.c
      - adler32_p.h
      - chunkset.c
      - chunkset_tpl.h
      - compare258.c
      - compress.c
      - crc32.c
      - crc32_comb.c
      - crc32_comb_tbl.h
      - crc32_p.h
      - crc32_tbl.h
      - deflate.c
      - deflate_fast.c
      - deflate.h
      - deflate_medium.c
      - deflate_p.h
      - deflate_quick.c
      - deflate_slow.c
      - fallback_builtins.h
      - functable.c
      - functable.h
      - gzguts.h
      - gzlib.c
      - gzread.c
      - gzwrite.c
      - infback.c
      - inffast.c
      - inffast.h
      - inffixed_tbl.h
      - inflate.c
      - inflate.h
      - inflate_p.h
      - inftrees.c
      - inftrees.h
      - insert_string.c
      - insert_string_tpl.h
      - match_tpl.h
      - trees.c
      - trees_emit.h
      - trees.h
      - trees_tbl.h
      - uncompr.c
      - zbuild.h
      - zconf.h
      - zconf-ng.h
      - zendian.h
      - zlib.h
      - zlib-ng.h
      - zutil.c
      - zutil.h
      - zutil_p.h
  tests:
    paths:
      - test/
      - tools/
  
fixes:
  - "/home/runner/work/zlib-ng/zlib-ng/::"
  - "/home/runner/work/zlib-ng/build/::"
  - "/build/home/runner/work/zlib-ng/zlib-ng/::"
  - "/build/home/runner/work/zlib-ng/build/::"

ignore:
  - "usr/include/.*"
  - "/usr/include/.*"
  - "/build/usr/include/.*"
  - "usr/lib/.*"
  - "/usr/lib/.*"
  - "/build/usr/lib/.*"
  - "usr/lib64/.*"
  - "/usr/lib64/.*"
  - "/build/usr/lib64/.*"

Add CodeQL workflow for GitHub code scanning
  .github/workflows/codeql.yml
Due: none

Support using aligned_alloc() for memory allocation
  CMakeLists.txt
  configure
  zbuild.h
  zutil_p.h
Due: zlib-ng

Makefile.in: distclean should remove zlib.pc instead of clean
  Makefile.in
Due: none

[MinGW] Disable GCC warning about using MS format specifiers in ISO C conformant code
  CMakeLists.txt
  configure
Due: none

Remove errant space in cmake posix specifier
  CMakeLists.txt
Due: none

Fix typo in README.md
  README.md
Due: none

Don't try to link gz* objects twice.
  Makefile.in
Due: none

Remove unused tryboth() function
  configure
Due: none

Force sparc64 to ubuntu 20.04 to prevent segfault.
  .github/workflows/cmake.yml
Due: none

Force ppc64le to ubuntu 20.04 to prevent illegal instruction.
  .github/workflows/cmake.yml
Due: none

Use Clang 11.1.0 sources same as Clang version on Ubuntu 22.
  .github/workflows/cmake.yml
Due: none

Fixed MSAN failed to allocate error on Ubuntu 22.
  .github/workflows/cmake.yml
Due: none

Tell scan-build ASSERT_TRUE() behaves like assert().
  test/test_aligned_alloc.cc
  test/test_compare256.cc
  test/test_compress_bound.cc
  test/test_deflate_bound.cc
  test/test_deflate_dict.cc
  test/test_deflate_header.cc
  test/test_deflate_params.cc
  test/test_deflate_pending.cc
  test/test_gzio.cc
  test/test_large_buffers.cc
  test/test_shared.h
Due: tests

Fix visibility of a few internal functions.
  arch/x86/crc32_fold_pclmulqdq.c
  arch/x86/crc32_fold_vpclmulqdq_tpl.h
Due: zlib-ng

Prefix shared functions to prevent symbol conflict when linking native api against compat api.
  arch/s390/crc32-vx.c
  arch/x86/crc32_fold_pclmulqdq.c
  cpu_features.h
  crc32_braid.c
  crc32_braid_p.h
  deflate.c
  deflate.h
  deflate_fast.c
  deflate_huff.c
  deflate_medium.c
  deflate_p.h
  deflate_quick.c
  deflate_rle.c
  deflate_slow.c
  deflate_stored.c
  functable.c
  infback.c
  inflate.c
  inflate.h
  test/benchmarks/benchmark_crc32.cc
  test/test_aligned_alloc.cc
  test/test_crc32.cc
  zutil.c
  zutil.h
Due: zlib-ng, tests

Increase ghostflow-director max-size for crc32_braid_tbl.h
  .gitattributes
Due: none

Add missing symbol name mangling
  zlib_name_mangling-ng.h.in
  zlib_name_mangling.h.in
Due: none

Correct indents
  arch/power/power_features.c
  configure
Due: zlib-ng

IBM zSystems DFLTCC: Do not update strm.adler for raw streams
  arch/s390/dfltcc_deflate.c
  arch/s390/dfltcc_inflate.c
  test/CMakeLists.txt
  test/test_deflate_header.cc
  test/test_raw.cc
Due: zlib-ng, tests

Allow gtest_zlib to be manually disabled
  CMakeLists.txt
  README.md
  test/CMakeLists.txt
Due: tests

Delete ctzl.h
  arch/arm/ctzl.h
Due: zlib-ng

Allow ACLE to be enabled on all ARM architecture versions
  CMakeLists.txt
Due: none

IBM zSystems DFLTCC: Fix updating strm.adler
  arch/s390/dfltcc_deflate.c
  arch/s390/dfltcc_inflate.c
Due: zlib-ng

Add FreeBSD/powerpc* support to cmake/detect-intrinsics.cmake
  cmake/detect-intrinsics.cmake
Due: none

Fix configure script for FreeBSD/powerpc*
  configure
Due: none

Fix build on FreeBSD/powerpc*
  arch/power/power_features.c
Due: zlib-ng

Use const char* for z_error argument
  zbuild.h
  zutil.c
Due: zlib-ng

Make sure inflate_p.h is fully guarded by header guard
  inflate_p.h
Due: zlib-ng

Fix compilation error where `crc32_fold` type matches field name in struct functable_s
  functable.h
Due: zlib-ng

Do not use cpuid.h on Windows
  arch/x86/x86_features.c
Due: zlib-ng

Change pkgcheck to use macos-11 runner * macos-latest runner doesn't have XCode 11.7.0 anymore, newer XCode versions have incompatible toolchain
  .github/workflows/pkgcheck.yml
Due: none

Change configure workflow to use gcc-11 for MacOS * gcc-9 is not installed on macos-latest runner
  .github/workflows/configure.yml
Due: none
