Repository zlib-ng/zlib-ng: changes, and which Codecov flags are due for each by the changed paths.
All: zlib-ng, tests

codecov.yml:

codecov:
  max_report_age: 72h
  
coverage:
  status:
    project:
      default:
        threshold: 0.07%
      zlib-ng:
        target: 80%
        flags:
          - zlib-ng
      tests:
        target: 50%
        flags:
          - tests
        
comment:
    require_head: no     # default yes
    require_base: no     # default yes

flags:
  zlib-ng:
    paths:
      - arch/
      - adler32.c
      - adler32_p.h
      - chunkset.c
      - chunkset_tpl.h
      - compare258.c
      - compress.c
      - crc32.c
      - crc32_comb.c
      - crc32_comb_tbl.h
      - crc32_p.h
      - crc32_tbl.h
      - deflate.c
      - deflate_fast.c
      - deflate.h
      - deflate_medium.c
      - deflate_p.h
      - deflate_quick.c
      - deflate_slow.c
      - fallback_builtins.h
      - functable.c
      - functable.h
      - gzguts.h
      - gzlib.c
      - gzread.c
      - gzwrite.c
      - infback.c
      - inffast.c
      - inffast.h
      - inffixed_tbl.h
      - inflate.c
      - inflate.h
      - inflate_p.h
      - inftrees.c
      - inftrees.h
      - insert_string.c
      - insert_string_tpl.h
      - match_tpl.h
      - trees.c
      - trees_emit.h
      - trees.h
      - trees_tbl.h
      - uncompr.c
      - zbuild.h
      - zconf.h
      - zconf-ng.h
      - zendian.h
      - zlib.h
      - zlib-ng.h
      - zutil.c
      - zutil.h
      - zutil_p.h
  tests:
    paths:
      - test/
      - tools/
  
fixes:
  - "/home/runner/work/zlib-ng/zlib-ng/::"
  - "/home/runner/work/zlib-ng/build/::"
  - "/build/home/runner/work/zlib-ng/zlib-ng/::"
  - "/build/home/runner/work/zlib-ng/build/::"

ignore:
  - "usr/include/.*"
  - "/usr/include/.*"
  - "/build/usr/include/.*"
  - "usr/lib/.*"
  - "/usr/lib/.*"
  - "/build/usr/lib/.*"
  - "usr/lib64/.*"
  - "/usr/lib64/.*"
  - "/build/usr/lib64/.*"

[CI] Upgrade MacOS ARM64 UBSAN to use gcc-13.
  .github/workflows/cmake.yml
Due: none

Don't use chunkunroll for inflateBack
  inffast_tpl.h
Due: none

IBM zSystems: Hardcode HWCAP_S390_VXRS
  arch/s390/s390_features.c
  cmake/detect-intrinsics.cmake
Due: zlib-ng

Enable warning C4242 and treat warnings as errors for Visual C++.
  CMakeLists.txt
  arch/arm/chunkset_neon.c
  arch/arm/neon_intrins.h
  arch/x86/adler32_avx512_p.h
  arch/x86/x86_intrins.h
  deflate.h
  inflate.h
  test/CMakeLists.txt
  test/fuzz/fuzzer_minigzip.c
  test/test_gzio.cc
  zbuild.h
Due: zlib-ng, tests

Address CR feedback
  functable.c
Due: zlib-ng

Revert "Split chunkcopy_safe to allow the first part to be inlined more often."
  inflate.c
  inflate.h
  inflate_p.h
Due: zlib-ng

2.2.2 Release
  Makefile.in
  zlib-ng.h.in
  zlib.h.in
  zutil.c
Due: zlib-ng

Use target include instead of raw include
  CMakeLists.txt
Due: none

Disable MSVC warning 4819
  CMakeLists.txt
Due: none

Allow overridde CMAKE_CXX_STANDARD, CMAKE_CXX_STANDARD_REQUIRED, CMAKE_CXX_EXTENSIONS variables for tests and benchmarks.
  test/CMakeLists.txt
  test/benchmarks/CMakeLists.txt
Due: tests

Fix overridde CMAKE_C_STANDARD, CMAKE_C_STANDARD_REQUIRED, CMAKE_C_EXTENSIONS. False value is allowed for CMAKE_C_STANDARD_REQUIRED and CMAKE_C_EXTENSIONS.
  CMakeLists.txt
Due: none

Fix build on aarch64 android.
  CMakeLists.txt
Due: none

Update s390x actions-runner docker
  arch/s390/README.md
  arch/s390/self-hosted-builder/actions-runner.Dockerfile
  arch/s390/self-hosted-builder/runner-global.json
Due: zlib-ng

Force Visual C++ to treat source files as UTF-8.
  CMakeLists.txt
  test/CMakeLists.txt
Due: tests

[CI] Don't try to use macOS 11 as it's no longer supported.
  .github/workflows/pkgcheck.yml
  test/pkgcheck.sh
Due: tests

Replace non-ascii characters to fix MSVC warning
  zbuild.h
Due: zlib-ng

Explicitly set CMake policy 0169 to silence warning
  CMakeLists.txt
  test/CMakeLists.txt
Due: tests

Simplify chunking in the copy ladder here
  inflate_p.h
Due: zlib-ng

Disable MSVC warning 4324 (struct padded due to alignment)
  CMakeLists.txt
Due: none

configure: Fix linker flags for Haiku.
  configure
Due: none

configure: add --mandir to override $mandir on command line.
  configure
Due: none

Fix Haiku default directories.
  cmake/detect-install-dirs.cmake
  configure
Due: none

Compute the "safe" distance properly
  inffast_tpl.h
Due: none

Don't use 'dmax' and 'sane' variables unless their checks have been compiled in.
  infback.c
  inffast_tpl.h
  inflate.c
  inflate.h
Due: zlib-ng

Add variable 'wbufsize' to track window buffer including padding, to allow the chunkset code to spill garbage data into the padding area if available.
  infback.c
  inffast_tpl.h
  inflate.c
  inflate.h
Due: zlib-ng

Reorder 'inflate_state' struct to improve cache-locality of variables needed by inffast (from 6 cachelines to 1). Also fill in some unnecessary holes.
  inflate.h
Due: zlib-ng
