Repository zlib-ng/zlib-ng: changes, and which Codecov flags are due for each by the changed paths.
All: zlib-ng, tests

codecov.yml:

codecov:
  max_report_age: 72h
  
coverage:
  status:
    project:
      default:
        threshold: 0.07%
      zlib-ng:
        target: 80%
        flags:
          - zlib-ng
      tests:
        target: 50%
        flags:
          - tests
        
comment:
    require_head: no     # default yes
    require_base: no     # default yes

flags:
  zlib-ng:
    paths:
      - arch/
      - adler32.c
      - adler32_p.h
      - chunkset.c
      - chunkset_tpl.h
      - compare258.c
      - compress.c
      - crc32.c
      - crc32_comb.c
      - crc32_comb_tbl.h
      - crc32_p.h
      - crc32_tbl.h
      - deflate.c
      - deflate_fast.c
      - deflate.h
      - deflate_medium.c
      - deflate_p.h
      - deflate_quick.c
      - deflate_slow.c
      - fallback_builtins.h
      - functable.c
      - functable.h
      - gzguts.h
      - gzlib.c
      - gzread.c
      - gzwrite.c
      - infback.c
      - inffast.c
      - inffast.h
      - inffixed_tbl.h
      - inflate.c
      - inflate.h
      - inflate_p.h
      - inftrees.c
      - inftrees.h
      - insert_string.c
      - insert_string_tpl.h
      - match_tpl.h
      - trees.c
      - trees_emit.h
      - trees.h
      - trees_tbl.h
      - uncompr.c
      - zbuild.h
      - zconf.h
      - zconf-ng.h
      - zendian.h
      - zlib.h
      - zlib-ng.h
      - zutil.c
      - zutil.h
      - zutil_p.h
  tests:
    paths:
      - test/
      - tools/
  
fixes:
  - "/home/runner/work/zlib-ng/zlib-ng/::"
  - "/home/runner/work/zlib-ng/build/::"
  - "/build/home/runner/work/zlib-ng/zlib-ng/::"
  - "/build/home/runner/work/zlib-ng/build/::"

ignore:
  - "usr/include/.*"
  - "/usr/include/.*"
  - "/build/usr/include/.*"
  - "usr/lib/.*"
  - "/usr/lib/.*"
  - "/build/usr/lib/.*"
  - "usr/lib64/.*"
  - "/usr/lib64/.*"
  - "/build/usr/lib64/.*"

Added unit test for zng_calloc_aligned to ensure that it always returns 64-byte aligned memory allocation when requested.
  test/test_aligned_alloc.cc
Due: tests

IBM Z: Delete stale self-hosted builder containers
  arch/s390/self-hosted-builder/actions-runner.service
Due: zlib-ng

Bypass memory alignment compensation if not using custom allocator.
  zutil.c
Due: zlib-ng

Added memory alignment compensation functions for users who may be using custom allocators that don't align on the same boundary zlib-ng expects.
  zutil.c
  zutil.h
Due: zlib-ng

Improve SSE2 slide hash performance
  arch/x86/slide_hash_sse2.c
Due: zlib-ng

Don't use -mtune with ClangCl.
  cmake/detect-intrinsics.cmake
Due: none

Explicitly install dependencies for wine32. * Allow downgrading packages to resolve conflicts
  .github/workflows/cmake.yml
Due: none

Speed up chunkcopy and memset
  chunkset_tpl.h
  functable.c
  functable.h
  inffast.c
  inflate.c
  inflate_p.h
Due: zlib-ng

Throw an error when input is raw deflate stream but window_bits is not supplied.
  test/minideflate.c
Due: tests

Fixed wrong error name when calling inflate in minideflate.
  test/minideflate.c
Due: tests

Include zutil.h for definition of DEF_MEM_LEVEL.
  test/minideflate.c
Due: tests

Added support for -k keep argument to minideflate. By default minideflate will now delete the input file.
  test/minideflate.c
Due: tests

Print help when no arguments supplied to minideflate.
  test/minideflate.c
Due: tests

Updated help usage with correct values for window_bits.
  test/minideflate.c
Due: tests

Auto-detect wrapper when inflating and no window_bits specified.
  test/minideflate.c
Due: tests

Append extension to output file path based on window_bits when compressing and remove extension from output file path when decompressing.
  test/minideflate.c
Due: tests

Use large default buffer size for minideflate to match minigzip use of GZBUFSIZE.
  test/minideflate.c
Due: tests

[README] Add missing FORCE_SSE2 for CMake.
  README.md
Due: none

Allow bypassing runtime feature check of TZCNT instructions. * This avoids conditional branch when it's known at build time that TZCNT instructions are always supported
  CMakeLists.txt
  README.md
  configure
  fallback_builtins.h
Due: zlib-ng

Added check for UNALIGNED64_OK when defining zmemcpy_8 and zmemcmp_8.
  zbuild.h
Due: zlib-ng

Added 32-bit GCC build to CMake GitHub Actions.
  .github/workflows/cmake.yml
Due: none

Make unaligned access being disabled configurable via build scripts.
  .github/workflows/cmake.yml
  CMakeLists.txt
  README.md
  configure
  zbuild.h
Due: zlib-ng

Move UNALIGNED_OK detection to compile time instead of configure time.
  .github/workflows/cmake.yml
  CMakeLists.txt
  README.md
  arch/x86/compare256_avx2.c
  compare256.c
  configure
  win32/Makefile.a64
  win32/Makefile.arm
  win32/Makefile.msc
  zbuild.h
Due: zlib-ng

Fix UBSAN's cry afoul
  arch/x86/chunkset_avx.c
  arch/x86/chunkset_sse2.c
Due: zlib-ng

Remove unused zutil header.
  test/benchmarks/benchmark_adler32.cc
  test/benchmarks/benchmark_compare256.cc
  test/benchmarks/benchmark_crc32.cc
  test/benchmarks/benchmark_slidehash.cc
Due: tests

Use zutil.h which already includes zlib headers.
  arch/s390/dfltcc_common.h
  compress.c
  uncompr.c
Due: zlib-ng

Fix a latent issue with chunkmemset
  chunkset_tpl.h
Due: zlib-ng

Revert "Reorganize inflate window layout"
  infback.c
  inffast.c
  inffast.h
  inflate.c
  inflate.h
  inflate_p.h
  test/infcover.c
Due: zlib-ng, tests
