Repository zlib-ng/zlib-ng: changes, and which Codecov flags are due for each by the changed paths.
All: zlib-ng, tests

Read the source unaligned in the hardware CRC32 paths
  arch/arm/crc32_armv8_pmull_eor3.c
  arch/shared/crc32_hw_common_tpl.h
  arch/shared/crc32_hw_copy_impl_tpl.h
Due: zlib-ng

Lower the window buffer floor to 8K for reduced memory builds
  CMakeLists.txt
  configure
  deflate.h
Due: zlib-ng

Raise longest_match search floor for Z_FILTERED in deflate_slow
  deflate_slow.c
Due: zlib-ng

Add filtered PNG encode benchmark
  test/benchmarks/benchmark_png_decode.cc
  test/benchmarks/benchmark_png_decode_small.cc
  test/benchmarks/benchmark_png_encode.cc
  test/benchmarks/benchmark_png_shared.h
Due: tests

Use std::string for test PNG file names
  test/benchmarks/benchmark_png_decode.cc
Due: tests

Replace the Huffman heap with counting sort and a two-queue merge
  trees.c
Due: zlib-ng

Sort with a single radix pass when frequencies fit in one byte
  trees.c
Due: zlib-ng

Derive the gen_bitlen walk order instead of recording it
  trees.c
Due: zlib-ng

Add a sync-flush variant to the deflate benchmark
  test/benchmarks/benchmark_deflate.cc
Due: tests

Restore deflate_state cacheline and tail alignment
  deflate.h
Due: zlib-ng

Build the radix histograms during the leaf scan
  trees.c
Due: zlib-ng

Pack frequency, depth and node into 64-bit heap entries in build_tree
  deflate.h
  trees.c
Due: zlib-ng

Move the build_tree queue buffers into deflate_state
  deflate.h
  trees.c
Due: zlib-ng

Comment the radix sort buffer roles in build_tree
  trees.c
Due: zlib-ng

Break Huffman ties by node index instead of subtree depth
  trees.c
Due: zlib-ng

Move the merge-order array out of deflate_state
  deflate.h
  trees.c
Due: zlib-ng

Port old CVE inflate tests to gtest
  test/CMakeLists.txt
  test/CVE-2002-0059/test.gz
  test/CVE-2004-0797/test.gz
  test/CVE-2005-1849/test.gz
  test/CVE-2005-2096/test.gz
  test/cmake/test-cves.cmake
  test/test_inflate_cve.cc
Due: tests

Port GH-361, GH-364, GH-382 and GH-1600 tests to gtest
  test/CMakeLists.txt
  test/GH-1600/packobj.gz
  test/GH-382/defneg3.dat
  test/README.md
  test/cmake/test-issues.cmake
  test/test_deflate_gh_361.cc
  test/test_deflate_gh_364.cc
  test/test_deflate_quick_gh_382.cc
  test/test_inflate_gh_1600.cc
Due: tests

Check elf_aux_info() return value in ARM and POWER feature detection
  arch/arm/arm_features.c
  arch/power/power_features.c
Due: zlib-ng

Benchmark: Add level 2 to deflate data-type benchmarks
  test/benchmarks/benchmark_deflate.cc
Due: tests

Benchmark: Add logfile to deflate benchmark, based on dnf5.log. Contains a lot of repeated data, like most logfiles do.
  test/CMakeLists.txt
  test/benchmarks/benchmark_deflate.cc
  test/data/dnf5.log
  test/test_data_p.h
Due: tests

Enable gtest if only shared libraries are enabled
  CMakeLists.txt
  test/CMakeLists.txt
  test/test_main.cc
Due: tests

Benchmarks: Add longest-match benchmark. Made by Qwen3.8-27B.
  test/benchmarks/CMakeLists.txt
  test/benchmarks/benchmark_longest_match.cc
Due: tests

deflate_fast: Start using insert_knuth_stepped()
  deflate.c
  deflate.h
  deflate_fast.c
Due: zlib-ng

deflate_medium: Clean up insert_match()
  deflate_medium_tpl.h
Due: none

Allow fizzle_matches to make 258 byte matches, not just 256 bytes.
  deflate_medium_tpl.h
Due: none

deflate_medium: Start using insert_knuth_stepped() to spread match partial hashing over the whole match instead of dropping hashing and only hashing the tail position for "too long" matches.
  deflate.c
  deflate.h
  deflate_medium_tpl.h
Due: zlib-ng

deflate_medium: Don't hash overlapping positions when match dist < match_len
  deflate_medium_tpl.h
Due: none

Fix sum overflow in adler32_c on unaligned buffers
  adler32_p.h
  arch/generic/adler32_c.c
  test/test_adler32.cc
Due: zlib-ng, tests

Path conditions:
  zlib-ng: any of: arch/, adler32.c, adler32_p.h, chunkset.c, chunkset_tpl.h, compare258.c, compress.c, crc32.c, crc32_comb.c, crc32_comb_tbl.h, crc32_p.h, crc32_tbl.h, deflate.c, deflate_fast.c, deflate.h, deflate_medium.c, deflate_p.h, deflate_quick.c, deflate_slow.c, fallback_builtins.h, functable.c, functable.h, gzguts.h, gzlib.c, gzread.c, gzwrite.c, infback.c, inffast.c, inffast.h, inffixed_tbl.h, inflate.c, inflate.h, inflate_p.h, inftrees.c, inftrees.h, insert_string.c, insert_string_tpl.h, match_tpl.h, trees.c, trees_emit.h, trees.h, trees_tbl.h, uncompr.c, zbuild.h, zconf.h, zconf-ng.h, zendian.h, zlib.h, zlib-ng.h, zutil.c, zutil.h, zutil_p.h, but not: usr/include/.*, /usr/include/.*, /build/usr/include/.*, usr/lib/.*, /usr/lib/.*, /build/usr/lib/.*, usr/lib64/.*, /usr/lib64/.*, /build/usr/lib64/.*
  tests: any of: test/, tools/, but not: usr/include/.*, /usr/include/.*, /build/usr/include/.*, usr/lib/.*, /usr/lib/.*, /build/usr/lib/.*, usr/lib64/.*, /usr/lib64/.*, /build/usr/lib64/.*
