Repository zlib-ng/zlib-ng: changes, and which Codecov flags are due for each by the changed paths.
All: zlib-ng, tests

codecov.yml:

codecov:
  max_report_age: 72h
  
coverage:
  status:
    project:
      default:
        threshold: 0.07%
      zlib-ng:
        target: 80%
        flags:
          - zlib-ng
      tests:
        target: 50%
        flags:
          - tests
        
comment:
    require_head: no     # default yes
    require_base: no     # default yes

flags:
  zlib-ng:
    paths:
      - arch/
      - adler32.c
      - adler32_p.h
      - chunkset.c
      - chunkset_tpl.h
      - compare258.c
      - compress.c
      - crc32.c
      - crc32_comb.c
      - crc32_comb_tbl.h
      - crc32_p.h
      - crc32_tbl.h
      - deflate.c
      - deflate_fast.c
      - deflate.h
      - deflate_medium.c
      - deflate_p.h
      - deflate_quick.c
      - deflate_slow.c
      - fallback_builtins.h
      - functable.c
      - functable.h
      - gzguts.h
      - gzlib.c
      - gzread.c
      - gzwrite.c
      - infback.c
      - inffast.c
      - inffast.h
      - inffixed_tbl.h
      - inflate.c
      - inflate.h
      - inflate_p.h
      - inftrees.c
      - inftrees.h
      - insert_string.c
      - insert_string_tpl.h
      - match_tpl.h
      - trees.c
      - trees_emit.h
      - trees.h
      - trees_tbl.h
      - uncompr.c
      - zbuild.h
      - zconf.h
      - zconf-ng.h
      - zendian.h
      - zlib.h
      - zlib-ng.h
      - zutil.c
      - zutil.h
      - zutil_p.h
  tests:
    paths:
      - test/
      - tools/
  
fixes:
  - "/home/runner/work/zlib-ng/zlib-ng/::"
  - "/home/runner/work/zlib-ng/build/::"
  - "/build/home/runner/work/zlib-ng/zlib-ng/::"
  - "/build/home/runner/work/zlib-ng/build/::"

ignore:
  - "usr/include/.*"
  - "/usr/include/.*"
  - "/build/usr/include/.*"
  - "usr/lib/.*"
  - "/usr/lib/.*"
  - "/build/usr/lib/.*"
  - "usr/lib64/.*"
  - "/usr/lib64/.*"
  - "/build/usr/lib64/.*"

Clean up SSE4.2 detection
  .github/workflows/cmake.yml
  CMakeLists.txt
  arch/x86/insert_string_sse42.c
  cmake/detect-intrinsics.cmake
  configure
  cpu_features.h
  functable.c
Due: zlib-ng

Remove architecture dependent endian header locations
  zendian.h
Due: zlib-ng

Shared libraries on cygwin can be named with their version number
  CMakeLists.txt
Due: none

Enable use of _mm_shuffle_epi8 on machines without SSE4.1
  CMakeLists.txt
  README.md
  arch/arm/chunkset_neon.c
  arch/generic/chunk_permute_table.h
  arch/x86/Makefile.in
  arch/x86/chunkset_avx.c
  arch/x86/chunkset_ssse3.c
  arch/x86/x86_features.c
  arch/x86/x86_features.h
  chunkset_tpl.h
  cmake/detect-intrinsics.cmake
  configure
  cpu_features.h
  functable.c
  win32/Makefile.msc
Due: zlib-ng

Check for attribute aligned compiler support
  CMakeLists.txt
  configure
  zbuild.h
Due: zlib-ng

Fix CMake check for posix_memalign and aligned_alloc
  CMakeLists.txt
Due: none

Fix compilation on OpenBSD
  zbuild.h
Due: zlib-ng

Reverted description with Deprecation notice
  cmake/detect-install-dirs.cmake
Due: none

Fix .pc file paths
  CMakeLists.txt
Due: none

Switch to the standard CMake module GNUInstallDirs
  CMakeLists.txt
  cmake/detect-install-dirs.cmake
  test/CMakeLists.txt
  test/pkgcheck.sh
Due: tests

Ensure that unaligned compare256 variants are only used on little endian systems
  compare256.c
  cpu_features.h
  functable.c
  test/benchmarks/benchmark_compare256.cc
  test/test_compare256.cc
Due: zlib-ng, tests

Rename chunkset_avx to chunkset_avx2
  CMakeLists.txt
  arch/x86/Makefile.in
  arch/x86/chunkset_avx2.c
  configure
  cpu_features.h
  functable.c
  win32/Makefile.msc
Due: zlib-ng

IBM zSystems: Fix calling deflateBound() before deflateInit()
  arch/s390/dfltcc_deflate.h
  test/test_deflate_bound.cc
Due: zlib-ng, tests

Use ZLIB_INCLUDE_DIRS from FindZLIB instead of ZLIB_INCLUDE_DIR.
  test/CMakeLists.txt
Due: tests

IBM zSystems: Fix calling deflateBound() before deflateInit()
  arch/s390/dfltcc_deflate.h
Due: zlib-ng

Assure that inflatePrime() can't shift a 32-bit integer by 32 bits.
  inflate.c
Due: zlib-ng

Fix use after free in test_deflate_bound.
  test/test_deflate_bound.cc
Due: tests

Fix potential overflow before widening in makecrtc.
  tools/makecrct.c
Due: tests

2.1.0 Beta1 release
  Makefile.in
  zlib-ng.h.in
  zlib.h.in
  zutil.c
Due: zlib-ng

Fix out-of-bound access of zng_length_codes.
  deflate_quick.c
  deflate_rle.c
Due: zlib-ng

Use ternary logic to xor 3 operands for "fold16"
  arch/x86/crc32_fold_vpclmulqdq_tpl.h
Due: zlib-ng

Remove CMAKE_MACOSX_RPATH
  CMakeLists.txt
Due: none

Include GNUInstallDirs earlier
  cmake/detect-install-dirs.cmake
Due: none
