Repository zlib-ng/zlib-ng: changes, and which Codecov flags are due for each by the changed paths.
All: zlib-ng, tests

Add linter workflow for whitespace errors. zlib-ng/zlib-ng#1190
  .github/workflows/lint.yml
Due: none

Fixed tab character in ARM ACLE uqsub16 assembly.
  arch/arm/acle_intrins.h
Due: zlib-ng

Fix memory corruption introduced in 61e181c8ae93dbf56040336179c9954078bd1399
  inflate.c
Due: zlib-ng

Cancel previously running CI jobs for PR or branch.
  .github/workflows/analyze.yml
  .github/workflows/cmake.yml
  .github/workflows/codeql.yml
  .github/workflows/configure.yml
  .github/workflows/fuzz.yml
  .github/workflows/libpng.yml
  .github/workflows/link.yml
  .github/workflows/nmake.yml
  .github/workflows/pigz.yml
  .github/workflows/pkgcheck.yml
Due: none

Don't attempt ARMv6 detection on AARCH64.
  CMakeLists.txt
  configure
Due: none

Fix trailing whitespace in minideflate.c.
  test/minideflate.c
Due: tests

Split cpu_features function definitions into multiple headers.
  CMakeLists.txt
  adler32.h
  arch/x86/adler32_avx512.c
  arch/x86/adler32_avx512_vnni.c
  chunkset.h
  compare256.h
  cpu_features.h
  crc32.h
  functable.c
  inffast.h
  insert_string.h
  match.h
  slide_hash.h
  test/test_adler32.cc
  test/test_compare256.cc
  test/test_crc32.cc
Due: zlib-ng, tests

When compiling with native instructions bypass functable.
  CMakeLists.txt
  adler32.c
  adler32.h
  adler32_fold.c
  chunkset.h
  compare256.h
  compare256_rle.h
  crc32.h
  crc32_braid.c
  crc32_fold.c
  deflate.c
  deflate_fast.c
  deflate_huff.c
  deflate_medium.c
  deflate_quick.c
  deflate_rle.c
  deflate_slow.c
  deflate_stored.c
  functable.c
  infback.c
  inffast.h
  inffast_tpl.h
  inflate.c
  inflate_p.h
  insert_string.h
  match.h
  match_tpl.h
  slide_hash.h
  test/benchmarks/benchmark_adler32.cc
  test/benchmarks/benchmark_adler32_copy.cc
  test/benchmarks/benchmark_compare256.cc
  test/benchmarks/benchmark_crc32.cc
  test/benchmarks/benchmark_slidehash.cc
Due: zlib-ng, tests

Remove adler32_fold.h and clean up crc32_fold.h.
  adler32.h
  adler32_fold.c
  adler32_fold.h
  arch/x86/adler32_avx2.c
  arch/x86/adler32_avx512.c
  arch/x86/adler32_avx512_vnni.c
  arch/x86/adler32_sse42.c
  crc32_fold.c
  crc32_fold.h
  deflate.h
  functable.h
  inflate.h
  win32/Makefile.a64
  win32/Makefile.arm
  win32/Makefile.msc
Due: zlib-ng

Added GHA CI instance for -D WITH_NATIVE_INSTRUCTIONS=ON.
  .github/workflows/cmake.yml
Due: none

Improve readability of variant headers.
  adler32.h
  chunkset.h
  compare256.h
  crc32.h
  inffast.h
  insert_string.h
  match.h
  slide_hash.h
Due: zlib-ng

Explicitly indicate functions are conditionally dispatched.
  adler32.c
  adler32.h
  adler32_fold.c
  chunkset.h
  compare256.h
  compare256_rle.h
  crc32.h
  crc32_braid.c
  crc32_fold.c
  deflate.c
  deflate_fast.c
  deflate_medium.c
  deflate_quick.c
  deflate_rle.c
  deflate_slow.c
  infback.c
  inffast.h
  inflate.c
  inflate_p.h
  insert_string.h
  insert_string_tpl.h
  match.h
  slide_hash.h
  zbuild.h
Due: zlib-ng

Disable all functable calls when HAVE_NATIVE_INSTRUCTIONS defined.
  deflate.c
  inflate.c
Due: zlib-ng

Add CMake option to disable runtime CPU detection.
  CMakeLists.txt
  README.md
  adler32.h
  chunkset.h
  compare256.h
  crc32.h
  deflate.c
  inffast.h
  inflate.c
  insert_string.h
  match.h
  slide_hash.h
  zbuild.h
Due: zlib-ng

Remove tab-in-indent rule from lint workflow
  .github/workflows/lint.yml
Due: none

Remove unneeded pointer for functable.longest_match in deflate_slow
  deflate_slow.c
Due: zlib-ng

Added CI instance for WITH_NATIVE_INSTRUCTIONS.
  .github/workflows/cmake.yml
Due: none

Prefer HAVE_ALIGNED_ALLOC when available in zng_alloc
  zutil_p.h
Due: zlib-ng

Memory alloc size must be a multiple of alignment for aligned_alloc.
  zutil_p.h
Due: zlib-ng

Use zng_alloc_aligned in unit tests to prevent having to use C++17.
  test/test_compare256.cc
  test/test_compare256_rle.cc
  test/test_crc32.cc
  zutil.c
Due: zlib-ng, tests

Add FAR macro to zlib-compat headers to improve compatibility.
  zconf.h.in
Due: zlib-ng

Fix building tests with cmake 3.10 and older.
  test/CMakeLists.txt
Due: tests

2.1.6 Release
  Makefile.in
  zlib-ng.h.in
  zlib.h.in
  zutil.c
Due: zlib-ng

Upload all coverage reports at once after tests.
  .github/workflows/cmake.yml
  .github/workflows/pigz.yml
Due: none

Improve code coverage for SSE2.
  .github/workflows/cmake.yml
Due: none

Fixed S390X CMake builds not running in forks.
  .github/workflows/cmake.yml
  .github/workflows/pigz.yml
Due: none

Move adler32 C fallbacks to arch/generic
  CMakeLists.txt
  Makefile.in
  adler32.c
  arch/generic/Makefile.in
  arch/generic/adler32_c.c
  arch/generic/adler32_fold_c.c
  arch/generic/adler32_fold_c.h
  arch/x86/adler32_avx2.c
  arch/x86/adler32_avx512.c
  arch/x86/adler32_avx512_vnni.c
  arch/x86/adler32_sse42.c
  configure
  cpu_features.h
  deflate.h
  functable.h
  inflate.h
  win32/Makefile.a64
  win32/Makefile.arm
  win32/Makefile.msc
Due: zlib-ng

Path conditions:
  zlib-ng: any of: arch/, adler32.c, adler32_p.h, chunkset.c, chunkset_tpl.h, compare258.c, compress.c, crc32.c, crc32_comb.c, crc32_comb_tbl.h, crc32_p.h, crc32_tbl.h, deflate.c, deflate_fast.c, deflate.h, deflate_medium.c, deflate_p.h, deflate_quick.c, deflate_slow.c, fallback_builtins.h, functable.c, functable.h, gzguts.h, gzlib.c, gzread.c, gzwrite.c, infback.c, inffast.c, inffast.h, inffixed_tbl.h, inflate.c, inflate.h, inflate_p.h, inftrees.c, inftrees.h, insert_string.c, insert_string_tpl.h, match_tpl.h, trees.c, trees_emit.h, trees.h, trees_tbl.h, uncompr.c, zbuild.h, zconf.h, zconf-ng.h, zendian.h, zlib.h, zlib-ng.h, zutil.c, zutil.h, zutil_p.h, but not: usr/include/.*, /usr/include/.*, /build/usr/include/.*, usr/lib/.*, /usr/lib/.*, /build/usr/lib/.*, usr/lib64/.*, /usr/lib64/.*, /build/usr/lib64/.*
  tests: any of: test/, tools/, but not: usr/include/.*, /usr/include/.*, /build/usr/include/.*, usr/lib/.*, /usr/lib/.*, /build/usr/lib/.*, usr/lib64/.*, /usr/lib64/.*, /build/usr/lib64/.*
