Repository zlib-ng/zlib-ng: changes, and which Codecov flags are due for each by the changed paths.
All: zlib-ng, tests

codecov.yml:

codecov:
  max_report_age: 72h
  
coverage:
  status:
    project:
      default:
        threshold: 0.07%
      zlib-ng:
        target: 80%
        flags:
          - zlib-ng
      tests:
        target: 50%
        flags:
          - tests
        
comment:
    require_head: no     # default yes
    require_base: no     # default yes

flags:
  zlib-ng:
    paths:
      - arch/
      - adler32.c
      - adler32_p.h
      - chunkset.c
      - chunkset_tpl.h
      - compare258.c
      - compress.c
      - crc32.c
      - crc32_comb.c
      - crc32_comb_tbl.h
      - crc32_p.h
      - crc32_tbl.h
      - deflate.c
      - deflate_fast.c
      - deflate.h
      - deflate_medium.c
      - deflate_p.h
      - deflate_quick.c
      - deflate_slow.c
      - fallback_builtins.h
      - functable.c
      - functable.h
      - gzguts.h
      - gzlib.c
      - gzread.c
      - gzwrite.c
      - infback.c
      - inffast.c
      - inffast.h
      - inffixed_tbl.h
      - inflate.c
      - inflate.h
      - inflate_p.h
      - inftrees.c
      - inftrees.h
      - insert_string.c
      - insert_string_tpl.h
      - match_tpl.h
      - trees.c
      - trees_emit.h
      - trees.h
      - trees_tbl.h
      - uncompr.c
      - zbuild.h
      - zconf.h
      - zconf-ng.h
      - zendian.h
      - zlib.h
      - zlib-ng.h
      - zutil.c
      - zutil.h
      - zutil_p.h
  tests:
    paths:
      - test/
      - tools/
  
fixes:
  - "/home/runner/work/zlib-ng/zlib-ng/::"
  - "/home/runner/work/zlib-ng/build/::"
  - "/build/home/runner/work/zlib-ng/zlib-ng/::"
  - "/build/home/runner/work/zlib-ng/build/::"

ignore:
  - "usr/include/.*"
  - "/usr/include/.*"
  - "/build/usr/include/.*"
  - "usr/lib/.*"
  - "/usr/lib/.*"
  - "/build/usr/lib/.*"
  - "usr/lib64/.*"
  - "/usr/lib64/.*"
  - "/build/usr/lib64/.*"

Fix MSVC possible loss of data warning in crc32_pclmulqdq by converting len types to use uint64_t.
  arch/s390/crc32-vx.c
  arch/x86/crc32_fold_pclmulqdq.c
  arch/x86/crc32_fold_pclmulqdq_tpl.h
  arch/x86/crc32_fold_vpclmulqdq_tpl.h
  cpu_features.h
  crc32_fold.c
  crc32_fold.h
  functable.c
  functable.h
Due: zlib-ng

Add a test for concurrently modifying deflate() input
  test/CMakeLists.txt
  test/test_deflate_concurrency.cc
Due: tests

IBM Z DFLTCC: Test with MSan
  .github/workflows/cmake.yml
  arch/s390/dfltcc_detail.h
  arch/s390/self-hosted-builder/actions-runner.Dockerfile
Due: zlib-ng

IBM Z DFLTCC: Simplify includes in dfltcc_detail.h
  arch/s390/dfltcc_detail.h
Due: zlib-ng

Added workflow to test linking zlib and zlib-ng compat against native zlib-ng.
  .github/workflows/link.yml
Due: none

Improve dual link test to compile against zlib. Previously we were only linking against it.
  .github/workflows/cmake.yml
  CMakeLists.txt
  test/CMakeLists.txt
  test/test_compress_dual.cc
Due: tests

Improve the swizzle of the memory magazine fed in a chunk copy for neon
  arch/arm/chunkset_neon.c
  arch/generic/chunk_permute_table.h
  arch/x86/chunkset_avx.c
  arch/x86/chunkset_sse41.c
Due: zlib-ng

crc32_acle.c: make logic more consistent
  arch/arm/crc32_acle.c
Due: zlib-ng

early return as requested
  arch/arm/crc32_acle.c
Due: zlib-ng

remove UNROLL_MORE as suggested
  arch/arm/crc32_acle.c
Due: zlib-ng

Uninstall strawberryperl
  .github/workflows/cmake.yml
Due: none

Bump _POSIX_C_SOURCE to 200809 for strdup()
  test/minideflate.c
  zbuild.h
Due: zlib-ng, tests

Fixed conversion warning with level in compress_bound unit tests.
  test/test_compress_bound.cc
Due: tests

Don't use unaligned access for memcpy instructions due to GCC 11 assuming it is aligned in certain instances.
  arch/arm/chunkset_neon.c
  arch/power/chunkset_power8.c
  arch/x86/chunkset_avx.c
  arch/x86/chunkset_sse2.c
  arch/x86/chunkset_sse41.c
  chunkset.c
  compare256.c
  deflate.h
  inffast.c
  inflate_p.h
  insert_string_tpl.h
  match_tpl.h
  zbuild.h
Due: zlib-ng

Don't use zlib fork identifier in copyright statement.
  deflate.c
  inftrees.c
Due: zlib-ng

Use 15 (0xf) for ZLIB_VER_SUBREVISION to indicate zlib fork.
  zlib.h.in
Due: zlib-ng

Fix inflateBack to detect invalid input with distances too far.
  infback.c
Due: zlib-ng

Fixed functions declared without a prototype warning in tools.
  tools/makecrct.c
  tools/maketrees.c
Due: tests

Upgrade to actions/checkout@v3.
  .github/workflows/analyze.yml
  .github/workflows/cmake.yml
  .github/workflows/configure.yml
  .github/workflows/libpng.yml
  .github/workflows/nmake.yml
  .github/workflows/pigz.yml
  .github/workflows/pkgcheck.yml
  .github/workflows/release.yml
Due: none

Clean up workflow and job names. Remove CI prefix because it is redundant.
  .github/workflows/analyze.yml
  .github/workflows/cmake.yml
  .github/workflows/configure.yml
  .github/workflows/fuzz.yml
  .github/workflows/libpng.yml
  .github/workflows/link.yml
  .github/workflows/nmake.yml
  .github/workflows/pigz.yml
  .github/workflows/pkgcheck.yml
  .github/workflows/release.yml
Due: none

Added whitespace separation between steps in fuzzer workflow.
  .github/workflows/fuzz.yml
Due: none

Collapse workflow multiline run actions into single line.
  .github/workflows/analyze.yml
  .github/workflows/cmake.yml
  .github/workflows/libpng.yml
  .github/workflows/pkgcheck.yml
  .github/workflows/release.yml
Due: none

Use working-directory property for run actions instead of changing directory.
  .github/workflows/cmake.yml
  .github/workflows/configure.yml
  .github/workflows/libpng.yml
  .github/workflows/pigz.yml
  .github/workflows/release.yml
Due: none

Remove unused sanitizer options in configure workflow.
  .github/workflows/configure.yml
Due: none

Set max time for job to complete to 60 minutes.
  .github/workflows/cmake.yml
Due: none

Split long workflow commands into separate lines for easier readability.
  .github/workflows/analyze.yml
  .github/workflows/cmake.yml
  .github/workflows/libpng.yml
  .github/workflows/pigz.yml
  .github/workflows/pkgcheck.yml
  .github/workflows/release.yml
Due: none

Use msvc-dev-cmd to set the development environment.
  .github/workflows/nmake.yml
Due: none

Reorganize cmake scripts for tests.
  CMakeLists.txt
  test/CMakeLists.txt
  test/cmake/compress-and-verify.cmake
  test/cmake/run-and-compare.cmake
  test/cmake/run-and-redirect.cmake
  test/cmake/test-cves.cmake
  test/cmake/test-data.cmake
  test/cmake/test-issues.cmake
  test/cmake/test-tools.cmake
  test/pigz/CMakeLists.txt
Due: tests

Treat arm64 as aarch64 for Apple M1.
  cmake/detect-arch.c
  configure
Due: none

Set `CMAKE_*_COMPILER_TARGET` to full triplet for mingw toolchains
  cmake/toolchain-mingw-i686.cmake
  cmake/toolchain-mingw-x86_64.cmake
Due: none

Fix a bug when getting a gzip header extra field with inflate().
  inflate.c
Due: zlib-ng

cmake: Set the mingw CMAKE_<LANG>_COMPILER_TARGET to the full triple, like for other targets
  cmake/toolchain-mingw-i686.cmake
  cmake/toolchain-mingw-x86_64.cmake
Due: none

Remove extra compiler names
  cmake/toolchain-mingw-i686.cmake
Due: none
