Repository zlib-ng/zlib-ng: changes, and which Codecov flags are due for each by the changed paths.
All: zlib-ng, tests

Rewrite LoongArch64 CRC32 implementation based on ARMv8 with manual alignment
  arch/loongarch/crc32_la.c
  test/test_crc32.cc
Due: zlib-ng, tests

Add support for cross-compiling for LoongArch64
  .github/workflows/cmake.yml
  .github/workflows/configure.yml
  cmake/toolchain-loongarch64-gcc-14.cmake
Due: none

Add LoongArch64 slide_hash implementation
  CMakeLists.txt
  arch/loongarch/Makefile.in
  arch/loongarch/loongarch_functions.h
  arch/loongarch/slide_hash_lasx.c
  arch/loongarch/slide_hash_lsx.c
  configure
  functable.c
  test/benchmarks/benchmark_slidehash.cc
Due: zlib-ng, tests

Add LoongArch64 check for LSX, LASX features
  .github/workflows/cmake.yml
  CMakeLists.txt
  arch/loongarch/Makefile.in
  arch/loongarch/loongarch_features.c
  arch/loongarch/loongarch_features.h
  arch/loongarch/loongarch_functions.h
  cmake/detect-intrinsics.cmake
  configure
Due: zlib-ng

Add LoongArch64 CRC32 implementation
  CMakeLists.txt
  arch/loongarch/Makefile.in
  arch/loongarch/crc32_la.c
  arch/loongarch/loongarch_features.c
  arch/loongarch/loongarch_features.h
  arch/loongarch/loongarch_functions.h
  arch_functions.h
  cmake/detect-intrinsics.cmake
  configure
  cpu_features.c
  cpu_features.h
  functable.c
  test/benchmarks/benchmark_crc32.cc
  test/test_crc32.cc
Due: zlib-ng, tests

Add LoongArch64 (LASX) chunkmemset family of functions implementation
  CMakeLists.txt
  arch/generic/chunk_256bit_perm_idx_lut.h
  arch/loongarch/Makefile.in
  arch/loongarch/chunkset_lasx.c
  arch/loongarch/lasxintrin_ext.h
  arch/loongarch/loongarch_functions.h
  arch/x86/chunkset_avx512.c
  configure
  functable.c
Due: zlib-ng

LoongArch64 micro-optimizations
  arch/loongarch/chunkset_lasx.c
  arch/loongarch/lasxintrin_ext.h
Due: zlib-ng

Add LoongArch64 (LSX) adler32, adler32_fold_copy implementation
  CMakeLists.txt
  arch/loongarch/Makefile.in
  arch/loongarch/adler32_lsx.c
  arch/loongarch/loongarch_functions.h
  arch/loongarch/lsxintrin_ext.h
  configure
  functable.c
  test/benchmarks/benchmark_adler32.cc
  test/benchmarks/benchmark_adler32_copy.cc
  test/test_adler32.cc
Due: zlib-ng, tests

Add LoongArch64 compare256, longest_match, longest_match_slow implementation
  CMakeLists.txt
  arch/loongarch/Makefile.in
  arch/loongarch/compare256_lasx.c
  arch/loongarch/compare256_lsx.c
  arch/loongarch/lasxintrin_ext.h
  arch/loongarch/loongarch_functions.h
  arch/loongarch/lsxintrin_ext.h
  configure
  functable.c
  test/benchmarks/benchmark_compare256.cc
  test/test_compare256.cc
Due: zlib-ng, tests

Make test options dependent on ZLIB_ENABLE_TESTS
  CMakeLists.txt
Due: none

Fix compilation errors on systems where int32_t is long
  zlib-ng.h.in
Due: zlib-ng

MSVC: Enable CFG
  CMakeLists.txt
Due: none

Revert "Clean up insert_match() in deflate_medium"
  deflate_medium.c
Due: zlib-ng

Revert "Inserting strings is not slow any longer, remove bypass in deflate_medium()."
  deflate_medium.c
Due: zlib-ng

Update incorrect comment
  deflate.h
Due: zlib-ng

Prep for 2.3.0 beta
  Makefile.in
  zlib-ng.h.in
  zlib.h.in
  zutil.c
Due: zlib-ng

disable workaround on Clang 20 and above as it's not needed
  arch/arm/neon_intrins.h
Due: zlib-ng

enable workaround on all platforms instead of just android and iOS
  arch/arm/neon_intrins.h
Due: zlib-ng

re-arange comment
  arch/arm/neon_intrins.h
Due: zlib-ng

Change flags to "-Werror=unguarded-availability", "-Werror=unguarded-availability-new" and add it to maybe affected symbol checking
  CMakeLists.txt
  configure
Due: none

Restore support macOS prior 10.15
  .github/workflows/cmake.yml
  CMakeLists.txt
  configure
Due: none

Fix incorrect declaration of FORCE_SSE2
  CMakeLists.txt
Due: none

Disable MSVC optimizations for AVX512 GET_CHUNK_MAG #1883
  arch/x86/chunkset_avx512.c
Due: zlib-ng

ci: add a GCC RISCV test target with latest Ubuntu and system toolchain
  .github/workflows/cmake.yml
  cmake/toolchain-riscv.cmake
Due: none

ci: drop RISC-V Clang test
  .github/workflows/cmake.yml
Due: none

ci: add a Clang RISCV test target
  .github/workflows/cmake.yml
  cmake/toolchain-riscv-clang.cmake
Due: none

riscv: chunkset_rvv: fix SIGSEGV in CHUNKCOPY
  arch/riscv/chunkset_rvv.c
Due: zlib-ng

CI: Preinstall packages needed for testing and benchmark. Avoids having to compile gtest and google benchmark in every CI job.
  .github/workflows/cmake.yml
Due: none

Fix pointer type mismatch.
  test/benchmarks/benchmark_uncompress.cc
Due: tests

Pass POSIX_C_SOURCE for std::alligned_alloc try_compile checks
  CMakeLists.txt
  configure
Due: none

Remove deprecated ubuntu-20.04 image from CI.
  .github/workflows/cmake.yml
  .github/workflows/configure.yml
Due: none

Fix PPC64LE CI run when targeting power8.
  .github/workflows/cmake.yml
Due: none

Fix SPARC64 packages for Ubuntu 24.
  .github/workflows/cmake.yml
Due: none

Fix CXXFLAGS when coverage enabled.
  CMakeLists.txt
Due: none

Remove late enable_language calls.
  cmake/detect-arch.cmake
  test/CMakeLists.txt
  test/benchmarks/CMakeLists.txt
  test/fuzz/CMakeLists.txt
Due: tests

[FreeBSD] Define _XOPEN_SOURCE for gtest_zlib * Without defining _XOPEN_SOURCE as 700, isascii() is not available on FreeBSD 14.
  test/CMakeLists.txt
Due: tests

Speed up benchmarks when run as part of gtest as it does not check data for correctness, making it only run each benchmark for 1 iteration, instead of thousands or hundreds of thousands.
  .github/workflows/cmake.yml
  test/benchmarks/CMakeLists.txt
  test/benchmarks/benchmark_slidehash.cc
Due: tests

riscv: add bash configure script and related ci support for riscv
  .github/workflows/configure.yml
  .github/workflows/pkgcheck.yml
  arch/riscv/Makefile.in
  configure
Due: zlib-ng

Add large 1mb buffer test for crc32 hashing.
  test/test_crc32.cc
Due: tests

Replace deprecated windows-2019 with windows-2022
  .github/workflows/cmake.yml
Due: none

Path conditions:
  zlib-ng: any of: arch/, adler32.c, adler32_p.h, chunkset.c, chunkset_tpl.h, compare258.c, compress.c, crc32.c, crc32_comb.c, crc32_comb_tbl.h, crc32_p.h, crc32_tbl.h, deflate.c, deflate_fast.c, deflate.h, deflate_medium.c, deflate_p.h, deflate_quick.c, deflate_slow.c, fallback_builtins.h, functable.c, functable.h, gzguts.h, gzlib.c, gzread.c, gzwrite.c, infback.c, inffast.c, inffast.h, inffixed_tbl.h, inflate.c, inflate.h, inflate_p.h, inftrees.c, inftrees.h, insert_string.c, insert_string_tpl.h, match_tpl.h, trees.c, trees_emit.h, trees.h, trees_tbl.h, uncompr.c, zbuild.h, zconf.h, zconf-ng.h, zendian.h, zlib.h, zlib-ng.h, zutil.c, zutil.h, zutil_p.h, but not: usr/include/.*, /usr/include/.*, /build/usr/include/.*, usr/lib/.*, /usr/lib/.*, /build/usr/lib/.*, usr/lib64/.*, /usr/lib64/.*, /build/usr/lib64/.*
  tests: any of: test/, tools/, but not: usr/include/.*, /usr/include/.*, /build/usr/include/.*, usr/lib/.*, /usr/lib/.*, /build/usr/lib/.*, usr/lib64/.*, /usr/lib64/.*, /build/usr/lib64/.*
