Repository zlib-ng/zlib-ng: changes, and which Codecov flags are due for each by the changed paths.
All: zlib-ng, tests

codecov.yml:

codecov:
  max_report_age: 72h
  
coverage:
  status:
    project:
      default:
        threshold: 0.07%
      zlib-ng:
        target: 80%
        flags:
          - zlib-ng
      tests:
        target: 50%
        flags:
          - tests
        
comment:
    require_head: no     # default yes
    require_base: no     # default yes

flags:
  zlib-ng:
    paths:
      - arch/
      - adler32.c
      - adler32_p.h
      - chunkset.c
      - chunkset_tpl.h
      - compare258.c
      - compress.c
      - crc32.c
      - crc32_comb.c
      - crc32_comb_tbl.h
      - crc32_p.h
      - crc32_tbl.h
      - deflate.c
      - deflate_fast.c
      - deflate.h
      - deflate_medium.c
      - deflate_p.h
      - deflate_quick.c
      - deflate_slow.c
      - fallback_builtins.h
      - functable.c
      - functable.h
      - gzguts.h
      - gzlib.c
      - gzread.c
      - gzwrite.c
      - infback.c
      - inffast.c
      - inffast.h
      - inffixed_tbl.h
      - inflate.c
      - inflate.h
      - inflate_p.h
      - inftrees.c
      - inftrees.h
      - insert_string.c
      - insert_string_tpl.h
      - match_tpl.h
      - trees.c
      - trees_emit.h
      - trees.h
      - trees_tbl.h
      - uncompr.c
      - zbuild.h
      - zconf.h
      - zconf-ng.h
      - zendian.h
      - zlib.h
      - zlib-ng.h
      - zutil.c
      - zutil.h
      - zutil_p.h
  tests:
    paths:
      - test/
      - tools/
  
fixes:
  - "/home/runner/work/zlib-ng/zlib-ng/::"
  - "/home/runner/work/zlib-ng/build/::"
  - "/build/home/runner/work/zlib-ng/zlib-ng/::"
  - "/build/home/runner/work/zlib-ng/build/::"

ignore:
  - "usr/include/.*"
  - "/usr/include/.*"
  - "/build/usr/include/.*"
  - "usr/lib/.*"
  - "/usr/lib/.*"
  - "/build/usr/lib/.*"
  - "usr/lib64/.*"
  - "/usr/lib64/.*"
  - "/build/usr/lib64/.*"

Reorder 'inflate_state' struct to improve cache-locality of variables needed by inffast (from 6 cachelines to 1). Also fill in some unnecessary holes.
  inflate.h
Due: zlib-ng

Don't use 'dmax' and 'sane' variables unless their checks have been compiled in.
  infback.c
  inffast_tpl.h
  inflate.c
  inflate.h
Due: zlib-ng

Add variable 'wbufsize' to track window buffer including padding, to allow the chunkset code to spill garbage data into the padding area if available.
  infback.c
  inffast_tpl.h
  inflate.c
  inflate.h
Due: zlib-ng

Simplify avx2 chunkset a bit
  arch/x86/chunkset_avx2.c
  chunkset_tpl.h
Due: zlib-ng

Make chunkset_avx2 half chunk aware
  arch/arm/chunkset_neon.c
  arch/x86/chunkset_avx2.c
  arch/x86/chunkset_sse2.c
  arch/x86/chunkset_ssse3.c
  chunkset_tpl.h
Due: zlib-ng

Reorder variables in inflate functions to reduce padding holes due to variable alignment requirements.
  inffast_tpl.h
  inflate.c
Due: zlib-ng

configure: Fix linker flags for Haiku.
  configure
Due: none

configure: add --mandir to override $mandir on command line.
  configure
Due: none

Try to simply the inflate loop by collapsing most cases to chunksets
  arch/arm/arm_functions.h
  arch/generic/generic_functions.h
  arch/power/power_functions.h
  arch/riscv/riscv_functions.h
  arch/x86/chunkset_avx2.c
  arch/x86/x86_functions.h
  chunkset_tpl.h
  functable.c
  functable.h
  inffast_tpl.h
  inflate.c
  inflate_p.h
Due: zlib-ng

Make an AVX512 inflate fast with low cost masked writes
  CMakeLists.txt
  arch/x86/Makefile.in
  arch/x86/avx2_tables.h
  arch/x86/chunkset_avx512.c
  arch/x86/x86_features.c
  arch/x86/x86_features.h
  arch/x86/x86_functions.h
  chunkset_tpl.h
  cmake/detect-intrinsics.cmake
  configure
  functable.c
  inffast_tpl.h
Due: zlib-ng

Fix casting warning/error in test_compress_bound.cc
  test/test_compress_bound.cc
Due: tests

Remove unused HAVE_CHUNKMEMSET_1 define
  arch/x86/chunkset_avx2.c
  arch/x86/chunkset_avx512.c
Due: zlib-ng

Fix native detection of CRC instruction
  arch/arm/arm_functions.h
Due: zlib-ng

Allow more cases to fall through to CHUNKMEMSET/CHUNKCOPY
  arch/arm/chunkset_neon.c
  arch/generic/chunkset_c.c
  arch/power/chunkset_power8.c
  arch/riscv/chunkset_rvv.c
  arch/x86/chunkset_avx2.c
  arch/x86/chunkset_sse2.c
  arch/x86/chunkset_ssse3.c
  chunkset_tpl.h
Due: zlib-ng

zbuild: Provide a fallback for "ALIGNED_(x)" for other compiler
  zbuild.h
Due: zlib-ng

Improve pipeling for AVX512 chunking
  arch/x86/chunkset_avx512.c
  chunkset_tpl.h
Due: zlib-ng

Enable AVX2 functions to be built with BMI2 instructions
  arch/x86/Makefile.in
  cmake/detect-intrinsics.cmake
  configure
  functable.c
Due: zlib-ng

Fix typos
  zlib.h.in
Due: zlib-ng

.
  zlib-ng.h.in
Due: zlib-ng

.
  test/infcover.c
Due: tests

Make big endians first class citizens again
  arch/generic/compare256_c.c
  arch/generic/generic_functions.h
  zbuild.h
Due: zlib-ng

Fix "RLE" compression with big endian architectures
  compare256_rle.h
Due: none

Set OPTIMAL_CMP for 32-bit PowerPC
  cmake/detect-arch.c
  zbuild.h
Due: zlib-ng

Update s390x actions-runner docker
  arch/s390/README.md
  arch/s390/self-hosted-builder/actions-runner
  arch/s390/self-hosted-builder/actions-runner-rebuild.sh
  arch/s390/self-hosted-builder/actions-runner.Dockerfile
  arch/s390/self-hosted-builder/actions-runner.service
  arch/s390/self-hosted-builder/entrypoint
  arch/s390/self-hosted-builder/fs/usr/bin/actions-runner
  arch/s390/self-hosted-builder/runner-global.json
  arch/s390/self-hosted-builder/runner-s390x.patch
Due: zlib-ng

Improved setting of OPTIMAL_CMP on ARM
  zbuild.h
Due: zlib-ng

Fix unaligned access in ACLE based crc32
  arch/arm/crc32_acle.c
  test/test_crc32.cc
Due: zlib-ng, tests

Remove no longer needed endianness check for compare256_bench
  test/benchmarks/benchmark_compare256.cc
  test/benchmarks/benchmark_compare256_rle.cc
Due: tests

Rename functions to get rid of old and now misleading "unaligned" naming
  arch/generic/compare256_c.c
  arch/generic/generic_functions.h
  compare256_rle.h
  deflate_rle.c
  test/benchmarks/benchmark_compare256.cc
  test/benchmarks/benchmark_compare256_rle.cc
  test/test_compare256.cc
  test/test_compare256_rle.cc
Due: zlib-ng, tests

2.2.3 Release
  Makefile.in
  zlib-ng.h.in
  zlib.h.in
  zutil.c
Due: zlib-ng

Use arch-specific deflate_quick functions instead of compare256.
  CMakeLists.txt
  arch/arm/compare256_neon.c
  arch/generic/compare256_c.c
  arch/generic/generic_functions.h
  arch/power/compare256_power9.c
  arch/riscv/compare256_rvv.c
  arch/x86/compare256_avx2.c
  arch/x86/compare256_sse2.c
  arch/x86/x86_functions.h
  deflate.c
  deflate_quick_tpl.h
  functable.c
  functable.h
Due: zlib-ng

cmake: disable LTO for some configure checks
  CMakeLists.txt
Due: none

Improve image/container rebuild script to work properly under cron.
  arch/s390/self-hosted-builder/actions-runner-rebuild.sh
  arch/s390/self-hosted-builder/actions-runner.Dockerfile
Due: zlib-ng

Workaround error G6E97C40B
  arch/riscv/riscv_features.c
Due: zlib-ng

Add missing compiler-rt libraries for Ubuntu 24. #1840
  .github/workflows/cmake.yml
Due: none

Use Ubuntu 24 crossbuild-essential packages.
  .github/workflows/cmake.yml
Due: none

Use correct version of gcov for cross-compilers.
  .github/workflows/cmake.yml
Due: none
