Repository zlib-ng/zlib-ng: changes, and which Codecov flags are due for each by the changed paths.
All: zlib-ng, tests

Always check that distance is too far back in inflateBack.
  infback.c
Due: zlib-ng

Move resetting state->gzhead from deflateInit2 to deflateResetKeep.
  deflate.c
Due: zlib-ng

Make macro redefinition fatal with LCC.
  CMakeLists.txt
Due: none

Reject asymmetric C vs C++ machine flags
  CMakeLists.txt
  cmake/check-compiler-flags.cmake
Due: none

[CI] Add NVHPC to CMake workflow.
  .github/workflows/cmake.yml
  zbuild.h
Due: zlib-ng

Fix warnings triggered by NVHPC/nvc.
  arch/x86/adler32_ssse3.c
  deflate.c
  test/test_adler32.cc
  test/test_adler32_copy.cc
  test/test_compare256.cc
  test/test_compare256_rle.cc
  test/test_crc32.cc
  test/test_crc32_copy.cc
Due: zlib-ng, tests

Fix warning label followed by a declaration is a C23 extension.
  arch/riscv/crc32_zbc.c
Due: zlib-ng

Enable -Werror in GCC and Clang.
  CMakeLists.txt
  configure
Due: none

Fix warnings variable set but not used.
  test/fuzz/fuzzer_example_large.c
  test/test_gzio.cc
Due: tests

LCC: Suppress warnings in Google Benchmark.
  test/benchmarks/CMakeLists.txt
Due: tests

Add branch prediction hints to deflate strategy hot loops
  deflate_fast.c
  deflate_huff.c
  deflate_medium.c
  deflate_rle.c
  deflate_slow.c
Due: zlib-ng

gzread: Fix compilation on AIX
  zbuild.h
Due: zlib-ng

Remove ptrdiff_t configure/cmake detection
  CMakeLists.txt
  configure
  zconf-ng.h.in
  zconf.h.in
Due: zlib-ng

[CI] Add ARM64 version of MinGW64 with gcc.
  .github/workflows/cmake.yml
Due: none

[CI] Add configure workflow for Windows ARM64 with clang.
  .github/workflows/configure.yml
  configure
Due: none

Fix inflateBack() out-of-bounds read past the caller-supplied window
  infback.c
  inffast_tpl.h
  test/CMakeLists.txt
  test/test_inflate_back_window_oob.cc
Due: zlib-ng, tests

Address review: cover wrap-around tail copy + test style cleanup
  inffast_tpl.h
  test/test_inflate_back_window_oob.cc
Due: tests

fix integer overflow in gz_buffer_alloc buffer sizing
  gzlib.c
Due: zlib-ng

Cap gz_buffer_alloc size at INT_MAX accounting for allocator overhead
  gzlib.c
Due: zlib-ng

Simplify fix to the MATCH distance check; drop inffast extra_safe path
  infback.c
  inffast_tpl.h
Due: zlib-ng

Fix warnings about BRAID_W/BRAID_N being undefined.
  arch/generic/crc32_braid_c.c
  arch/generic/crc32_chorba_c.c
  arch/x86/crc32_chorba_sse2.c
  arch/x86/crc32_chorba_sse41.c
  arch/x86/crc32_pclmulqdq_tpl.h
  crc32_braid_comb.c
  crc32_braid_tbl.h
  tools/makecrct.c
Due: zlib-ng, tests

Fix warnings about BIG_ENDIAN/LITTLE_ENDIAN being undefined
  zendian.h
Due: zlib-ng

Fix warnings about __CYGWIN__ being undefined.
  gzlib.c
Due: zlib-ng

[CI] Add configure workflow for Windows AMD64 with Clang.
  .github/workflows/configure.yml
Due: none

Move minideflate.c and minigzip.c to utils/ folder, now always building these, no longer depending on tests being enabled.
  CMakeLists.txt
  Makefile.in
  test/CMakeLists.txt
  utils/CMakeLists.txt
  utils/minideflate.c
  utils/minigzip.c
Due: tests

Implement coderabbitai suggested cleanup and improvements for utils/CMakeLists.txt
  utils/CMakeLists.txt
Due: none

Add utils/README.md
  utils/README.md
Due: none

Move makecrct, makefixed and maketrees to utils/ folder.
  Makefile.in
  test/CMakeLists.txt
  utils/CMakeLists.txt
  utils/makecrct.c
  utils/makefixed.c
  utils/maketrees.c
Due: tests

Add LIKELY / UNLIKELY hints to LONGEST_MATCH. Based on CI/Coveralls data and local benchmarking.
  match_tpl.h
Due: zlib-ng

Remove obsolete templating of insert_string functions.
  CMakeLists.txt
  insert_string_p.h
  insert_string_tpl.h
Due: zlib-ng

Clean up and simplify insert_string code.
  insert_string_p.h
Due: none

Remove unused functions
  insert_string_p.h
Due: none

Replace hash calculations with macros in insert_string_p.h
  insert_string_p.h
Due: none

Add -mbmi to AVX2 and AVX512 compile flags
  cmake/detect-intrinsics.cmake
  configure
Due: none

Unify inconsistent handling of GZBUFSIZE, and update documentation.
  utils/CMakeLists.txt
  utils/minideflate.c
  utils/minigzip.c
  zlib-ng.h.in
Due: zlib-ng

add explicit cast when storing want in state->size
  gzlib.c
Due: zlib-ng

Hoist strstart and lookahead to locals in deflate strategies
  deflate_huff.c
  deflate_quick.c
  deflate_rle.c
Due: zlib-ng

Cleanup deflate_quick variable reuse and call signatures
  deflate_quick.c
Due: zlib-ng

shorten gz_buffer_alloc overflow comment
  gzlib.c
Due: zlib-ng

[CI] Add coveralls as trusted formula for Homebrew under MacOS * Homebrew 6.0.0 requires explicit trust when installing formulae from third-party taps (repositories)
  .github/workflows/cmake.yml
Due: none

Path conditions:
  zlib-ng: any of: arch/, adler32.c, adler32_p.h, chunkset.c, chunkset_tpl.h, compare258.c, compress.c, crc32.c, crc32_comb.c, crc32_comb_tbl.h, crc32_p.h, crc32_tbl.h, deflate.c, deflate_fast.c, deflate.h, deflate_medium.c, deflate_p.h, deflate_quick.c, deflate_slow.c, fallback_builtins.h, functable.c, functable.h, gzguts.h, gzlib.c, gzread.c, gzwrite.c, infback.c, inffast.c, inffast.h, inffixed_tbl.h, inflate.c, inflate.h, inflate_p.h, inftrees.c, inftrees.h, insert_string.c, insert_string_tpl.h, match_tpl.h, trees.c, trees_emit.h, trees.h, trees_tbl.h, uncompr.c, zbuild.h, zconf.h, zconf-ng.h, zendian.h, zlib.h, zlib-ng.h, zutil.c, zutil.h, zutil_p.h, but not: usr/include/.*, /usr/include/.*, /build/usr/include/.*, usr/lib/.*, /usr/lib/.*, /build/usr/lib/.*, usr/lib64/.*, /usr/lib64/.*, /build/usr/lib64/.*
  tests: any of: test/, tools/, but not: usr/include/.*, /usr/include/.*, /build/usr/include/.*, usr/lib/.*, /usr/lib/.*, /build/usr/lib/.*, usr/lib64/.*, /usr/lib64/.*, /build/usr/lib64/.*
