Repository zlib-ng/zlib-ng: changes, and which Codecov flags are due for each by the changed paths.
All: zlib-ng, tests

codecov.yml:

codecov:
  max_report_age: 72h
  
coverage:
  status:
    project:
      default:
        threshold: 0.07%
      zlib-ng:
        target: 80%
        flags:
          - zlib-ng
      tests:
        target: 50%
        flags:
          - tests
        
comment:
    require_head: no     # default yes
    require_base: no     # default yes

flags:
  zlib-ng:
    paths:
      - arch/
      - adler32.c
      - adler32_p.h
      - chunkset.c
      - chunkset_tpl.h
      - compare258.c
      - compress.c
      - crc32.c
      - crc32_comb.c
      - crc32_comb_tbl.h
      - crc32_p.h
      - crc32_tbl.h
      - deflate.c
      - deflate_fast.c
      - deflate.h
      - deflate_medium.c
      - deflate_p.h
      - deflate_quick.c
      - deflate_slow.c
      - fallback_builtins.h
      - functable.c
      - functable.h
      - gzguts.h
      - gzlib.c
      - gzread.c
      - gzwrite.c
      - infback.c
      - inffast.c
      - inffast.h
      - inffixed_tbl.h
      - inflate.c
      - inflate.h
      - inflate_p.h
      - inftrees.c
      - inftrees.h
      - insert_string.c
      - insert_string_tpl.h
      - match_tpl.h
      - trees.c
      - trees_emit.h
      - trees.h
      - trees_tbl.h
      - uncompr.c
      - zbuild.h
      - zconf.h
      - zconf-ng.h
      - zendian.h
      - zlib.h
      - zlib-ng.h
      - zutil.c
      - zutil.h
      - zutil_p.h
  tests:
    paths:
      - test/
      - tools/
  
fixes:
  - "/home/runner/work/zlib-ng/zlib-ng/::"
  - "/home/runner/work/zlib-ng/build/::"
  - "/build/home/runner/work/zlib-ng/zlib-ng/::"
  - "/build/home/runner/work/zlib-ng/build/::"

ignore:
  - "usr/include/.*"
  - "/usr/include/.*"
  - "/build/usr/include/.*"
  - "usr/lib/.*"
  - "/usr/lib/.*"
  - "/build/usr/lib/.*"
  - "usr/lib64/.*"
  - "/usr/lib64/.*"
  - "/build/usr/lib64/.*"

Avoid a fruitless memory copy in gzread.c.
  gzread.c
Due: zlib-ng

Clarify the use of errnum in gzerror().
  zlib-ng.h.in
  zlib.h.in
Due: zlib-ng

Initialize data_type in inflateResetKeep and update inflatePrime docs.
  inflate.c
  zlib-ng.h.in
  zlib.h.in
Due: zlib-ng

Note the use of gzungetc() to run a deferred seek while reading.
  zlib-ng.h.in
  zlib.h.in
Due: zlib-ng

Note that gzseek() requests are deferred until the next operation.
  zlib-ng.h.in
  zlib.h.in
Due: zlib-ng

Allow gzflush() to write empty gzip members.
  gzwrite.c
Due: zlib-ng

Clarify the use of inflateGetHeader().
  zlib-ng.h.in
  zlib.h.in
Due: zlib-ng

Update links to the RFCs.
  deflate.c
  doc/algorithm.txt
  zlib-ng.h.in
  zlib.h.in
Due: zlib-ng

Check for negative lengths in crc32_combine functions.
  crc32_braid_comb.c
Due: none

Clean up the use of switch cases.
  infback.c
  inflate.c
  inftrees.c
Due: zlib-ng

Update gz*.c copyright dates.
  gzlib.c
  gzread.c
  gzwrite.c
Due: zlib-ng

zlib 1.3.2.
  compress.c
  crc32.c
  crc32_braid_comb.c
  deflate.c
  deflate.h
  gzguts.h
  gzlib.c
  gzread.c
  gzwrite.c
  infback.c
  inffixed_tbl.h
  inflate.c
  inftrees.c
  inftrees.h
  trees.c
  uncompr.c
  zconf-ng.h.in
  zconf.h.in
  zlib-ng.h.in
  zlib.h.in
  zutil.c
  zutil.h
Due: zlib-ng

Add bounds check for next pointer in inflateCopy
  inflate.c
  test/test_inflate_copy.cc
Due: zlib-ng, tests

Fix off-by-one in next pointer bounds check
  inflate.c
Due: zlib-ng

Have gz_skip() update how far it got for later continuation.
  gzguts.h
  gzlib.c
  gzread.c
  gzwrite.c
Due: zlib-ng

Add a "G" option to force gzip, disabling transparency in gzread().
  gzlib.c
  gzread.c
  zlib-ng.h.in
  zlib.h.in
Due: zlib-ng

Clean up debug sign conversions in deflate check_match calls.
  deflate_p.h
Due: zlib-ng

Return Z_STREAM_ERROR on corrupted next pointer instead of silent fallback
  inflate.c
Due: zlib-ng

Update MCST qemu-e2k
  .github/workflows/cmake.yml
Due: none

Split inflate_fast into safe and non-safe specializations
  arch/arm/arm_functions.h
  arch/arm/chunkset_neon.c
  arch/generic/chunkset_c.c
  arch/generic/generic_functions.h
  arch/loongarch/chunkset_lasx.c
  arch/loongarch/chunkset_lsx.c
  arch/loongarch/loongarch_functions.h
  arch/power/chunkset_power8.c
  arch/power/power_functions.h
  arch/riscv/chunkset_rvv.c
  arch/riscv/riscv_functions.h
  arch/x86/chunkset_avx2.c
  arch/x86/chunkset_avx512.c
  arch/x86/chunkset_sse2.c
  arch/x86/chunkset_ssse3.c
  arch/x86/x86_functions.h
  functable.c
  functable.h
  infback.c
  inffast_tpl.h
  inflate.c
Due: zlib-ng

Inline chunkcopy_safe into the safe inflate_fast variant on ARM clang
  inflate_p.h
Due: zlib-ng

Use z_const cast in inflateCopy test for consistency
  test/test_inflate_copy.cc
Due: tests

Cache pending index in local for put_short/put_uint32/put_uint64
  deflate.h
Due: zlib-ng

Pack frequency, depth and node into 64-bit heap entries in build_tree
  deflate.h
  trees.c
Due: zlib-ng

Break Huffman ties by node index instead of subtree depth
  trees.c
Due: zlib-ng

Fix minimum Windows API version for benchmarks under MinGW.
  test/benchmarks/CMakeLists.txt
  test/benchmarks/benchmark_main.cc
Due: tests

arch PIC32 XTENSA(ESP32) AVR(Arduino) for Linux RTOS boards
  CMakeLists.txt
  cmake/detect-arch.cmake
  zarch.h
Due: none

arm: probe hw.optional.arm.FEAT_CRC32 with fallback on macOS
  arch/arm/arm_features.c
Due: zlib-ng

Add symver asm detection
  CMakeLists.txt
  configure
  zbuild.h
Due: zlib-ng

zlib-ng uses const internally and z_const for externally visible variables. Add comments to that effect at definition of z_const.
  zconf-ng.h.in
  zconf.h.in
Due: zlib-ng

Deprecate the zng_adler32() and zng_crc32() functions. Steer people towards the _z suffuxed functions that support size_t lengths.
  test/example.c
  test/fuzz/fuzzer_checksum.c
  test/test_deflate_prime.cc
  zconf-ng.h.in
  zlib-ng.h.in
Due: zlib-ng, tests

refactor(arm64): extract LOAD_16B_PAIR helper in compare256_neon
  arch/arm/compare256_neon.c
Due: zlib-ng

feat(arm64): optimize compare256_neon with 2x-unrolled loop and scalar early exit
  arch/arm/compare256_neon.c
Due: zlib-ng

Don't use fast PMULL path on Neoverse N2
  arch/arm/arm_features.c
Due: zlib-ng

Fix Neoverse V3 CPU part number and add V3AE
  arch/arm/arm_features.c
Due: zlib-ng
