Repository zlib-ng/zlib-ng: changes, and which Codecov flags are due for each by the changed paths.
All: zlib-ng, tests

codecov.yml:

codecov:
  max_report_age: 72h
  
coverage:
  status:
    project:
      default:
        threshold: 0.07%
      zlib-ng:
        target: 80%
        flags:
          - zlib-ng
      tests:
        target: 50%
        flags:
          - tests
        
comment:
    require_head: no     # default yes
    require_base: no     # default yes

flags:
  zlib-ng:
    paths:
      - arch/
      - adler32.c
      - adler32_p.h
      - chunkset.c
      - chunkset_tpl.h
      - compare258.c
      - compress.c
      - crc32.c
      - crc32_comb.c
      - crc32_comb_tbl.h
      - crc32_p.h
      - crc32_tbl.h
      - deflate.c
      - deflate_fast.c
      - deflate.h
      - deflate_medium.c
      - deflate_p.h
      - deflate_quick.c
      - deflate_slow.c
      - fallback_builtins.h
      - functable.c
      - functable.h
      - gzguts.h
      - gzlib.c
      - gzread.c
      - gzwrite.c
      - infback.c
      - inffast.c
      - inffast.h
      - inffixed_tbl.h
      - inflate.c
      - inflate.h
      - inflate_p.h
      - inftrees.c
      - inftrees.h
      - insert_string.c
      - insert_string_tpl.h
      - match_tpl.h
      - trees.c
      - trees_emit.h
      - trees.h
      - trees_tbl.h
      - uncompr.c
      - zbuild.h
      - zconf.h
      - zconf-ng.h
      - zendian.h
      - zlib.h
      - zlib-ng.h
      - zutil.c
      - zutil.h
      - zutil_p.h
  tests:
    paths:
      - test/
      - tools/
  
fixes:
  - "/home/runner/work/zlib-ng/zlib-ng/::"
  - "/home/runner/work/zlib-ng/build/::"
  - "/build/home/runner/work/zlib-ng/zlib-ng/::"
  - "/build/home/runner/work/zlib-ng/build/::"

ignore:
  - "usr/include/.*"
  - "/usr/include/.*"
  - "/build/usr/include/.*"
  - "usr/lib/.*"
  - "/usr/lib/.*"
  - "/build/usr/lib/.*"
  - "usr/lib64/.*"
  - "/usr/lib64/.*"
  - "/build/usr/lib64/.*"

Remove old win32 readme.
  win32/README-WIN32.txt
Due: none

Fix building shared tests * Don't add non-PIC gz sources to shared executables if they are already included in shared library as PIC sources
  Makefile.in
  configure
Due: none

Move stdint.h below zconf include to prevent unexpected characters warning on ClangCl.
  zlib-ng.h.in
  zlib.h.in
Due: zlib-ng

Fixed incorrect flag used for SSE 4.2 support with ClangCl.
  cmake/detect-intrinsics.cmake
Due: none

Fixed implicit declaration of _mm_extract_epi32 when compiling with ClangCl.
  arch/x86/crc32_fold_pclmulqdq.c
Due: zlib-ng

Fixed wrong alignment definition used when compiling with ClangCl.
  zutil.h
Due: zlib-ng

Fixed duplicate symbol zng_inflate_table and zng_inflate_copyright when BUILD_SHARED_LIBS=OFF.
  CMakeLists.txt
Due: none

Use memcpy/memcmp for unaligned reads.
  arch/x86/compare258_avx.c
  arch/x86/compare258_sse.c
  chunkset.c
  compare258.c
  deflate.h
  insert_string_tpl.h
  match_tpl.h
  zutil.h
Due: zlib-ng

Use memcpy for unaligned reads.
  chunkset.c
  compare258.c
  deflate.h
  insert_string_tpl.h
  match_tpl.h
Due: zlib-ng

Clean up crc32 extern using #elif same as in crc32_stub.
  functable.c
Due: zlib-ng

Move generic crc32 assignment to else statement so it can be optimized away if use_byfour is true.
  functable.c
Due: zlib-ng

Remove use_byfour compile time detection of the existence of four byte integer types since we are targeting newer systems.
  functable.c
Due: zlib-ng

Fixed missing pointers to functions when assigning to functable.
  functable.c
Due: zlib-ng

Have functioning avx512{,_vnni} adler32
  CMakeLists.txt
  README.md
  arch/x86/Makefile.in
  arch/x86/adler32_avx512.c
  arch/x86/adler32_avx512_vnni.c
  arch/x86/x86.c
  arch/x86/x86.h
  cmake/detect-intrinsics.cmake
  configure
  functable.c
Due: zlib-ng

Don't build DLL sources if BUILD_SHARED_LIBS=OFF.
  CMakeLists.txt
Due: none

Fixed crc32 assembly not returning hash value to correct variable.
  arch/x86/insert_string_sse.c
  cmake/detect-intrinsics.cmake
Due: zlib-ng

Fixed part of conditional expression is always true since size is always greater than 0.
  gzwrite.c
Due: zlib-ng

Fixed main function does not return value which may indicated unintended behavior.
  test/deflate_quick_bi_valid.c
  test/deflate_quick_block_open.c
Due: tests

Check for err == Z_OK is always true in minideflate loops.
  test/minideflate.c
Due: tests

Don't assign C versions of compare258 and longest_match if we don't use them.
  functable.c
Due: zlib-ng

Add SSE4.1 detection
  arch/x86/x86.c
  arch/x86/x86.h
  cmake/detect-intrinsics.cmake
  configure
Due: zlib-ng

Added an SSE4 optimized adler32 checksum
  CMakeLists.txt
  README.md
  arch/x86/Makefile.in
  arch/x86/adler32_sse41.c
  configure
  functable.c
Due: zlib-ng

Always use uint64_t for chunk size. Allow the compiler to emit the optimal set of instructions instead of using these workarounds.
  chunkset.c
Due: zlib-ng

Remove unnecessary HASH_CALC_READ check for UNALIGNED_OK. The compiler can choose the most optimal way of emitting instructions.
  insert_string_tpl.h
Due: zlib-ng

VPCLMULQDQ implementation for Intel's CRC32 folding. Based on PR https://github.com/jtkukunas/zlib/pull/28.
  CMakeLists.txt
  README.md
  arch/x86/INDEX.md
  arch/x86/Makefile.in
  arch/x86/crc32_fold_pclmulqdq.c
  arch/x86/crc32_fold_vpclmulqdq.c
  arch/x86/x86.c
  arch/x86/x86.h
  cmake/detect-intrinsics.cmake
  configure
Due: zlib-ng

Remove unused COMPARE258 macro since longest_match only uses COMPARE256.
  arch/x86/compare258_avx.c
  arch/x86/compare258_sse.c
  compare258.c
  match_tpl.h
Due: zlib-ng

build: fix check for SSSE3 when using Emscripten
  configure
Due: none

Merge crc32_little and crc32_big with preprocessor macros for each endian. Removed crc32_generic since it is not being used.
  arch/s390/crc32-vx.c
  crc32.c
  crc32_p.h
  functable.c
Due: zlib-ng
