Repository zlib-ng/zlib-ng: changes, and which Codecov flags are due for each by the changed paths.
All: zlib-ng, tests

Reorder code struct fields for better access patterns
  inffixed_tbl.h
  inftrees.h
  tools/makefixed.c
Due: zlib-ng, tests

Improve cmake/detect-arch.cmake to also provide bitness. Rewrite checks in CMakelists.txt and cmake/detect-intrinsics.cmake to utilize the new variables.
  CMakeLists.txt
  cmake/detect-arch.cmake
  cmake/detect-intrinsics.cmake
Due: none

Optimize code length counting in inflate_table using intrinsics.
  arch/x86/x86_intrins.h
  inftrees.c
Due: zlib-ng

Change code table access from pointer to value in inflate_fast.
  inffast_tpl.h
  zbuild.h
Due: zlib-ng

Fix bits var warning conversion from unsigned int to uint8_t in MSVC
  infback.c
  inffast_tpl.h
  inflate_p.h
Due: zlib-ng

Change bi_reverse to use uint16_t code arg.
  arch/s390/dfltcc_deflate.c
  deflate_p.h
  tools/maketrees.c
  trees.c
Due: zlib-ng, tests

Use different bit accumulator type for x86 compiler optimization
  infback.c
  inffast_tpl.h
  inflate.c
  inflate_p.h
Due: zlib-ng

Force purely aligned loads in inflate_table code length counting
  inftrees.c
Due: zlib-ng

Clean up adler32 short length functions
  adler32_p.h
  arch/arm/adler32_neon.c
  arch/generic/adler32_c.c
  arch/loongarch/adler32_lasx.c
  arch/loongarch/adler32_lsx.c
  arch/power/adler32_power8.c
  arch/power/adler32_vmx.c
  arch/riscv/adler32_rvv.c
  arch/x86/adler32_avx2.c
  arch/x86/adler32_sse42.c
  arch/x86/adler32_ssse3.c
Due: zlib-ng

Apply consistent use of UNLIKLEY across adler32 variants
  arch/arm/adler32_neon.c
  arch/loongarch/adler32_lasx.c
  arch/loongarch/adler32_lsx.c
  arch/riscv/adler32_rvv.c
  arch/x86/adler32_avx2.c
  arch/x86/adler32_avx512.c
  arch/x86/adler32_avx512_vnni.c
  arch/x86/adler32_sse42.c
Due: zlib-ng

slide_hash_sse2 and slide_hash_avx2 are not dependent on HAVE_BUILTIN_CTZ
  arch/x86/x86_functions.h
Due: zlib-ng

Fix warnings: unused parameter state, comparison of integer expressions of different signedness: size_t and int64_t.
  test/benchmarks/benchmark_adler32.cc
  test/benchmarks/benchmark_adler32_copy.cc
  test/benchmarks/benchmark_compare256.cc
  test/benchmarks/benchmark_compare256_rle.cc
  test/benchmarks/benchmark_compress.cc
  test/benchmarks/benchmark_crc32.cc
  test/benchmarks/benchmark_crc32_fold_copy.cc
  test/benchmarks/benchmark_insert_string.cc
  test/benchmarks/benchmark_png_decode.cc
  test/benchmarks/benchmark_png_encode.cc
  test/benchmarks/benchmark_slidehash.cc
  test/benchmarks/benchmark_uncompress.cc
Due: tests

Use pointer arithmetic to access window in deflate_quick/deflate_fast
  deflate_fast.c
  deflate_quick.c
Due: zlib-ng

Use uin32_t for Pos in match_tpl.h
  arch/arm/arm_functions.h
  arch/generic/generic_functions.h
  arch/loongarch/loongarch_functions.h
  arch/power/power_functions.h
  arch/riscv/riscv_functions.h
  arch/x86/x86_functions.h
  deflate_fast.c
  deflate_medium.c
  deflate_p.h
  deflate_slow.c
  functable.c
  functable.h
  match_tpl.h
Due: zlib-ng

Use uint32_t for hash_head in update_hash/insert_string
  deflate.h
  deflate_fast.c
  deflate_medium.c
  deflate_p.h
  deflate_quick.c
  deflate_rle.c
  deflate_slow.c
  insert_string_tpl.h
  test/benchmarks/benchmark_insert_string.cc
Due: zlib-ng, tests

- Reorder variables in longest_match, reducing gaps. - Make window-based pointers in match_tpl.h const, only the pointers move, never the data.
  match_tpl.h
Due: zlib-ng

- Add local window pointer to: deflate_quick, deflate_fast, deflate_medium and fill_window. - Add local strm pointer in fill_window. - Fix missed change to use local lookahead variable in match_tpl
  deflate.c
  deflate_fast.c
  deflate_medium.c
  deflate_quick.c
  match_tpl.h
Due: zlib-ng

Reorder deflate.h variables to improve cache locality
  deflate.h
Due: zlib-ng

Refactor crc32_fold functions into single crc32_copy
  CMakeLists.txt
  Makefile.in
  arch/arm/arm_functions.h
  arch/arm/crc32_armv8.c
  arch/generic/Makefile.in
  arch/generic/crc32_braid_c.c
  arch/generic/crc32_chorba_c.c
  arch/generic/crc32_fold_c.c
  arch/generic/generic_functions.h
  arch/loongarch/crc32_la.c
  arch/loongarch/loongarch_functions.h
  arch/power/crc32_power8.c
  arch/power/power_functions.h
  arch/riscv/crc32_zbc.c
  arch/riscv/riscv_functions.h
  arch/s390/crc32-vx.c
  arch/s390/s390_functions.h
  arch/x86/chorba_sse2.c
  arch/x86/chorba_sse41.c
  arch/x86/crc32_fold_pclmulqdq_tpl.h
  arch/x86/crc32_pclmulqdq.c
  arch/x86/crc32_vpclmulqdq.c
  arch/x86/x86_functions.h
  deflate.c
  deflate_p.h
  functable.c
  functable.h
  inflate.c
  test/CMakeLists.txt
  test/benchmarks/CMakeLists.txt
  test/benchmarks/benchmark_crc32_copy.cc
  test/test_crc32.cc
  test/test_crc32_copy.cc
Due: zlib-ng, tests

Update crc32_fold test and benchmarks for crc32_copy
  test/benchmarks/benchmark_crc32_copy.cc
  test/test_crc32_copy.cc
Due: tests

Merged crc32_fold functions save, load, reset
  arch/x86/crc32_fold_pclmulqdq_tpl.h
  arch/x86/crc32_pclmulqdq.c
  arch/x86/crc32_vpclmulqdq.c
Due: zlib-ng

Move crc32_fold_s struct into x86 implementation.
  arch/s390/dfltcc_deflate.c
  arch/x86/crc32_fold_pclmulqdq_tpl.h
  crc32.h
  deflate.h
  inflate.h
Due: zlib-ng

Rename crc32_fold_pclmulqdq_tpl.h to crc32_pclmulqdq_tpl.h
  arch/x86/crc32_pclmulqdq.c
  arch/x86/crc32_pclmulqdq_tpl.h
  arch/x86/crc32_vpclmulqdq.c
Due: zlib-ng

Suppress warning "bitbuffer may be used uninitialized"
  arch/generic/crc32_chorba_c.c
Due: zlib-ng

Small optimization in 256 bit wide chunkset
  arch/x86/chunkset_avx2.c
  arch/x86/chunkset_avx512.c
Due: zlib-ng

LoongArch64 and e2k has 8-byte general-purpose registers.
  crc32_braid_p.h
Due: none

Fix initial crc value loading in crc32_(v)pclmulqdq
  arch/x86/crc32_pclmulqdq.c
  arch/x86/crc32_pclmulqdq_tpl.h
  arch/x86/crc32_vpclmulqdq.c
Due: zlib-ng

Handle initial crc only at the beginning of crc32_(v)pclmulqdq
  arch/x86/crc32_pclmulqdq_tpl.h
Due: zlib-ng

Move fold calls closer to last change in xmm_crc# variables.
  arch/x86/crc32_pclmulqdq_tpl.h
Due: zlib-ng

Move COPY out of fold_16 inline with other fold_# functions.
  arch/x86/crc32_pclmulqdq_tpl.h
Due: zlib-ng

Use tail optimization in final barrett reduction
  arch/x86/crc32_pclmulqdq_tpl.h
Due: zlib-ng

Add static inline/Z_FORCEINLINE to crc32_(v)pclmulqdq functions.
  arch/x86/crc32_pclmulqdq_tpl.h
Due: zlib-ng

Add comment to adler32_copy_avx512_vnni about lower vector width usage
  arch/x86/adler32_avx512_vnni.c
Due: zlib-ng

Add missing adler32_copy_vmx implementation
  arch/power/adler32_vmx.c
  arch/power/power_functions.h
  functable.c
  test/benchmarks/benchmark_adler32_copy.cc
Due: zlib-ng, tests

Add missing adler32_copy_ssse3 implementation
  arch/x86/adler32_ssse3.c
  arch/x86/x86_functions.h
  functable.c
  test/benchmarks/benchmark_adler32_copy.cc
Due: zlib-ng, tests

Add missing adler32_copy_power8 implementation
  arch/power/adler32_power8.c
  arch/power/power_functions.h
  functable.c
  test/benchmarks/benchmark_adler32_copy.cc
Due: zlib-ng, tests

Remove redundant instructions in 256 bit wide chunkset on LoongArch64
  arch/loongarch/chunkset_lasx.c
Due: zlib-ng

Improve LoongArch64 toolchain file.
  .github/workflows/cmake.yml
  cmake/toolchain-loongarch64-gcc.cmake
Due: none

Simplify LoongArch64 assembler. GCC 16, LLVM 22 have LASX and LSX conversion intrinsics.
  arch/loongarch/chunkset_lasx.c
  arch/loongarch/lasxintrin_ext.h
Due: zlib-ng

Integrate ARMv8 PMULL+EOR3 crc32 algorithm from Peter Cawley
  CMakeLists.txt
  README.md
  arch/arm/Makefile.in
  arch/arm/acle_intrins.h
  arch/arm/arm_features.c
  arch/arm/arm_features.h
  arch/arm/arm_functions.h
  arch/arm/crc32_armv8.c
  arch/arm/crc32_armv8_pmull_eor3.c
  cmake/detect-intrinsics.cmake
  configure
  functable.c
  test/benchmarks/benchmark_crc32.cc
  test/benchmarks/benchmark_crc32_copy.cc
  test/test_crc32.cc
  test/test_crc32_copy.cc
Due: zlib-ng, tests

Path conditions:
  zlib-ng: any of: arch/, adler32.c, adler32_p.h, chunkset.c, chunkset_tpl.h, compare258.c, compress.c, crc32.c, crc32_comb.c, crc32_comb_tbl.h, crc32_p.h, crc32_tbl.h, deflate.c, deflate_fast.c, deflate.h, deflate_medium.c, deflate_p.h, deflate_quick.c, deflate_slow.c, fallback_builtins.h, functable.c, functable.h, gzguts.h, gzlib.c, gzread.c, gzwrite.c, infback.c, inffast.c, inffast.h, inffixed_tbl.h, inflate.c, inflate.h, inflate_p.h, inftrees.c, inftrees.h, insert_string.c, insert_string_tpl.h, match_tpl.h, trees.c, trees_emit.h, trees.h, trees_tbl.h, uncompr.c, zbuild.h, zconf.h, zconf-ng.h, zendian.h, zlib.h, zlib-ng.h, zutil.c, zutil.h, zutil_p.h, but not: usr/include/.*, /usr/include/.*, /build/usr/include/.*, usr/lib/.*, /usr/lib/.*, /build/usr/lib/.*, usr/lib64/.*, /usr/lib64/.*, /build/usr/lib64/.*
  tests: any of: test/, tools/, but not: usr/include/.*, /usr/include/.*, /build/usr/include/.*, usr/lib/.*, /usr/lib/.*, /build/usr/lib/.*, usr/lib64/.*, /usr/lib64/.*, /build/usr/lib64/.*
