Repository zlib-ng/zlib-ng: changes, and which Codecov flags are due for each by the changed paths.
All: zlib-ng, tests

codecov.yml:

codecov:
  max_report_age: 72h
  
coverage:
  status:
    project:
      default:
        threshold: 0.07%
      zlib-ng:
        target: 80%
        flags:
          - zlib-ng
      tests:
        target: 50%
        flags:
          - tests
        
comment:
    require_head: no     # default yes
    require_base: no     # default yes

flags:
  zlib-ng:
    paths:
      - arch/
      - adler32.c
      - adler32_p.h
      - chunkset.c
      - chunkset_tpl.h
      - compare258.c
      - compress.c
      - crc32.c
      - crc32_comb.c
      - crc32_comb_tbl.h
      - crc32_p.h
      - crc32_tbl.h
      - deflate.c
      - deflate_fast.c
      - deflate.h
      - deflate_medium.c
      - deflate_p.h
      - deflate_quick.c
      - deflate_slow.c
      - fallback_builtins.h
      - functable.c
      - functable.h
      - gzguts.h
      - gzlib.c
      - gzread.c
      - gzwrite.c
      - infback.c
      - inffast.c
      - inffast.h
      - inffixed_tbl.h
      - inflate.c
      - inflate.h
      - inflate_p.h
      - inftrees.c
      - inftrees.h
      - insert_string.c
      - insert_string_tpl.h
      - match_tpl.h
      - trees.c
      - trees_emit.h
      - trees.h
      - trees_tbl.h
      - uncompr.c
      - zbuild.h
      - zconf.h
      - zconf-ng.h
      - zendian.h
      - zlib.h
      - zlib-ng.h
      - zutil.c
      - zutil.h
      - zutil_p.h
  tests:
    paths:
      - test/
      - tools/
  
fixes:
  - "/home/runner/work/zlib-ng/zlib-ng/::"
  - "/home/runner/work/zlib-ng/build/::"
  - "/build/home/runner/work/zlib-ng/zlib-ng/::"
  - "/build/home/runner/work/zlib-ng/build/::"

ignore:
  - "usr/include/.*"
  - "/usr/include/.*"
  - "/build/usr/include/.*"
  - "usr/lib/.*"
  - "/usr/lib/.*"
  - "/build/usr/lib/.*"
  - "usr/lib64/.*"
  - "/usr/lib64/.*"
  - "/build/usr/lib64/.*"

Resolve conflicts (reproduce the ((constructor)) change, update CMakeLists.txt, hope I got everything right)
  arch/arm/arm.h
  arch/arm/armfeature.c
  arch/power/power.c
  arch/power/power.h
  arch/x86/x86.c
  arch/x86/x86.h
  crc32.c
  deflate.c
  functable.c
  functable.h
  inflate.c
Due: zlib-ng

Rewrite deflate memory allocation. Deflate used to call allocate 5 times during init.
  CMakeLists.txt
  configure
  deflate.c
  deflate.h
  zbuild.h
Due: zlib-ng

Clean up memory allocation functions that are no longer used, and its tests.
  CMakeLists.txt
  arch/s390/Makefile.in
  arch/s390/README.md
  arch/s390/dfltcc_common.c
  arch/s390/dfltcc_common.h
  configure
  test/CMakeLists.txt
  test/test_aligned_alloc.cc
  test/test_compare256.cc
  zutil.c
  zutil.h
Due: zlib-ng, tests

Rewrite inflate memory allocation. Inflate used to allocate state during init, but window would be allocated when/if needed and could be resized and that required a new free/alloc round.
  infback.c
  inflate.c
  inflate.h
  inflate_p.h
  test/infcover.c
Due: zlib-ng, tests

Prepare DFLTCC changes for new malloc system
  arch/s390/dfltcc_common.h
  arch/s390/dfltcc_deflate.h
  arch/s390/dfltcc_detail.h
  arch/s390/dfltcc_inflate.h
  deflate.c
  inflate_p.h
Due: zlib-ng

Update PORTING.md to document zlib-ng memory allocation details.
  PORTING.md
Due: none

Simplify inflate window management now that there is no need to worry about failed allocs other than during init.
  arch/s390/dfltcc_inflate.c
  inflate.c
  inflate.h
Due: zlib-ng

Enabled orphaned unit tests for compare256_rle family of functions.
  test/CMakeLists.txt
  test/test_compare256_rle.cc
Due: tests

Remove unneeded pointer for functable.longest_match in deflate_slow
  deflate_slow.c
Due: zlib-ng

Fixed S390X configure builds not running in forks.
  .github/workflows/configure.yml
Due: none

Fixed S390X CMake builds not running in forks.
  .github/workflows/cmake.yml
  .github/workflows/pigz.yml
Due: none

Improve code coverage for SSE2.
  .github/workflows/cmake.yml
Due: none

Upload all coverage reports at once after tests.
  .github/workflows/cmake.yml
  .github/workflows/pigz.yml
Due: none

Add VPCLMULQDQ crc32 tests to Google benchmarks
  test/benchmarks/benchmark_crc32.cc
Due: tests

Simplify architecture #ifdef in test_crc32.cc.
  test/test_crc32.cc
Due: tests

Set registers to zero to prevent GCC __get_cpuid bug.
  arch/x86/x86_features.c
Due: zlib-ng

Removing some outdated comments
  inflate.c
Due: zlib-ng

Generate CMake package configuration files * For COMPAT mode, zlib-config.cmake and zlib-config-version.cmake * For non-COMPAT mode, zlib-ng-config.cmake and zlib-ng-config-version.cmake
  CMakeLists.txt
  zlib-config.cmake.in
  zlib-ng-config.cmake.in
Due: none

Fix bug in inflateSync() for data held in bit buffer.
  inflate.c
Due: zlib-ng

Update copyright years in other source files.
  LICENSE.md
  arch/arm/insert_string_acle.c
  arch/x86/insert_string_sse42.c
  insert_string.c
  insert_string_roll.c
  insert_string_tpl.h
  match_tpl.h
  slide_hash.c
  win32/Makefile.a64
  win32/Makefile.arm
  win32/Makefile.msc
Due: zlib-ng

Update copyright year in win32 resource files.
  win32/zlib-ng1.rc
  win32/zlib1.rc
Due: none

Make internal functions static in the test code.
  test/example.c
  test/fuzz/fuzzer_minigzip.c
  test/minideflate.c
  test/minigzip.c
Due: tests

Note that the len2 argument of crc_combine*() must be non-negative.
  zlib-ng.h.in
  zlib.h.in
Due: zlib-ng

Fix cmake build on AIX.
  CMakeLists.txt
Due: none

Add back gz_intmax for zlib compatibility when linking statically
  gzguts.h
  gzlib.c
  zlib.map
Due: zlib-ng

Remove -w compile option in configure test.
  configure
Due: none

Make the existence of gz_intmax() unconditional.
  gzguts.h
  gzlib.c
Due: zlib-ng

zlib 1.3.1
  Makefile.in
  deflate.c
  deflate_fast.c
  deflate_huff.c
  deflate_p.h
  deflate_rle.c
  deflate_slow.c
  deflate_stored.c
  gzguts.h
  gzlib.c
  inftrees.c
  test/Makefile.in
  trees.c
  zconf-ng.h.in
  zconf.h.in
  zlib-ng.h.in
  zlib.h.in
  zutil.h
Due: zlib-ng, tests

Add bounds checking to ERR_MSG() macro, used by zError().
  zutil.h
Due: zlib-ng

Remove mentions of an official zlib DLL distribution.
  FAQ.zlib
Due: none

Relocate CMake target export definitions
  CMakeLists.txt
Due: none

Fix xsave intrinsic test for clang, and gcc 8.2 or later, and icc.
  CMakeLists.txt
  arch/x86/x86_features.c
  cmake/detect-intrinsics.cmake
  configure
Due: zlib-ng

Upgrade ilammy/msvc-dev-cmd to v1.13.0
  .github/workflows/nmake.yml
Due: none

Disable Intel Compiler diagnostic message 10441.
  CMakeLists.txt
Due: none

Add missing checks for 64bit arm/intel with msvc compiler
  crc32_braid_p.h
Due: none

Upgrade codecov/codecov-action to v4.
  .github/workflows/cmake.yml
  .github/workflows/pigz.yml
Due: none

Update mymindstorm/setup-emsdk to v14.
  .github/workflows/cmake.yml
  .github/workflows/configure.yml
Due: none

Disable CodeCov for RISC-V as the toolchain doesn't support generating code coverage.
  .github/workflows/cmake.yml
Due: none

Fix PCLMULQDQ support for IntelLLVM.
  cmake/detect-intrinsics.cmake
Due: none
