Repository zlib-ng/zlib-ng: changes, and which Codecov flags are due for each by the changed paths.
All: zlib-ng, tests

codecov.yml:

codecov:
  max_report_age: 72h
  
coverage:
  status:
    project:
      default:
        threshold: 0.07%
      zlib-ng:
        target: 80%
        flags:
          - zlib-ng
      tests:
        target: 50%
        flags:
          - tests
        
comment:
    require_head: no     # default yes
    require_base: no     # default yes

flags:
  zlib-ng:
    paths:
      - arch/
      - adler32.c
      - adler32_p.h
      - chunkset.c
      - chunkset_tpl.h
      - compare258.c
      - compress.c
      - crc32.c
      - crc32_comb.c
      - crc32_comb_tbl.h
      - crc32_p.h
      - crc32_tbl.h
      - deflate.c
      - deflate_fast.c
      - deflate.h
      - deflate_medium.c
      - deflate_p.h
      - deflate_quick.c
      - deflate_slow.c
      - fallback_builtins.h
      - functable.c
      - functable.h
      - gzguts.h
      - gzlib.c
      - gzread.c
      - gzwrite.c
      - infback.c
      - inffast.c
      - inffast.h
      - inffixed_tbl.h
      - inflate.c
      - inflate.h
      - inflate_p.h
      - inftrees.c
      - inftrees.h
      - insert_string.c
      - insert_string_tpl.h
      - match_tpl.h
      - trees.c
      - trees_emit.h
      - trees.h
      - trees_tbl.h
      - uncompr.c
      - zbuild.h
      - zconf.h
      - zconf-ng.h
      - zendian.h
      - zlib.h
      - zlib-ng.h
      - zutil.c
      - zutil.h
      - zutil_p.h
  tests:
    paths:
      - test/
      - tools/
  
fixes:
  - "/home/runner/work/zlib-ng/zlib-ng/::"
  - "/home/runner/work/zlib-ng/build/::"
  - "/build/home/runner/work/zlib-ng/zlib-ng/::"
  - "/build/home/runner/work/zlib-ng/build/::"

ignore:
  - "usr/include/.*"
  - "/usr/include/.*"
  - "/build/usr/include/.*"
  - "usr/lib/.*"
  - "/usr/lib/.*"
  - "/build/usr/lib/.*"
  - "usr/lib64/.*"
  - "/usr/lib64/.*"
  - "/build/usr/lib64/.*"

Separate option and add_feature_info in cases where intrinsics are not available we can report feature is disabled.
  CMakeLists.txt
Due: none

Fix MSVC warnings in hash_head_0.c test
  test/hash_head_0.c
Due: tests

[chunkset_neon] Don't use signed vector types. * There is no need to convert between unsigned and signed vector types. All relevant intrinsics have versions for all unsigned vector types.
  arch/arm/chunkset_neon.c
Due: zlib-ng

[chunkcopy_safe] Don't call chunkcopy(). * chunkcopy() can read or write more than the safe length if the length is not multiple of chunk size.
  chunkset_tpl.h
Due: zlib-ng

Remove deflate_state dependency from crc_folding.
  arch/x86/crc_folding.c
  arch/x86/crc_folding.h
  crc32.c
Due: zlib-ng

Cast calculation of safe length to unsigned int to avoid compiler warnings.
  chunkset_tpl.h
  inffast.c
  win32/Makefile.msc
Due: zlib-ng

Change WITH_SANITIZER to be a multi-option parameter (for ccmake etc). Add support for selcting Thread sanitizer.
  CMakeLists.txt
  cmake/detect-sanitizer.cmake
Due: none

Added Z_UNUSED define for ignore unused variables.
  deflate.h
  inflate.c
  test/example.c
  test/fuzz/checksum_fuzzer.c
  test/fuzz/standalone_fuzz_target_runner.c
  test/infcover.c
  trees_emit.h
  zbuild.h
  zutil.c
Due: zlib-ng, tests

Added aarch64 to pigz GitHub actions workflow.
  .github/workflows/pigz.yml
Due: none

Reduce number of branches in partial chunk copy based on chunk size.
  arch/arm/chunkset_neon.c
  arch/x86/chunkset_avx.c
  arch/x86/chunkset_sse.c
  chunkset.c
  chunkset_tpl.h
Due: zlib-ng

Minor optimization of inftrees.c based on profiling
  inftrees.c
Due: zlib-ng

[functable] Add missing call to cpu_check_features().
  functable.c
Due: zlib-ng

Added reduced memory configuration option to CMake and configure.
  CMakeLists.txt
  configure
Due: none

Added rolling hash functions for hash table.
  CMakeLists.txt
  Makefile.in
  arch/arm/insert_string_acle.c
  arch/x86/insert_string_sse.c
  deflate.c
  deflate.h
  insert_string.c
  insert_string_roll.c
  insert_string_tpl.h
  win32/Makefile.a64
  win32/Makefile.arm
  win32/Makefile.msc
Due: zlib-ng

Use STD_MIN_MATCH instead of WANT_MIN_MATCH in deflate_slow for fast-zlib.
  deflate_slow.c
Due: zlib-ng

Setup hash functions to be switched based on compression level.
  deflate.c
  deflate.h
  deflate_slow.c
Due: zlib-ng

Added update_hash to build hash incrementally.
  functable.c
  functable.h
  insert_string_tpl.h
Due: zlib-ng

[Power8] Add chunk*_power8.
  CMakeLists.txt
  README.md
  arch/power/Makefile.in
  arch/power/chunkset_power8.c
  configure
  functable.c
Due: zlib-ng

Remove extra division operation in chunkcopy.
  chunkset_tpl.h
Due: zlib-ng

Incorporate fast-zlib algorithm changes into longest_match.
  match_tpl.h
Due: zlib-ng

Enable rolling hash function switching for fast-zlib.
  deflate.c
Due: zlib-ng

Separate fast-zlib matching algorithm into its own longest_match variant.
  arch/x86/compare258_avx.c
  arch/x86/compare258_sse.c
  compare258.c
  functable.c
  functable.h
  match_tpl.h
Due: zlib-ng

Minor prev_length calculation improvement in deflate_slow.
  deflate_slow.c
Due: zlib-ng

Use longest_match_slow in deflate_slow.
  deflate_slow.c
Due: zlib-ng

Use UNLIKELY for branches related to rolling hash based on performance profiling.
  deflate.c
  match_tpl.h
Due: zlib-ng

Switch longest_match in deflate_slow based on whether or not rolling hash is being used.
  deflate.c
  deflate_p.h
  deflate_slow.c
  match_tpl.h
Due: zlib-ng
