Repository zlib-ng/zlib-ng: changes, and which Codecov flags are due for each by the changed paths.
All: zlib-ng, tests

codecov.yml:

codecov:
  max_report_age: 72h
  
coverage:
  status:
    project:
      default:
        threshold: 0.07%
      zlib-ng:
        target: 80%
        flags:
          - zlib-ng
      tests:
        target: 50%
        flags:
          - tests
        
comment:
    require_head: no     # default yes
    require_base: no     # default yes

flags:
  zlib-ng:
    paths:
      - arch/
      - adler32.c
      - adler32_p.h
      - chunkset.c
      - chunkset_tpl.h
      - compare258.c
      - compress.c
      - crc32.c
      - crc32_comb.c
      - crc32_comb_tbl.h
      - crc32_p.h
      - crc32_tbl.h
      - deflate.c
      - deflate_fast.c
      - deflate.h
      - deflate_medium.c
      - deflate_p.h
      - deflate_quick.c
      - deflate_slow.c
      - fallback_builtins.h
      - functable.c
      - functable.h
      - gzguts.h
      - gzlib.c
      - gzread.c
      - gzwrite.c
      - infback.c
      - inffast.c
      - inffast.h
      - inffixed_tbl.h
      - inflate.c
      - inflate.h
      - inflate_p.h
      - inftrees.c
      - inftrees.h
      - insert_string.c
      - insert_string_tpl.h
      - match_tpl.h
      - trees.c
      - trees_emit.h
      - trees.h
      - trees_tbl.h
      - uncompr.c
      - zbuild.h
      - zconf.h
      - zconf-ng.h
      - zendian.h
      - zlib.h
      - zlib-ng.h
      - zutil.c
      - zutil.h
      - zutil_p.h
  tests:
    paths:
      - test/
      - tools/
  
fixes:
  - "/home/runner/work/zlib-ng/zlib-ng/::"
  - "/home/runner/work/zlib-ng/build/::"
  - "/build/home/runner/work/zlib-ng/zlib-ng/::"
  - "/build/home/runner/work/zlib-ng/build/::"

ignore:
  - "usr/include/.*"
  - "/usr/include/.*"
  - "/build/usr/include/.*"
  - "usr/lib/.*"
  - "/usr/lib/.*"
  - "/build/usr/lib/.*"
  - "usr/lib64/.*"
  - "/usr/lib64/.*"
  - "/build/usr/lib64/.*"

Fix PCLMULQDQ support for IntelLLVM.
  cmake/detect-intrinsics.cmake
Due: none

Add back-and-forth inflateCopy() test
  test/CMakeLists.txt
  test/test_inflate_copy.cc
Due: tests

Disable Intel Compiler diagnostic message 10441.
  CMakeLists.txt
Due: none

Upgrade codecov/codecov-action to v4.
  .github/workflows/cmake.yml
  .github/workflows/pigz.yml
Due: none

Remove -w compile option in configure test.
  configure
Due: none

Remove obsolete TARGET_OS_MAC check
  zutil.h
Due: zlib-ng

Add dependabot for github actions
  .github/dependabot.yml
Due: none

Set registers to zero to prevent GCC __get_cpuid bug.
  arch/x86/x86_features.c
Due: zlib-ng

CMake: Replace ';' by '$<SEMICOLON>' in generator-expression
  CMakeLists.txt
Due: none

Fix building with NVHPC
  arch/x86/x86_intrins.h
Due: zlib-ng

Add AArch64 feature detection support for OpenBSD
  arch/arm/arm_features.c
Due: zlib-ng

Upload all coverage reports at once after tests.
  .github/workflows/cmake.yml
  .github/workflows/pigz.yml
Due: none

Fix xsave intrinsic test for clang, and gcc 8.2 or later, and icc.
  CMakeLists.txt
  arch/x86/x86_features.c
  cmake/detect-intrinsics.cmake
  configure
Due: zlib-ng

Fix cmake build on AIX.
  CMakeLists.txt
Due: none

Add missing checks for 64bit arm/intel with msvc compiler
  crc32_braid_p.h
Due: none

Add VPCLMULQDQ crc32 tests to Google benchmarks
  test/benchmarks/benchmark_crc32.cc
Due: tests

Update copyright year in win32 resource files.
  win32/zlib-ng1.rc
  win32/zlib1.rc
Due: none

Make internal functions static in the test code.
  test/example.c
  test/fuzz/fuzzer_minigzip.c
  test/minideflate.c
  test/minigzip.c
Due: tests

Enabled orphaned unit tests for compare256_rle family of functions.
  test/CMakeLists.txt
Due: tests

.gitattributes: Enforce LF line-endings on all non-binary files
  .gitattributes
Due: none

free_aligned: validate passed in pointer
  zutil.c
Due: zlib-ng

Remove unneeded pointer for functable.longest_match in deflate_slow
  deflate_slow.c
Due: zlib-ng

[ARM] Override Clang x4 NEON intrinsics for Android * Clang for Android requires 256-bit alignment for x4 loads and stores, which can't be guaranteed and is unnecessary
  arch/arm/neon_intrins.h
Due: zlib-ng

Bump max CMake policy version to 3.29.0
  CMakeLists.txt
Due: none

Add small compress() benchmark
  test/benchmarks/CMakeLists.txt
  test/benchmarks/benchmark_compress.cc
Due: tests

[CI] Fix creating list of artifacts for CodeCov.
  .github/workflows/cmake.yml
  .github/workflows/pigz.yml
Due: none

2.2.0 Release
  Makefile.in
  zlib-ng.h.in
  zlib.h.in
  zutil.c
Due: zlib-ng

don't use zlib-ng's -Wl,--version-script in tests
  Makefile.in
  configure
Due: none

proper C
  configure
Due: none

don't use zlib-ng's -Wl,--version-script in tests (#1750)
  Makefile.in
  configure
Due: none

2.2.1 Release
  Makefile.in
  zlib-ng.h.in
  zlib.h.in
  zutil.c
Due: zlib-ng

configure: add -Werror=implicit-function-declaration
  configure
Due: none

configure: fix float ABI check on armhf with LTO
  configure
Due: none

Add option to turn off ZLIB_DEBUG
  CMakeLists.txt
  README.md
Due: none

[CI] Upgrade MacOS ARM64 UBSAN to use gcc-13.
  .github/workflows/cmake.yml
Due: none

Silence possible loss of data warning in crc32_braid ZSWAPWORD call
  arch/generic/crc32_braid_c.c
Due: zlib-ng

Cast result of zalloc to char * to avoid warnings
  deflate.c
  inflate.c
Due: zlib-ng

IBM zSystems: Hardcode HWCAP_S390_VXRS
  arch/s390/s390_features.c
  cmake/detect-intrinsics.cmake
Due: zlib-ng
