Repository zlib-ng/zlib-ng: changes, and which Codecov flags are due for each by the changed paths.
All: zlib-ng, tests

Update Google Benchmark to v1.9.4 * Require CMake 3.13
  test/benchmarks/CMakeLists.txt
Due: tests

[CI] Downgrade "Windows GCC Native Instructions (AVX)" workflow * Windows Server 2025 runner has broken GCC, so use Windows Server 2022 runner instead until fix is propagated to all runners
  .github/workflows/cmake.yml
Due: none

Fix build using configure * "\i" is not valid escape code in BSD sed * Some x86 shared sources were missing -fPIC due to using wrong variable in build rule
  arch/x86/Makefile.in
  configure
Due: zlib-ng

Change OS_CODE definition for Windows platform
  zutil.h
Due: zlib-ng

Use elf_aux_info() on FreeBSD and OpenBSD ARM / AArch64
  CMakeLists.txt
  arch/arm/arm_features.c
  configure
Due: zlib-ng

Use aligned loads in the chorba portions of the clmul crc routines
  arch/x86/crc32_fold_pclmulqdq_tpl.h
Due: zlib-ng

Conditionally shortcut via the chorba polynomial based on compile flags
  arch/x86/crc32_fold_pclmulqdq_tpl.h
Due: zlib-ng

2.3.1 Release
  Makefile.in
  zlib-ng.h.in
  zlib.h.in
  zutil.c
Due: zlib-ng

Minor cleanups of some variables in deflate functions
  deflate.h
  deflate_fast.c
  deflate_quick.c
  deflate_slow.c
Due: zlib-ng

deflate_stored: use local copy of s->w_size
  deflate_stored.c
Due: none

Rename adler32_fold_copy to adler32_copy
  arch/arm/adler32_neon.c
  arch/arm/arm_functions.h
  arch/generic/adler32_fold_c.c
  arch/generic/generic_functions.h
  arch/loongarch/adler32_lasx.c
  arch/loongarch/adler32_lsx.c
  arch/loongarch/loongarch_functions.h
  arch/riscv/adler32_rvv.c
  arch/riscv/riscv_functions.h
  arch/x86/adler32_avx2.c
  arch/x86/adler32_avx512.c
  arch/x86/adler32_avx512_vnni.c
  arch/x86/adler32_sse42.c
  arch/x86/x86_functions.h
  deflate_p.h
  functable.c
  functable.h
  inflate.c
  test/benchmarks/benchmark_adler32_copy.cc
Due: zlib-ng, tests

Remove unnecessary adler32_fold.c file
  CMakeLists.txt
  Makefile.in
  arch/generic/Makefile.in
  arch/generic/adler32_c.c
  arch/generic/adler32_fold_c.c
Due: zlib-ng

Reorder adler32_copy functions last in source file for consistency.
  arch/riscv/adler32_rvv.c
  arch/x86/adler32_avx512.c
Due: zlib-ng

Rename adler32_rvv_impl to adler32_copy_impl for consistency
  arch/riscv/adler32_rvv.c
Due: zlib-ng

Add quick_insert_value for optimized hash insertion
  deflate.c
  deflate.h
  deflate_fast.c
  deflate_quick.c
  insert_string.c
  insert_string_roll.c
  insert_string_tpl.h
Due: zlib-ng

Replace dst != NULL with 1 in adler32_copy_neon to remove branching
  arch/arm/adler32_neon.c
Due: zlib-ng

Add copying to crc32_armv8 implementation.
  arch/arm/crc32_armv8.c
Due: zlib-ng

Fixed unaligned access when copying during crc32_armv8.
  arch/arm/crc32_armv8.c
Due: zlib-ng

Move crc32_fold_copy helper functions into test harness.
  arch/arm/arm_functions.h
  arch/arm/crc32_armv8.c
  arch/loongarch/crc32_la.c
  arch/loongarch/loongarch_functions.h
  functable.c
  test/benchmarks/benchmark_crc32_fold_copy.cc
  test/crc32_fold_copy.h
  test/test_crc32_fold_copy.cc
Due: zlib-ng, tests

Add missing crc32_fold_copy functions in gtest_zlib.
  test/test_crc32_fold_copy.cc
Due: tests

Remove crc32_fold C functions
  CMakeLists.txt
  Makefile.in
  arch/generic/Makefile.in
  arch/generic/crc32_fold_c.c
  arch/generic/generic_functions.h
  deflate.c
  deflate_p.h
  functable.c
  inflate.c
  test/crc32_fold_copy.h
  test/test_crc32_fold_copy.cc
Due: zlib-ng, tests

Rename crc32_fold to crc32_fold_update.
  arch/generic/generic_functions.h
  arch/x86/crc32_fold_pclmulqdq_tpl.h
  arch/x86/crc32_pclmulqdq.c
  arch/x86/crc32_pclmulqdq_tpl.h
  arch/x86/crc32_vpclmulqdq.c
  arch/x86/x86_functions.h
  functable.c
  functable.h
  inflate.c
Due: zlib-ng

Remove crc32_fold reset and final C functions in test harness.
  test/benchmarks/benchmark_crc32_fold_copy.cc
  test/crc32_fold_copy.h
  test/test_crc32_fold_copy.cc
Due: tests

Check functable crc32_fold functions against NULL to fix warnings
  deflate.c
  deflate_p.h
  inflate.c
Due: zlib-ng

Chorba: Fix edge case bug for >256KB input
  arch/generic/crc32_chorba_c.c
Due: zlib-ng

Chorba: Add test cases for #2029
  test/crc32_test_strings_p.h
  test/test_crc32_fold_copy.cc
Due: tests

Remove COPY ifdef from crc32 (v)pclmulqdq.
  arch/x86/crc32_fold_pclmulqdq_tpl.h
  arch/x86/crc32_fold_vpclmulqdq_tpl.h
  arch/x86/crc32_pclmulqdq.c
  arch/x86/crc32_pclmulqdq_tpl.h
  arch/x86/crc32_vpclmulqdq.c
Due: zlib-ng

Fixed casting warning in benchmark_uncompress on MSVC
  test/benchmarks/benchmark_uncompress.cc
Due: tests

Wrap support_flag for cpu features in benchmark and test macros.
  test/benchmarks/benchmark_adler32.cc
  test/benchmarks/benchmark_adler32_copy.cc
  test/benchmarks/benchmark_compare256.cc
  test/benchmarks/benchmark_compare256_rle.cc
  test/benchmarks/benchmark_crc32.cc
  test/benchmarks/benchmark_crc32_fold_copy.cc
  test/benchmarks/benchmark_insert_string.cc
  test/benchmarks/benchmark_slidehash.cc
  test/test_adler32.cc
  test/test_compare256.cc
  test/test_compare256_rle.cc
  test/test_crc32_fold_copy.cc
Due: tests

Wrap _cond in Assert macro in case complex statement used.
  zbuild.h
Due: zlib-ng

Fixed NEON availability detection when using CMAKE_OSX_ARCHITECTURES
  CMakeLists.txt
  cmake/detect-arch.cmake
  cmake/detect-intrinsics.cmake
Due: none

Use local copies of s->level and s->window in deflate_slow
  deflate_slow.c
Due: zlib-ng

configure: Check cc in addition to gcc for GCC compatible compiler
  configure
Due: none

Compute w_mask rather than storing it in the deflate_state structure
  deflate.c
  deflate.h
  insert_string_tpl.h
  match_tpl.h
  test/benchmarks/benchmark_insert_string.cc
Due: zlib-ng, tests

Micro-optimization for in pointer calculation for inflate_fast REFILL
  inffast_tpl.h
Due: none

Fix for potentially uninitialized local variable ft used.
  functable.c
Due: zlib-ng

Use __builtin_bitreverse16 in bi_reverse if available.
  CMakeLists.txt
  configure
  deflate_p.h
  fallback_builtins.h
Due: zlib-ng

Use __builtin_bitreverse16 in inflate_table
  inftrees.c
Due: zlib-ng

Add padding to deflate_struct until can be cleaned up along cachelines
  deflate.h
Due: zlib-ng

Compute w_bits rather than storing it in the deflate_state structure
  arch/s390/dfltcc_deflate.c
  deflate.c
  deflate.h
  test/benchmarks/benchmark_insert_string.cc
Due: zlib-ng, tests

Path conditions:
  zlib-ng: any of: arch/, adler32.c, adler32_p.h, chunkset.c, chunkset_tpl.h, compare258.c, compress.c, crc32.c, crc32_comb.c, crc32_comb_tbl.h, crc32_p.h, crc32_tbl.h, deflate.c, deflate_fast.c, deflate.h, deflate_medium.c, deflate_p.h, deflate_quick.c, deflate_slow.c, fallback_builtins.h, functable.c, functable.h, gzguts.h, gzlib.c, gzread.c, gzwrite.c, infback.c, inffast.c, inffast.h, inffixed_tbl.h, inflate.c, inflate.h, inflate_p.h, inftrees.c, inftrees.h, insert_string.c, insert_string_tpl.h, match_tpl.h, trees.c, trees_emit.h, trees.h, trees_tbl.h, uncompr.c, zbuild.h, zconf.h, zconf-ng.h, zendian.h, zlib.h, zlib-ng.h, zutil.c, zutil.h, zutil_p.h, but not: usr/include/.*, /usr/include/.*, /build/usr/include/.*, usr/lib/.*, /usr/lib/.*, /build/usr/lib/.*, usr/lib64/.*, /usr/lib64/.*, /build/usr/lib64/.*
  tests: any of: test/, tools/, but not: usr/include/.*, /usr/include/.*, /build/usr/include/.*, usr/lib/.*, /usr/lib/.*, /build/usr/lib/.*, usr/lib64/.*, /usr/lib64/.*, /build/usr/lib64/.*
