Repository zlib-ng/zlib-ng: changes, and which Codecov flags are due for each by the changed paths.
All: zlib-ng, tests

[CI] Upgrade MacOS Intel jobs to use macos-26-intel. * Disable coverage for MacOS Intel as it is now unsupported
  .github/workflows/cmake.yml
  .github/workflows/configure.yml
Due: none

Exclude CHECK_* and EXPECT_* macros from branch coverage.
  .github/workflows/cmake.yml
Due: none

Add libdeflate comparison benchmarks
  CMakeLists.txt
  test/benchmarks/CMakeLists.txt
  test/benchmarks/benchmark_codec.cc
  test/benchmarks/benchmark_corpora.cc
  test/benchmarks/benchmark_corpora.h
Due: tests

deflate_medium: Split strategy into two, for levels 3-4 and 5-6. 3-4 does not use fizzle_matches, so the code becomes a lot simpler. 5-6 stays pretty much the same, but saves a few if checks.
  CMakeLists.txt
  deflate.c
  deflate_medium.c
  deflate_medium_tpl.h
Due: zlib-ng

deflate_medium: MAX_DIST(s) does not change, so cache it locally.
  deflate_medium_tpl.h
Due: none

deflate_medium: Change matches to use uin32_t instead of uint16_t.
  deflate_medium.c
  deflate_medium_tpl.h
Due: zlib-ng

Move NOLTOFLAG selection next to the -fno-lto check
  CMakeLists.txt
Due: none

Replace __cpucfg with getauxval, which is recommended for use in user space
  arch/loongarch/loongarch_features.c
Due: zlib-ng

Don't build shared libraries, if target doesn't support them.
  CMakeLists.txt
Due: none

Fix import library name on non-MSVC Windows targets * pkgconfig expects import library to be named libz.dll.a or libz-ng.dll.a
  CMakeLists.txt
Due: none

Copy two chunks per iteration in the non-safe inflate fast path
  chunkset_tpl.h
  inffast_tpl.h
  test/CMakeLists.txt
  test/test_inflate_overlap.cc
Due: zlib-ng, tests

Add a narrow-copy inflate_fast instantiation for short-match blocks
  arch/arm/chunkset_neon.c
  arch/generic/chunkset_c.c
  arch/loongarch/chunkset_lasx.c
  arch/loongarch/chunkset_lsx.c
  arch/power/chunkset_power8.c
  arch/riscv/chunkset_rvv.c
  arch/x86/chunkset_avx2.c
  arch/x86/chunkset_avx512.c
  arch/x86/chunkset_sse2.c
  arch/x86/chunkset_ssse3.c
  infback.c
  inffast_tpl.h
  inflate.c
  inflate.h
  test/test_inflate_overlap.cc
Due: zlib-ng, tests

[Windows] Pass export definition file to linker * Linker will compare list of exported symbols with the contents of the def file and abort if symbols are missing
  CMakeLists.txt
Due: none

Add initial support for musttail attribute.
  adler32.c
  arch/x86/adler32_avx512_vnni.c
  crc32.c
  functable.c
  gzlib.c
  gzread.c
  inflate.c
  zbuild.h
Due: zlib-ng

Raise longest_match search floor for Z_FILTERED in deflate_slow
  deflate_slow.c
Due: zlib-ng

Disable the machine outliner for Apple clang builds
  CMakeLists.txt
  configure
Due: none

Require Google Benchmark 1.9.4 for benchmark_zlib
  test/benchmarks/CMakeLists.txt
Due: tests

Split longest_match into base, slow_knuth and slow_roll variants
  arch/arm/arm_functions.h
  arch/arm/compare256_neon.c
  arch/generic/compare256_c.c
  arch/generic/generic_functions.h
  arch/loongarch/compare256_lasx.c
  arch/loongarch/compare256_lsx.c
  arch/loongarch/loongarch_functions.h
  arch/power/compare256_power9.c
  arch/power/power_functions.h
  arch/riscv/compare256_rvv.c
  arch/riscv/riscv_functions.h
  arch/x86/compare256_avx2.c
  arch/x86/compare256_avx512.c
  arch/x86/compare256_sse2.c
  arch/x86/x86_functions.h
  deflate_slow.c
  functable.c
  functable.h
  match_tpl.h
Due: zlib-ng

Extend longest_match_slow_knuth with integer-hash offset-search
  match_tpl.h
Due: zlib-ng

Select longest_match and insert_batch variants once in lm_set_level
  deflate.c
  deflate.h
  deflate_p.h
  deflate_slow.c
Due: zlib-ng

Split zng_emit_dist into a zng_assemble_dist helper
  trees_emit.h
Due: zlib-ng

Add --benchmark_no_aslr flag to stabilize benchmark layout
  test/benchmarks/README.md
  test/benchmarks/benchmark_main.cc
Due: tests

Use a branchless byte-granular bit writer in compress_block
  deflate.c
  trees.c
  trees_emit.h
Due: zlib-ng

Slide small deflate windows across a 32K input buffer
  arch/arm/slide_hash_armv6.c
  arch/arm/slide_hash_neon.c
  arch/generic/slide_hash_c.c
  arch/loongarch/slide_hash_lasx.c
  arch/loongarch/slide_hash_lsx.c
  arch/power/slide_ppc_tpl.h
  arch/riscv/slide_hash_rvv.c
  arch/s390/slide_hash_vx.c
  arch/x86/slide_hash_avx2.c
  arch/x86/slide_hash_sse2.c
  deflate.c
  deflate.h
  deflate_stored.c
  test/benchmarks/benchmark_slidehash.cc
Due: zlib-ng, tests

Replace the Huffman heap with counting sort and a two-queue merge
  trees.c
Due: zlib-ng

Add a sync-flush variant to the deflate benchmark
  test/benchmarks/benchmark_deflate.cc
Due: tests

Sort with a single radix pass when frequencies fit in one byte
  trees.c
Due: zlib-ng

Build the radix histograms during the leaf scan
  trees.c
Due: zlib-ng

Move the merge-order array out of deflate_state
  deflate.h
  trees.c
Due: zlib-ng

Skip the sliding window update when finishing a stored stream
  deflate_stored.c
Due: none

Skip hash table clearing on reset for hashless configurations
  deflate.c
Due: zlib-ng

Move resetting state->gzhead from deflateInit2 to deflateResetKeep.
  deflate.c
Due: zlib-ng

Add define for minimum rolling hash level
  deflate.c
  deflate.h
  deflate_slow.c
Due: zlib-ng

Add test for deflateParams rebuild after a preset dictionary
  test/CMakeLists.txt
  test/test_dict_params.cc
Due: tests

Drop unused deflate_state parameter from zng_assemble_dist
  trees.c
  trees_emit.h
Due: zlib-ng

Path conditions:
  zlib-ng: any of: arch/, adler32.c, adler32_p.h, chunkset.c, chunkset_tpl.h, compare258.c, compress.c, crc32.c, crc32_comb.c, crc32_comb_tbl.h, crc32_p.h, crc32_tbl.h, deflate.c, deflate_fast.c, deflate.h, deflate_medium.c, deflate_p.h, deflate_quick.c, deflate_slow.c, fallback_builtins.h, functable.c, functable.h, gzguts.h, gzlib.c, gzread.c, gzwrite.c, infback.c, inffast.c, inffast.h, inffixed_tbl.h, inflate.c, inflate.h, inflate_p.h, inftrees.c, inftrees.h, insert_string.c, insert_string_tpl.h, match_tpl.h, trees.c, trees_emit.h, trees.h, trees_tbl.h, uncompr.c, zbuild.h, zconf.h, zconf-ng.h, zendian.h, zlib.h, zlib-ng.h, zutil.c, zutil.h, zutil_p.h, but not: usr/include/.*, /usr/include/.*, /build/usr/include/.*, usr/lib/.*, /usr/lib/.*, /build/usr/lib/.*, usr/lib64/.*, /usr/lib64/.*, /build/usr/lib64/.*
  tests: any of: test/, tools/, but not: usr/include/.*, /usr/include/.*, /build/usr/include/.*, usr/lib/.*, /usr/lib/.*, /build/usr/lib/.*, usr/lib64/.*, /usr/lib64/.*, /build/usr/lib64/.*
