Repository zlib-ng/zlib-ng: changes, and which Codecov flags are due for each by the changed paths.
All: zlib-ng, tests

codecov.yml:

codecov:
  max_report_age: 72h
  
coverage:
  status:
    project:
      default:
        threshold: 0.07%
      zlib-ng:
        target: 80%
        flags:
          - zlib-ng
      tests:
        target: 50%
        flags:
          - tests
        
comment:
    require_head: no     # default yes
    require_base: no     # default yes

flags:
  zlib-ng:
    paths:
      - arch/
      - adler32.c
      - adler32_p.h
      - chunkset.c
      - chunkset_tpl.h
      - compare258.c
      - compress.c
      - crc32.c
      - crc32_comb.c
      - crc32_comb_tbl.h
      - crc32_p.h
      - crc32_tbl.h
      - deflate.c
      - deflate_fast.c
      - deflate.h
      - deflate_medium.c
      - deflate_p.h
      - deflate_quick.c
      - deflate_slow.c
      - fallback_builtins.h
      - functable.c
      - functable.h
      - gzguts.h
      - gzlib.c
      - gzread.c
      - gzwrite.c
      - infback.c
      - inffast.c
      - inffast.h
      - inffixed_tbl.h
      - inflate.c
      - inflate.h
      - inflate_p.h
      - inftrees.c
      - inftrees.h
      - insert_string.c
      - insert_string_tpl.h
      - match_tpl.h
      - trees.c
      - trees_emit.h
      - trees.h
      - trees_tbl.h
      - uncompr.c
      - zbuild.h
      - zconf.h
      - zconf-ng.h
      - zendian.h
      - zlib.h
      - zlib-ng.h
      - zutil.c
      - zutil.h
      - zutil_p.h
  tests:
    paths:
      - test/
      - tools/
  
fixes:
  - "/home/runner/work/zlib-ng/zlib-ng/::"
  - "/home/runner/work/zlib-ng/build/::"
  - "/build/home/runner/work/zlib-ng/zlib-ng/::"
  - "/build/home/runner/work/zlib-ng/build/::"

ignore:
  - "usr/include/.*"
  - "/usr/include/.*"
  - "/build/usr/include/.*"
  - "usr/lib/.*"
  - "/usr/lib/.*"
  - "/build/usr/lib/.*"
  - "usr/lib64/.*"
  - "/usr/lib64/.*"
  - "/build/usr/lib64/.*"

Sync Github Actions workflows with develop
  .github/workflows/analyze.yml
  .github/workflows/cmake.yml
  .github/workflows/codeql.yml
  .github/workflows/configure.yml
  .github/workflows/fuzz.yml
  .github/workflows/libpng.yml
  .github/workflows/link.yml
  .github/workflows/lint.yml
  .github/workflows/osb.yml
  .github/workflows/pigz.yml
  .github/workflows/pkgcheck.yml
  .github/workflows/release.yml
Due: none

2.3.3 Bugfix release
  Makefile.in
  zlib-ng.h.in
  zlib.h.in
  zutil.c
Due: zlib-ng

Slide 32 hash entries per loop iteration when using AVX2.
  arch/x86/slide_hash_avx2.c
Due: zlib-ng

Use offset addressing when accessing s->sym_buf.
  deflate_p.h
Due: zlib-ng

Rename chorba SSE files to crc32_chorba for consistency
  CMakeLists.txt
  arch/x86/Makefile.in
  arch/x86/crc32_chorba_sse2.c
  arch/x86/crc32_chorba_sse41.c
  configure
Due: zlib-ng

Add e2k support
  CMakeLists.txt
  cmake/detect-arch.c
  cmake/detect-arch.cmake
  cmake/toolchain-e2k-lcc.cmake
  zarch.h
Due: none

Add e2k codecov build
  .github/workflows/cmake.yml
Due: none

Add e2k CI
  .github/workflows/cmake.yml
Due: none

Change "None" to "OFF" for sanitizer option
  CMakeLists.txt
Due: none

Update CMakeLists.txt
  CMakeLists.txt
Due: none

Cleanup formatting for crc32_chorba files
  arch/generic/crc32_chorba_c.c
  arch/x86/crc32_chorba_sse2.c
  arch/x86/crc32_chorba_sse41.c
Due: zlib-ng

Cleanup compare256 and compare256_rle implementations.
  CMakeLists.txt
  arch/arm/arm_functions.h
  arch/arm/compare256_neon.c
  arch/generic/Makefile.in
  arch/generic/compare256_c.c
  arch/generic/compare256_p.h
  arch/generic/generic_functions.h
  arch/loongarch/compare256_lasx.c
  arch/loongarch/compare256_lsx.c
  arch/loongarch/loongarch_functions.h
  arch/riscv/compare256_rvv.c
  arch/x86/compare256_avx2.c
  arch/x86/compare256_avx512.c
  arch/x86/compare256_sse2.c
  arch/x86/x86_functions.h
  compare256_rle.h
  deflate_rle.c
  functable.c
  test/benchmarks/benchmark_compare256.cc
  test/benchmarks/benchmark_compare256_rle.cc
  test/test_compare256.cc
  test/test_compare256_rle.cc
Due: zlib-ng, tests

Always use zng_ctz32 for W_BITS calculation
  deflate.h
Due: zlib-ng

Cleanup and rename bitreverse16 after ctz builtin refactoring
  deflate_p.h
  fallback_builtins.h
  inftrees.c
Due: zlib-ng

Refactor ctz builtins while always providing fallback.
  arch/arm/compare256_neon.c
  arch/generic/compare256_p.h
  arch/loongarch/compare256_lasx.c
  arch/loongarch/compare256_lsx.c
  arch/x86/compare256_avx2.c
  arch/x86/compare256_avx512.c
  arch/x86/compare256_sse2.c
  compare256_rle.h
  fallback_builtins.h
Due: zlib-ng

Remove build script compiler checks for ctz builtins
  .github/workflows/cmake.yml
  CMakeLists.txt
  configure
Due: none

[zconf] Fix LFS support on Windows * Windows doesn't have unistd.h, so z_off_t declaration only can depend on value of Z_HAVE_UNISTD_H.
  zconf-ng.h.in
  zconf.h.in
Due: zlib-ng

deflate_medium: more readability initialize structs match
  deflate_medium.c
Due: zlib-ng

Added NUMA allocation support for native work on server platforms
  CMakeLists.txt
  deflate.c
  deflate.h
  test/CMakeLists.txt
  zutil.c
  zutil.h
Due: zlib-ng, tests

Change zng_tr_stored_block/zng_tr_flush_block buf param to unsigned char *
  deflate.c
  deflate.h
  deflate_p.h
  deflate_stored.c
  trees.c
Due: zlib-ng

Remove unnecessary void */char * casts on memcpy/memset arguments
  deflate.c
  inflate.c
Due: zlib-ng

Remove unnecessary (int) casts on sizeof in switch statements
  zutil.c
Due: zlib-ng

[configure] Add initial support for NVHPC toolchain. * Improve detecting default compiler
  configure
Due: none

Remove unnecessary (unsigned long) cast on BASE in adler32_combine
  adler32.c
Due: zlib-ng

Remove unnecessary casts on malloc return values
  gzlib.c
  zutil_p.h
Due: zlib-ng

Update version info 2.3.3
  Makefile.in
  zlib-ng.h.in
  zlib.h.in
  zutil.c
Due: zlib-ng

Fix ZLIBNG_VERNUM
  zlib.h.in
Due: zlib-ng

CMakeLists.txt: fix build failure on Power8 with soft-float
  CMakeLists.txt
Due: none

Fix building on RISC-V without RVV.
  CMakeLists.txt
Due: none

Remove Assert that is always true due to limited range of data-type
  deflate_p.h
Due: zlib-ng

Convert various Assert() calls to AssertHint() where these can provide useful hints to compiler and static analyzers.
  arch/arm/slide_hash_armv6.c
  arch/arm/slide_hash_neon.c
  arch/generic/crc32_braid_c.c
  arch/power/slide_ppc_tpl.h
  arch/riscv/chunkset_rvv.c
  arch/riscv/slide_hash_rvv.c
  arch/s390/dfltcc_deflate.c
  arch/x86/slide_hash_avx2.c
  arch/x86/slide_hash_sse2.c
  chunkset_tpl.h
  deflate.c
  deflate_fast.c
  deflate_p.h
  deflate_quick.c
  deflate_rle.c
  deflate_slow.c
  fallback_builtins.h
  inffast_tpl.h
  trees.c
  trees_emit.h
Due: zlib-ng

Add various Assume hints
  deflate_p.h
  match_tpl.h
  trees.c
  trees_emit.h
  zbuild.h
Due: zlib-ng

Add hints about value ranges coming into inffast.
  inffast_tpl.h
Due: none

Add support for giving compilers (and static analyzers) hints about value ranges of variables, allowing them to better optimize the code. Adds Assume() and AssertHint() macros.
  zbuild.h
Due: zlib-ng

add workflow_dispatch to most of the workflow files
  .github/workflows/analyze.yml
  .github/workflows/cmake.yml
  .github/workflows/codeql.yml
  .github/workflows/configure.yml
  .github/workflows/fuzz.yml
  .github/workflows/libpng.yml
  .github/workflows/link.yml
  .github/workflows/lint.yml
  .github/workflows/osb.yml
  .github/workflows/pigz.yml
  .github/workflows/pkgcheck.yml
Due: none

Remove unnecessary ARCH_ARM in arm_features.c
  arch/arm/arm_features.c
Due: zlib-ng
