Repository zlib-ng/zlib-ng: changes, and which Codecov flags are due for each by the changed paths.
All: zlib-ng, tests

Inline chunkcopy_safe into the safe inflate_fast variant on ARM clang
  inflate_p.h
Due: zlib-ng

Split inflate_fast into safe and non-safe specializations
  arch/arm/arm_functions.h
  arch/arm/chunkset_neon.c
  arch/generic/chunkset_c.c
  arch/generic/generic_functions.h
  arch/loongarch/chunkset_lasx.c
  arch/loongarch/chunkset_lsx.c
  arch/loongarch/loongarch_functions.h
  arch/power/chunkset_power8.c
  arch/power/power_functions.h
  arch/riscv/chunkset_rvv.c
  arch/riscv/riscv_functions.h
  arch/x86/chunkset_avx2.c
  arch/x86/chunkset_avx512.c
  arch/x86/chunkset_sse2.c
  arch/x86/chunkset_ssse3.c
  arch/x86/x86_functions.h
  functable.c
  functable.h
  infback.c
  inffast_tpl.h
  inflate.c
Due: zlib-ng

Add define for minimum rolling hash level
  deflate.c
  deflate.h
  deflate_slow.c
Due: zlib-ng

Add --benchmark_no_aslr flag to stabilize benchmark layout
  test/benchmarks/README.md
  test/benchmarks/benchmark_main.cc
Due: tests

Require Google Benchmark 1.9.4 for benchmark_zlib
  test/benchmarks/CMakeLists.txt
Due: tests

Initial support for MIPS MSA optimizations for I6400.
  .github/workflows/cmake.yml
  .github/workflows/pkgcheck.yml
  CMakeLists.txt
  README.md
  arch/mips/Makefile.in
  arch/mips/adler32_msa.c
  arch/mips/mips_features.c
  arch/mips/mips_features.h
  arch/mips/mips_functions.h
  arch/mips/mips_natives.h
  arch/mips/slide_hash_msa.c
  arch_functions.h
  cmake/detect-intrinsics.cmake
  cmake/toolchain-mipsisa64r6.cmake
  configure
  cpu_features.c
  cpu_features.h
  create-abi-files.sh
  functable.c
  test/abi/zlib-04f42ceca40f73e2978b50e93806c2a18c1281fc-mipsisa64r6-unknown-linux-gnuabi64.abi
  test/abi/zlib-ng-e4614ebcb9b3e5b108dc983c155e4baf80882311-mipsisa64r6-unknown-linux-gnuabi64.abi
  test/benchmarks/benchmark_adler32.cc
  test/benchmarks/benchmark_adler32_copy.cc
  test/benchmarks/benchmark_slidehash.cc
Due: zlib-ng, tests

Add filtered PNG encode benchmark
  test/benchmarks/benchmark_png_decode.cc
  test/benchmarks/benchmark_png_decode_small.cc
  test/benchmarks/benchmark_png_encode.cc
  test/benchmarks/benchmark_png_shared.h
Due: tests

Raise longest_match search floor for Z_FILTERED in deflate_slow
  deflate_slow.c
Due: zlib-ng

Use std::string for test PNG file names
  test/benchmarks/benchmark_png_decode.cc
Due: tests

Mark crc32_copy_chorba and adler32_msa as Z_INTERNAL
  arch/generic/crc32_chorba_c.c
  arch/mips/adler32_msa.c
Due: zlib-ng

Add zng_crc32_combine_gen and zng_crc32_combine_op to native def
  win32/zlib-ng.def.in
Due: none

[CI] Add Xcode 27 runner preview.
  .github/workflows/cmake.yml
Due: none

[Windows] Pass export definition file to linker * Linker will compare list of exported symbols with the contents of the def file and abort if symbols are missing
  CMakeLists.txt
Due: none

Don't build shared libraries, if target doesn't support them.
  CMakeLists.txt
Due: none

Fix import library name on non-MSVC Windows targets * pkgconfig expects import library to be named libz.dll.a or libz-ng.dll.a
  CMakeLists.txt
Due: none

Skip hash table clearing on reset for hashless configurations
  deflate.c
Due: zlib-ng

Skip the sliding window update when finishing a stored stream
  deflate_stored.c
Due: none

Add test for deflateParams rebuild after a preset dictionary
  test/CMakeLists.txt
  test/test_dict_params.cc
Due: tests

Skip hash insertion for hashless configurations
  deflate.c
Due: zlib-ng

Mark copyright strings and z_errmsg as Z_INTERNAL
  deflate.c
  inftrees.c
  zutil.c
  zutil.h
Due: zlib-ng

Prefix in_func and out_func typedefs in the zlib-ng native API
  infback.c
  zlib-ng.h.in
  zlib_name_mangling-ng.h.in
Due: zlib-ng

Add export check script and workflow
  .github/workflows/exportcheck.yml
  .github/workflows/orchestrator.yml
  test/exportcheck.sh
Due: tests

Slide small deflate windows across a 32K input buffer
  arch/arm/slide_hash_armv6.c
  arch/arm/slide_hash_neon.c
  arch/generic/slide_hash_c.c
  arch/loongarch/slide_hash_lasx.c
  arch/loongarch/slide_hash_lsx.c
  arch/power/slide_ppc_tpl.h
  arch/riscv/slide_hash_rvv.c
  arch/s390/slide_hash_vx.c
  arch/x86/slide_hash_avx2.c
  arch/x86/slide_hash_sse2.c
  deflate.c
  deflate.h
  deflate_stored.c
  test/benchmarks/benchmark_slidehash.cc
Due: zlib-ng, tests

Refill the window at the 2 * w_size cadence
  deflate.c
  deflate.h
  deflate_medium_tpl.h
  match_tpl.h
Due: zlib-ng

Add gzopen_w to zlib-ng.map as it is exported symbol
  CMakeLists.txt
  configure
  zlib-ng.map.in
Due: none

Update gz*.c copyright dates.
  gzlib.c
  gzread.c
  gzwrite.c
Due: zlib-ng

Keep deflate_state's layout the same with and without LIT_MEM
  deflate.h
Due: zlib-ng

Add CI coverage for consuming the build tree via find_package
  .github/workflows/link.yml
  test/find-package-project/CMakeLists.txt
  test/find-package-project/main.c
Due: tests

Fix gzsetparams invalid parameter handling
  gzwrite.c
  test/test_gzio.cc
Due: zlib-ng, tests

minideflate: allow read-only input files
  utils/minideflate.c
Due: none

gzwrite: handle output exhaustion during parameter changes
  gzwrite.c
  test/test_gzio.cc
Due: zlib-ng, tests

Export CMake targets to the build tree for superbuilds
  CMakeLists.txt
Due: none

Path conditions:
  zlib-ng: any of: arch/, adler32.c, adler32_p.h, chunkset.c, chunkset_tpl.h, compare258.c, compress.c, crc32.c, crc32_comb.c, crc32_comb_tbl.h, crc32_p.h, crc32_tbl.h, deflate.c, deflate_fast.c, deflate.h, deflate_medium.c, deflate_p.h, deflate_quick.c, deflate_slow.c, fallback_builtins.h, functable.c, functable.h, gzguts.h, gzlib.c, gzread.c, gzwrite.c, infback.c, inffast.c, inffast.h, inffixed_tbl.h, inflate.c, inflate.h, inflate_p.h, inftrees.c, inftrees.h, insert_string.c, insert_string_tpl.h, match_tpl.h, trees.c, trees_emit.h, trees.h, trees_tbl.h, uncompr.c, zbuild.h, zconf.h, zconf-ng.h, zendian.h, zlib.h, zlib-ng.h, zutil.c, zutil.h, zutil_p.h, but not: usr/include/.*, /usr/include/.*, /build/usr/include/.*, usr/lib/.*, /usr/lib/.*, /build/usr/lib/.*, usr/lib64/.*, /usr/lib64/.*, /build/usr/lib64/.*
  tests: any of: test/, tools/, but not: usr/include/.*, /usr/include/.*, /build/usr/include/.*, usr/lib/.*, /usr/lib/.*, /build/usr/lib/.*, usr/lib64/.*, /usr/lib64/.*, /build/usr/lib64/.*
