Repository zlib-ng/zlib-ng: changes, and which Codecov flags are due for each by the changed paths.
All: zlib-ng, tests

Use msvc-dev-cmd to set the development environment.
  .github/workflows/nmake.yml
Due: none

Use working-directory property for run actions instead of changing directory.
  .github/workflows/cmake.yml
  .github/workflows/configure.yml
  .github/workflows/libpng.yml
  .github/workflows/pigz.yml
  .github/workflows/release.yml
Due: none

Upgrade to actions/checkout@v3.
  .github/workflows/analyze.yml
  .github/workflows/cmake.yml
  .github/workflows/configure.yml
  .github/workflows/libpng.yml
  .github/workflows/nmake.yml
  .github/workflows/pigz.yml
  .github/workflows/pkgcheck.yml
  .github/workflows/release.yml
Due: none

Clean up workflow and job names. Remove CI prefix because it is redundant.
  .github/workflows/analyze.yml
  .github/workflows/cmake.yml
  .github/workflows/configure.yml
  .github/workflows/fuzz.yml
  .github/workflows/libpng.yml
  .github/workflows/link.yml
  .github/workflows/nmake.yml
  .github/workflows/pigz.yml
  .github/workflows/pkgcheck.yml
  .github/workflows/release.yml
Due: none

Split long workflow commands into separate lines for easier readability.
  .github/workflows/analyze.yml
  .github/workflows/cmake.yml
  .github/workflows/libpng.yml
  .github/workflows/pigz.yml
  .github/workflows/pkgcheck.yml
  .github/workflows/release.yml
Due: none

Added whitespace separation between steps in fuzzer workflow.
  .github/workflows/fuzz.yml
Due: none

Set max time for job to complete to 60 minutes.
  .github/workflows/cmake.yml
Due: none

Collapse workflow multiline run actions into single line.
  .github/workflows/analyze.yml
  .github/workflows/cmake.yml
  .github/workflows/libpng.yml
  .github/workflows/pkgcheck.yml
  .github/workflows/release.yml
Due: none

Don't use zlib fork identifier in copyright statement.
  deflate.c
  inftrees.c
Due: zlib-ng

Use 15 (0xf) for ZLIB_VER_SUBREVISION to indicate zlib fork.
  zlib.h.in
Due: zlib-ng

Fixed functions declared without a prototype warning in tools.
  tools/makecrct.c
  tools/maketrees.c
Due: tests

Treat arm64 as aarch64 for Apple M1.
  cmake/detect-arch.c
  configure
Due: none

cmake: respect custom `RC` flags and delete `GCC_WINDRES`
  CMakeLists.txt
  configure
  win32/zlib-ng1.rc
  win32/zlib1.rc
Due: none

Don't use unaligned access for memcpy instructions due to GCC 11 assuming it is aligned in certain instances.
  arch/arm/chunkset_neon.c
  arch/power/chunkset_power8.c
  arch/x86/chunkset_avx.c
  arch/x86/chunkset_sse2.c
  arch/x86/chunkset_sse41.c
  chunkset.c
  compare256.c
  deflate.h
  inffast.c
  inflate_p.h
  insert_string_tpl.h
  match_tpl.h
  zbuild.h
Due: zlib-ng

Fix inflateBack to detect invalid input with distances too far.
  infback.c
Due: zlib-ng

Reorganize cmake scripts for tests.
  CMakeLists.txt
  test/CMakeLists.txt
  test/cmake/compress-and-verify.cmake
  test/cmake/run-and-compare.cmake
  test/cmake/run-and-redirect.cmake
  test/cmake/test-cves.cmake
  test/cmake/test-data.cmake
  test/cmake/test-issues.cmake
  test/cmake/test-tools.cmake
  test/pigz/CMakeLists.txt
Due: tests

Fix build as subproject.
  test/CMakeLists.txt
  test/benchmarks/CMakeLists.txt
  test/cmake/test-tools.cmake
  test/fuzz/CMakeLists.txt
Due: tests

Add add_subdirectory test.
  .github/workflows/cmake.yml
  test/add-subdirectory-project/CMakeLists.txt
  test/add-subdirectory-project/main.c
Due: tests

msvc/arm64: fix narrowing/signed conversion warning in NEON_accum32
  arch/arm/adler32_neon.c
Due: zlib-ng

fix ACLE detection on msvc/arm64
  CMakeLists.txt
  arch/arm/arm_features.c
  arch/arm/crc32_acle.c
  cmake/detect-intrinsics.cmake
  fallback_builtins.h
Due: zlib-ng

Add CVE-2022-37434 test.
  test/infcover.c
Due: tests

Inflate: Increase max root table sizes to 10 and 9
  infback.c
  inflate.c
  inftrees.h
Due: zlib-ng

Inflate: refill unconditionally
  inffast.c
Due: zlib-ng

Remove ZLIB_DUAL_LINK option to simplify dual link tests.
  .github/workflows/link.yml
  CMakeLists.txt
  README.md
  test/CMakeLists.txt
Due: tests

Fixed content already populated error in CMake scripts. #1327
  test/benchmarks/CMakeLists.txt
  test/pigz/CMakeLists.txt
Due: tests

Inflate: add fast-path for literals
  inffast.c
  inffast.h
Due: zlib-ng

Actually run `configure` CI on macOS with GCC
  .github/workflows/configure.yml
Due: none

Add vcpkg installation instructions
  README.md
Due: none

cmake: CPack enable
  CMakeLists.txt
  test/CMakeLists.txt
Due: tests

format and add vcpkg headings.
  README.md
Due: none

format Vcpkg
  README.md
Due: none

Fix wine32 dependencies for MinGW i686. * Downgrade broken libgd3
  .github/workflows/cmake.yml
Due: none

Remove extra compiler names
  cmake/toolchain-mingw-i686.cmake
Due: none

Set `CMAKE_*_COMPILER_TARGET` to full triplet for mingw toolchains
  cmake/toolchain-mingw-i686.cmake
  cmake/toolchain-mingw-x86_64.cmake
Due: none

Path conditions:
  zlib-ng: any of: arch/, adler32.c, adler32_p.h, chunkset.c, chunkset_tpl.h, compare258.c, compress.c, crc32.c, crc32_comb.c, crc32_comb_tbl.h, crc32_p.h, crc32_tbl.h, deflate.c, deflate_fast.c, deflate.h, deflate_medium.c, deflate_p.h, deflate_quick.c, deflate_slow.c, fallback_builtins.h, functable.c, functable.h, gzguts.h, gzlib.c, gzread.c, gzwrite.c, infback.c, inffast.c, inffast.h, inffixed_tbl.h, inflate.c, inflate.h, inflate_p.h, inftrees.c, inftrees.h, insert_string.c, insert_string_tpl.h, match_tpl.h, trees.c, trees_emit.h, trees.h, trees_tbl.h, uncompr.c, zbuild.h, zconf.h, zconf-ng.h, zendian.h, zlib.h, zlib-ng.h, zutil.c, zutil.h, zutil_p.h, but not: usr/include/.*, /usr/include/.*, /build/usr/include/.*, usr/lib/.*, /usr/lib/.*, /build/usr/lib/.*, usr/lib64/.*, /usr/lib64/.*, /build/usr/lib64/.*
  tests: any of: test/, tools/, but not: usr/include/.*, /usr/include/.*, /build/usr/include/.*, usr/lib/.*, /usr/lib/.*, /build/usr/lib/.*, usr/lib64/.*, /usr/lib64/.*, /build/usr/lib64/.*
