Repository zlib-ng/zlib-ng: changes, and which Codecov flags are due for each by the changed paths.
All: zlib-ng, tests

codecov.yml:

codecov:
  max_report_age: 72h
  
coverage:
  status:
    project:
      default:
        threshold: 0.07%
      zlib-ng:
        target: 80%
        flags:
          - zlib-ng
      tests:
        target: 50%
        flags:
          - tests
        
comment:
    require_head: no     # default yes
    require_base: no     # default yes

flags:
  zlib-ng:
    paths:
      - arch/
      - adler32.c
      - adler32_p.h
      - chunkset.c
      - chunkset_tpl.h
      - compare258.c
      - compress.c
      - crc32.c
      - crc32_comb.c
      - crc32_comb_tbl.h
      - crc32_p.h
      - crc32_tbl.h
      - deflate.c
      - deflate_fast.c
      - deflate.h
      - deflate_medium.c
      - deflate_p.h
      - deflate_quick.c
      - deflate_slow.c
      - fallback_builtins.h
      - functable.c
      - functable.h
      - gzguts.h
      - gzlib.c
      - gzread.c
      - gzwrite.c
      - infback.c
      - inffast.c
      - inffast.h
      - inffixed_tbl.h
      - inflate.c
      - inflate.h
      - inflate_p.h
      - inftrees.c
      - inftrees.h
      - insert_string.c
      - insert_string_tpl.h
      - match_tpl.h
      - trees.c
      - trees_emit.h
      - trees.h
      - trees_tbl.h
      - uncompr.c
      - zbuild.h
      - zconf.h
      - zconf-ng.h
      - zendian.h
      - zlib.h
      - zlib-ng.h
      - zutil.c
      - zutil.h
      - zutil_p.h
  tests:
    paths:
      - test/
      - tools/
  
fixes:
  - "/home/runner/work/zlib-ng/zlib-ng/::"
  - "/home/runner/work/zlib-ng/build/::"
  - "/build/home/runner/work/zlib-ng/zlib-ng/::"
  - "/build/home/runner/work/zlib-ng/build/::"

ignore:
  - "usr/include/.*"
  - "/usr/include/.*"
  - "/build/usr/include/.*"
  - "usr/lib/.*"
  - "/usr/lib/.*"
  - "/build/usr/lib/.*"
  - "usr/lib64/.*"
  - "/usr/lib64/.*"
  - "/build/usr/lib64/.*"

Fix missing gzip functions when linking example and minigzip binaries.
  Makefile.in
  configure
Due: none

Fix bug in deflateBound() for level 0 and memLevel 9.
  deflate.c
Due: zlib-ng

Sync with zlib 1.2.13 and declare compatibility.
  CMakeLists.txt
  README.md
  deflate.c
  inftrees.c
  test/abi/zlib-04f42ceca40f73e2978b50e93806c2a18c1281fc-aarch64-unknown-linux-gnu.abi
  test/abi/zlib-04f42ceca40f73e2978b50e93806c2a18c1281fc-arm-unknown-linux-gnueabi.abi
  test/abi/zlib-04f42ceca40f73e2978b50e93806c2a18c1281fc-arm-unknown-linux-gnueabihf.abi
  test/abi/zlib-04f42ceca40f73e2978b50e93806c2a18c1281fc-powerpc-unknown-linux-gnu.abi
  test/abi/zlib-04f42ceca40f73e2978b50e93806c2a18c1281fc-powerpc64-unknown-linux-gnu.abi
  test/abi/zlib-04f42ceca40f73e2978b50e93806c2a18c1281fc-powerpc64le-unknown-linux-gnu.abi
  test/abi/zlib-04f42ceca40f73e2978b50e93806c2a18c1281fc-x86_64-pc-linux-gnu-m32.abi
  test/abi/zlib-04f42ceca40f73e2978b50e93806c2a18c1281fc-x86_64-pc-linux-gnu.abi
  test/abicheck.sh
  win32/zlib1.rc
  zlib.h.in
Due: zlib-ng, tests

Have build test report library version if it doesn't match zlib.h.
  test/example.c
Due: tests

Fix bug in block type selection when Z_FIXED used.
  trees.c
Due: zlib-ng

Have infback() deliver all of the available output up to any error.
  infback.c
Due: zlib-ng

Remove redundant check in gz_look().
  gzread.c.in
Due: zlib-ng

Fix crash when gzsetparams() attempted for transparent write.
  gzwrite.c
Due: zlib-ng

Remove -pedantic from configure -w compile options.
  configure
Due: none

Add WIN32_LEAN_AND_MEAN for windows.h include.
  zconf.h.in
Due: zlib-ng

Use local functable variable instead of standalone function pointers
  functable.c
Due: zlib-ng

Rename local `functable` variable to `ft`
  functable.c
Due: zlib-ng

Move initialization of functable to `init_functable` function
  functable.c
Due: zlib-ng

Avoid `functable` redefinition in functable.c
  functable.c
Due: zlib-ng

Use arch-specific versions of inflate_fast.
  CMakeLists.txt
  Makefile.in
  arch/arm/chunkset_neon.c
  arch/power/chunkset_power8.c
  arch/x86/chunkset_avx.c
  arch/x86/chunkset_sse2.c
  arch/x86/chunkset_sse41.c
  chunkset.c
  cpu_features.h
  functable.c
  functable.h
  infback.c
  inffast.h
  inffast_tpl.h
  inflate.c
  inflate_p.h
  win32/Makefile.a64
  win32/Makefile.arm
  win32/Makefile.msc
Due: zlib-ng

Remove unused chunk memory functions from functable.
  arch/power/chunkset_power8.c
  arch/x86/chunkset_sse41.c
  cpu_features.h
  functable.c
  functable.h
Due: zlib-ng

Pin Google Benchmark to v1.7.1 to fix the upstream issue https://github.com/google/benchmark/issues/1454.
  test/benchmarks/CMakeLists.txt
Due: tests

Remove FORCE_TZCNT/X86_NOCHECK_TZCNT
  CMakeLists.txt
  README.md
  arch/x86/x86_features.c
  configure
Due: zlib-ng

Remove x86 cpu feature detection for tzcnt
  arch/x86/x86_features.c
  arch/x86/x86_features.h
Due: zlib-ng

Correct inflate_fast function signature
  cpu_features.h
  functable.c
  functable.h
Due: zlib-ng

Add official Ubuntu mirror list as fallback for Actions caching proxy
  .github/workflows/analyze.yml
  .github/workflows/cmake.yml
  .github/workflows/configure.yml
  .github/workflows/pigz.yml
  .github/workflows/pkgcheck.yml
Due: none

Update to actions/upload-artifact@v3
  .github/workflows/configure.yml
  .github/workflows/fuzz.yml
  .github/workflows/link.yml
  .github/workflows/pigz.yml
  .github/workflows/pkgcheck.yml
Due: none

Update codecov uploader
  .github/workflows/cmake.yml
  .github/workflows/pigz.yml
Due: none

Update release uploader
  .github/workflows/release.yml
Due: none

Update ilammy/msvc-dev-cmd
  .github/workflows/nmake.yml
Due: none

Update mymindstorm/setup-emsdk
  .github/workflows/cmake.yml
  .github/workflows/configure.yml
Due: none
