Repository zlib-ng/zlib-ng: changes, and which Codecov flags are due for each by the changed paths.
All: zlib-ng, tests

codecov.yml:

codecov:
  max_report_age: 72h
  
coverage:
  status:
    project:
      default:
        threshold: 0.07%
      zlib-ng:
        target: 80%
        flags:
          - zlib-ng
      tests:
        target: 50%
        flags:
          - tests
        
comment:
    require_head: no     # default yes
    require_base: no     # default yes

flags:
  zlib-ng:
    paths:
      - arch/
      - adler32.c
      - adler32_p.h
      - chunkset.c
      - chunkset_tpl.h
      - compare258.c
      - compress.c
      - crc32.c
      - crc32_comb.c
      - crc32_comb_tbl.h
      - crc32_p.h
      - crc32_tbl.h
      - deflate.c
      - deflate_fast.c
      - deflate.h
      - deflate_medium.c
      - deflate_p.h
      - deflate_quick.c
      - deflate_slow.c
      - fallback_builtins.h
      - functable.c
      - functable.h
      - gzguts.h
      - gzlib.c
      - gzread.c
      - gzwrite.c
      - infback.c
      - inffast.c
      - inffast.h
      - inffixed_tbl.h
      - inflate.c
      - inflate.h
      - inflate_p.h
      - inftrees.c
      - inftrees.h
      - insert_string.c
      - insert_string_tpl.h
      - match_tpl.h
      - trees.c
      - trees_emit.h
      - trees.h
      - trees_tbl.h
      - uncompr.c
      - zbuild.h
      - zconf.h
      - zconf-ng.h
      - zendian.h
      - zlib.h
      - zlib-ng.h
      - zutil.c
      - zutil.h
      - zutil_p.h
  tests:
    paths:
      - test/
      - tools/
  
fixes:
  - "/home/runner/work/zlib-ng/zlib-ng/::"
  - "/home/runner/work/zlib-ng/build/::"
  - "/build/home/runner/work/zlib-ng/zlib-ng/::"
  - "/build/home/runner/work/zlib-ng/build/::"

ignore:
  - "usr/include/.*"
  - "/usr/include/.*"
  - "/build/usr/include/.*"
  - "usr/lib/.*"
  - "/usr/lib/.*"
  - "/build/usr/lib/.*"
  - "usr/lib64/.*"
  - "/usr/lib64/.*"
  - "/build/usr/lib64/.*"

Add dependabot for github actions
  .github/dependabot.yml
Due: none

Add test for checking if -march=native needs -mfpu=neon for 32-bit ARM.
  cmake/detect-intrinsics.cmake
Due: none

Add more result variables to the cmake package configuration
  zlib-config.cmake.in
Due: none

[CI] Fix creating list of artifacts for CodeCov.
  .github/workflows/cmake.yml
  .github/workflows/pigz.yml
Due: none

[ARM] Override Clang x4 NEON intrinsics for Android * Clang for Android requires 256-bit alignment for x4 loads and stores, which can't be guaranteed and is unnecessary
  arch/arm/neon_intrins.h
Due: zlib-ng

Fix building with NVHPC
  arch/x86/x86_intrins.h
Due: zlib-ng

change wording as per review
  cmake/detect-intrinsics.cmake
  configure
Due: none

Remove obsolete TARGET_OS_MAC check
  zutil.h
Due: zlib-ng

CMake: Replace ';' by '$<SEMICOLON>' in generator-expression
  CMakeLists.txt
Due: none

Update dependencies for 32-bit MinGW CI run.
  .github/workflows/cmake.yml
Due: none

arch/riscv/riscv_features.c: fix uclibc build
  arch/riscv/riscv_features.c
Due: zlib-ng

Bump max CMake policy version to 3.29.0
  CMakeLists.txt
Due: none

make darwin cross compilation possible
  configure
Due: none

Enabled orphaned unit tests for compare256_rle family of functions.
  test/CMakeLists.txt
  test/test_compare256_rle.cc
Due: tests

Add AArch64 feature detection support for OpenBSD
  arch/arm/arm_features.c
Due: zlib-ng

Improve source compatibility with zlib
  zlib.h.in
Due: zlib-ng

Switch to python venv
  .github/workflows/cmake.yml
Due: none

IBM zSystems DFLTCC: Extend sanitizer checks
  arch/s390/dfltcc_detail.h
  zbuild.h
Due: zlib-ng

Fix a name conflict when compiled with zlib-compat
  test/benchmarks/benchmark_compress.cc
Due: tests

Make lint check ignore *.patch files, as those can legally have trailing whitespace or end the file with blank lines.
  .github/workflows/lint.yml
Due: none

Enabled orphaned unit tests for compare256_rle family of functions.
  test/CMakeLists.txt
Due: tests

Use windows-2019 for build with toolset v141
  .github/workflows/cmake.yml
Due: none

Add small compress() benchmark
  test/benchmarks/CMakeLists.txt
  test/benchmarks/benchmark_compress.cc
Due: tests

Fix -std option in configure script
  configure
Due: none

- Make codecov uploads happen even if some jobs have failed. - Fix error in generating list of reports to upload. - Clean up the implementation a bit.
  .github/workflows/cmake.yml
  .github/workflows/pigz.yml
Due: none

Update macOS Github Actions
  .github/workflows/cmake.yml
  .github/workflows/configure.yml
Due: none

.gitattributes: Enforce LF line-endings on all non-binary files
  .gitattributes
Due: none

Fix illegal instruction usage in Xeon Phi x200 processors
  arch/x86/x86_features.c
  arch/x86/x86_features.h
  functable.c
  test/benchmarks/benchmark_adler32.cc
  test/benchmarks/benchmark_adler32_copy.cc
  test/benchmarks/benchmark_crc32.cc
  test/test_adler32.cc
  test/test_crc32.cc
Due: zlib-ng, tests

Use actual compressed length
  test/test_dict.cc
Due: tests

Update llvm version used for MSAN. Disable unneccessary compilation of tests, benchmarks, docs.
  .github/workflows/cmake.yml
Due: none

Add back-and-forth inflateCopy() test
  test/CMakeLists.txt
  test/test_inflate_copy.cc
Due: tests

Fix lint trailing whitespace error.
  .gitattributes
Due: none

free_aligned: validate passed in pointer
  zutil.c
Due: zlib-ng

Use setup-python action to setup python environment.
  .github/workflows/cmake.yml
Due: none

Fix a couple typos found by codespell
  arch/s390/README.md
  deflate_stored.c
Due: zlib-ng

2.1.7 Release
  Makefile.in
  zlib-ng.h.in
  zlib.h.in
  zutil.c
Due: zlib-ng
