Repository zlib-ng/zlib-ng: changes, and which Codecov flags are due for each by the changed paths.
All: zlib-ng, tests

Add mixed data type to benchmark data generators
  test/benchmarks/benchmark_deflate.cc
  test/benchmarks/benchmark_inflate.cc
  test/test_data_p.h
Due: tests

Add literals data type to benchmark data generators
  test/benchmarks/benchmark_deflate.cc
  test/benchmarks/benchmark_inflate.cc
  test/test_data_p.h
Due: tests

Add DNA data type to benchmark data generators
  test/benchmarks/benchmark_deflate.cc
  test/benchmarks/benchmark_inflate.cc
  test/test_data_p.h
Due: tests

Use alignment-safe reads in RVV chunkmemset
  arch/riscv/chunkset_rvv.c
Due: zlib-ng

Fix this compilation issue for non-windows machines
  test/benchmarks/benchmark_png_shared.h
Due: tests

Add ABI files for loongarch64 target and update create-abi-files.sh script
  .github/workflows/pkgcheck.yml
  create-abi-files.sh
  test/abi/zlib-04f42ceca40f73e2978b50e93806c2a18c1281fc-loongarch64-unknown-linux-gnu.abi
  test/abi/zlib-ng-e4614ebcb9b3e5b108dc983c155e4baf80882311-loongarch64-unknown-linux-gnu.abi
Due: tests

Reject short-match candidates with a masked test instead of ctz
  fallback_builtins.h
  match_tpl.h
Due: zlib-ng

Peel first candidate out of the short-match chain walk
  match_tpl.h
Due: zlib-ng

Short-circuit longest_match on short candidates via XOR and ctz
  arch/power/compare256_power9.c
  arch/riscv/compare256_rvv.c
  match_tpl.h
Due: zlib-ng

Force post-indexed loads in NEON compare256
  arch/arm/compare256_neon.c
Due: zlib-ng

Read bits with zero refill latency
  infback.c
  inffast_tpl.h
  inflate.c
  inflate_p.h
  zutil.h
Due: zlib-ng

Unify slide_hash_sse2 to follow same style as the avx2 variant.
  arch/x86/slide_hash_sse2.c
Due: zlib-ng

Rename hash insert helpers by hash method
  deflate.c
  deflate.h
  deflate_fast.c
  deflate_medium.c
  deflate_quick.c
  deflate_slow.c
  insert_string.c
  insert_string_p.h
  test/benchmarks/benchmark_insert_string.cc
Due: zlib-ng, tests

Add AVXVNNI support
  CMakeLists.txt
  arch/x86/Makefile.in
  arch/x86/adler32_avx2_vnni.c
  arch/x86/x86_features.c
  arch/x86/x86_features.h
  arch/x86/x86_functions.h
  cmake/detect-intrinsics.cmake
  configure
  functable.c
  test/benchmarks/benchmark_adler32.cc
  test/benchmarks/benchmark_adler32_copy.cc
  test/test_adler32.cc
Due: zlib-ng, tests

Use the same unroll factor for the copying variant
  arch/x86/adler32_avx512_vnni.c
Due: zlib-ng

Add --benchmark_data_types flag to select data type variants
  test/benchmarks/CMakeLists.txt
  test/benchmarks/README.md
  test/benchmarks/benchmark_data_types.cc
  test/benchmarks/benchmark_data_types.h
  test/benchmarks/benchmark_deflate.cc
  test/benchmarks/benchmark_inflate.cc
  test/benchmarks/benchmark_main.cc
  test/test_data_p.h
Due: tests

Cross-vary inflate and deflate benchmarks by input data type
  test/benchmarks/benchmark_compress.cc
  test/benchmarks/benchmark_deflate.cc
  test/benchmarks/benchmark_inflate.cc
  test/benchmarks/benchmark_inflate_chunked.cc
  test/benchmarks/benchmark_png_decode.cc
  test/benchmarks/benchmark_png_decode_small.cc
  test/benchmarks/benchmark_png_encode.cc
  test/benchmarks/benchmark_png_shared.h
  test/benchmarks/benchmark_uncompress.cc
  test/compressible_data_p.h
  test/test_chunked.cc
  test/test_data_p.h
  test/test_deflate.cc
Due: tests

Rebuild stale hash chains on deflateParams change
  deflate.c
  deflate.h
  deflate_p.h
  deflate_stored.c
  test/test_deflate_params.cc
  trees.c
Due: zlib-ng, tests

Make sure HASH_BITS gets updated along with HASH_SIZE
  deflate.h
Due: zlib-ng

Remove extra masking of the hashed value in insert_string.
  insert_string_p.h
Due: none

Fix missed cleanup in insert_string
  insert_string_p.h
Due: none

Fix level 9 segfaault on custom HASH_SIZE. PS: It still misbehaves on custom sizes, but no longer segfaults.
  insert_string_p.h
Due: none

Clean up slide_hash_c code. Also remove the original loop that GCC is still struggling to vectorize at -O2.
  arch/generic/slide_hash_c.c
Due: zlib-ng

Skip redundant hash slides for non-chain-walking strategies
  arch/arm/arm_functions.h
  arch/arm/slide_hash_armv6.c
  arch/arm/slide_hash_neon.c
  arch/generic/generic_functions.h
  arch/generic/slide_hash_c.c
  arch/loongarch/loongarch_functions.h
  arch/loongarch/slide_hash_lasx.c
  arch/loongarch/slide_hash_lsx.c
  arch/power/power_functions.h
  arch/power/slide_hash_power8.c
  arch/power/slide_hash_vmx.c
  arch/power/slide_ppc_tpl.h
  arch/riscv/riscv_functions.h
  arch/riscv/slide_hash_rvv.c
  arch/s390/s390_functions.h
  arch/s390/slide_hash_vx.c
  arch/x86/slide_hash_avx2.c
  arch/x86/slide_hash_sse2.c
  arch/x86/x86_functions.h
  deflate.c
  deflate.h
  functable.c
  functable.h
Due: zlib-ng

Skip prev writes in deflate_quick hash inserts
  deflate.c
  deflate.h
  deflate_quick.c
  insert_string.c
  insert_string_p.h
Due: zlib-ng

Path conditions:
  zlib-ng: any of: arch/, adler32.c, adler32_p.h, chunkset.c, chunkset_tpl.h, compare258.c, compress.c, crc32.c, crc32_comb.c, crc32_comb_tbl.h, crc32_p.h, crc32_tbl.h, deflate.c, deflate_fast.c, deflate.h, deflate_medium.c, deflate_p.h, deflate_quick.c, deflate_slow.c, fallback_builtins.h, functable.c, functable.h, gzguts.h, gzlib.c, gzread.c, gzwrite.c, infback.c, inffast.c, inffast.h, inffixed_tbl.h, inflate.c, inflate.h, inflate_p.h, inftrees.c, inftrees.h, insert_string.c, insert_string_tpl.h, match_tpl.h, trees.c, trees_emit.h, trees.h, trees_tbl.h, uncompr.c, zbuild.h, zconf.h, zconf-ng.h, zendian.h, zlib.h, zlib-ng.h, zutil.c, zutil.h, zutil_p.h, but not: usr/include/.*, /usr/include/.*, /build/usr/include/.*, usr/lib/.*, /usr/lib/.*, /build/usr/lib/.*, usr/lib64/.*, /usr/lib64/.*, /build/usr/lib64/.*
  tests: any of: test/, tools/, but not: usr/include/.*, /usr/include/.*, /build/usr/include/.*, usr/lib/.*, /usr/lib/.*, /build/usr/lib/.*, usr/lib64/.*, /usr/lib64/.*, /build/usr/lib64/.*
