Repository zlib-ng/zlib-ng: changes, and which Codecov flags are due for each by the changed paths.
All: zlib-ng, tests

Don't pin gcovr version any longer. #1840
  .github/workflows/cmake.yml
  .github/workflows/pigz.yml
Due: none

Ignore gcovr parser errors.
  .github/workflows/cmake.yml
  .github/workflows/pigz.yml
Due: none

Remove package qemu for Ubuntu 24. #1840
  .github/workflows/cmake.yml
  .github/workflows/configure.yml
  .github/workflows/pigz.yml
  .github/workflows/pkgcheck.yml
Due: none

Use Ubuntu 22.04 for AARCH64 tests
  .github/workflows/cmake.yml
Due: none

Upgrade CI from Clang-11 to Clang 15 for Ubuntu 24. #1840
  .github/workflows/cmake.yml
  .github/workflows/pigz.yml
Due: none

Use Ubuntu 20.04 for PPC64LE tests due to broken qemu.
  .github/workflows/cmake.yml
Due: none

Increase cmake workflow timeout
  .github/workflows/cmake.yml
Due: none

Remove unused include directories
  CMakeLists.txt
  configure
Due: none

Rename "arch/power/fallback_builtins.h" to avoid possible conflict with "fallback_builtins.h" in zlib-ng sources directory
  arch/power/crc32_power8.c
  arch/power/power_intrins.h
Due: zlib-ng

[abicheck] Regenerate ABI files for zlib * Generate using Ubuntu 24.04.1 LTS to fix mismatch in function signatures of gzseek() and gztell()
  test/abi/zlib-04f42ceca40f73e2978b50e93806c2a18c1281fc-aarch64-unknown-linux-gnu.abi
  test/abi/zlib-04f42ceca40f73e2978b50e93806c2a18c1281fc-arm-unknown-linux-gnueabi.abi
  test/abi/zlib-04f42ceca40f73e2978b50e93806c2a18c1281fc-arm-unknown-linux-gnueabihf.abi
  test/abi/zlib-04f42ceca40f73e2978b50e93806c2a18c1281fc-mips-unknown-linux-gnu.abi
  test/abi/zlib-04f42ceca40f73e2978b50e93806c2a18c1281fc-mips64-unknown-linux-gnuabi64.abi
  test/abi/zlib-04f42ceca40f73e2978b50e93806c2a18c1281fc-powerpc-unknown-linux-gnu.abi
  test/abi/zlib-04f42ceca40f73e2978b50e93806c2a18c1281fc-powerpc64-unknown-linux-gnu.abi
  test/abi/zlib-04f42ceca40f73e2978b50e93806c2a18c1281fc-powerpc64le-unknown-linux-gnu.abi
  test/abi/zlib-04f42ceca40f73e2978b50e93806c2a18c1281fc-x86_64-pc-linux-gnu-m32.abi
  test/abi/zlib-04f42ceca40f73e2978b50e93806c2a18c1281fc-x86_64-pc-linux-gnu.abi
Due: tests

s390x: Add workaround to install custom Clang 19.1.5 rpms to actions-runner image in order to avoid the VX compiler bug in older clang versions.
  arch/s390/self-hosted-builder/actions-runner
  arch/s390/self-hosted-builder/actions-runner-rebuild.sh
  arch/s390/self-hosted-builder/actions-runner.Dockerfile
Due: zlib-ng

Add uncompress benchmark
  test/benchmarks/CMakeLists.txt
  test/benchmarks/benchmark_uncompress.cc
Due: tests

Fix -Wmaybe-uninitialized warnings in benchmarks.
  test/benchmarks/benchmark_compare256_rle.cc
  test/benchmarks/benchmark_compress.cc
Due: tests

Fix an unfortunate bug with Visual Studio 2015
  arch/x86/chunkset_avx2.c
  arch/x86/chunkset_avx512.c
Due: zlib-ng

Fix shift overflow in inflate and send_code.
  infback.c
  inflate.c
  inflate.h
  trees_emit.h
Due: zlib-ng

Added --installnamedir
  configure
Due: none

Provide --without-acle/-DWITH_ACLE options for backward compatibility
  CMakeLists.txt
  configure
Due: none

Provide an inline asm fallback for the ARMv8 intrinsics
  CMakeLists.txt
  arch/arm/acle_intrins.h
  cmake/detect-intrinsics.cmake
  configure
Due: zlib-ng

Rename most ACLE references to ARMv8
  .github/workflows/cmake.yml
  .github/workflows/configure.yml
  CMakeLists.txt
  README.md
  arch/arm/Makefile.in
  arch/arm/acle_intrins.h
  arch/arm/arm_features.c
  arch/arm/arm_functions.h
  arch/arm/crc32_armv8.c
  cmake/detect-intrinsics.cmake
  configure
  functable.c
  test/CMakeLists.txt
  test/benchmarks/benchmark_crc32.cc
  test/test_crc32.cc
  win32/Makefile.a64
  win32/Makefile.arm
Due: zlib-ng, tests

Use -Wa,-march with older ARM toolchains
  cmake/detect-intrinsics.cmake
  configure
Due: none

Updated copyright range
  LICENSE.md
  Makefile.in
  arch/generic/slide_hash_c.c
  arch/power/power_features.c
  deflate.c
  deflate_fast.c
  deflate_huff.c
  deflate_p.h
  deflate_rle.c
  deflate_slow.c
  deflate_stored.c
  gzguts.h
  gzlib.c
  inftrees.c
  insert_string.c
  insert_string_roll.c
  insert_string_tpl.h
  match_tpl.h
  test/Makefile.in
  trees.c
  win32/Makefile.a64
  win32/Makefile.arm
  win32/Makefile.msc
  win32/zlib-ng1.rc
  win32/zlib1.rc
  zconf-ng.h.in
  zconf.h.in
  zlib-ng.h.in
  zlib.h.in
  zutil.h
Due: zlib-ng, tests

fix alignment issues on 32 bit iOS
  arch/arm/neon_intrins.h
Due: zlib-ng

implement chorba algorithm
  CMakeLists.txt
  Makefile.in
  arch/generic/Makefile.in
  arch/generic/crc32_braid_c.c
  arch/generic/crc32_c.c
  arch/generic/crc32_chorba_c.c
  arch/generic/generic_functions.h
  arch/s390/crc32-vx.c
  arch/x86/crc32_fold_pclmulqdq_tpl.h
  arch/x86/crc32_pclmulqdq_tpl.h
  crc32_c.h
  functable.c
  test/benchmarks/benchmark_crc32.cc
  test/test_crc32.cc
  win32/Makefile.a64
  win32/Makefile.arm
  win32/Makefile.msc
Due: zlib-ng, tests

Fold a copy into the adler32 function for UPDATEWINDOW for neon
  arch/arm/adler32_neon.c
  arch/arm/arm_functions.h
  arch/arm/neon_intrins.h
  functable.c
  test/benchmarks/benchmark_adler32_copy.cc
  zbuild.h
Due: zlib-ng, tests

Restore support macOS prior 10.15
  .github/workflows/cmake.yml
  CMakeLists.txt
  configure
Due: none

Change flags to "-Werror=unguarded-availability", "-Werror=unguarded-availability-new" and add it to maybe affected symbol checking
  CMakeLists.txt
  configure
Due: none

Fix incorrect declaration of FORCE_SSE2
  CMakeLists.txt
Due: none

Align structures for 64-bit platforms (zng_gz_header, zng_deflate_param_value)
  zlib-ng.h.in
Due: zlib-ng

Disable MSVC optimizations for AVX512 GET_CHUNK_MAG #1883
  arch/x86/chunkset_avx512.c
Due: zlib-ng

fix the url of the s390x actions worker patch
  arch/s390/self-hosted-builder/actions-runner.Dockerfile
Due: zlib-ng

ports: Use memalign or _aligned_malloc, when available. Fallback to malloc
  CMakeLists.txt
  configure
  zutil_p.h
Due: zlib-ng

[CI] Instead of selecting the most recent tag, select the highest version number.
  arch/s390/self-hosted-builder/actions-runner.Dockerfile
Due: zlib-ng

Add parameterized testing, based on #1448 by Ruben Vorderman
  configure
  test/CMakeLists.txt
  test/Makefile.in
  test/cmake/test-data.cmake
  test/cmake/test-detect.cmake
  test/cmake/test-tools.cmake
  test/parameterized_tester.c
Due: tests

Don't run benchmarks as part of gtest, it would only prove that the benchmarks work but not show the results. It can take a long time.
  test/benchmarks/CMakeLists.txt
Due: tests

riscv: chunkset_rvv: remove CHUNKCOPY override
  arch/riscv/chunkset_rvv.c
Due: zlib-ng

ci: drop RISC-V Clang test
  .github/workflows/cmake.yml
Due: none

ci: add a GCC RISCV test target with latest Ubuntu and system toolchain
  .github/workflows/cmake.yml
  cmake/toolchain-riscv.cmake
Due: none

ci: add a Clang RISCV test target
  .github/workflows/cmake.yml
  cmake/toolchain-riscv-clang.cmake
Due: none

Fix a bug on the 32k and greater chorba specializations
  arch/generic/crc32_chorba_c.c
  test/test_crc32.cc
Due: zlib-ng, tests

Explicit SSE2 vectorization of Chorba CRC method
  CMakeLists.txt
  arch/x86/Makefile.in
  arch/x86/chorba_sse2.c
  arch/x86/x86_functions.h
  arch/x86/x86_intrins.h
  configure
  crc32.h
  functable.c
  test/benchmarks/benchmark_crc32.cc
  test/test_crc32.cc
  win32/Makefile.msc
Due: zlib-ng, tests

Path conditions:
  zlib-ng: any of: arch/, adler32.c, adler32_p.h, chunkset.c, chunkset_tpl.h, compare258.c, compress.c, crc32.c, crc32_comb.c, crc32_comb_tbl.h, crc32_p.h, crc32_tbl.h, deflate.c, deflate_fast.c, deflate.h, deflate_medium.c, deflate_p.h, deflate_quick.c, deflate_slow.c, fallback_builtins.h, functable.c, functable.h, gzguts.h, gzlib.c, gzread.c, gzwrite.c, infback.c, inffast.c, inffast.h, inffixed_tbl.h, inflate.c, inflate.h, inflate_p.h, inftrees.c, inftrees.h, insert_string.c, insert_string_tpl.h, match_tpl.h, trees.c, trees_emit.h, trees.h, trees_tbl.h, uncompr.c, zbuild.h, zconf.h, zconf-ng.h, zendian.h, zlib.h, zlib-ng.h, zutil.c, zutil.h, zutil_p.h, but not: usr/include/.*, /usr/include/.*, /build/usr/include/.*, usr/lib/.*, /usr/lib/.*, /build/usr/lib/.*, usr/lib64/.*, /usr/lib64/.*, /build/usr/lib64/.*
  tests: any of: test/, tools/, but not: usr/include/.*, /usr/include/.*, /build/usr/include/.*, usr/lib/.*, /usr/lib/.*, /build/usr/lib/.*, usr/lib64/.*, /usr/lib64/.*, /build/usr/lib64/.*
