Repository zlib-ng/zlib-ng: changes, and which Codecov flags are due for each by the changed paths.
All: zlib-ng, tests

codecov.yml:

codecov:
  max_report_age: 72h
  
coverage:
  status:
    project:
      default:
        threshold: 0.07%
      zlib-ng:
        target: 80%
        flags:
          - zlib-ng
      tests:
        target: 50%
        flags:
          - tests
        
comment:
    require_head: no     # default yes
    require_base: no     # default yes

flags:
  zlib-ng:
    paths:
      - arch/
      - adler32.c
      - adler32_p.h
      - chunkset.c
      - chunkset_tpl.h
      - compare258.c
      - compress.c
      - crc32.c
      - crc32_comb.c
      - crc32_comb_tbl.h
      - crc32_p.h
      - crc32_tbl.h
      - deflate.c
      - deflate_fast.c
      - deflate.h
      - deflate_medium.c
      - deflate_p.h
      - deflate_quick.c
      - deflate_slow.c
      - fallback_builtins.h
      - functable.c
      - functable.h
      - gzguts.h
      - gzlib.c
      - gzread.c
      - gzwrite.c
      - infback.c
      - inffast.c
      - inffast.h
      - inffixed_tbl.h
      - inflate.c
      - inflate.h
      - inflate_p.h
      - inftrees.c
      - inftrees.h
      - insert_string.c
      - insert_string_tpl.h
      - match_tpl.h
      - trees.c
      - trees_emit.h
      - trees.h
      - trees_tbl.h
      - uncompr.c
      - zbuild.h
      - zconf.h
      - zconf-ng.h
      - zendian.h
      - zlib.h
      - zlib-ng.h
      - zutil.c
      - zutil.h
      - zutil_p.h
  tests:
    paths:
      - test/
      - tools/
  
fixes:
  - "/home/runner/work/zlib-ng/zlib-ng/::"
  - "/home/runner/work/zlib-ng/build/::"
  - "/build/home/runner/work/zlib-ng/zlib-ng/::"
  - "/build/home/runner/work/zlib-ng/build/::"

ignore:
  - "usr/include/.*"
  - "/usr/include/.*"
  - "/build/usr/include/.*"
  - "usr/lib/.*"
  - "/usr/lib/.*"
  - "/build/usr/lib/.*"
  - "usr/lib64/.*"
  - "/usr/lib64/.*"
  - "/build/usr/lib64/.*"

Only need to add rem if it is greater than zero in chunkmemset.
  chunkset_tpl.h
Due: zlib-ng

Added assert in chunkcopy to detect invalid length.
  chunkset_tpl.h
Due: zlib-ng

Change bi_reverse to use a bit-twiddling hack for 240x speed improvement.
  deflate.h
  tools/maketrees.c
  trees.c
Due: zlib-ng, tests

Minor formatting changes related to MIN_MATCH/MAX_MATCH
  deflate.c
  deflate_fast.c
  deflate_medium.c
  deflate_quick.c
  deflate_slow.c
Due: zlib-ng

Remove support for STD_MIN_MATCH != 3. It has always been broken and untested anyways.
  deflate.c
  deflate_fast.c
  deflate_medium.c
Due: zlib-ng

Separate MIN_MATCH into STD_MIN_MATCH and WANT_MIN_MATCH Rename MAX_MATCH to STD_MAX_MATCH
  deflate.c
  deflate.h
  deflate_fast.c
  deflate_medium.c
  deflate_p.h
  deflate_quick.c
  deflate_rle.c
  deflate_slow.c
  insert_string_tpl.h
  match_tpl.h
  tools/maketrees.c
  trees_emit.h
  trees_tbl.h
  zutil.h
Due: zlib-ng, tests

Initialize s->prev_length to 0.
  deflate.c
Due: zlib-ng

Change requested compiler standard to C11
  CMakeLists.txt
  README.md
  configure
  zbuild.h
  zconf-ng.h.in
  zconf.h.in
Due: zlib-ng

Add support for Thread Local Storage to ensure consistency in functable.
  zbuild.h
  zutil.h
Due: zlib-ng

Change WITH_SANITIZER to be a multi-option parameter (for ccmake etc). Add support for selcting Thread sanitizer.
  CMakeLists.txt
  cmake/detect-sanitizer.cmake
Due: none

use memcpy/memcmp for unaligned reads
  chunkset.c
  compare258.c
  deflate.h
  insert_string_tpl.h
  match_tpl.h
Due: zlib-ng

Only run checks for intrinsics if optimizations are enabled.
  CMakeLists.txt
  cmake/detect-intrinsics.cmake
  configure
Due: none

Print architecture-specific static and shared object files in configure script similar to CMake.
  configure
Due: none

Use MIN and MAX macros.
  deflate.c
  deflate_stored.c
  infback.c
  inflate.c
  inftrees.c
  zbuild.h
Due: zlib-ng

Calculate from and out buffer advance only once in chunkcopy.
  chunkset_tpl.h
Due: zlib-ng

Added Z_UNUSED define for ignore unused variables.
  deflate.h
  inflate.c
  test/example.c
  test/fuzz/checksum_fuzzer.c
  test/fuzz/standalone_fuzz_target_runner.c
  test/infcover.c
  trees_emit.h
  zbuild.h
  zutil.c
Due: zlib-ng, tests

Fixed indentation in CMakeLists.txt after PR #906.
  CMakeLists.txt
Due: none

Reduce number of branches in partial chunk copy based on chunk size.
  arch/arm/chunkset_neon.c
  arch/x86/chunkset_avx.c
  arch/x86/chunkset_sse.c
  chunkset.c
  chunkset_tpl.h
Due: zlib-ng

Fix MSVC warnings in hash_head_0.c test
  test/hash_head_0.c
Due: tests

Also print compiler version when using configure
  configure
Due: none

Added aarch64 to pigz GitHub actions workflow.
  .github/workflows/pigz.yml
Due: none

Minor optimization of inftrees.c based on profiling
  inftrees.c
Due: zlib-ng
