Repository zlib-ng/zlib-ng: changes, and which Codecov flags are due for each by the changed paths.
All: zlib-ng, tests

Disable CodeCov for RISC-V as the toolchain doesn't support generating code coverage.
  .github/workflows/cmake.yml
Due: none

Fix PCLMULQDQ support for IntelLLVM.
  cmake/detect-intrinsics.cmake
Due: none

Move select for generic functions into generic_functions.h.
  arch/generic/generic_functions.h
  functable.c
Due: zlib-ng

Split CPU features checks and CPU-specific function prototypes and reduce include-dependencies.
  CMakeLists.txt
  arch/arm/arm_features.h
  arch/arm/arm_functions.h
  arch/generic/Makefile.in
  arch/generic/adler32_fold_c.c
  arch/generic/adler32_fold_c.h
  arch/generic/crc32_fold_c.c
  arch/generic/crc32_fold_c.h
  arch/generic/generic_functions.h
  arch/power/power_features.h
  arch/power/power_functions.h
  arch/riscv/riscv_features.h
  arch/riscv/riscv_functions.h
  arch/s390/crc32-vx.c
  arch/s390/s390_features.h
  arch/s390/s390_functions.h
  arch/x86/adler32_avx512.c
  arch/x86/adler32_avx512_vnni.c
  arch/x86/x86_features.h
  arch/x86/x86_functions.h
  cpu_features.h
  cpu_functions.h
  crc32_braid_p.h
  functable.c
  functable.h
  test/benchmarks/benchmark_adler32.cc
  test/benchmarks/benchmark_adler32_copy.cc
  test/benchmarks/benchmark_compare256.cc
  test/benchmarks/benchmark_compare256_rle.cc
  test/benchmarks/benchmark_crc32.cc
  test/benchmarks/benchmark_slidehash.cc
  test/test_adler32.cc
  test/test_compare256.cc
  test/test_crc32.cc
  win32/Makefile.a64
  win32/Makefile.arm
  win32/Makefile.msc
Due: zlib-ng, tests

Rename cpu_functions.h to arch_functions.h.
  CMakeLists.txt
  arch/s390/crc32-vx.c
  arch/x86/adler32_avx512.c
  arch/x86/adler32_avx512_vnni.c
  arch_functions.h
  functable.c
  test/benchmarks/benchmark_adler32.cc
  test/benchmarks/benchmark_adler32_copy.cc
  test/benchmarks/benchmark_compare256.cc
  test/benchmarks/benchmark_crc32.cc
  test/benchmarks/benchmark_slidehash.cc
  test/test_adler32.cc
  test/test_compare256.cc
  test/test_crc32.cc
Due: zlib-ng, tests

Rename codecov.
  .github/workflows/cmake.yml
Due: none

Add dependabot for github actions
  .github/dependabot.yml
Due: none

Don't export git/github-related files in tar/zip archives
  .gitattributes
Due: none

Fixed S390X configure builds not running in forks.
  .github/workflows/configure.yml
Due: none

Disable unaligned compare256_rle on big endian systems
  compare256_rle.h
  deflate_rle.c
  test/benchmarks/benchmark_compare256_rle.cc
  test/test_compare256_rle.cc
Due: tests

Enable unaligned memory access on big endian PowerPC
  cmake/detect-arch.c
  zbuild.h
Due: zlib-ng

Cleanup z15 configure workflows for forked repositories.
  .github/workflows/configure.yml
Due: none

Remove mixing of SSE2 and SSSE3 chunkset code
  arch/x86/chunkset_ssse3.c
Due: zlib-ng

Inline CHUNKCOPY and CHUNKUNROLL
  chunkset_tpl.h
Due: zlib-ng

Remove deflate_state parameter from update_hash functions.
  arch/arm/arm_functions.h
  arch/x86/x86_functions.h
  deflate.c
  deflate.h
  functable.c
  functable.h
  insert_string_tpl.h
  match_tpl.h
Due: zlib-ng

Remove unused 's' parameter from HASH_CALC macro
  arch/generic/insert_string_c.c
  insert_string_roll.c
  insert_string_tpl.h
Due: zlib-ng

Cleanup and update NMake Makefiles. * Add depcheck.exe to validate NMake Makefiles
  win32/Makefile.a64
  win32/Makefile.arm
  win32/Makefile.msc
  win32/depcheck.cpp
Due: none

Add test for checking if -march=native needs -mfpu=neon for 32-bit ARM.
  cmake/detect-intrinsics.cmake
Due: none

Add benchmark testing for update_hash.
  test/benchmarks/CMakeLists.txt
  test/benchmarks/benchmark_update_hash.cc
Due: tests

[ARM] Override Clang x4 NEON intrinsics for Android * Clang for Android requires 256-bit alignment for x4 loads and stores, which can't be guaranteed and is unnecessary
  arch/arm/neon_intrins.h
Due: zlib-ng

Make use of unaligned loads on big endian in insert_string
  insert_string_tpl.h
Due: zlib-ng

Rename cpu_functions.h to arch_functions.h in depcheck.cpp
  win32/depcheck.cpp
Due: none

Rename most ACLE references to ARMv8
  .github/workflows/cmake.yml
  .github/workflows/configure.yml
  CMakeLists.txt
  README.md
  arch/arm/Makefile.in
  arch/arm/acle_intrins.h
  arch/arm/arm_features.c
  arch/arm/arm_functions.h
  arch/arm/crc32_armv8.c
  cmake/detect-intrinsics.cmake
  configure
  functable.c
  test/CMakeLists.txt
  test/benchmarks/benchmark_crc32.cc
  test/test_crc32.cc
  win32/Makefile.a64
  win32/Makefile.arm
Due: zlib-ng, tests

Provide an inline asm fallback for the ARMv8 intrinsics
  CMakeLists.txt
  arch/arm/acle_intrins.h
  cmake/detect-intrinsics.cmake
  configure
Due: zlib-ng

Use -Wa,-march with older ARM toolchains
  cmake/detect-intrinsics.cmake
  configure
Due: none

Add more result variables to the cmake package configuration
  zlib-config.cmake.in
Due: none

[CI] Fix creating list of artifacts for CodeCov.
  .github/workflows/cmake.yml
  .github/workflows/pigz.yml
Due: none

Path conditions:
  zlib-ng: any of: arch/, adler32.c, adler32_p.h, chunkset.c, chunkset_tpl.h, compare258.c, compress.c, crc32.c, crc32_comb.c, crc32_comb_tbl.h, crc32_p.h, crc32_tbl.h, deflate.c, deflate_fast.c, deflate.h, deflate_medium.c, deflate_p.h, deflate_quick.c, deflate_slow.c, fallback_builtins.h, functable.c, functable.h, gzguts.h, gzlib.c, gzread.c, gzwrite.c, infback.c, inffast.c, inffast.h, inffixed_tbl.h, inflate.c, inflate.h, inflate_p.h, inftrees.c, inftrees.h, insert_string.c, insert_string_tpl.h, match_tpl.h, trees.c, trees_emit.h, trees.h, trees_tbl.h, uncompr.c, zbuild.h, zconf.h, zconf-ng.h, zendian.h, zlib.h, zlib-ng.h, zutil.c, zutil.h, zutil_p.h, but not: usr/include/.*, /usr/include/.*, /build/usr/include/.*, usr/lib/.*, /usr/lib/.*, /build/usr/lib/.*, usr/lib64/.*, /usr/lib64/.*, /build/usr/lib64/.*
  tests: any of: test/, tools/, but not: usr/include/.*, /usr/include/.*, /build/usr/include/.*, usr/lib/.*, /usr/lib/.*, /build/usr/lib/.*, usr/lib64/.*, /usr/lib64/.*, /build/usr/lib64/.*
