Repository zlib-ng/zlib-ng: changes, and which Codecov flags are due for each by the changed paths.
All: zlib-ng, tests

codecov.yml:

codecov:
  max_report_age: 72h
  
coverage:
  status:
    project:
      default:
        threshold: 0.07%
      zlib-ng:
        target: 80%
        flags:
          - zlib-ng
      tests:
        target: 50%
        flags:
          - tests
        
comment:
    require_head: no     # default yes
    require_base: no     # default yes

flags:
  zlib-ng:
    paths:
      - arch/
      - adler32.c
      - adler32_p.h
      - chunkset.c
      - chunkset_tpl.h
      - compare258.c
      - compress.c
      - crc32.c
      - crc32_comb.c
      - crc32_comb_tbl.h
      - crc32_p.h
      - crc32_tbl.h
      - deflate.c
      - deflate_fast.c
      - deflate.h
      - deflate_medium.c
      - deflate_p.h
      - deflate_quick.c
      - deflate_slow.c
      - fallback_builtins.h
      - functable.c
      - functable.h
      - gzguts.h
      - gzlib.c
      - gzread.c
      - gzwrite.c
      - infback.c
      - inffast.c
      - inffast.h
      - inffixed_tbl.h
      - inflate.c
      - inflate.h
      - inflate_p.h
      - inftrees.c
      - inftrees.h
      - insert_string.c
      - insert_string_tpl.h
      - match_tpl.h
      - trees.c
      - trees_emit.h
      - trees.h
      - trees_tbl.h
      - uncompr.c
      - zbuild.h
      - zconf.h
      - zconf-ng.h
      - zendian.h
      - zlib.h
      - zlib-ng.h
      - zutil.c
      - zutil.h
      - zutil_p.h
  tests:
    paths:
      - test/
      - tools/
  
fixes:
  - "/home/runner/work/zlib-ng/zlib-ng/::"
  - "/home/runner/work/zlib-ng/build/::"
  - "/build/home/runner/work/zlib-ng/zlib-ng/::"
  - "/build/home/runner/work/zlib-ng/build/::"

ignore:
  - "usr/include/.*"
  - "/usr/include/.*"
  - "/build/usr/include/.*"
  - "usr/lib/.*"
  - "/usr/lib/.*"
  - "/build/usr/lib/.*"
  - "usr/lib64/.*"
  - "/usr/lib64/.*"
  - "/build/usr/lib64/.*"

Ubuntu 18.04 is being removed shortly, update workflows to use 20.04. Clang-6.0 is still supported according to Ubuntu package list website.
  .github/workflows/cmake.yml
  .github/workflows/configure.yml
Due: none

Fix ambiguous shift warning in inflateCopy.
  inflate.c
Due: zlib-ng

Remove WindowBits check for level 1
  deflate.c
Due: zlib-ng

Update to actions/upload-artifact@v3
  .github/workflows/configure.yml
  .github/workflows/fuzz.yml
  .github/workflows/link.yml
  .github/workflows/pigz.yml
  .github/workflows/pkgcheck.yml
Due: none

Update codecov uploader
  .github/workflows/cmake.yml
  .github/workflows/pigz.yml
Due: none

Update release uploader
  .github/workflows/release.yml
Due: none

Update ilammy/msvc-dev-cmd
  .github/workflows/nmake.yml
Due: none

Update mymindstorm/setup-emsdk
  .github/workflows/cmake.yml
  .github/workflows/configure.yml
Due: none

Add official Ubuntu mirror list as fallback for Actions caching proxy
  .github/workflows/analyze.yml
  .github/workflows/cmake.yml
  .github/workflows/configure.yml
  .github/workflows/pigz.yml
  .github/workflows/pkgcheck.yml
Due: none

Correct inflate_fast function signature
  cpu_features.h
  functable.c
  functable.h
Due: zlib-ng

Use memcpy instead of memcmp for unaligned memory comparisons.
  compare256.c
  deflate_quick.c
  match_tpl.h
  zbuild.h
  zutil_p.h
Due: zlib-ng

Simplify linking gtest_zlib with zlib target based on BUILD_SHARED_LIBS.
  test/CMakeLists.txt
Due: tests

Added CI tests for checking undefined symbols in version scripts.
  .github/workflows/cmake.yml
Due: none

Fixed link fuzzers against zlib when BUILD_SHARED_LIBS=ON.
  test/fuzz/CMakeLists.txt
Due: tests

Disable zlib-ng internal tests when BUILD_SHARED_LIBS=ON.
  CMakeLists.txt
Due: none

Add missing Z_INTERNAL to some functions that should not be exported.
  arch/arm/adler32_neon.c
  arch/arm/crc32_acle.c
  arch/power/adler32_power8.c
  arch/power/adler32_vmx.c
Due: zlib-ng

Fix prefixing for internal functions calloc/cfree
  deflate.c
  infback.c
  inflate.c
  zlib_name_mangling-ng.h.in
  zlib_name_mangling.h.in
  zutil.c
  zutil.h
Due: zlib-ng

Fix various incorrect name mangling
  zlib_name_mangling-ng.h.in
  zlib_name_mangling.h.in
Due: none

Fix wrong names and invalid entries in zlib.map and zlib-ng.map
  zlib-ng.map
  zlib.map
  zutil.c
Due: zlib-ng

Remove gz_intmax implementation, since INT_MAX is always available in modern C implementations.
  gzguts.h
  gzlib.c
  zlib-ng.map
  zlib.map
Due: zlib-ng

Fix inconsistent feature enablements in cmake and configure
  CMakeLists.txt
  configure
Due: none

Backport CMake toolchain files from current 'develop' branch.
  cmake/toolchain-aarch64.cmake
  cmake/toolchain-arm.cmake
  cmake/toolchain-armhf.cmake
  cmake/toolchain-mingw-i686.cmake
  cmake/toolchain-mingw-x86_64.cmake
  cmake/toolchain-powerpc.cmake
  cmake/toolchain-powerpc64.cmake
  cmake/toolchain-powerpc64le.cmake
  cmake/toolchain-s390x.cmake
Due: none

Update abicheck
  test/abicheck.sh
Due: tests

Adjust thread counts for compiles and tests to avoid under-utilization and congestion. The free Github Actions VMs have 2 cores, the dedicated s390x VM has 4 cores.
  .github/workflows/analyze.yml
  .github/workflows/cmake.yml
  .github/workflows/libpng.yml
  .github/workflows/link.yml
  .github/workflows/pigz.yml
  .github/workflows/release.yml
  test/pkgcheck.sh
Due: tests

Adjust thread counts for compiles and tests to avoid under-utilization and congestion. The free Github Actions VMs have 2 cores, the dedicated s390x VM has 4 cores.
  .github/workflows/analyze.yml
  .github/workflows/cmake.yml
  .github/workflows/libpng.yml
  .github/workflows/pigz.yml
  .github/workflows/release.yml
  test/pkgcheck.sh
Due: tests

Narrow down the amount of packages installed for Wine.
  .github/workflows/cmake.yml
Due: none

Fix definition of z_size_t to match documentation of legacy zlib API.
  PORTING.md
  compress.c
  inflate.c
  test/example.c
  test/test_compress.cc
  test/test_compress_bound.cc
  uncompr.c
  zbuild.h
Due: zlib-ng, tests
