Repository zlib-ng/zlib-ng: changes, and which Codecov flags are due for each by the changed paths.
All: zlib-ng, tests

Remove WindowBits check for level 1
  deflate.c
Due: zlib-ng

Fixed failed tools tests when source directory is read-only.
  CMakeLists.txt
  cmake/run-and-compare.cmake
Due: none

Add WIN32_LEAN_AND_MEAN for windows.h include.
  zconf.h.in
Due: zlib-ng

Disable LTO in CMake
  CMakeLists.txt
Due: none

[MinGW] Disable GCC warning about using MS format specifiers in ISO C conformant code
  CMakeLists.txt
  configure
Due: none

Include zutil.h for definition of DEF_MEM_LEVEL.
  test/minideflate.c
Due: tests

Add CodeQL workflow for GitHub code scanning
  .github/workflows/codeql.yml
Due: none

Fix a latent issue with chunkmemset
  chunkset_tpl.h
Due: zlib-ng

Narrow down the amount of packages installed for Wine.
  .github/workflows/cmake.yml
Due: none

Backport CMake toolchain files from current 'develop' branch.
  cmake/toolchain-aarch64.cmake
  cmake/toolchain-arm.cmake
  cmake/toolchain-armhf.cmake
  cmake/toolchain-mingw-i686.cmake
  cmake/toolchain-mingw-x86_64.cmake
  cmake/toolchain-powerpc.cmake
  cmake/toolchain-powerpc64.cmake
  cmake/toolchain-powerpc64le.cmake
  cmake/toolchain-s390x.cmake
Due: none

Added unit test against CVE-2018-25032. Sample input from https://www.openwall.com/lists/oss-security/2022/03/26/1.
  CMakeLists.txt
  test/CVE-2018-25032/test.txt
  test/README.md
Due: tests

Wrong variable used when detecting unaligned support for sanitize
  cmake/detect-sanitizer.cmake
Due: none

Remove unused chunkmemset_1 code.
  arch/arm/chunkset_neon.c
  arch/x86/chunkset_avx.c
  arch/x86/chunkset_sse.c
  chunkset.c
Due: zlib-ng

CMakeLists.txt: fix version in zlib.pc when building statically
  CMakeLists.txt
Due: none

Remove unused tryboth() function
  configure
Due: none

Fixed functions declared without a prototype warning in tools.
  tools/maketrees.c
Due: tests

Auto-detect wrapper when inflating and no window_bits specified.
  test/minideflate.c
Due: tests

abicheck.sh: zlib-ng is a bash script, not a sh script, don't hardcode shell when running configure
  test/abicheck.sh
Due: tests

Disable redirection to 64-bit function variants when Z_SOLO is defined
  zlib.h
Due: zlib-ng

Use 15 (0xf) for ZLIB_VER_SUBREVISION to indicate zlib fork.
  zlib.h
Due: zlib-ng

Handle invalid windowBits in init functions
  deflate.c
  inflate.c
Due: zlib-ng

Have infback() deliver all of the available output up to any error.
  infback.c
Due: zlib-ng

Remove errant space in cmake posix specifier
  CMakeLists.txt
Due: none

Use _msan_unposion to unposion end of window for when it needs to read the past < chunksize bytes in the window. See #1245.
  inflate.c
  zbuild.h
Due: zlib-ng

Fix inflateBack to detect invalid input with distances too far.
  infback.c
Due: zlib-ng

[minigzip] Close gzFile before exiting on error.
  test/minigzip.c
Due: tests

Extend GZIP conditional
  deflate.c
  deflate.h
Due: zlib-ng

IBM Z DFLTCC: Test with MSan
  arch/s390/dfltcc_detail.h
  arch/s390/self-hosted-builder/actions-runner.Dockerfile
Due: zlib-ng

[README] Add missing FORCE_SSE2 for CMake.
  README.md
Due: none

Actually run `configure` CI on macOS with GCC
  .github/workflows/configure.yml
Due: none

Update language around ABI compatibility with zlib. #1081
  PORTING.md
Due: none

Fix typo in README.md
  README.md
Due: none

Fixed wrong error name when calling inflate in minideflate.
  test/minideflate.c
Due: tests

macOs M1 build fix on arm cpu checks.
  arch/arm/armfeature.c
Due: zlib-ng

Print help when no arguments supplied to minideflate.
  test/minideflate.c
Due: tests

Fix crash when gzsetparams() attempted for transparent write.
  gzwrite.c
Due: zlib-ng

Use HAVE instead of HAS for variable name for consistency.
  cmake/detect-sanitizer.cmake
Due: none

Fix bug in deflateBound() for level 0 and memLevel 9.
  deflate.c
Due: zlib-ng

early return as requested
  arch/arm/crc32_acle.c
Due: zlib-ng

Version 2.0.7
  Makefile.in
  zlib-ng.h
  zlib.h
  zutil.c
Due: zlib-ng

Path conditions:
  zlib-ng: any of: arch/, adler32.c, adler32_p.h, chunkset.c, chunkset_tpl.h, compare258.c, compress.c, crc32.c, crc32_comb.c, crc32_comb_tbl.h, crc32_p.h, crc32_tbl.h, deflate.c, deflate_fast.c, deflate.h, deflate_medium.c, deflate_p.h, deflate_quick.c, deflate_slow.c, fallback_builtins.h, functable.c, functable.h, gzguts.h, gzlib.c, gzread.c, gzwrite.c, infback.c, inffast.c, inffast.h, inffixed_tbl.h, inflate.c, inflate.h, inflate_p.h, inftrees.c, inftrees.h, insert_string.c, insert_string_tpl.h, match_tpl.h, trees.c, trees_emit.h, trees.h, trees_tbl.h, uncompr.c, zbuild.h, zconf.h, zconf-ng.h, zendian.h, zlib.h, zlib-ng.h, zutil.c, zutil.h, zutil_p.h, but not: usr/include/.*, /usr/include/.*, /build/usr/include/.*, usr/lib/.*, /usr/lib/.*, /build/usr/lib/.*, usr/lib64/.*, /usr/lib64/.*, /build/usr/lib64/.*
  tests: any of: test/, tools/, but not: usr/include/.*, /usr/include/.*, /build/usr/include/.*, usr/lib/.*, /usr/lib/.*, /build/usr/lib/.*, usr/lib64/.*, /usr/lib64/.*, /build/usr/lib64/.*
