Repository zlib-ng/zlib-ng: changes, and which Codecov flags are due for each by the changed paths.
All: zlib-ng, tests

deflate_medium: Precompute max_len and window_end
  deflate_medium.c
Due: zlib-ng

deflate_medium: Remove duplicate lookahead check.
  deflate_medium.c
Due: zlib-ng

deflate_medium: reduce dist from int64_t to int32_t, distance is never that long.
  deflate_medium.c
Due: zlib-ng

deflate_medium: Don't init hash_head twice
  deflate_medium.c
Due: zlib-ng

feat(arm64): refine compare256_neon with pure scalar 16B probing and peeled scalar extractions
  arch/arm/compare256_neon.c
  test/benchmarks/benchmark_compare256.cc
Due: zlib-ng, tests

deflate_medium: Store current_match.match_length in local variable Add early 'continue;' if fizzle_matches made current match zero length.
  deflate_medium.c
Due: zlib-ng

deflate_medium: Refactor deflate_medium to not need emit_match(). Turns out the only reason we had a loop in emit_match() is because match_len can be 0 or 1.
  deflate_medium.c
Due: zlib-ng

deflate_medium: Add restrict for pointers that do not alias
  deflate_medium.c
Due: zlib-ng

Deprecate the zng_adler32() and zng_crc32() functions. Steer people towards the _z suffuxed functions that support size_t lengths.
  test/example.c
  test/fuzz/fuzzer_checksum.c
  test/test_deflate_prime.cc
  zconf-ng.h.in
  zlib-ng.h.in
Due: zlib-ng, tests

Add WITH_BENCHMARK_STABLE_LAYOUT to pin down benchmark code layout
  CMakeLists.txt
  README.md
  test/benchmarks/README.md
Due: tests

Disable ASLR at benchmark startup on Linux
  test/benchmarks/CMakeLists.txt
  test/benchmarks/README.md
  test/benchmarks/benchmark_main.cc
Due: tests

deflate_medium: Remove changed variable from fizzle_matces(), checking c.match_length is enough.
  deflate_medium.c
Due: zlib-ng

deflate_medium: Rewrite fizzle_matches() loop to use memcmp instead of byte-by-byte matching and updating.
  deflate_medium.c
Due: zlib-ng

deflate_medium: Pre-calculate bound of fizzle_matches() loop
  deflate_medium.c
Due: zlib-ng

deflate_medium: Document fizzle_matches and remove unnecessary check.
  deflate_medium.c
Due: zlib-ng

deflate_medium: fizzle_matches() no longer makes changes before it knows it is safe, so we can stop making the changes on a copy.
  deflate_medium.c
Due: zlib-ng

deflate_medium: Remove always-true check. next_match.strstart == (current_match.strstart + curr_match_len) therefore (curr_match_len - 1 <= next_match.strstart) is always true
  deflate_medium.c
Due: zlib-ng

deflate_medium: Remove dead branch and simplify code. The inside else is dead. match_len is >= 4, so (strstart + match_len - 1 >= match.orgstart) is always true.
  deflate_medium.c
Due: zlib-ng

Normalize arm64/arm64e to aarch64 when detecting architecture via CMAKE_OSX_ARCHITECTURES
  cmake/detect-arch.cmake
Due: none

[Cygwin] Downgrade python-pip-wheel and pin it to same version as python39-pip.
  .github/workflows/cmake.yml
Due: none

Move NOLTOFLAG selection next to the -fno-lto check
  CMakeLists.txt
Due: none

deflate_medium: Change matches to use uin32_t instead of uint16_t.
  deflate_medium.c
  deflate_medium_tpl.h
Due: zlib-ng

deflate_medium: MAX_DIST(s) does not change, so cache it locally.
  deflate_medium_tpl.h
Due: none

deflate_medium: Split strategy into two, for levels 3-4 and 5-6. 3-4 does not use fizzle_matches, so the code becomes a lot simpler. 5-6 stays pretty much the same, but saves a few if checks.
  CMakeLists.txt
  deflate.c
  deflate_medium.c
  deflate_medium_tpl.h
Due: zlib-ng

Disable the machine outliner for Apple clang builds
  CMakeLists.txt
  configure
Due: none

Path conditions:
  zlib-ng: any of: arch/, adler32.c, adler32_p.h, chunkset.c, chunkset_tpl.h, compare258.c, compress.c, crc32.c, crc32_comb.c, crc32_comb_tbl.h, crc32_p.h, crc32_tbl.h, deflate.c, deflate_fast.c, deflate.h, deflate_medium.c, deflate_p.h, deflate_quick.c, deflate_slow.c, fallback_builtins.h, functable.c, functable.h, gzguts.h, gzlib.c, gzread.c, gzwrite.c, infback.c, inffast.c, inffast.h, inffixed_tbl.h, inflate.c, inflate.h, inflate_p.h, inftrees.c, inftrees.h, insert_string.c, insert_string_tpl.h, match_tpl.h, trees.c, trees_emit.h, trees.h, trees_tbl.h, uncompr.c, zbuild.h, zconf.h, zconf-ng.h, zendian.h, zlib.h, zlib-ng.h, zutil.c, zutil.h, zutil_p.h, but not: usr/include/.*, /usr/include/.*, /build/usr/include/.*, usr/lib/.*, /usr/lib/.*, /build/usr/lib/.*, usr/lib64/.*, /usr/lib64/.*, /build/usr/lib64/.*
  tests: any of: test/, tools/, but not: usr/include/.*, /usr/include/.*, /build/usr/include/.*, usr/lib/.*, /usr/lib/.*, /build/usr/lib/.*, usr/lib64/.*, /usr/lib64/.*, /build/usr/lib64/.*
