Repository zlib-ng/zlib-ng: changes, and which Codecov flags are due for each by the changed paths.
All: zlib-ng, tests

[CI] Install Windows 11 SDK 10.0.22621 for 32-bit ARM.
  .github/workflows/cmake.yml
Due: none

Fix type mismatch with Windows GCC.
  test/fuzz/fuzzer_compress.c
Due: tests

Add C23 as valid C standard
  CMakeLists.txt
Due: none

Add CI workflows for C17 and C23
  .github/workflows/cmake.yml
Due: none

Remain compatible with CMake 3.5.1
  CMakeLists.txt
Due: none

Allow C17 for with CMake versions
  CMakeLists.txt
Due: none

clang 15 knows c2y but not c23
  .github/workflows/cmake.yml
Due: none

Use `static` for threes instead of `Z_INTERNAL`
  tools/maketrees.c
  trees_tbl.h
Due: zlib-ng, tests

Fix -Wunused-command-line-argument warnings on Mac OS X
  CMakeLists.txt
  configure
Due: none

Fix -Wstrict-prototypes warnings
  arch/arm/arm_features.c
  arch/riscv/riscv_features.c
  gzlib.c
Due: zlib-ng

Synchronise ARMv8 and Loongarch CRC32 implementations
  arch/arm/arm_functions.h
  arch/arm/crc32_armv8.c
  arch/loongarch/crc32_la.c
  functable.c
Due: zlib-ng

Update macOS CI images
  .github/workflows/cmake.yml
  .github/workflows/configure.yml
Due: none

Add WITH_C_FALLBACK
  CMakeLists.txt
  arch/generic/crc32_braid_c.c
  functable.c
  test/benchmarks/benchmark_adler32_copy.cc
  test/benchmarks/benchmark_crc32.cc
  test/benchmarks/benchmark_slidehash.cc
  test/test_adler32.cc
  test/test_crc32.cc
Due: zlib-ng, tests

Increase minimum supported CMake version from 3.5.1 to 3.12
  CMakeLists.txt
  test/CMakeLists.txt
Due: tests

Inline the CHUNKSIZE function
  arch/arm/arm_functions.h
  arch/generic/generic_functions.h
  arch/loongarch/loongarch_functions.h
  arch/power/power_functions.h
  arch/riscv/riscv_functions.h
  arch/x86/x86_functions.h
  chunkset_tpl.h
  functable.c
  functable.h
  infback.c
  inffast_tpl.h
  inflate.c
  inflate.h
Due: zlib-ng

Use 'block-list' and 'allow-list' terms
  trees.c
Due: zlib-ng

Update terms in txtvsbin.txt
  doc/txtvsbin.txt
Due: none

Fix cast and truncation warnings.
  test/benchmarks/benchmark_slidehash.cc
  test/benchmarks/benchmark_uncompress.cc
Due: tests

Update s390x actions runner. - Update to EL10 - Update URL to s390x runner patch
  .github/workflows/cmake.yml
  .github/workflows/configure.yml
  arch/s390/self-hosted-builder/actions-runner-rebuild.sh
  arch/s390/self-hosted-builder/actions-runner.Dockerfile
Due: zlib-ng

Remove force-sse2 config option from x86 builds. Due to major refactoring done long ago, this option no longer avoids a branch in a hot path, it currently only removes a single if check during init.
  CMakeLists.txt
  README.md
  arch/x86/x86_functions.h
  configure
  functable.c
Due: zlib-ng

Don't build C-fallback functions that never get used on x86_64
  .github/workflows/pkgcheck.yml
  CMakeLists.txt
  README.md
  configure
  functable.c
  test/benchmarks/benchmark_slidehash.cc
Due: zlib-ng, tests

Improve resilience of the functable initialization; during functable init, make sure none of the function pointers are nullpointers.
  functable.c
  functable.h
  zbuild.h
Due: zlib-ng

Fix type mismatch on platforms where int32_t and uint32_t use long instead of int * Based on PR #1934
  compress.c
  gzlib.c
  gzread.c.in
  gzwrite.c
  test/example.c
  test/infcover.c
  test/minideflate.c
  test/minigzip.c
  test/switchlevels.c
  uncompr.c
  zbuild.h
  zutil.c
Due: zlib-ng, tests

Provide zlib-ng::zlib aliases when used as a subproject
  CMakeLists.txt
Due: none

Allow the previous target names to be used as aliases
  CMakeLists.txt
  test/pigz/CMakeLists.txt
Due: tests

Rename CMake targets to avoid clashes when used as a subproject
  CMakeLists.txt
  test/CMakeLists.txt
  test/add-subdirectory-project/CMakeLists.txt
  test/benchmarks/CMakeLists.txt
  test/fuzz/CMakeLists.txt
  test/pigz/CMakeLists.txt
Due: tests

rename cmake config target files to avoid illegal overwrite of PACKAGE_VERSION
  CMakeLists.txt
  zlib-config.cmake.in
  zlib-ng-config.cmake.in
Due: none

2.3.0 RC1
  zlib-ng.h.in
  zlib.h.in
  zutil.c
Due: zlib-ng

Initial support for nVidia toolchain * Supports native and non-native builds for x86_64 using CMake
  CMakeLists.txt
  cmake/detect-intrinsics.cmake
Due: none

riscv: features: Detect extensions always and only through AT_HWCAP
  arch/riscv/riscv_features.c
Due: zlib-ng

Update README.md, add a lot of missing info, and reorder some of it. Add missing parameter to configure help text. Update descriptions and reorganize some options in CMake
  CMakeLists.txt
  README.md
  configure
Due: none

riscv: features: test HWCAP regardless of kernel versions
  arch/riscv/riscv_features.c
Due: zlib-ng

Reorganize Chorba activation. Now WITHOUT_CHORBA will only disable the crc32_chorba C fallback.
  CMakeLists.txt
  Makefile.in
  arch/generic/Makefile.in
  arch/generic/crc32_c.c
  arch/generic/crc32_chorba_c.c
  arch/generic/generic_functions.h
  arch/riscv/crc32_zbc.c
  arch/s390/crc32-vx.c
  arch/x86/chorba_sse2.c
  arch/x86/chorba_sse41.c
  arch/x86/crc32_fold_pclmulqdq_tpl.h
  arch/x86/crc32_pclmulqdq_tpl.h
  arch/x86/x86_functions.h
  crc32.h
  functable.c
  test/benchmarks/benchmark_crc32.cc
  test/test_crc32.cc
Due: zlib-ng, tests

Use elf_aux_info() on OpenBSD PowerPC
  arch/power/power_features.c
  cmake/detect-intrinsics.cmake
  configure
Due: zlib-ng

Add tests for crc32_fold_copy functions
  arch/generic/generic_functions.h
  test/CMakeLists.txt
  test/crc32_test_strings_p.h
  test/test_crc32.cc
  test/test_crc32_fold_copy.cc
Due: zlib-ng, tests

Disable benchmark for slide_hash_c with Visual C++ too.
  test/benchmarks/benchmark_slidehash.cc
Due: tests

Add benchmark for crc32 fold copy implementations Uses local functions for benchmarking some of the run-time selected variants.
  test/benchmarks/CMakeLists.txt
  test/benchmarks/benchmark_crc32_fold_copy.cc
Due: tests

2.3.0 RC2
  zlib-ng.h.in
  zlib.h.in
  zutil.c
Due: zlib-ng

configure: Determine system architecture properly on *BSD systems
  configure
Due: none

Path conditions:
  zlib-ng: any of: arch/, adler32.c, adler32_p.h, chunkset.c, chunkset_tpl.h, compare258.c, compress.c, crc32.c, crc32_comb.c, crc32_comb_tbl.h, crc32_p.h, crc32_tbl.h, deflate.c, deflate_fast.c, deflate.h, deflate_medium.c, deflate_p.h, deflate_quick.c, deflate_slow.c, fallback_builtins.h, functable.c, functable.h, gzguts.h, gzlib.c, gzread.c, gzwrite.c, infback.c, inffast.c, inffast.h, inffixed_tbl.h, inflate.c, inflate.h, inflate_p.h, inftrees.c, inftrees.h, insert_string.c, insert_string_tpl.h, match_tpl.h, trees.c, trees_emit.h, trees.h, trees_tbl.h, uncompr.c, zbuild.h, zconf.h, zconf-ng.h, zendian.h, zlib.h, zlib-ng.h, zutil.c, zutil.h, zutil_p.h, but not: usr/include/.*, /usr/include/.*, /build/usr/include/.*, usr/lib/.*, /usr/lib/.*, /build/usr/lib/.*, usr/lib64/.*, /usr/lib64/.*, /build/usr/lib64/.*
  tests: any of: test/, tools/, but not: usr/include/.*, /usr/include/.*, /build/usr/include/.*, usr/lib/.*, /usr/lib/.*, /build/usr/lib/.*, usr/lib64/.*, /usr/lib64/.*, /build/usr/lib64/.*
