Repository zlib-ng/zlib-ng: changes, and which Codecov flags are due for each by the changed paths.
All: zlib-ng, tests

Include porting guide in GH release packages.
  .github/workflows/release.yml
Due: none

Fix build if -D_FILE_OFFSET_BITS=64 is set manually.
  zlib.h
Due: zlib-ng

Alias ZEXTERN, ZEXPORT and ZEXPORTVA to Z_EXTERN, Z_EXPORT and Z_EXPORTVA respectively.
  zconf.h.in
Due: zlib-ng

Added Windows ARM and ARM64 binaries in releases. #909
  .github/workflows/release.yml
Due: none

Changed auto-detection of float-abi support by removing triplet check in favor of compilation and link test. #911
  CMakeLists.txt
  configure
Due: none

Install clang-6 package if it is not present on Ubuntu when compiling against clang-6 in CI.
  .github/workflows/cmake.yml
Due: none

[ARM] Use temporary variable when loading more than 8 bits in chunkmemset_neon(). * using memcpy() forbids optimizer to optimize away the temporary variable due to aliasing rules.
  arch/arm/chunkset_neon.c
Due: zlib-ng

Write generated files during tests to CMake's build directory using the name of the test.
  CMakeLists.txt
  cmake/detect-arch.cmake
  cmake/test-compress.cmake
Due: none

Remove unnecessary malloc.h header include from minigzip and minigzip_fuzzer.
  test/fuzz/minigzip_fuzzer.c
  test/minigzip.c
Due: tests

Apple linker fix
  arch/arm/arm.h
  arch/arm/armfeature.c
  functable.c
Due: zlib-ng

Changed minigzip fuzzer outmode[3] to be determined based on a different value then outmode[2] for better coverage.
  test/fuzz/minigzip_fuzzer.c
Due: tests

Added Z_FIXED and direct gzip out modes to minigzip fuzzer.
  test/fuzz/minigzip_fuzzer.c
Due: tests

Fix ZLIB_INTERNAL usage
  arch/arm/armfeature.c
Due: zlib-ng

Check for x86 features when the library is loaded.
  arch/arm/arm.h
  arch/arm/armfeature.c
  arch/x86/x86.c
  arch/x86/x86.h
  deflate.c
  inflate.c
Due: zlib-ng

Updated x86 arm power_pc check feature using constructor
  arch/power/power.c
  arch/power/power.h
  crc32.c
  functable.c
Due: zlib-ng

Use __attribute__ (constructor) for platform check features
  arch/arm/arm.h
  arch/arm/armfeature.c
  arch/power/power.c
  arch/power/power.h
  arch/x86/x86.c
  arch/x86/x86.h
  crc32.c
  deflate.c
  functable.c
  inflate.c
Due: zlib-ng

Updated usage of Z_INTERNAL
  arch/arm/armfeature.c
Due: zlib-ng

Use constructors for functable
  functable.c
Due: zlib-ng

Fixed code review issues
  functable.c
  functable.h
  zutil.h
Due: zlib-ng

Remove explicit initialization
  functable.c
Due: zlib-ng

Fix AppleClang linking
  arch/arm/arm.h
  arch/arm/armfeature.c
  arch/x86/x86.c
  arch/x86/x86.h
  crc32.c
  functable.c
  functable.h
Due: zlib-ng

crc: fix three conversion warnings
  arch/x86/crc_folding.c
Due: zlib-ng

Add support for private aarch64 CI runner
  .github/workflows/cmake-priv.yml
Due: none

Change test-compress cmake script to not use stdin/stdout due to issues on macOS.
  CMakeLists.txt
  cmake/test-compress.cmake
Due: none

Don't directly include asm/hwcap.h; fix compilation on musl aarch64
  arch/arm/armfeature.c
Due: zlib-ng

Fix cmake coverage detection requiring cmake 3.14 or newer.
  cmake/detect-coverage.cmake
Due: none

Fix build with LTO on GCC
  CMakeLists.txt
  arch/arm/Makefile.in
  arch/power/Makefile.in
  arch/x86/Makefile.in
  configure
Due: zlib-ng

Detect hwcap flags needed for runtime detection on ARM Linux
  CMakeLists.txt
  arch/arm/armfeature.c
  configure
Due: zlib-ng

Adds support for building on illumos
  zutil_p.h
Due: zlib-ng

Path conditions:
  zlib-ng: any of: arch/, adler32.c, adler32_p.h, chunkset.c, chunkset_tpl.h, compare258.c, compress.c, crc32.c, crc32_comb.c, crc32_comb_tbl.h, crc32_p.h, crc32_tbl.h, deflate.c, deflate_fast.c, deflate.h, deflate_medium.c, deflate_p.h, deflate_quick.c, deflate_slow.c, fallback_builtins.h, functable.c, functable.h, gzguts.h, gzlib.c, gzread.c, gzwrite.c, infback.c, inffast.c, inffast.h, inffixed_tbl.h, inflate.c, inflate.h, inflate_p.h, inftrees.c, inftrees.h, insert_string.c, insert_string_tpl.h, match_tpl.h, trees.c, trees_emit.h, trees.h, trees_tbl.h, uncompr.c, zbuild.h, zconf.h, zconf-ng.h, zendian.h, zlib.h, zlib-ng.h, zutil.c, zutil.h, zutil_p.h, but not: usr/include/.*, /usr/include/.*, /build/usr/include/.*, usr/lib/.*, /usr/lib/.*, /build/usr/lib/.*, usr/lib64/.*, /usr/lib64/.*, /build/usr/lib64/.*
  tests: any of: test/, tools/, but not: usr/include/.*, /usr/include/.*, /build/usr/include/.*, usr/lib/.*, /usr/lib/.*, /build/usr/lib/.*, usr/lib64/.*, /usr/lib64/.*, /build/usr/lib64/.*
