Repository zlib-ng/zlib-ng: changes, and which Codecov flags are due for each by the changed paths.
All: zlib-ng, tests

Revert "Add back original version of inflate_fast for use with inflateBack."
  infback.c
  inffast.c
  inffast.h
  inflate_p.h
Due: zlib-ng

Revert "DFLTCC update for window optimization from Jim & Nathan"
  arch/s390/README.md
  arch/s390/dfltcc_deflate.c
  arch/s390/dfltcc_detail.h
  arch/s390/dfltcc_inflate.c
  arch/s390/dfltcc_inflate.h
  inflate.c
  inflate_p.h
Due: zlib-ng

Added sanitizer tests in configure GitHub Actions workflow. Added missing OPTIONS environment variable for UBSAN in CMake GitHub workflow.
  .github/workflows/cmake.yml
  .github/workflows/configure.yml
Due: none

Wrong variable used when detecting unaligned support for sanitize
  cmake/detect-sanitizer.cmake
Due: none

Fixed misspelling in NO_UNALIGNED flag.
  configure
Due: none

Make symbolic prefix instance names consistent in NMake GHA workflow.
  .github/workflows/nmake.yml
Due: none

Use halt_on_error in sanitizer options. https://lists.llvm.org/pipermail/cfe-dev/2015-October/045710.html
  .github/workflows/cmake.yml
  .github/workflows/configure.yml
Due: none

Added common sanitizer flags for getting optimal stack traces.
  .github/workflows/cmake.yml
  cmake/detect-sanitizer.cmake
Due: none

Use zmemcmp_2 in 16-bit unaligned compare256 variant.
  compare256.c
Due: none

Fixed missing checks around compare256 and longest_match definitions.
  cpu_features.h
Due: none

Add unit tests for compare256 variants.
  test/test_compare256.cc
Due: tests

Added detection of trailing whitespace GitHub action.
  .github/workflows/format.yml
Due: none

Rename adler32_sse41 to adler32_ssse3
  CMakeLists.txt
  arch/x86/Makefile.in
  arch/x86/adler32_sse41.c
  arch/x86/adler32_ssse3.c
  configure
  cpu_features.h
  functable.c
  test/benchmarks/benchmark_adler32.cc
Due: zlib-ng, tests

Update language around ABI compatibility with zlib. #1081
  PORTING.md
Due: none

Revert "Reorganize inflate window layout"
  infback.c
  inffast.c
  inffast.h
  inflate.c
  inflate.h
  inflate_p.h
  test/infcover.c
Due: zlib-ng, tests

Fixed a warning about a comparison of an unsigned with a signed type
  arch/x86/adler32_ssse3.c
Due: zlib-ng

Fix an issue with the ubsan for overflow
  CMakeLists.txt
  arch/x86/adler32_avx512.c
  arch/x86/adler32_avx512_p.h
  arch/x86/adler32_avx512_vnni.c
Due: zlib-ng

Fixed MSVC warnings in chunkcopy_safe.
  inflate_p.h
Due: zlib-ng

Fixed operator precedence warnings in slide_hash_sse2.
  arch/x86/slide_hash_sse2.c
Due: zlib-ng

Fixed unused opaque variable in aligned alloc test.
  test/test_aligned_alloc.cc
Due: tests

Fixed signed/unsigned warning in chunkmemset.
  chunkset_tpl.h
Due: zlib-ng

Fixed signed comparison warning in zng_calloc_aligned.
  zutil.c
Due: zlib-ng

Fixed error with compare256_unaligned_avx2 undefined if unaligned access is disabled.
  test/benchmarks/benchmark_compare256.cc
  test/test_compare256.cc
Due: tests

Correct typo in functable
  functable.c
Due: zlib-ng

Path conditions:
  zlib-ng: any of: arch/, adler32.c, adler32_p.h, chunkset.c, chunkset_tpl.h, compare258.c, compress.c, crc32.c, crc32_comb.c, crc32_comb_tbl.h, crc32_p.h, crc32_tbl.h, deflate.c, deflate_fast.c, deflate.h, deflate_medium.c, deflate_p.h, deflate_quick.c, deflate_slow.c, fallback_builtins.h, functable.c, functable.h, gzguts.h, gzlib.c, gzread.c, gzwrite.c, infback.c, inffast.c, inffast.h, inffixed_tbl.h, inflate.c, inflate.h, inflate_p.h, inftrees.c, inftrees.h, insert_string.c, insert_string_tpl.h, match_tpl.h, trees.c, trees_emit.h, trees.h, trees_tbl.h, uncompr.c, zbuild.h, zconf.h, zconf-ng.h, zendian.h, zlib.h, zlib-ng.h, zutil.c, zutil.h, zutil_p.h, but not: usr/include/.*, /usr/include/.*, /build/usr/include/.*, usr/lib/.*, /usr/lib/.*, /build/usr/lib/.*, usr/lib64/.*, /usr/lib64/.*, /build/usr/lib64/.*
  tests: any of: test/, tools/, but not: usr/include/.*, /usr/include/.*, /build/usr/include/.*, usr/lib/.*, /usr/lib/.*, /build/usr/lib/.*, usr/lib64/.*, /usr/lib64/.*, /build/usr/lib64/.*
