Repository zlib-ng/zlib-ng: changes, and which Codecov flags are due for each by the changed paths.
All: zlib-ng, tests

Remove detect_leaks=0 from non-ASAN cmake jobs.
  .github/workflows/cmake.yml
Due: none

Use HAVE instead of HAS for variable name for consistency.
  cmake/detect-sanitizer.cmake
Due: none

Remove unistd.h include from gzguts.h which is already included from zconf.h via zlib.h.
  gzguts.h
Due: zlib-ng

Use specific gcovr version 5.0 due to parser errors with 5.1. https://github.com/gcovr/gcovr/issues/583
  .github/workflows/cmake.yml
  .github/workflows/pigz.yml
Due: none

Fixed error with compare256_unaligned_avx2 undefined if unaligned access is disabled.
  test/benchmarks/benchmark_compare256.cc
  test/test_compare256.cc
Due: tests

Fixed unused opaque variable in aligned alloc test.
  test/test_aligned_alloc.cc
Due: tests

Fixed signed/unsigned warning in chunkmemset.
  chunkset_tpl.h
Due: zlib-ng

Fixed operator precedence warnings in slide_hash_sse2.
  arch/x86/slide_hash_sse2.c
Due: zlib-ng

Fixed signed comparison warning in zng_calloc_aligned.
  zutil.c
Due: zlib-ng

Fixed MSVC warnings in chunkcopy_safe.
  inflate_p.h
Due: zlib-ng

Define check_match for coverity so it takes into account these validations when checking deflate_rle. #1073
  deflate_p.h
Due: zlib-ng

Added GitHub workflow to scan and upload to coverity.
  .github/workflows/coverity.yml
Due: none

Use size_t types for len arithmetic, matching signature
  arch/x86/adler32_ssse3.c
Due: zlib-ng

Leverage inline CRC + copy
  arch/x86/crc32_fold_pclmulqdq.c
  crc32_fold.c
  crc32_fold.h
  functable.c
  functable.h
  inflate.c
  inflate.h
Due: zlib-ng

Allow SSE2 and AVX2 functions with -DWITH_UNALIGNED=OFF. Even though they use unaligned loads, they don't result in undefined behavior.
  arch/x86/compare256_avx2.c
  arch/x86/compare256_sse2.c
  cpu_features.h
  functable.c
  test/benchmarks/benchmark_compare256.cc
  test/test_compare256.cc
Due: zlib-ng, tests

Fixed clang signed/unsigned warning in chunkcopy_safe.
  inflate_p.h
Due: zlib-ng

Added missing -F argument for Z_FIXED strategy in minideflate.
  test/minideflate.c
Due: tests

Added unit test against CVE-2018-25032. Sample input from https://www.openwall.com/lists/oss-security/2022/03/26/1.
  CMakeLists.txt
  test/CVE-2018-25032/test.txt
  test/README.md
Due: tests

Added unit test against CVE-2018-25032 with default strategy.
  CMakeLists.txt
  test/CVE-2018-25032/default.txt
  test/CVE-2018-25032/fixed.txt
Due: tests

cmake: Properly probe for unaligned access
  CMakeLists.txt
Due: none

Use standalone fuzzing runner only when fuzzing engine is not found.
  CMakeLists.txt
Due: none

Test CVE-2018-25032 against the default level and levels 1 and 2.
  CMakeLists.txt
Due: none

Remove support for building fuzzers from configure.
  Makefile.in
  README.md
  configure
  test/Makefile.in
Due: tests

abicheck.sh: implement --refresh-if option as documented. Sheesh.
  test/abicheck.sh
Due: tests

abicheck.sh: zlib-ng is a bash script, not a sh script, don't hardcode shell when running configure
  test/abicheck.sh
Due: tests

abicheck.sh: update reference versions
  test/abi/zlib-ng-2.0.0-x86_64-pc-linux-gnu.abi
  test/abi/zlib-v1.2.12-x86_64-pc-linux-gnu.abi
  test/abicheck.sh
Due: tests

abicheck.sh: Don't export CHOST if it wasn't already exported.
  test/abicheck.sh
Due: tests

Grammar fixes
  PORTING.md
  README.md
Due: none

Use latest stable version of google test instead of unstable main branch.
  test/CMakeLists.txt
Due: tests

abicheck.sh: implement --refresh-if option as documented.
  .github/workflows/pkgcheck.yml
  test/abicheck.md
  test/abicheck.sh
Due: tests

Path conditions:
  zlib-ng: any of: arch/, adler32.c, adler32_p.h, chunkset.c, chunkset_tpl.h, compare258.c, compress.c, crc32.c, crc32_comb.c, crc32_comb_tbl.h, crc32_p.h, crc32_tbl.h, deflate.c, deflate_fast.c, deflate.h, deflate_medium.c, deflate_p.h, deflate_quick.c, deflate_slow.c, fallback_builtins.h, functable.c, functable.h, gzguts.h, gzlib.c, gzread.c, gzwrite.c, infback.c, inffast.c, inffast.h, inffixed_tbl.h, inflate.c, inflate.h, inflate_p.h, inftrees.c, inftrees.h, insert_string.c, insert_string_tpl.h, match_tpl.h, trees.c, trees_emit.h, trees.h, trees_tbl.h, uncompr.c, zbuild.h, zconf.h, zconf-ng.h, zendian.h, zlib.h, zlib-ng.h, zutil.c, zutil.h, zutil_p.h, but not: usr/include/.*, /usr/include/.*, /build/usr/include/.*, usr/lib/.*, /usr/lib/.*, /build/usr/lib/.*, usr/lib64/.*, /usr/lib64/.*, /build/usr/lib64/.*
  tests: any of: test/, tools/, but not: usr/include/.*, /usr/include/.*, /build/usr/include/.*, usr/lib/.*, /usr/lib/.*, /build/usr/lib/.*, usr/lib64/.*, /usr/lib64/.*, /build/usr/lib64/.*
