Repository zlib-ng/zlib-ng: changes, and which Codecov flags are due for each by the changed paths.
All: zlib-ng, tests

codecov.yml:

codecov:
  max_report_age: 72h
  
coverage:
  status:
    project:
      default:
        threshold: 0.07%
      zlib-ng:
        target: 80%
        flags:
          - zlib-ng
      tests:
        target: 50%
        flags:
          - tests
        
comment:
    require_head: no     # default yes
    require_base: no     # default yes

flags:
  zlib-ng:
    paths:
      - arch/
      - adler32.c
      - adler32_p.h
      - chunkset.c
      - chunkset_tpl.h
      - compare258.c
      - compress.c
      - crc32.c
      - crc32_comb.c
      - crc32_comb_tbl.h
      - crc32_p.h
      - crc32_tbl.h
      - deflate.c
      - deflate_fast.c
      - deflate.h
      - deflate_medium.c
      - deflate_p.h
      - deflate_quick.c
      - deflate_slow.c
      - fallback_builtins.h
      - functable.c
      - functable.h
      - gzguts.h
      - gzlib.c
      - gzread.c
      - gzwrite.c
      - infback.c
      - inffast.c
      - inffast.h
      - inffixed_tbl.h
      - inflate.c
      - inflate.h
      - inflate_p.h
      - inftrees.c
      - inftrees.h
      - insert_string.c
      - insert_string_tpl.h
      - match_tpl.h
      - trees.c
      - trees_emit.h
      - trees.h
      - trees_tbl.h
      - uncompr.c
      - zbuild.h
      - zconf.h
      - zconf-ng.h
      - zendian.h
      - zlib.h
      - zlib-ng.h
      - zutil.c
      - zutil.h
      - zutil_p.h
  tests:
    paths:
      - test/
      - tools/
  
fixes:
  - "/home/runner/work/zlib-ng/zlib-ng/::"
  - "/home/runner/work/zlib-ng/build/::"
  - "/build/home/runner/work/zlib-ng/zlib-ng/::"
  - "/build/home/runner/work/zlib-ng/build/::"

ignore:
  - "usr/include/.*"
  - "/usr/include/.*"
  - "/build/usr/include/.*"
  - "usr/lib/.*"
  - "/usr/lib/.*"
  - "/build/usr/lib/.*"
  - "usr/lib64/.*"
  - "/usr/lib64/.*"
  - "/build/usr/lib64/.*"

Don't directly include asm/hwcap.h; fix compilation on musl aarch64
  arch/arm/armfeature.c
Due: zlib-ng

crc: fix three conversion warnings
  arch/x86/crc_folding.c
Due: zlib-ng

Decompress gzip compressed archive to a separate file to prevent corruption issues on macOS.
  cmake/test-compress.cmake
Due: none

Clean up fatal error messages in test-compress cmake script.
  cmake/test-compress.cmake
Due: none

Fixed check for decompress input not existing in test-compress cmake script.
  cmake/test-compress.cmake
Due: none

Decompress gzip compressed archive to a separate file to prevent corruption issues on macOS. (#939)
  cmake/test-compress.cmake
Due: none

Print differences between expected output in test-compress cmake script and upload as artifacts.
  .github/workflows/cmake.yml
  cmake/test-compress.cmake
Due: none

Simplify cleaning up files in test-compress cmake script and always clean up files on successful run.
  cmake/test-compress.cmake
Due: none

Create temporary files in CTest's Testing/Temporary directory and upload all files as artifacts.
  .github/workflows/cmake.yml
  cmake/test-compress.cmake
Due: none

Add status messages in test-compress cmake script. Change filenames used during test to make it more clear what stage they are apart of.
  cmake/test-compress.cmake
Due: none

Reintroduce Z_SOLO support for compatibility mode.
  zlib.h
Due: zlib-ng

Fix cmake detection of risc-v (32 and 64 bit)
  cmake/detect-arch.c
  cmake/detect-arch.cmake
Due: none

upgrade links to HTTPS
  FAQ.zlib
  arch/s390/README.md
  arch/x86/crc_folding.c
  deflate.c
  doc/algorithm.txt
  doc/rfc1952.txt
  test/CVE-2003-0107.c
  test/README.md
  win32/DLL_FAQ.txt
  win32/README-WIN32.txt
  win32/zlib-ng1.rc
  win32/zlib1.rc
  zlib-ng.h
  zlib.h
Due: zlib-ng, tests

Don't check for SSSE3 on non-x86 architectures.
  configure
Due: none

Version 2.0.3
  Makefile.in
  zlib-ng.h
  zlib.h
  zutil.c
Due: zlib-ng

Fix match to not succeed with mpicc
  CMakeLists.txt
Due: none

A cleaner version of the previous change
  CMakeLists.txt
Due: none

Resolve requested changes
  CMakeLists.txt
Due: none

Fix compiler detection to avoid bad mpicc match
  CMakeLists.txt
Due: none

Remove redundancy; apple is unix
  CMakeLists.txt
Due: none

Spelling fixes
  .github/workflows/cmake.yml
  CMakeLists.txt
  FAQ.zlib
  PORTING.md
  cmake/run-and-compare.cmake
  cmake/run-and-redirect.cmake
  deflate.c
  inftrees.h
  test/abicheck.md
  test/data/lcet10.txt
  zlib-ng.h
  zlib.h
Due: zlib-ng, tests

Fix build on NetBSD
  zutil_p.h
Due: zlib-ng

Open up develop branch for non-stable commits. Remove hex-based version define.
  Makefile.in
  test/example.c
  zlib-ng.h
  zlib.h
  zutil.c
Due: zlib-ng, tests

Handle HAVE_UNISTD_H defined to 0.
  CMakeLists.txt
  configure
Due: none

OpenBSD build fix proposal
  zutil.h
  zutil_p.h
Due: zlib-ng

Only when using Visual C++, the static library name should be "zlibstatic" * On CygWin, MSYS and MinGW, the static library name should be "z" like on other Unix-like systems
  CMakeLists.txt
Due: none
