Repository zlib-ng/zlib-ng: changes, and which Codecov flags are due for each by the changed paths.
All: zlib-ng, tests

codecov.yml:

codecov:
  max_report_age: 72h
  
coverage:
  status:
    project:
      default:
        threshold: 0.07%
      zlib-ng:
        target: 80%
        flags:
          - zlib-ng
      tests:
        target: 50%
        flags:
          - tests
        
comment:
    require_head: no     # default yes
    require_base: no     # default yes

flags:
  zlib-ng:
    paths:
      - arch/
      - adler32.c
      - adler32_p.h
      - chunkset.c
      - chunkset_tpl.h
      - compare258.c
      - compress.c
      - crc32.c
      - crc32_comb.c
      - crc32_comb_tbl.h
      - crc32_p.h
      - crc32_tbl.h
      - deflate.c
      - deflate_fast.c
      - deflate.h
      - deflate_medium.c
      - deflate_p.h
      - deflate_quick.c
      - deflate_slow.c
      - fallback_builtins.h
      - functable.c
      - functable.h
      - gzguts.h
      - gzlib.c
      - gzread.c
      - gzwrite.c
      - infback.c
      - inffast.c
      - inffast.h
      - inffixed_tbl.h
      - inflate.c
      - inflate.h
      - inflate_p.h
      - inftrees.c
      - inftrees.h
      - insert_string.c
      - insert_string_tpl.h
      - match_tpl.h
      - trees.c
      - trees_emit.h
      - trees.h
      - trees_tbl.h
      - uncompr.c
      - zbuild.h
      - zconf.h
      - zconf-ng.h
      - zendian.h
      - zlib.h
      - zlib-ng.h
      - zutil.c
      - zutil.h
      - zutil_p.h
  tests:
    paths:
      - test/
      - tools/
  
fixes:
  - "/home/runner/work/zlib-ng/zlib-ng/::"
  - "/home/runner/work/zlib-ng/build/::"
  - "/build/home/runner/work/zlib-ng/zlib-ng/::"
  - "/build/home/runner/work/zlib-ng/build/::"

ignore:
  - "usr/include/.*"
  - "/usr/include/.*"
  - "/build/usr/include/.*"
  - "usr/lib/.*"
  - "/usr/lib/.*"
  - "/build/usr/lib/.*"
  - "usr/lib64/.*"
  - "/usr/lib64/.*"
  - "/build/usr/lib64/.*"

Support RVV hwcap detect at runtime
  arch/riscv/README.md
  arch/riscv/riscv_features.c
Due: zlib-ng

2.1.4 Release
  Makefile.in
  zlib-ng.h.in
  zlib.h.in
  zutil.c
Due: zlib-ng

Fix building benchmarks on 32-bit PowerPC.
  test/benchmarks/benchmark_crc32.cc
Due: tests

Fix cross-compiling benchmarks and libpng.
  test/benchmarks/CMakeLists.txt
Due: tests

Fix status badges
  README.md
Due: none

Update to actions/checkout@v4, and disable checkout progress logging.
  .github/workflows/analyze.yml
  .github/workflows/cmake.yml
  .github/workflows/codeql.yml
  .github/workflows/configure.yml
  .github/workflows/libpng.yml
  .github/workflows/link.yml
  .github/workflows/nmake.yml
  .github/workflows/pigz.yml
  .github/workflows/pkgcheck.yml
  .github/workflows/release.yml
Due: none

Fix clang-cl warnings
  cmake/detect-intrinsics.cmake
Due: none

fix cmake header path in install with custom CMAKE_INSTALL_INCLUDEDIR
  CMakeLists.txt
Due: none

[README] configure no longer supports --native
  README.md
Due: none

pkgconfig file: propagate WITH_GZFILEOP
  CMakeLists.txt
  zlib.pc.cmakein
Due: none

Add adler32_fold_copy_rvv implementation.
  arch/riscv/adler32_rvv.c
  cpu_features.h
  functable.c
Due: zlib-ng

[configure] Propagate -DWITH_GZFILEOP to pkgconfig.
  configure
  zlib.pc.in
Due: none

Simplify AVX2 adler32_fold_copy by removing templates
  arch/x86/adler32_avx2.c
  arch/x86/adler32_avx2_tpl.h
Due: zlib-ng

Detemplatize adler32_fold_copy for avx512
  arch/x86/adler32_avx512.c
  arch/x86/adler32_avx512_tpl.h
Due: zlib-ng

Added unit test for inflate with Z_FINISH and no window.
  test/GH-1600/packobj.gz
  test/cmake/test-issues.cmake
  test/minideflate.c
Due: tests

Fix an issue with regard to finishing out the window
  inflate.c
Due: zlib-ng

2.1.5 Release
  Makefile.in
  zlib-ng.h.in
  zlib.h.in
  zutil.c
Due: zlib-ng

Run OSB tests with readonly source directory.
  .github/workflows/cmake.yml
  test/cmake/compress-and-verify.cmake
Due: tests

Prevent tests writing into the source directory.
  test/cmake/test-issues.cmake
Due: tests

Mimic zlib target name
  CMakeLists.txt
Due: none

Export cmake target
  CMakeLists.txt
Due: none

Add comment about zlib export name
  CMakeLists.txt
Due: none

Include destination when installing
  CMakeLists.txt
Due: none
