Repository zlib-ng/zlib-ng: changes, and which Codecov flags are due for each by the changed paths.
All: zlib-ng, tests

codecov.yml:

codecov:
  max_report_age: 72h
  
coverage:
  status:
    project:
      default:
        threshold: 0.07%
      zlib-ng:
        target: 80%
        flags:
          - zlib-ng
      tests:
        target: 50%
        flags:
          - tests
        
comment:
    require_head: no     # default yes
    require_base: no     # default yes

flags:
  zlib-ng:
    paths:
      - arch/
      - adler32.c
      - adler32_p.h
      - chunkset.c
      - chunkset_tpl.h
      - compare258.c
      - compress.c
      - crc32.c
      - crc32_comb.c
      - crc32_comb_tbl.h
      - crc32_p.h
      - crc32_tbl.h
      - deflate.c
      - deflate_fast.c
      - deflate.h
      - deflate_medium.c
      - deflate_p.h
      - deflate_quick.c
      - deflate_slow.c
      - fallback_builtins.h
      - functable.c
      - functable.h
      - gzguts.h
      - gzlib.c
      - gzread.c
      - gzwrite.c
      - infback.c
      - inffast.c
      - inffast.h
      - inffixed_tbl.h
      - inflate.c
      - inflate.h
      - inflate_p.h
      - inftrees.c
      - inftrees.h
      - insert_string.c
      - insert_string_tpl.h
      - match_tpl.h
      - trees.c
      - trees_emit.h
      - trees.h
      - trees_tbl.h
      - uncompr.c
      - zbuild.h
      - zconf.h
      - zconf-ng.h
      - zendian.h
      - zlib.h
      - zlib-ng.h
      - zutil.c
      - zutil.h
      - zutil_p.h
  tests:
    paths:
      - test/
      - tools/
  
fixes:
  - "/home/runner/work/zlib-ng/zlib-ng/::"
  - "/home/runner/work/zlib-ng/build/::"
  - "/build/home/runner/work/zlib-ng/zlib-ng/::"
  - "/build/home/runner/work/zlib-ng/build/::"

ignore:
  - "usr/include/.*"
  - "/usr/include/.*"
  - "/build/usr/include/.*"
  - "usr/lib/.*"
  - "/usr/lib/.*"
  - "/build/usr/lib/.*"
  - "usr/lib64/.*"
  - "/usr/lib64/.*"
  - "/build/usr/lib64/.*"

Rename cpu_functions.h to arch_functions.h in depcheck.cpp
  win32/depcheck.cpp
Due: none

[ARM] Override Clang x4 NEON intrinsics for Android * Clang for Android requires 256-bit alignment for x4 loads and stores, which can't be guaranteed and is unnecessary
  arch/arm/neon_intrins.h
Due: zlib-ng

Explicitly indicate functions are conditionally dispatched
  adler32.c
  arch/generic/adler32_fold_c.c
  arch/generic/crc32_fold_c.c
  crc32.c
  deflate.c
  deflate_fast.c
  deflate_medium.c
  deflate_quick.c
  deflate_slow.c
  functable.h
  infback.c
  inflate.c
  inflate_p.h
Due: zlib-ng

Add native ARM64 build on macOS
  .github/workflows/cmake.yml
Due: none

Workaround for MSVC. By default MSVC does not define the __SSE*__ macros. Fix it if AVX is enabled.
  .github/workflows/cmake.yml
  CMakeLists.txt
Due: none

Add option to disable runtime CPU detection
  CMakeLists.txt
  README.md
  arch/arm/arm_functions.h
  arch/generic/generic_functions.h
  arch/power/power_functions.h
  arch/riscv/riscv_functions.h
  arch/s390/s390_functions.h
  arch/x86/x86_functions.h
  deflate.c
  functable.c
  functable.h
  inflate.c
Due: zlib-ng

Replace conditional call to functable.force_init with macro FUNCTABLE_INIT
  deflate.c
  functable.h
  inflate.c
Due: zlib-ng

Use GCC's may_alias attribute for unaligned memory access
  arch/arm/chunkset_neon.c
  arch/arm/compare256_neon.c
  arch/generic/Makefile.in
  arch/generic/chunkset_c.c
  arch/generic/compare256_c.c
  arch/power/chunkset_power8.c
  arch/power/compare256_power9.c
  arch/riscv/compare256_rvv.c
  arch/x86/chunkset_avx2.c
  arch/x86/chunkset_sse2.c
  arch/x86/chunkset_ssse3.c
  arch/x86/compare256_avx2.c
  arch/x86/compare256_sse2.c
  compare256_rle.h
  deflate.h
  deflate_quick.c
  inflate_p.h
  insert_string_tpl.h
  match_tpl.h
  win32/Makefile.a64
  win32/Makefile.arm
  win32/Makefile.msc
  zmemory.h
  zutil_p.h
Due: zlib-ng

Change update_hash algorithm
  insert_string.c
Due: zlib-ng

Fix building with NVHPC
  arch/x86/x86_intrins.h
Due: zlib-ng

Clean up insert_match() in deflate_medium
  deflate_medium.c
Due: zlib-ng

Inserting strings is not slow any longer, remove bypass in deflate_medium().
  deflate_medium.c
Due: zlib-ng

Fix kernel ASLR breaking LLVM ASAN/MSAN builds
  .github/workflows/cmake.yml
Due: none

arch/riscv/riscv_features.c: fix uclibc build
  arch/riscv/riscv_features.c
Due: zlib-ng

Allow disabling runtime CPU features detection in tests and benchmarks
  CMakeLists.txt
  Makefile.in
  cpu_features.h
  test/benchmarks/benchmark_adler32.cc
  test/benchmarks/benchmark_adler32_copy.cc
  test/benchmarks/benchmark_compare256.cc
  test/benchmarks/benchmark_crc32.cc
  test/benchmarks/benchmark_main.cc
  test/benchmarks/benchmark_slidehash.cc
  test/test_adler32.cc
  test/test_compare256.cc
  test/test_cpu_features.h
  test/test_crc32.cc
  test/test_main.cc
Due: tests

Remove obsolete TARGET_OS_MAC check
  zutil.h
Due: zlib-ng

Optimized rvv slide_hash
  arch/riscv/slide_hash_rvv.c
Due: zlib-ng

CMake: Replace ';' by '$<SEMICOLON>' in generator-expression
  CMakeLists.txt
Due: none

Bump max CMake policy version to 3.29.0
  CMakeLists.txt
Due: none

Update dependencies for 32-bit MinGW CI run.
  .github/workflows/cmake.yml
Due: none

.gitattributes: Do no longer mess with line-endings and leave as is
  .gitattributes
Due: none

make darwin cross compilation possible
  configure
Due: none

.gitattributes: Enforce LF line-endings on all non-binary files
  .gitattributes
Due: none

IBM zSystems DFLTCC: Inline DLFTCC states into zlib states
  arch/s390/README.md
  arch/s390/dfltcc_common.h
  arch/s390/dfltcc_deflate.c
  arch/s390/dfltcc_deflate.h
  arch/s390/dfltcc_detail.h
  arch/s390/dfltcc_inflate.c
  arch/s390/dfltcc_inflate.h
  deflate.c
  deflate.h
  infback.c
  inflate.c
  inflate.h
  inflate_p.h
Due: zlib-ng

IBM zSystems DFLTCC: Extend sanitizer checks
  arch/s390/dfltcc_detail.h
  zbuild.h
Due: zlib-ng
