Repository zlib-ng/zlib-ng: changes, and which Codecov flags are due for each by the changed paths.
All: zlib-ng, tests

codecov.yml:

codecov:
  max_report_age: 72h
  
coverage:
  status:
    project:
      default:
        threshold: 0.07%
      zlib-ng:
        target: 80%
        flags:
          - zlib-ng
      tests:
        target: 50%
        flags:
          - tests
        
comment:
    require_head: no     # default yes
    require_base: no     # default yes

flags:
  zlib-ng:
    paths:
      - arch/
      - adler32.c
      - adler32_p.h
      - chunkset.c
      - chunkset_tpl.h
      - compare258.c
      - compress.c
      - crc32.c
      - crc32_comb.c
      - crc32_comb_tbl.h
      - crc32_p.h
      - crc32_tbl.h
      - deflate.c
      - deflate_fast.c
      - deflate.h
      - deflate_medium.c
      - deflate_p.h
      - deflate_quick.c
      - deflate_slow.c
      - fallback_builtins.h
      - functable.c
      - functable.h
      - gzguts.h
      - gzlib.c
      - gzread.c
      - gzwrite.c
      - infback.c
      - inffast.c
      - inffast.h
      - inffixed_tbl.h
      - inflate.c
      - inflate.h
      - inflate_p.h
      - inftrees.c
      - inftrees.h
      - insert_string.c
      - insert_string_tpl.h
      - match_tpl.h
      - trees.c
      - trees_emit.h
      - trees.h
      - trees_tbl.h
      - uncompr.c
      - zbuild.h
      - zconf.h
      - zconf-ng.h
      - zendian.h
      - zlib.h
      - zlib-ng.h
      - zutil.c
      - zutil.h
      - zutil_p.h
  tests:
    paths:
      - test/
      - tools/
  
fixes:
  - "/home/runner/work/zlib-ng/zlib-ng/::"
  - "/home/runner/work/zlib-ng/build/::"
  - "/build/home/runner/work/zlib-ng/zlib-ng/::"
  - "/build/home/runner/work/zlib-ng/build/::"

ignore:
  - "usr/include/.*"
  - "/usr/include/.*"
  - "/build/usr/include/.*"
  - "usr/lib/.*"
  - "/usr/lib/.*"
  - "/build/usr/lib/.*"
  - "usr/lib64/.*"
  - "/usr/lib64/.*"
  - "/build/usr/lib64/.*"

[CI] Add workflow to test MSVC 18 2026.
  .github/workflows/cmake.yml
Due: none

Simplify adler32 alignment loops to advance pointers
  arch/arm/adler32_neon.c
  arch/power/adler32_vmx.c
  arch/x86/adler32_ssse3.c
Due: zlib-ng

CMake: UBSAN: Don't enable 'unsigned-integer-overflow' and 'unsigned-shift-base' checks.
  cmake/detect-sanitizer.cmake
Due: none

CI: Stop trying to use GCC on macOS, it is apparently deprecated and keeps breaking every time github actions releases new images. Converted to use Clang instead
  .github/workflows/cmake.yml
  .github/workflows/configure.yml
Due: none

Relax alignment requirement in NEON_accum32. * UBSAN thinks only 16 byte alignment can be guaranteed.
  arch/arm/adler32_neon.c
Due: zlib-ng

Fix building with C23 support * Z_UNREACHABLE() macro can't be followed by any code in same block scope
  deflate.c
  gzread.c
Due: zlib-ng

Add NMAX_ALIGNED32 and use it in NEON adler32
  adler32_p.h
  arch/arm/adler32_neon.c
Due: zlib-ng

Revert "Relax alignment requirement in NEON_accum32."
  arch/arm/adler32_neon.c
Due: zlib-ng

Reduce git clone download to only relevant source folders. Reduces download from 2.3GB to 176MB.
  .github/workflows/cmake.yml
Due: none

Don't use GCC for ASAN/UBSAN on S390x
  .github/workflows/cmake.yml
Due: none

Unroll the slide hash loop similar to other ISAs
  arch/power/slide_ppc_tpl.h
Due: zlib-ng

Rename coverage name parameter
  .github/workflows/cmake.yml
  .github/workflows/pigz.yml
Due: none

Remove codecov from CI
  .codecov.yaml
  .github/workflows/cmake.yml
  .github/workflows/pigz.yml
Due: none

Add coveralls to pigz and make sure coveralls uploads are not finalized until all jobs are successful, as doing that blocks further uploads from retried builds.
  .github/workflows/cmake.yml
  .github/workflows/orchestrator.yml
  .github/workflows/pigz.yml
Due: none

Run lint in ubuntu-slim, a lightweight actions runner
  .github/workflows/lint.yml
Due: none

Github workers have been increased from 2 to 4 cores, increase concurrency.
  .github/workflows/analyze.yml
  .github/workflows/cmake.yml
  .github/workflows/configure.yml
  .github/workflows/libpng.yml
  .github/workflows/link.yml
  .github/workflows/osb.yml
  .github/workflows/pigz.yml
  .github/workflows/release.yml
Due: none

Use ARM64 runners for all ARM-based builds
  .github/workflows/cmake.yml
  .github/workflows/configure.yml
  .github/workflows/pigz.yml
  .github/workflows/pkgcheck.yml
Due: none

Add 256-bit VPCLMULQDQ CRC32 path for systems without AVX-512.
  CMakeLists.txt
  arch/x86/Makefile.in
  arch/x86/crc32_pclmulqdq_tpl.h
  arch/x86/crc32_vpclmulqdq.c
  arch/x86/crc32_vpclmulqdq_avx2.c
  arch/x86/crc32_vpclmulqdq_avx512.c
  arch/x86/x86_features.c
  arch/x86/x86_functions.h
  arch/x86/x86_natives.h
  cmake/detect-intrinsics.cmake
  configure
  functable.c
  test/benchmarks/benchmark_crc32.cc
  test/benchmarks/benchmark_crc32_copy.cc
  test/test_crc32.cc
  test/test_crc32_copy.cc
Due: zlib-ng, tests

README: Add coveralls badge
  README.md
Due: none

[CI] Switch Windows ARM64 workflows to use native runners.
  .github/workflows/cmake.yml
Due: none

README: Small feature list updates
  README.md
Due: none

Add MSAN to Aarch64. Change tests so we run UBSAN on neon/armv8 code, testing without our optimizations is less important. Fix windows arm test skipping check.
  .github/workflows/cmake.yml
Due: none

Tests: Initialize buffer in test_crc32.cc
  test/test_crc32.cc
Due: tests

Harden sanitizer support
  CMakeLists.txt
  cmake/detect-sanitizer.cmake
  test/CMakeLists.txt
Due: tests

Disable ARM SF Jobs
  .github/workflows/cmake.yml
Due: none

Disable sanitizer for ARM SF
  .github/workflows/cmake.yml
Due: none

CMake: Fix incorrect order of compiler flags when using sanitizers
  cmake/detect-coverage.cmake
Due: none

CI: S390x has Clang, but the qemu fallback uses a toolchain specifying gcc, therefore make sure we install and use gcc.
  .github/workflows/cmake.yml
Due: none

Replace macros with inline functions in deflate_quick.
  deflate_quick.c
Due: zlib-ng

Move ASAN/MSAN instrumentation out of zbuild.h
  arch/arm/chunkset_neon.c
  arch/loongarch/chunkset_lasx.c
  arch/loongarch/chunkset_lsx.c
  arch/s390/dfltcc_detail.h
  arch/x86/chunkset_avx2.c
  arch/x86/chunkset_ssse3.c
  inflate.c
  zbuild.h
  zsanitizer.h
Due: zlib-ng

Reorganize sanitizer header for readability
  zsanitizer.h
Due: none

Clean up dead assignments in insert_match
  deflate_medium.c
Due: zlib-ng

Add parameterized deflate tests
  test/CMakeLists.txt
  test/benchmarks/benchmark_compress.cc
  test/benchmarks/benchmark_deflate.cc
  test/benchmarks/benchmark_inflate.cc
  test/benchmarks/benchmark_uncompress.cc
  test/compressible_data_p.h
  test/test_deflate.cc
Due: tests

Use uintptr_t for ASan function signatures and macro variables
  zsanitizer.h
Due: none

[CI] Fix 32-bit ARM release.
  .github/workflows/release.yml
Due: none

Cache LLVM C++ libraries for MSAN
  .github/workflows/cmake.yml
Due: none

Guard against ls-remote failing
  .github/workflows/cmake.yml
Due: none

Make orchestrator the parent of most workflows, and let it handle most automatic cancellations of workflows when new commits are pushed.
  .github/workflows/analyze.yml
  .github/workflows/codeql.yml
  .github/workflows/configure.yml
  .github/workflows/fuzz.yml
  .github/workflows/libpng.yml
  .github/workflows/link.yml
  .github/workflows/orchestrator.yml
  .github/workflows/osb.yml
  .github/workflows/pkgcheck.yml
Due: none

Fix CPU detection for ARM64EC
  zarch.h
Due: none

Add ARM64EC builds to GitHub Actions
  .github/workflows/cmake.yml
  .github/workflows/release.yml
Due: none
