Repository zlib-ng/zlib-ng: changes, and which Codecov flags are due for each by the changed paths.
All: zlib-ng, tests

Do the same for detect-intrinsics.cmake
  cmake/detect-intrinsics.cmake
Due: none

configure: ensure instructions are not optimized out before assembler is run
  configure
Due: none

cast _xgetbv to int to silence conversion warning
  cmake/detect-intrinsics.cmake
  configure
Due: none

another
  configure
Due: none

Merge 32-bit arm hardware flag detection sections in configure and cmake
  CMakeLists.txt
  configure
Due: none

Use consistent NEON_AVAILABLE variable across CMake/configure.
  CMakeLists.txt
  cmake/detect-intrinsics.cmake
Due: none

Merge both without_optimizations sections in configure for arm.
  configure
Due: none

Allow ACLE to be enabled on all ARM architecture versions
  CMakeLists.txt
Due: none

Clean up detection on ARM variants and allow ACLE on all ARM archs.
  configure
Due: none

Support using mingw-std-threads in gtest_zlib
  test/CMakeLists.txt
  test/test_deflate_concurrency.cc
Due: tests

Use GCC cpuid intrinsics with MinGW
  arch/x86/x86_features.c
  cmake/detect-intrinsics.cmake
  configure
Due: zlib-ng

Always include strings.h when strcasecmp is used
  test/minideflate.c
Due: tests

Add ARMv6 version of slide_hash
  CMakeLists.txt
  README.md
  arch/arm/Makefile.in
  arch/arm/acle_intrins.h
  arch/arm/arm_features.c
  arch/arm/arm_features.h
  arch/arm/slide_hash_armv6.c
  cmake/detect-intrinsics.cmake
  configure
  cpu_features.h
  functable.c
  test/benchmarks/benchmark_slidehash.cc
  win32/Makefile.arm
Due: zlib-ng, tests

Fix examining value of GENERATOR_IS_MULTI_CONFIG
  CMakeLists.txt
Due: none

Match CMAKE_GENERATOR_TOOLSET variable case-insensitive
  cmake/detect-intrinsics.cmake
Due: none

Don't run test intrinsic code with native flag in CMake.
  cmake/detect-intrinsics.cmake
Due: none

Added instructions for cpack to readme.
  README.md
Due: none

General optimized chunkset
  CMakeLists.txt
  arch/riscv/chunkset_rvv.c
  cpu_features.h
  functable.c
Due: zlib-ng

Fix the value of ZLIBNG_VER_STATUS
  zlib.h.in
Due: zlib-ng

Deprecate ZLIBNG_VER_STATUS, add new variant ZLIBNG_VER_STATUSH
  zlib-ng.h.in
  zlib.h.in
Due: zlib-ng

Support llvm-mingw toolchain
  CMakeLists.txt
  arch/arm/neon_intrins.h
  cmake/detect-intrinsics.cmake
  configure
Due: zlib-ng

Add llvm-mingw CMake toolchain files
  cmake/toolchain-llvm-mingw-aarch64.cmake
  cmake/toolchain-llvm-mingw-armv7.cmake
  cmake/toolchain-llvm-mingw-i686.cmake
  cmake/toolchain-llvm-mingw-x86_64.cmake
Due: none

Use large data type for chunk Implement chunk memset for specific length
  arch/riscv/chunkset_rvv.c
Due: zlib-ng

Detect -Wno-pedantic-ms-format support in mingw
  CMakeLists.txt
Due: none

Make sure inflateCopy() allocates window with the necessary buffer for chunked operations.
  inflate.c
Due: zlib-ng

Support RVV hwcap detect at runtime
  arch/riscv/README.md
  arch/riscv/riscv_features.c
Due: zlib-ng

Path conditions:
  zlib-ng: any of: arch/, adler32.c, adler32_p.h, chunkset.c, chunkset_tpl.h, compare258.c, compress.c, crc32.c, crc32_comb.c, crc32_comb_tbl.h, crc32_p.h, crc32_tbl.h, deflate.c, deflate_fast.c, deflate.h, deflate_medium.c, deflate_p.h, deflate_quick.c, deflate_slow.c, fallback_builtins.h, functable.c, functable.h, gzguts.h, gzlib.c, gzread.c, gzwrite.c, infback.c, inffast.c, inffast.h, inffixed_tbl.h, inflate.c, inflate.h, inflate_p.h, inftrees.c, inftrees.h, insert_string.c, insert_string_tpl.h, match_tpl.h, trees.c, trees_emit.h, trees.h, trees_tbl.h, uncompr.c, zbuild.h, zconf.h, zconf-ng.h, zendian.h, zlib.h, zlib-ng.h, zutil.c, zutil.h, zutil_p.h, but not: usr/include/.*, /usr/include/.*, /build/usr/include/.*, usr/lib/.*, /usr/lib/.*, /build/usr/lib/.*, usr/lib64/.*, /usr/lib64/.*, /build/usr/lib64/.*
  tests: any of: test/, tools/, but not: usr/include/.*, /usr/include/.*, /build/usr/include/.*, usr/lib/.*, /usr/lib/.*, /build/usr/lib/.*, usr/lib64/.*, /usr/lib64/.*, /build/usr/lib64/.*
