Repository zlib-ng/zlib-ng: changes, and which Codecov flags are due for each by the changed paths.
All: zlib-ng, tests

Fixed GCC warning about unused variable in longest_match.
  match_tpl.h
Due: zlib-ng

Adding inflate_table to the list of mangled symbols does not help
  win32/zlib-ng.def.in
  win32/zlib.def.in
  win32/zlibcompat.def.in
Due: none

Intel compilers: update deprecated -wn to -Wall style
  CMakeLists.txt
Due: none

Make cmake and configure release flags consistent
  configure
Due: none

Remove unused fdopen define for MSVC.
  test/minigzip.c
  zutil.h
Due: zlib-ng, tests

Use add_link_options in cmake code coverage detection.
  cmake/detect-coverage.cmake
Due: none

Use add_link_options in cmake sanitizer detection.
  cmake/detect-sanitizer.cmake
Due: none

Added fallback macros for add_compile_options and add_link_options.
  CMakeLists.txt
  cmake/fallback-macros.cmake
Due: none

Use add_compile_options in cmake which sets both C and CXX flags.
  CMakeLists.txt
  cmake/detect-coverage.cmake
  cmake/detect-sanitizer.cmake
Due: none

Use NATIVEFLAG in intrinsic checks that is added whenever it is enabled.
  cmake/detect-intrinsics.cmake
Due: none

Added CMake status message when code coverage is enabled.
  cmake/detect-coverage.cmake
Due: none

Use static keyword for vec_sumsu to prevent undefined reference error when g++ linking.
  arch/power/adler32_power8.c
Due: zlib-ng

[ARM] Use armv8-crc+simd when compiling ACLE code on toolchains that don't enable FPU by default.
  cmake/detect-intrinsics.cmake
  configure
Due: none

Remove zutil.h includes from many files to prevent zlib.h being included.
  adler32.c
  arch/x86/adler32_avx2.c
  arch/x86/adler32_avx512.c
  arch/x86/adler32_avx512_vnni.c
  arch/x86/adler32_sse41.c
  arch/x86/adler32_ssse3.c
  arch/x86/chunkset_avx.c
  arch/x86/chunkset_sse2.c
  arch/x86/compare256_avx2.c
  arch/x86/compare256_sse42.c
  arch/x86/crc32_fold_pclmulqdq.c
  arch/x86/crc32_fold_vpclmulqdq.c
  arch/x86/x86.c
  chunkset.c
  chunkset_tpl.h
  compare256.c
  crc32_fold.c
  crc32_p.h
  test/benchmarks/benchmark_main.cc
  uncompr.c
Due: zlib-ng, tests

Move build basics to zbuild.h.
  zbuild.h
  zutil.h
Due: zlib-ng

Move _POSIX_C_SOURCE define before first stdlib.h include in zbuild.h for posix_memalign.
  test/example.c
  test/fuzz/fuzzer_checksum.c
  test/fuzz/fuzzer_compress.c
  test/fuzz/fuzzer_example_dict.c
  test/fuzz/fuzzer_example_large.c
  test/fuzz/fuzzer_example_small.c
  test/fuzz/fuzzer_minigzip.c
  test/fuzz/standalone_fuzz_target_runner.c
  test/minideflate.c
  test/minigzip.c
  test/switchlevels.c
  test/test_adler32.c
  test/test_crc32.c
  zbuild.h
  zutil_p.h
Due: zlib-ng, tests

[PowerPC] Default CPU to 7400 to enable VMX support in qemu-ppc
  cmake/toolchain-powerpc.cmake
Due: none

Update CMake toolchains for alternative gcc/gcc++ names. Remove compiler attribute in GHA when using CMake toolchain files.
  .github/workflows/cmake.yml
  .github/workflows/pigz.yml
  .github/workflows/pkgcheck.yml
  cmake/toolchain-arm.cmake
  cmake/toolchain-armhf.cmake
  cmake/toolchain-mingw-i686.cmake
  cmake/toolchain-mingw-x86_64.cmake
  cmake/toolchain-powerpc.cmake
  cmake/toolchain-powerpc64.cmake
  cmake/toolchain-powerpc64le.cmake
  cmake/toolchain-s390x.cmake
  cmake/toolchain-sparc64.cmake
Due: none

Fixed wrong cpu check variable used for ARM in adler benchmarks.
  test/benchmarks/benchmark_adler32.cc
Due: tests

Removed unused CMake includes in benchmark cmake.
  test/benchmarks/CMakeLists.txt
Due: tests

Remove unnecessary compiler specification from mingw configs.
  .github/workflows/cmake.yml
Due: none

Fixed typo when undefined behavior sanitizer is not supported.
  cmake/detect-sanitizer.cmake
Due: none

Remove qemu-run variable which is already defined in the toolchain files. Only configure script would need this variable defined.
  .github/workflows/cmake.yml
  .github/workflows/pigz.yml
Due: none

IBM Z: Upgrade self-hosted builder to v2.287.1
  arch/s390/self-hosted-builder/actions-runner.Dockerfile
Due: zlib-ng

Fixed S390X CI instance code coverage report names not unique.
  .github/workflows/cmake.yml
Due: none

Path conditions:
  zlib-ng: any of: arch/, adler32.c, adler32_p.h, chunkset.c, chunkset_tpl.h, compare258.c, compress.c, crc32.c, crc32_comb.c, crc32_comb_tbl.h, crc32_p.h, crc32_tbl.h, deflate.c, deflate_fast.c, deflate.h, deflate_medium.c, deflate_p.h, deflate_quick.c, deflate_slow.c, fallback_builtins.h, functable.c, functable.h, gzguts.h, gzlib.c, gzread.c, gzwrite.c, infback.c, inffast.c, inffast.h, inffixed_tbl.h, inflate.c, inflate.h, inflate_p.h, inftrees.c, inftrees.h, insert_string.c, insert_string_tpl.h, match_tpl.h, trees.c, trees_emit.h, trees.h, trees_tbl.h, uncompr.c, zbuild.h, zconf.h, zconf-ng.h, zendian.h, zlib.h, zlib-ng.h, zutil.c, zutil.h, zutil_p.h, but not: usr/include/.*, /usr/include/.*, /build/usr/include/.*, usr/lib/.*, /usr/lib/.*, /build/usr/lib/.*, usr/lib64/.*, /usr/lib64/.*, /build/usr/lib64/.*
  tests: any of: test/, tools/, but not: usr/include/.*, /usr/include/.*, /build/usr/include/.*, usr/lib/.*, /usr/lib/.*, /build/usr/lib/.*, usr/lib64/.*, /usr/lib64/.*, /build/usr/lib64/.*
