Repository zlib-ng/zlib-ng: changes, and which Codecov flags are due for each by the changed paths.
All: zlib-ng, tests

Run OSB tests with readonly source directory.
  .github/workflows/cmake.yml
  test/cmake/compress-and-verify.cmake
Due: tests

Detemplatize adler32_fold_copy for avx512
  arch/x86/adler32_avx512.c
  arch/x86/adler32_avx512_tpl.h
Due: zlib-ng

Simplify AVX2 adler32_fold_copy by removing templates
  arch/x86/adler32_avx2.c
  arch/x86/adler32_avx2_tpl.h
Due: zlib-ng

Remove duplicate enable tests option
  CMakeLists.txt
Due: none

Export cmake target (#1601)
  CMakeLists.txt
Due: none

Fix pkgcheck mismatch with configure due to cmake target files.
  test/pkgcheck.sh
Due: tests

Fix buffer overflow in compare256_rle benchmark
  test/benchmarks/benchmark_compare256_rle.cc
Due: tests

Add force initialization functable, because deflate captures function pointers from functable
  deflate.c
  functable.c
  functable.h
Due: zlib-ng

Initialize functable earlier, during inflateInit
  inflate.c
Due: zlib-ng

Only read version information from zlib.h.in
  CMakeLists.txt
Due: none

Update copyright to sync with zlib 1.3
  deflate.c
  inftrees.c
Due: zlib-ng

Improve performance of crc32_acle on 32-bit ARM
  arch/arm/crc32_acle.c
Due: zlib-ng

Atomic functable
  functable.c
  functable.h
Due: zlib-ng

Remove unused Z_TLS and HAVE_THREAD_LOCAL
  CMakeLists.txt
  configure
  zbuild.h
Due: zlib-ng

Make sure uqsub16 mnemonic doesn't get optimized away.
  cmake/detect-intrinsics.cmake
Due: none

Don't attempt ARMv6 detection on AARCH64.
  CMakeLists.txt
  configure
Due: none

Add support for __attribute__((__target__(...))) to overcome limitations of -march=native.
  arch/arm/acle_intrins.h
  arch/arm/crc32_acle.c
  arch/arm/insert_string_acle.c
  zbuild.h
Due: zlib-ng

Always run CMake tests without LTO.
  CMakeLists.txt
  cmake/detect-intrinsics.cmake
Due: none

Update to GoogleTest 1.12.1. This requires minimum CMake 3.5 and C++11, this matches nicely with zlib-ng 2.1.x requirements.
  test/CMakeLists.txt
Due: tests

Add status output when running git checkout of GoogleTest
  test/CMakeLists.txt
Due: tests

Check if compiler supports -march=native or -mcpu=native.
  CMakeLists.txt
Due: none

Don't incorrectly disable GoogleTest because of old CMake version.
  test/CMakeLists.txt
Due: tests

Fix trailing whitespace in minideflate.c.
  test/minideflate.c
Due: tests

Path conditions:
  zlib-ng: any of: arch/, adler32.c, adler32_p.h, chunkset.c, chunkset_tpl.h, compare258.c, compress.c, crc32.c, crc32_comb.c, crc32_comb_tbl.h, crc32_p.h, crc32_tbl.h, deflate.c, deflate_fast.c, deflate.h, deflate_medium.c, deflate_p.h, deflate_quick.c, deflate_slow.c, fallback_builtins.h, functable.c, functable.h, gzguts.h, gzlib.c, gzread.c, gzwrite.c, infback.c, inffast.c, inffast.h, inffixed_tbl.h, inflate.c, inflate.h, inflate_p.h, inftrees.c, inftrees.h, insert_string.c, insert_string_tpl.h, match_tpl.h, trees.c, trees_emit.h, trees.h, trees_tbl.h, uncompr.c, zbuild.h, zconf.h, zconf-ng.h, zendian.h, zlib.h, zlib-ng.h, zutil.c, zutil.h, zutil_p.h, but not: usr/include/.*, /usr/include/.*, /build/usr/include/.*, usr/lib/.*, /usr/lib/.*, /build/usr/lib/.*, usr/lib64/.*, /usr/lib64/.*, /build/usr/lib64/.*
  tests: any of: test/, tools/, but not: usr/include/.*, /usr/include/.*, /build/usr/include/.*, usr/lib/.*, /usr/lib/.*, /build/usr/lib/.*, usr/lib64/.*, /usr/lib64/.*, /build/usr/lib64/.*
