Repository zlib-ng/zlib-ng: changes, and which Codecov flags are due for each by the changed paths.
All: zlib-ng, tests

codecov.yml:

codecov:
  max_report_age: 72h
  
coverage:
  status:
    project:
      default:
        threshold: 0.07%
      zlib-ng:
        target: 80%
        flags:
          - zlib-ng
      tests:
        target: 50%
        flags:
          - tests
        
comment:
    require_head: no     # default yes
    require_base: no     # default yes

flags:
  zlib-ng:
    paths:
      - arch/
      - adler32.c
      - adler32_p.h
      - chunkset.c
      - chunkset_tpl.h
      - compare258.c
      - compress.c
      - crc32.c
      - crc32_comb.c
      - crc32_comb_tbl.h
      - crc32_p.h
      - crc32_tbl.h
      - deflate.c
      - deflate_fast.c
      - deflate.h
      - deflate_medium.c
      - deflate_p.h
      - deflate_quick.c
      - deflate_slow.c
      - fallback_builtins.h
      - functable.c
      - functable.h
      - gzguts.h
      - gzlib.c
      - gzread.c
      - gzwrite.c
      - infback.c
      - inffast.c
      - inffast.h
      - inffixed_tbl.h
      - inflate.c
      - inflate.h
      - inflate_p.h
      - inftrees.c
      - inftrees.h
      - insert_string.c
      - insert_string_tpl.h
      - match_tpl.h
      - trees.c
      - trees_emit.h
      - trees.h
      - trees_tbl.h
      - uncompr.c
      - zbuild.h
      - zconf.h
      - zconf-ng.h
      - zendian.h
      - zlib.h
      - zlib-ng.h
      - zutil.c
      - zutil.h
      - zutil_p.h
  tests:
    paths:
      - test/
      - tools/
  
fixes:
  - "/home/runner/work/zlib-ng/zlib-ng/::"
  - "/home/runner/work/zlib-ng/build/::"
  - "/build/home/runner/work/zlib-ng/zlib-ng/::"
  - "/build/home/runner/work/zlib-ng/build/::"

ignore:
  - "usr/include/.*"
  - "/usr/include/.*"
  - "/build/usr/include/.*"
  - "usr/lib/.*"
  - "/usr/lib/.*"
  - "/build/usr/lib/.*"
  - "usr/lib64/.*"
  - "/usr/lib64/.*"
  - "/build/usr/lib64/.*"

Added sanitizer identification to CMake CI instance names.
  .github/workflows/cmake.yml
Due: none

More than double adler32 performance with altivec
  arch/power/adler32_vmx.c
Due: zlib-ng

Improve SSE2 slide hash performance
  arch/x86/slide_hash_sse2.c
Due: zlib-ng

Remove qemu-run variable which is already defined in the toolchain files. Only configure script would need this variable defined.
  .github/workflows/cmake.yml
  .github/workflows/pigz.yml
Due: none

Remove unnecessary compiler specification from mingw configs.
  .github/workflows/cmake.yml
Due: none

Removed unused CMake includes in benchmark cmake.
  test/benchmarks/CMakeLists.txt
Due: tests

Fixed typo when undefined behavior sanitizer is not supported.
  cmake/detect-sanitizer.cmake
Due: none

Fixed S390X CI instance code coverage report names not unique.
  .github/workflows/cmake.yml
Due: none

Fixed wrong cpu check variable used for ARM in adler benchmarks.
  test/benchmarks/benchmark_adler32.cc
Due: tests

Marginal improvement by pipelining loads on NEON
  CMakeLists.txt
  arch/arm/slide_hash_neon.c
  cmake/detect-intrinsics.cmake
  configure
  fallback_builtins.h
  win32/Makefile.a64
  win32/Makefile.arm
Due: zlib-ng

Simplify chunk_t type to uint64_t with memcpy calls.
  chunkset.c
Due: zlib-ng

Introduce zmemcpy to use unaligned access for architectures we know support unaligned access, otherwise use memcpy.
  arch/arm/chunkset_neon.c
  arch/power/chunkset_power8.c
  chunkset.c
  chunkset_tpl.h
  compare256.c
  deflate.h
  inffast.c
  insert_string_tpl.h
  match_tpl.h
  zbuild.h
Due: zlib-ng

Introduce zmemcmp to use unaligned access for architectures we know support unaligned access, otherwise use memcmp.
  deflate_quick.c
  match_tpl.h
  zbuild.h
Due: zlib-ng

[Benchmarks] Fix adler32/vmx benchmark not found under 32-bit PowerPC
  test/benchmarks/benchmark_adler32.cc
Due: tests

Write an SSE2 optimized compare256
  CMakeLists.txt
  arch/x86/Makefile.in
  arch/x86/compare256_sse2.c
  configure
  cpu_features.h
  functable.c
  test/benchmarks/benchmark_compare256.cc
Due: zlib-ng, tests

Axe the SSE4 compare256 functions
  CMakeLists.txt
  README.md
  arch/x86/Makefile.in
  arch/x86/compare256_sse2.c
  arch/x86/compare256_sse42.c
  configure
  cpu_features.h
  functable.c
  test/benchmarks/benchmark_compare256.cc
  win32/Makefile.msc
Due: zlib-ng, tests

Enable code coverage build only when code coverage report name specified.
  .github/workflows/cmake.yml
Due: none

Remove code coverage libraries which introduce memory leak on exit.
  .github/workflows/cmake.yml
Due: none

Add wine repositories only when needed.
  .github/workflows/cmake.yml
Due: none

Obtained more ILP with VMX by breaking a data dependency
  arch/power/adler32_vmx.c
Due: zlib-ng

Added power8 cpu flag to powerpc64 CMake toolchain files.
  cmake/toolchain-powerpc64.cmake
  cmake/toolchain-powerpc64le.cmake
Due: none

Only define CPU variants that require deflate_state when deflate.h has previously been included. This allows us to include cpu_features.h without including zlib.h or name mangling.
  cpu_features.h
  test/benchmarks/benchmark_slidehash.cc
Due: tests

Remove duplicate header includes.
  arch/x86/crc32_fold_pclmulqdq.c
  crc32.c
  crc32_comb.c
  deflate_medium.c
  test/benchmarks/benchmark_adler32.cc
  test/benchmarks/benchmark_compare256.cc
  test/benchmarks/benchmark_crc32.cc
  test/benchmarks/benchmark_main.cc
  test/benchmarks/benchmark_slidehash.cc
  test/fuzz/fuzzer_example_flush.c
Due: zlib-ng, tests

Fixed short name for CPU features header guard.
  cpu_features.h
Due: none

Install codecov tools only after successful build and test.
  .github/workflows/cmake.yml
Due: none

Rename CPU feature header and source files for consistency.
  CMakeLists.txt
  arch/arm/Makefile.in
  arch/arm/arm_features.c
  arch/arm/arm_features.h
  arch/power/Makefile.in
  arch/power/power_features.c
  arch/power/power_features.h
  arch/s390/Makefile.in
  arch/s390/s390_features.c
  arch/s390/s390_features.h
  arch/x86/Makefile.in
  arch/x86/crc32_fold_pclmulqdq.c
  arch/x86/x86_features.c
  arch/x86/x86_features.h
  configure
  cpu_features.h
  fallback_builtins.h
  win32/Makefile.a64
  win32/Makefile.arm
  win32/Makefile.msc
Due: zlib-ng
