Repository zlib-ng/zlib-ng: changes, and which Codecov flags are due for each by the changed paths.
All: zlib-ng, tests

Move crc32 C fallbacks to arch/generic
  CMakeLists.txt
  Makefile.in
  arch/generic/Makefile.in
  arch/generic/crc32_braid_c.c
  arch/generic/crc32_fold_c.c
  arch/generic/crc32_fold_c.h
  arch/x86/crc32_pclmulqdq_tpl.h
  cpu_features.h
  crc32.h
  crc32_braid.c
  crc32_braid_comb.c
  crc32_braid_p.h
  deflate.h
  functable.h
  inflate.h
  win32/Makefile.a64
  win32/Makefile.arm
  win32/Makefile.msc
Due: zlib-ng

Simplify includes
  CMakeLists.txt
  arch/arm/adler32_neon.c
  arch/arm/arm_features.c
  arch/arm/chunkset_neon.c
  arch/arm/compare256_neon.c
  arch/arm/crc32_acle.c
  arch/arm/insert_string_acle.c
  arch/arm/slide_hash_armv6.c
  arch/arm/slide_hash_neon.c
  arch/power/chunkset_power8.c
  arch/power/compare256_power9.c
  arch/power/power_features.c
  arch/riscv/adler32_rvv.c
  arch/riscv/compare256_rvv.c
  arch/riscv/riscv_features.c
  arch/riscv/slide_hash_rvv.c
  arch/s390/crc32-vx.c
  arch/s390/dfltcc_detail.h
  arch/s390/s390_features.c
  arch/x86/adler32_avx2.c
  arch/x86/adler32_avx512.c
  arch/x86/adler32_avx512_vnni.c
  arch/x86/adler32_sse42.c
  arch/x86/adler32_ssse3.c
  arch/x86/compare256_avx2.c
  arch/x86/compare256_sse2.c
  arch/x86/crc32_pclmulqdq_tpl.h
  arch/x86/insert_string_sse42.c
  arch/x86/slide_hash_avx2.c
  arch/x86/slide_hash_sse2.c
  arch/x86/x86_features.c
  configure
  win32/Makefile.a64
  win32/Makefile.arm
  win32/Makefile.msc
Due: zlib-ng

Move adler32 C fallbacks to arch/generic
  CMakeLists.txt
  Makefile.in
  adler32.c
  arch/generic/Makefile.in
  arch/generic/adler32_c.c
  arch/generic/adler32_fold_c.c
  arch/generic/adler32_fold_c.h
  arch/x86/adler32_avx2.c
  arch/x86/adler32_avx512.c
  arch/x86/adler32_avx512_vnni.c
  arch/x86/adler32_sse42.c
  configure
  cpu_features.h
  deflate.h
  functable.h
  inflate.h
  win32/Makefile.a64
  win32/Makefile.arm
  win32/Makefile.msc
Due: zlib-ng

Move compare256 and longest_match C fallbacks to arch/generic
  CMakeLists.txt
  Makefile.in
  arch/generic/Makefile.in
  arch/generic/compare256_c.c
  win32/Makefile.a64
  win32/Makefile.arm
  win32/Makefile.msc
Due: zlib-ng

Move chunkset and inffast C fallbacks to arch/generic
  CMakeLists.txt
  Makefile.in
  arch/generic/Makefile.in
  arch/generic/chunkset_c.c
  win32/Makefile.a64
  win32/Makefile.arm
  win32/Makefile.msc
Due: zlib-ng

Move insert_string and update_hash C fallbacks to arch/generic. Also add missing insert_string dependencies to windows makefiles.
  CMakeLists.txt
  Makefile.in
  arch/generic/Makefile.in
  arch/generic/insert_string_c.c
  win32/Makefile.a64
  win32/Makefile.arm
  win32/Makefile.msc
Due: zlib-ng

Move slide_hash C fallback to arch/generic
  CMakeLists.txt
  Makefile.in
  arch/generic/Makefile.in
  arch/generic/slide_hash_c.c
  win32/Makefile.a64
  win32/Makefile.arm
  win32/Makefile.msc
Due: zlib-ng

Move include files out of match_tpl.h, to simplify dependency handling and avoid attempting to parse the includes more times than needed.
  arch/arm/compare256_neon.c
  arch/power/compare256_power9.c
  arch/riscv/compare256_rvv.c
  arch/x86/compare256_avx2.c
  arch/x86/compare256_sse2.c
  compare256.c
  match_tpl.h
Due: zlib-ng

Remove always true arch conditions.
  arch/x86/adler32_avx2.c
  arch/x86/adler32_avx512.c
  arch/x86/adler32_avx512_vnni.c
  arch/x86/chunkset_ssse3.c
  chunkset_tpl.h
  functable.c
Due: zlib-ng

Fix x86 WITH_* options dependencies.
  CMakeLists.txt
Due: none

Reorder in which intrinsics support is checked.
  CMakeLists.txt
  configure
Due: none

Remove unused macro X86_MASK_INTRIN.
  CMakeLists.txt
  cmake/detect-intrinsics.cmake
  configure
Due: none

Improve x86 intrinsics dependencies.
  CMakeLists.txt
  arch/x86/Makefile.in
  arch/x86/crc32_vpclmulqdq.c
  cmake/detect-intrinsics.cmake
  cpu_features.h
  functable.c
  test/test_crc32.cc
Due: zlib-ng, tests

Generate CMake package configuration files * For COMPAT mode, zlib-config.cmake and zlib-config-version.cmake * For non-COMPAT mode, zlib-ng-config.cmake and zlib-ng-config-version.cmake
  CMakeLists.txt
  zlib-config.cmake.in
  zlib-ng-config.cmake.in
Due: none

Split cpu_features.h by architecture.
  CMakeLists.txt
  arch/arm/arm_features.h
  arch/generic/generic_features.h
  arch/power/power_features.h
  arch/riscv/riscv_features.h
  arch/s390/s390_features.h
  arch/x86/x86_features.h
  cpu_features.h
  fallback_builtins.h
Due: zlib-ng

Remove extern keyword from cpu_feature function declarations.
  arch/arm/arm_features.h
  arch/generic/generic_features.h
  arch/power/power_features.h
  arch/riscv/riscv_features.h
  arch/s390/s390_features.h
  arch/x86/x86_features.h
  cpu_features.h
Due: zlib-ng

Remove type declarations for z_stream/zng_stream from cpu_features.
  arch/arm/arm_features.h
  arch/generic/generic_features.h
  arch/power/power_features.h
  arch/riscv/riscv_features.h
  arch/x86/x86_features.h
  cpu_features.h
  functable.c
  functable.h
Due: zlib-ng

Add VPCLMULQDQ crc32 tests to Google benchmarks
  test/benchmarks/benchmark_crc32.cc
Due: tests

Simplify architecture #ifdef in test_crc32.cc.
  test/test_crc32.cc
Due: tests

Set registers to zero to prevent GCC __get_cpuid bug.
  arch/x86/x86_features.c
Due: zlib-ng

Removing some outdated comments
  inflate.c
Due: zlib-ng

Add more fine-grained small-length benchmarking of adler32 and crc32.
  test/benchmarks/benchmark_adler32.cc
  test/benchmarks/benchmark_crc32.cc
Due: tests

Speed up crc32_[v]pclmulqdq on small strings.
  arch/generic/crc32_braid_c.c
  arch/x86/crc32_pclmulqdq_tpl.h
  crc32_braid_p.h
Due: zlib-ng

Add support for handling alignment correction for input buffers down to 16 bytes in crc32_fold_[v]pclmulqdq
  arch/x86/crc32_fold_pclmulqdq_tpl.h
  arch/x86/crc32_pclmulqdq_tpl.h
Due: zlib-ng

Path conditions:
  zlib-ng: any of: arch/, adler32.c, adler32_p.h, chunkset.c, chunkset_tpl.h, compare258.c, compress.c, crc32.c, crc32_comb.c, crc32_comb_tbl.h, crc32_p.h, crc32_tbl.h, deflate.c, deflate_fast.c, deflate.h, deflate_medium.c, deflate_p.h, deflate_quick.c, deflate_slow.c, fallback_builtins.h, functable.c, functable.h, gzguts.h, gzlib.c, gzread.c, gzwrite.c, infback.c, inffast.c, inffast.h, inffixed_tbl.h, inflate.c, inflate.h, inflate_p.h, inftrees.c, inftrees.h, insert_string.c, insert_string_tpl.h, match_tpl.h, trees.c, trees_emit.h, trees.h, trees_tbl.h, uncompr.c, zbuild.h, zconf.h, zconf-ng.h, zendian.h, zlib.h, zlib-ng.h, zutil.c, zutil.h, zutil_p.h, but not: usr/include/.*, /usr/include/.*, /build/usr/include/.*, usr/lib/.*, /usr/lib/.*, /build/usr/lib/.*, usr/lib64/.*, /usr/lib64/.*, /build/usr/lib64/.*
  tests: any of: test/, tools/, but not: usr/include/.*, /usr/include/.*, /build/usr/include/.*, usr/lib/.*, /usr/lib/.*, /build/usr/lib/.*, usr/lib64/.*, /usr/lib64/.*, /build/usr/lib64/.*
