Repository zlib-ng/zlib-ng: changes, and which Codecov flags are due for each by the changed paths.
All: zlib-ng, tests

codecov.yml:

codecov:
  max_report_age: 72h
  
coverage:
  status:
    project:
      default:
        threshold: 0.07%
      zlib-ng:
        target: 80%
        flags:
          - zlib-ng
      tests:
        target: 50%
        flags:
          - tests
        
comment:
    require_head: no     # default yes
    require_base: no     # default yes

flags:
  zlib-ng:
    paths:
      - arch/
      - adler32.c
      - adler32_p.h
      - chunkset.c
      - chunkset_tpl.h
      - compare258.c
      - compress.c
      - crc32.c
      - crc32_comb.c
      - crc32_comb_tbl.h
      - crc32_p.h
      - crc32_tbl.h
      - deflate.c
      - deflate_fast.c
      - deflate.h
      - deflate_medium.c
      - deflate_p.h
      - deflate_quick.c
      - deflate_slow.c
      - fallback_builtins.h
      - functable.c
      - functable.h
      - gzguts.h
      - gzlib.c
      - gzread.c
      - gzwrite.c
      - infback.c
      - inffast.c
      - inffast.h
      - inffixed_tbl.h
      - inflate.c
      - inflate.h
      - inflate_p.h
      - inftrees.c
      - inftrees.h
      - insert_string.c
      - insert_string_tpl.h
      - match_tpl.h
      - trees.c
      - trees_emit.h
      - trees.h
      - trees_tbl.h
      - uncompr.c
      - zbuild.h
      - zconf.h
      - zconf-ng.h
      - zendian.h
      - zlib.h
      - zlib-ng.h
      - zutil.c
      - zutil.h
      - zutil_p.h
  tests:
    paths:
      - test/
      - tools/
  
fixes:
  - "/home/runner/work/zlib-ng/zlib-ng/::"
  - "/home/runner/work/zlib-ng/build/::"
  - "/build/home/runner/work/zlib-ng/zlib-ng/::"
  - "/build/home/runner/work/zlib-ng/build/::"

ignore:
  - "usr/include/.*"
  - "/usr/include/.*"
  - "/build/usr/include/.*"
  - "usr/lib/.*"
  - "/usr/lib/.*"
  - "/build/usr/lib/.*"
  - "usr/lib64/.*"
  - "/usr/lib64/.*"
  - "/build/usr/lib64/.*"

Remove errant space in cmake posix specifier
  CMakeLists.txt
Due: none

Use short decompress option name for gzip compatibility. #1347
  test/cmake/compress-and-verify.cmake
Due: tests

Fix memcpy() overflow in adler32_fold.c and crc32_fold.c * On 32-bit platforms, last parameter of memcpy() is limited to SSIZE_MAX, but is likely to overlap if used
  adler32_fold.c
  crc32_fold.c
  zbuild.h
Due: zlib-ng

Check that the OS supports saving the YMM registers before enabling AVX2
  arch/x86/x86_features.c
  arch/x86/x86_features.h
Due: zlib-ng

Use static inline in x86_features.c
  arch/x86/x86_features.c
Due: zlib-ng

Move the NEON compatibility defines into a separate file
  arch/arm/adler32_neon.c
  arch/arm/chunkset_neon.c
  arch/arm/compare256_neon.c
  arch/arm/neon_intrins.h
  arch/arm/slide_hash_neon.c
  fallback_builtins.h
Due: zlib-ng

Fix compiler warnings when ARM_NEON_HASLD4 is undefined
  arch/arm/neon_intrins.h
Due: zlib-ng

Simplify feature checks in neon_intrins.h
  arch/arm/neon_intrins.h
Due: zlib-ng

Detect the availability of _Thread_local using a configure check
  CMakeLists.txt
  configure
  zbuild.h
Due: zlib-ng

Fix AVX2 detect
  cmake/detect-intrinsics.cmake
Due: none

Fix missing intrinsics (MSVS 2015, 2017)
  arch/x86/adler32_ssse3_p.h
  fallback_builtins.h
Due: zlib-ng

Fix crc32_fold_pclmulqdq.c(241): error C2719: 'fold3': formal parameter with requested alignment of 16 won't be aligned (MSVC 2015 Win32).
  arch/x86/crc32_fold_pclmulqdq.c
  arch/x86/crc32_fold_pclmulqdq_tpl.h
Due: zlib-ng

Improve Microsoft Visual Studio CI
  .github/workflows/cmake.yml
Due: none

Introduce ZLIBNG_ENABLE_TESTS
  CMakeLists.txt
  README.md
  test/CMakeLists.txt
  test/example.c
  test/test_deflate_prime.cc
  test/test_shared.h
  test/test_shared_ng.h
Due: tests

Fix typo in README.md
  README.md
Due: none

Support using aligned_alloc() for memory allocation
  CMakeLists.txt
  configure
  zbuild.h
  zutil_p.h
Due: zlib-ng

Enable and fix -Wimplicit-fallthrough warnings
  CMakeLists.txt
  configure
  infback.c
  inflate.c
  zbuild.h
Due: zlib-ng

[MinGW] Disable GCC warning about using MS format specifiers in ISO C conformant code
  CMakeLists.txt
  configure
Due: none

Add static for C99 semantics
  arch/power/adler32_power8.c
Due: zlib-ng

Fix deflate() with Z_BEST_COMPRESSION ignoring the dictionary
  deflate.c
Due: zlib-ng

Makefile.in: distclean should remove zlib.pc instead of clean
  Makefile.in
Due: none

Add CodeQL workflow for GitHub code scanning
  .github/workflows/codeql.yml
Due: none

Add support for compiling to WebAssembly using Emscripten.
  cmake/detect-arch.c
  cmake/detect-arch.cmake
Due: none

Don't run deflate concurrency Google Test for Emscripten/WASM32.
  test/CMakeLists.txt
Due: tests

Remove unused qemu-run variable from configure workflow matrix.
  .github/workflows/configure.yml
Due: none

Turn off tests for Emscripten that use large amounts of data.
  configure
  test/CMakeLists.txt
  test/Makefile.in
Due: tests

All overriding the emulator used by configure script with EMU_RUN.
  .github/workflows/configure.yml
  configure
  test/Makefile.in
Due: tests
