Repository zlib-ng/zlib-ng: changes, and which Codecov flags are due for each by the changed paths.
All: zlib-ng, tests

codecov.yml:

codecov:
  max_report_age: 72h
  
coverage:
  status:
    project:
      default:
        threshold: 0.07%
      zlib-ng:
        target: 80%
        flags:
          - zlib-ng
      tests:
        target: 50%
        flags:
          - tests
        
comment:
    require_head: no     # default yes
    require_base: no     # default yes

flags:
  zlib-ng:
    paths:
      - arch/
      - adler32.c
      - adler32_p.h
      - chunkset.c
      - chunkset_tpl.h
      - compare258.c
      - compress.c
      - crc32.c
      - crc32_comb.c
      - crc32_comb_tbl.h
      - crc32_p.h
      - crc32_tbl.h
      - deflate.c
      - deflate_fast.c
      - deflate.h
      - deflate_medium.c
      - deflate_p.h
      - deflate_quick.c
      - deflate_slow.c
      - fallback_builtins.h
      - functable.c
      - functable.h
      - gzguts.h
      - gzlib.c
      - gzread.c
      - gzwrite.c
      - infback.c
      - inffast.c
      - inffast.h
      - inffixed_tbl.h
      - inflate.c
      - inflate.h
      - inflate_p.h
      - inftrees.c
      - inftrees.h
      - insert_string.c
      - insert_string_tpl.h
      - match_tpl.h
      - trees.c
      - trees_emit.h
      - trees.h
      - trees_tbl.h
      - uncompr.c
      - zbuild.h
      - zconf.h
      - zconf-ng.h
      - zendian.h
      - zlib.h
      - zlib-ng.h
      - zutil.c
      - zutil.h
      - zutil_p.h
  tests:
    paths:
      - test/
      - tools/
  
fixes:
  - "/home/runner/work/zlib-ng/zlib-ng/::"
  - "/home/runner/work/zlib-ng/build/::"
  - "/build/home/runner/work/zlib-ng/zlib-ng/::"
  - "/build/home/runner/work/zlib-ng/build/::"

ignore:
  - "usr/include/.*"
  - "/usr/include/.*"
  - "/build/usr/include/.*"
  - "usr/lib/.*"
  - "/usr/lib/.*"
  - "/build/usr/lib/.*"
  - "usr/lib64/.*"
  - "/usr/lib64/.*"
  - "/build/usr/lib64/.*"

Add compressBound_z and deflateBound_z functions for large values.
  compress.c
  deflate.c
  win32/zlib.def.in
  win32/zlibcompat.def.in
  zlib.h.in
  zlib.map.in
  zlib_name_mangling.h.in
Due: zlib-ng

Check for negative lengths in crc32_combine functions.
  crc32_braid_comb.c
Due: none

Clean up debug sign conversions in deflate check_match calls.
  deflate_fast.c
  deflate_medium.c
  deflate_quick.c
  deflate_rle.c
  deflate_slow.c
Due: zlib-ng

Clean up the use of switch cases.
  infback.c
  inflate.c
  inftrees.c
Due: zlib-ng

Check for invalid NULL pointer inputs to zlib operations.
  compress.c
  gzlib.c
  uncompr.c
Due: zlib-ng

[CI] Use gcov from MinGW32 when generating coverage for 32-bit builds.
  .github/workflows/cmake.yml
Due: none

When using ALIGN_DOWN() macro, the signedness of types must match to avoid UBSAN triggering warning about implicit sign change during widening.
  adler32_p.h
  arch/generic/adler32_c.c
Due: zlib-ng

[CI] Use older runner for Visual Studio 2022 jobs.
  .github/workflows/cmake.yml
Due: none

[CI] Force refreshing homebrew for macOS.
  .github/workflows/cmake.yml
Due: none

Add /delta workflow for loongarch64
  .github/workflows/delta.yml
Due: none

Add zlib-ng-compat.h
  zlib-ng-compat.h
Due: none

Test building with ClangCl for Windows ARM64
  .github/workflows/cmake.yml
  arch/arm/acle_intrins.h
  arch/arm/crc32_armv8_pmull_eor3.c
  arch/arm/neon_intrins.h
  cmake/detect-intrinsics.cmake
Due: zlib-ng

[CI] Cache Ubuntu .deb packages to speed up installing dependencies. * Purge old packages and unneeded dependencies before copying remaining packages to cached directory
  .github/workflows/cmake.yml
  .github/workflows/configure.yml
Due: none

Move shared code to composite actions.
  .github/actions/restore-apt-cache/action.yml
  .github/actions/update-apt-cache/action.yml
  .github/workflows/cmake.yml
  .github/workflows/configure.yml
Due: none

Hoist rolling hash state to a local in INSERT_STRING
  insert_string_p.h
  insert_string_tpl.h
Due: zlib-ng

Add chunkmemset benchmark
  test/benchmarks/CMakeLists.txt
  test/benchmarks/benchmark_chunkmemset.cc
Due: tests

Route CHUNKMEMSET to CHUNKCOPY when dist >= len
  chunkset_tpl.h
Due: zlib-ng

Wrap AVX-512 mask intrinsics and use them in CHUNKMEMSET
  arch/x86/chunkset_avx512.c
  chunkset_tpl.h
Due: zlib-ng

Inline CHUNKMEMSET tail with bit-decomposed stores
  chunkset_tpl.h
Due: zlib-ng

Use broadcast chunk store instead of memset for dist=1 on NEON/AVX2/AVX-512
  arch/arm/chunkset_neon.c
  arch/x86/chunkset_avx2.c
  arch/x86/chunkset_avx512.c
  chunkset_tpl.h
Due: zlib-ng

Skip CHUNKMEMSET loops when length fits in one chunk
  chunkset_tpl.h
Due: zlib-ng

Use local block_start and window variables in FLUSH_BLOCK. Also ensure all deflate methods use local window variable. deflate_medium now passes local window to its static functions.
  deflate_fast.c
  deflate_huff.c
  deflate_medium.c
  deflate_p.h
  deflate_rle.c
  deflate_slow.c
  deflate_stored.c
Due: zlib-ng

Pass local window variable to quit_insert_string and insert_string functions.
  deflate.c
  deflate.h
  deflate_fast.c
  deflate_medium.c
  deflate_slow.c
  insert_string.c
  insert_string_tpl.h
  test/benchmarks/benchmark_insert_string.cc
Due: zlib-ng, tests

Use Intel(R) Software Development Emulator for run tests on emulated Sapphire Rapids CPU
  .github/workflows/cmake.yml
Due: none

[CI] Add Cygwin with gcc.
  .github/workflows/cmake.yml
Due: none

[CI] Cleanup action caches.
  .github/workflows/cache.yml
Due: none

[CI] Extend caching apt packages to pigz workflow.
  .github/workflows/pigz.yml
Due: none

Move LFS64 detection from build system to C preprocessor
  CMakeLists.txt
  configure
  zbuild.h
Due: zlib-ng

Include zbuild.h first in tools and tests
  test/fuzz/fuzzer_checksum.c
  test/fuzz/fuzzer_compress.c
  test/fuzz/fuzzer_example_dict.c
  test/fuzz/fuzzer_example_flush.c
  test/fuzz/fuzzer_example_large.c
  test/fuzz/fuzzer_example_small.c
  test/fuzz/standalone_fuzz_target_runner.c
  test/gh1235.c
  test/infcover.c
  test/test_cve-2003-0107.cc
  tools/makecrct.c
  tools/makefixed.c
  tools/maketrees.c
Due: tests

Remove dead unlink forward declaration in minigzip tests
  test/fuzz/fuzzer_minigzip.c
  test/minigzip.c
Due: tests

Remove dead NO_FSEEKO detection
  CMakeLists.txt
  configure
Due: none

Drop dead glibc feature-macro juggling from gzguts.h
  gzguts.h
Due: zlib-ng

Remove obsolete padding in deflate and inflate state. Reorder some elements to better pack and improve cache-locality in deflate state.
  deflate.h
  inflate.h
Due: zlib-ng

Show stripped library file size in delta workflow.
  .github/workflows/delta.yml
Due: none

Rename single-letter size-table awk variables.
  .github/workflows/delta.yml
Due: none

If runtime CPU detection is disabled then define native_* macros to generic fallbacks only if native_* macros is not previous defined.
  arch/generic/generic_functions.h
Due: zlib-ng

build: add missing versioned symbols
  zlib.map.in
Due: none

Show --benchmark_cooldown in benchmark_zlib --help output
  test/benchmarks/benchmark_main.cc
Due: tests

Use vaddvq_u32 for adler32 NEON horizontal reduction
  arch/arm/adler32_neon.c
  arch/arm/neon_intrins.h
Due: zlib-ng

Split out writing deflate headers into a separate function, keeping the deflate hot-path clean. This only benefits cases where you call deflate() multiple times to provide more data.
  deflate.c
Due: zlib-ng
