Repository zlib-ng/zlib-ng: changes, and which Codecov flags are due for each by the changed paths.
All: zlib-ng, tests

codecov.yml:

codecov:
  max_report_age: 72h
  
coverage:
  status:
    project:
      default:
        threshold: 0.07%
      zlib-ng:
        target: 80%
        flags:
          - zlib-ng
      tests:
        target: 50%
        flags:
          - tests
        
comment:
    require_head: no     # default yes
    require_base: no     # default yes

flags:
  zlib-ng:
    paths:
      - arch/
      - adler32.c
      - adler32_p.h
      - chunkset.c
      - chunkset_tpl.h
      - compare258.c
      - compress.c
      - crc32.c
      - crc32_comb.c
      - crc32_comb_tbl.h
      - crc32_p.h
      - crc32_tbl.h
      - deflate.c
      - deflate_fast.c
      - deflate.h
      - deflate_medium.c
      - deflate_p.h
      - deflate_quick.c
      - deflate_slow.c
      - fallback_builtins.h
      - functable.c
      - functable.h
      - gzguts.h
      - gzlib.c
      - gzread.c
      - gzwrite.c
      - infback.c
      - inffast.c
      - inffast.h
      - inffixed_tbl.h
      - inflate.c
      - inflate.h
      - inflate_p.h
      - inftrees.c
      - inftrees.h
      - insert_string.c
      - insert_string_tpl.h
      - match_tpl.h
      - trees.c
      - trees_emit.h
      - trees.h
      - trees_tbl.h
      - uncompr.c
      - zbuild.h
      - zconf.h
      - zconf-ng.h
      - zendian.h
      - zlib.h
      - zlib-ng.h
      - zutil.c
      - zutil.h
      - zutil_p.h
  tests:
    paths:
      - test/
      - tools/
  
fixes:
  - "/home/runner/work/zlib-ng/zlib-ng/::"
  - "/home/runner/work/zlib-ng/build/::"
  - "/build/home/runner/work/zlib-ng/zlib-ng/::"
  - "/build/home/runner/work/zlib-ng/build/::"

ignore:
  - "usr/include/.*"
  - "/usr/include/.*"
  - "/build/usr/include/.*"
  - "usr/lib/.*"
  - "/usr/lib/.*"
  - "/build/usr/lib/.*"
  - "usr/lib64/.*"
  - "/usr/lib64/.*"
  - "/build/usr/lib64/.*"

Check CPU info for fast PMULL support.
  arch/arm/arm_features.c
  arch/arm/arm_features.h
  functable.c
Due: zlib-ng

Consume bits before branches in inflate_fast.
  inffast_tpl.h
Due: none

Improves compile-time and Windows checks for arm
  arch/arm/arm_features.c
Due: zlib-ng

Use bitrev instruction on LoongArch.
  fallback_builtins.h
Due: zlib-ng

Add support for trimming unused code based on compiler optimization for x86
  arch/x86/x86_features.h
  functable.c
Due: zlib-ng

Fix warning sprintf is deprecated and partail inbuf initialization
  test/benchmarks/benchmark_compress.cc
Due: tests

Unroll some of the adler checksum for LASX
  arch/loongarch/adler32_lasx.c
  arch/loongarch/lasxintrin_ext.h
Due: zlib-ng

Add elf_aux_info() support on FreeBSD/OpenBSD for PMULL and EOR3
  arch/arm/arm_features.c
Due: zlib-ng

Simplify alignment checks in crc32_armv8_pmull_eor3
  arch/arm/crc32_armv8_pmull_eor3.c
Due: zlib-ng

Simplify alignment checks in crc32_armv8
  arch/arm/crc32_armv8.c
Due: zlib-ng

Remove unnecessary buf variables in crc32_loongarch64.
  arch/loongarch/crc32_la.c
Due: zlib-ng

Add ALIGN_DIFF to perform alignment needed to next boundary
  arch/generic/crc32_braid_c.c
  arch/generic/crc32_chorba_c.c
  arch/power/adler32_vmx.c
  arch/power/crc32_power8.c
  arch/s390/crc32-vx.c
  arch/x86/chorba_sse2.c
  arch/x86/chorba_sse41.c
  arch/x86/crc32_pclmulqdq_tpl.h
  zbuild.h
  zutil.c
Due: zlib-ng

Remove unnecessary buf variables in crc32_armv8.
  arch/arm/crc32_armv8.c
Due: zlib-ng

Simplify alignment checks in crc32_loongarch64
  arch/loongarch/crc32_la.c
Due: zlib-ng

Simplify crc32 pre/post conditioning for consistency
  arch/generic/crc32_braid_c.c
  arch/generic/crc32_chorba_c.c
  arch/s390/crc32-vx.c
  arch/x86/chorba_sse2.c
  arch/x86/chorba_sse41.c
  arch/x86/crc32_pclmulqdq_tpl.h
Due: zlib-ng

[CI] Add workflow with no AVX512VNNI * This adds coverage with optimizations that have versions for both AVX512 and AVX512VNNI
  .github/workflows/cmake.yml
Due: none

Rebalance benchmark_compress size ranges
  test/benchmarks/benchmark_compress.cc
Due: tests

Add new benchmark inflate_nocrc. This lets us benchmark just the inflate process more accurately. Also adds a new shared function for generating highly compressible data that avoids very long matches.
  test/benchmarks/CMakeLists.txt
  test/benchmarks/benchmark_inflate.cc
  test/benchmarks/compressible_data_p.h
Due: tests

Fix warning: 'sprintf' is deprecated
  test/benchmarks/compressible_data_p.h
Due: tests

Use Z_FORCEINLINE for all adler32 or crc32 implementation functions
  arch/arm/adler32_neon.c
  arch/loongarch/adler32_lasx.c
  arch/loongarch/adler32_lsx.c
  arch/power/adler32_power8.c
  arch/power/adler32_vmx.c
  arch/riscv/adler32_rvv.c
  arch/riscv/crc32_zbc.c
  arch/x86/adler32_avx2.c
  arch/x86/adler32_avx512.c
  arch/x86/adler32_ssse3.c
  arch/x86/chorba_sse41.c
Due: zlib-ng

Fix possible loss of data warning in benchmark_inflate on MSVC 2026
  test/benchmarks/benchmark_inflate.cc
Due: tests

Resolve merge conflicts in coverage data, instead of aborting.
  .github/workflows/cmake.yml
  .github/workflows/pigz.yml
Due: none

Disable downloading extra test corpora for WITH_SANITIZER builds, those tests are much too slow, upwards of 1 hour or more.
  .github/workflows/cmake.yml
Due: none

Cancel duplicate workflows
  .github/workflows/analyze.yml
  .github/workflows/cmake.yml
  .github/workflows/codeql.yml
  .github/workflows/configure.yml
  .github/workflows/fuzz.yml
  .github/workflows/libpng.yml
  .github/workflows/link.yml
  .github/workflows/lint.yml
  .github/workflows/pigz.yml
  .github/workflows/pkgcheck.yml
Due: none
