Repository zlib-ng/zlib-ng: changes, and which Codecov flags are due for each by the changed paths.
All: zlib-ng, tests

Do mod BASE once each block of NMAX size
  arch/riscv/adler32_rvv.c
Due: zlib-ng

Initial loongarch port
  cmake/detect-arch.c
  cmake/detect-arch.cmake
Due: none

Handle ARM64EC as ARM64.
  arch/arm/arm_features.c
  arch/arm/chunkset_neon.c
  arch/arm/crc32_acle.c
  arch/arm/neon_intrins.h
  cmake/detect-arch.c
  cmake/detect-arch.cmake
  cmake/detect-intrinsics.cmake
  configure
  fallback_builtins.h
  zbuild.h
  zendian.h
Due: zlib-ng

Fix distclean target in Makefile.in
  Makefile.in
Due: none

Define an empty __msan_unpoison() without Z_MEMORY_SANITIZER
  arch/arm/chunkset_neon.c
  arch/s390/dfltcc_detail.h
  arch/x86/chunkset_avx2.c
  arch/x86/chunkset_ssse3.c
  zbuild.h
Due: zlib-ng

Optimize adler32 using rvv
  CMakeLists.txt
  arch/riscv/adler32_rvv.c
  cpu_features.h
  functable.c
  test/benchmarks/benchmark_adler32.cc
  test/benchmarks/benchmark_adler32_copy.cc
  test/test_adler32.cc
Due: zlib-ng, tests

Move the AVX compatibility functions into a separate file
  arch/x86/adler32_avx2_tpl.h
  arch/x86/adler32_avx512_tpl.h
  arch/x86/adler32_avx512_vnni.c
  arch/x86/crc32_pclmulqdq_tpl.h
  arch/x86/x86_intrins.h
  fallback_builtins.h
Due: zlib-ng

Move check_c_source_compile_or_run cmake macro to the only place it is used.
  CMakeLists.txt
  cmake/detect-intrinsics.cmake
Due: none

Make configure specifically activate instruction sets even in march=native mode, this makes it behave more like CMake.
  configure
Due: none

Simplify handling of march=native in CMakeLits.txt
  CMakeLists.txt
Due: none

Use _mm_crc32_u32 instead of __builtin_ia32_crc32si.
  arch/x86/insert_string_sse42.c
Due: zlib-ng

Clean up SSE4.2 support, and no longer use asm fallback or gcc builtin.
  CMakeLists.txt
  arch/x86/insert_string_sse42.c
  cmake/detect-intrinsics.cmake
  configure
  win32/Makefile.msc
Due: zlib-ng

Configure: Make it possible to disable deflate_quick and deflate_medium also on non-x86 architectures.
  configure
Due: none

Relative paths CMAKE_INSTALL_*, absolute paths CMAKE_INSTALL_FULL_*; use @rpath/libname as install name on macOS
  CMakeLists.txt
  configure
  test/pkgcheck.sh
Due: tests

Remove relative configure --lib
  test/pkgcheck.sh
Due: tests

relocatable pc files by default, while allowing discouraged absolute paths for CMAKE_INSTALL_[LIB|INCLUDE]DIR
  CMakeLists.txt
Due: none

Expand support for symbol versioning to also allow multiple functions with the same name to exist with bindings to different versions.
  CMakeLists.txt
  configure
  zbuild.h
Due: zlib-ng

Fix typo found by codespell
  arch/riscv/adler32_rvv.c
Due: zlib-ng

Simplify deflate stream/state check.
  deflate.c
  deflate.h
Due: zlib-ng

Fix typos found by codespell
  test/benchmarks/README.md
Due: tests

Avoid unnecessary line continuations
  test/minideflate.c
  test/minigzip.c
  test/switchlevels.c
Due: tests

Discard trailing whitespaces
  arch/riscv/adler32_rvv.c
  arch/riscv/compare256_rvv.c
  arch/riscv/riscv_features.h
  test/benchmarks/benchmark_png_shared.h
  test/example.c
Due: zlib-ng, tests

Discard repeated words
  arch/x86/adler32_ssse3.c
  inftrees.h
  insert_string_tpl.h
  test/fuzz/fuzzer_minigzip.c
  test/minigzip.c
  zlib.h.in
Due: zlib-ng, tests

Remove inert check for HAVE_ACLE_FLAG in check_acle_compiler_flag.
  cmake/detect-intrinsics.cmake
Due: none

Path conditions:
  zlib-ng: any of: arch/, adler32.c, adler32_p.h, chunkset.c, chunkset_tpl.h, compare258.c, compress.c, crc32.c, crc32_comb.c, crc32_comb_tbl.h, crc32_p.h, crc32_tbl.h, deflate.c, deflate_fast.c, deflate.h, deflate_medium.c, deflate_p.h, deflate_quick.c, deflate_slow.c, fallback_builtins.h, functable.c, functable.h, gzguts.h, gzlib.c, gzread.c, gzwrite.c, infback.c, inffast.c, inffast.h, inffixed_tbl.h, inflate.c, inflate.h, inflate_p.h, inftrees.c, inftrees.h, insert_string.c, insert_string_tpl.h, match_tpl.h, trees.c, trees_emit.h, trees.h, trees_tbl.h, uncompr.c, zbuild.h, zconf.h, zconf-ng.h, zendian.h, zlib.h, zlib-ng.h, zutil.c, zutil.h, zutil_p.h, but not: usr/include/.*, /usr/include/.*, /build/usr/include/.*, usr/lib/.*, /usr/lib/.*, /build/usr/lib/.*, usr/lib64/.*, /usr/lib64/.*, /build/usr/lib64/.*
  tests: any of: test/, tools/, but not: usr/include/.*, /usr/include/.*, /build/usr/include/.*, usr/lib/.*, /usr/lib/.*, /build/usr/lib/.*, usr/lib64/.*, /usr/lib64/.*, /build/usr/lib64/.*
