Repository zlib-ng/zlib-ng: changes, and which Codecov flags are due for each by the changed paths.
All: zlib-ng, tests

codecov.yml:

codecov:
  max_report_age: 72h
  
coverage:
  status:
    project:
      default:
        threshold: 0.07%
      zlib-ng:
        target: 80%
        flags:
          - zlib-ng
      tests:
        target: 50%
        flags:
          - tests
        
comment:
    require_head: no     # default yes
    require_base: no     # default yes

flags:
  zlib-ng:
    paths:
      - arch/
      - adler32.c
      - adler32_p.h
      - chunkset.c
      - chunkset_tpl.h
      - compare258.c
      - compress.c
      - crc32.c
      - crc32_comb.c
      - crc32_comb_tbl.h
      - crc32_p.h
      - crc32_tbl.h
      - deflate.c
      - deflate_fast.c
      - deflate.h
      - deflate_medium.c
      - deflate_p.h
      - deflate_quick.c
      - deflate_slow.c
      - fallback_builtins.h
      - functable.c
      - functable.h
      - gzguts.h
      - gzlib.c
      - gzread.c
      - gzwrite.c
      - infback.c
      - inffast.c
      - inffast.h
      - inffixed_tbl.h
      - inflate.c
      - inflate.h
      - inflate_p.h
      - inftrees.c
      - inftrees.h
      - insert_string.c
      - insert_string_tpl.h
      - match_tpl.h
      - trees.c
      - trees_emit.h
      - trees.h
      - trees_tbl.h
      - uncompr.c
      - zbuild.h
      - zconf.h
      - zconf-ng.h
      - zendian.h
      - zlib.h
      - zlib-ng.h
      - zutil.c
      - zutil.h
      - zutil_p.h
  tests:
    paths:
      - test/
      - tools/
  
fixes:
  - "/home/runner/work/zlib-ng/zlib-ng/::"
  - "/home/runner/work/zlib-ng/build/::"
  - "/build/home/runner/work/zlib-ng/zlib-ng/::"
  - "/build/home/runner/work/zlib-ng/build/::"

ignore:
  - "usr/include/.*"
  - "/usr/include/.*"
  - "/build/usr/include/.*"
  - "usr/lib/.*"
  - "/usr/lib/.*"
  - "/build/usr/lib/.*"
  - "usr/lib64/.*"
  - "/usr/lib64/.*"
  - "/build/usr/lib64/.*"

Make integration into bigger projects easier
  CMakeLists.txt
Due: none

Add new crc32 unit test
  .gitignore
  CMakeLists.txt
  Makefile.in
  test/Makefile.in
  test/crc32_test.c
Due: tests

Standardize crc32_stub
  functable.c
Due: zlib-ng

IBM Z: Adjust compressBound() for DFLTCC
  arch/s390/dfltcc_common.h
  arch/s390/dfltcc_deflate.h
  compress.c
  zutil.h
Due: zlib-ng

Fixed missing enclosing parentheses for ZSWAP64 in zutil.h to avoid erroneous result in inffast.c.
  zutil.h
Due: zlib-ng

Added build system check for posix_memalign support.
  CMakeLists.txt
  configure
  zutil.c
  zutil_p.h
Due: zlib-ng

Fix deflateBound and compressBound returning very small size estimates. Remove workaround in switchlevels.c, so we do actual testing of this. Use named defines instead of magic numbers where we can.
  compress.c
  deflate.c
  test/switchlevels.c
  zutil.h
Due: zlib-ng, tests

Fixed minideflate write buffers being overwritten.
  test/minideflate.c
Due: tests

Added unit test to ensure that inflate with adler32 hash works on previously failed test case.
  CMakeLists.txt
  test/inflate_adler32.c
Due: tests

COMP: Fix data loss warning
  inflate.c
Due: zlib-ng

Link crc32_test and infcover with $(CFLAGS)
  Makefile.in
Due: none

Fixed crc32_combine_gen declaration warning in zlib-ng API.
  crc32_comb.c
Due: zlib-ng

Fix UB in inffast.c when not using window
  inffast.c
Due: zlib-ng

IBM Z: Do not check inflateGetDictionary() with DFLTCC
  test/example.c
Due: tests

Fix minor formatting issues
  .gitattributes
  README.md
Due: none

Fix hangs on macOS due to loading of misaligned addresses in chunkmemset_8.
  chunkset_tpl.h
Due: zlib-ng

Added code coverage for inflateGetDictionary in example.
  test/example.c
Due: tests

Added CI instances for CTZLL and CTZ builtin existence to improve code coverage.
  .github/workflows/cmake.yml
Due: none

Use helper function for printing error and exiting in example.
  test/example.c
Due: tests

Don't define HASH_SIZE if it is already defined.
  deflate.h
Due: zlib-ng

Avoid warning C4295 when using Visual C++ and maintainer warnings are enabled.
  test/deflate_quick_bi_valid.c
Due: tests

Fixed wrong alignment definition used when compiling with ClangCl.
  zutil.h
Due: zlib-ng

Fixed implicit declaration of _mm_extract_epi32 when compiling with ClangCl.
  arch/x86/crc32_fold_pclmulqdq.c
Due: zlib-ng

Fixed incorrect flag used for SSE 4.2 support with ClangCl.
  cmake/detect-intrinsics.cmake
Due: none

Move stdint.h below zconf include to prevent unexpected characters warning on ClangCl.
  zlib-ng.h.in
  zlib.h.in
Due: zlib-ng

Fixed duplicate symbol zng_inflate_table and zng_inflate_copyright when BUILD_SHARED_LIBS=OFF.
  CMakeLists.txt
Due: none

Don't build DLL sources if BUILD_SHARED_LIBS=OFF.
  CMakeLists.txt
Due: none

Fixed crc32 assembly not returning hash value to correct variable.
  arch/x86/insert_string_sse.c
  cmake/detect-intrinsics.cmake
Due: zlib-ng

Combine sse42flag and sse4flag instead of having separate sse42flag and unused sse4flag.
  configure
Due: none

Use -msse4.2 flag instead of -msse4 for consistency.
  arch/x86/Makefile.in
Due: zlib-ng

Fixed part of conditional expression is always true since size is always greater than 0.
  gzwrite.c
Due: zlib-ng

Fixed casing for variable names in example.
  test/example.c
Due: tests

Fixed whitespace formatting in example.
  test/example.c
Due: tests

Use standard fixed width type for compr and uncompr.
  test/example.c
Due: tests

Fixed missing z_const cast in test_deflate_set_header.
  test/example.c
Due: tests

Don't assign C versions of compare258 and longest_match if we don't use them.
  functable.c
Due: zlib-ng

Remove double check for SSE4 in configure.
  configure
Due: none

Fixed main function does not return value which may indicated unintended behavior.
  test/deflate_quick_bi_valid.c
  test/deflate_quick_block_open.c
Due: tests

Check for err == Z_OK is always true in minideflate loops.
  test/minideflate.c
Due: tests
