Repository zlib-ng/zlib-ng: changes, and which Codecov flags are due for each by the changed paths.
All: zlib-ng, tests

codecov.yml:

codecov:
  max_report_age: 72h
  
coverage:
  status:
    project:
      default:
        threshold: 0.07%
      zlib-ng:
        target: 80%
        flags:
          - zlib-ng
      tests:
        target: 50%
        flags:
          - tests
        
comment:
    require_head: no     # default yes
    require_base: no     # default yes

flags:
  zlib-ng:
    paths:
      - arch/
      - adler32.c
      - adler32_p.h
      - chunkset.c
      - chunkset_tpl.h
      - compare258.c
      - compress.c
      - crc32.c
      - crc32_comb.c
      - crc32_comb_tbl.h
      - crc32_p.h
      - crc32_tbl.h
      - deflate.c
      - deflate_fast.c
      - deflate.h
      - deflate_medium.c
      - deflate_p.h
      - deflate_quick.c
      - deflate_slow.c
      - fallback_builtins.h
      - functable.c
      - functable.h
      - gzguts.h
      - gzlib.c
      - gzread.c
      - gzwrite.c
      - infback.c
      - inffast.c
      - inffast.h
      - inffixed_tbl.h
      - inflate.c
      - inflate.h
      - inflate_p.h
      - inftrees.c
      - inftrees.h
      - insert_string.c
      - insert_string_tpl.h
      - match_tpl.h
      - trees.c
      - trees_emit.h
      - trees.h
      - trees_tbl.h
      - uncompr.c
      - zbuild.h
      - zconf.h
      - zconf-ng.h
      - zendian.h
      - zlib.h
      - zlib-ng.h
      - zutil.c
      - zutil.h
      - zutil_p.h
  tests:
    paths:
      - test/
      - tools/
  
fixes:
  - "/home/runner/work/zlib-ng/zlib-ng/::"
  - "/home/runner/work/zlib-ng/build/::"
  - "/build/home/runner/work/zlib-ng/zlib-ng/::"
  - "/build/home/runner/work/zlib-ng/build/::"

ignore:
  - "usr/include/.*"
  - "/usr/include/.*"
  - "/build/usr/include/.*"
  - "usr/lib/.*"
  - "/usr/lib/.*"
  - "/build/usr/lib/.*"
  - "usr/lib64/.*"
  - "/usr/lib64/.*"
  - "/build/usr/lib64/.*"

Fixed minideflate write buffers being overwritten.
  test/minideflate.c
Due: tests

Add back original version of inflate_fast for use with inflateBack.
  infback.c
  inffast.c
  inffast.h
  inflate_p.h
Due: zlib-ng

DFLTCC update for window optimization from Jim & Nathan
  arch/s390/README.md
  arch/s390/dfltcc_deflate.c
  arch/s390/dfltcc_detail.h
  arch/s390/dfltcc_inflate.c
  arch/s390/dfltcc_inflate.h
  deflate.c
  inflate.c
  inflate_p.h
Due: zlib-ng

Fixed inflateGetDictionary length check may include bytes added by last call to inflate.
  test/example.c
Due: tests

Reorganize inflate window layout
  infback.c
  inffast.c
  inffast.h
  inflate.c
  inflate.h
  inflate_p.h
  test/infcover.c
Due: zlib-ng, tests

Reuse adler32_len_64 in adler32_c.
  adler32.c
  adler32_p.h
Due: zlib-ng

Minor efficiency improvement
  arch/x86/adler32_avx.c
Due: zlib-ng

Use immediate variant of shift instruction
  arch/x86/adler32_avx.c
Due: zlib-ng

Have horizontal sum here, decent wins
  arch/x86/adler32_avx.c
Due: zlib-ng

Made this work on 32 bit compilations
  arch/x86/adler32_avx.c
Due: zlib-ng

Workaround for installation failure of wine32.
  .github/workflows/cmake.yml
Due: none

Don't overwrite adler32 hash with crc32 hash. #1066
  inflate.c
Due: zlib-ng

Added unit test to ensure that inflate with adler32 hash works on previously failed test case.
  CMakeLists.txt
  test/inflate_adler32.c
Due: tests

Added checks and comments to ensure that when using raw mode no checksumming takes place.
  inflate.c
  inflate_p.h
Due: zlib-ng

Add new crc32 unit test
  .gitignore
  CMakeLists.txt
  Makefile.in
  test/Makefile.in
  test/crc32_test.c
Due: tests

Added CI instances for CTZLL and CTZ builtin existence to improve code coverage.
  .github/workflows/cmake.yml
Due: none

Call deflateBound to calculate length with custom gzip header in example.
  test/example.c
Due: tests

Added code coverage for inflateGetDictionary in example.
  test/example.c
Due: tests

IBM Z: Fix building outside of a source directory
  arch/s390/dfltcc_common.c
  arch/s390/dfltcc_common.h
  arch/s390/dfltcc_deflate.c
  arch/s390/dfltcc_inflate.c
Due: zlib-ng

ENH: Transition to Ubuntu 18.04 in `GitHub` actions workflows
  .github/workflows/cmake.yml
  .github/workflows/configure.yml
Due: none

[arm] Disable ACLE, UNALIGNED_OK and UNALIGNED64_OK on armv7 and earlier. * armv7 has partial support for unaligned reads, but compiler might use instructions that do not support unaligned accesses
  CMakeLists.txt
Due: none

Fill out gzheader before calling deflateSetHeader for better code coverage in example.
  test/example.c
Due: tests

Added build system check for posix_memalign support.
  CMakeLists.txt
  configure
  zutil.c
  zutil_p.h
Due: zlib-ng

[MacOS] Downgrade to XCode 11.7.0 for pkgcheck.
  .github/workflows/pkgcheck.yml
Due: none

Include win directory in pigz even if not using threads.
  test/pigz/CMakeLists.txt
Due: tests

Make integration into bigger projects easier
  CMakeLists.txt
Due: none

Fixed trailing whitespaces and missing new lines.
  cmake/detect-arch.c
  cmake/run-and-compare.cmake
  cmake/test-compress.cmake
  cmake/test-tools.cmake
  deflate_fast.c
  inffast.c
Due: zlib-ng

Fix minor formatting issues
  .gitattributes
  README.md
Due: none

Use helper function for printing error and exiting in example.
  test/example.c
Due: tests
