Repository zlib-ng/zlib-ng: changes, and which Codecov flags are due for each by the changed paths.
All: zlib-ng, tests

Update zlib-ng ABI files.
  test/abi/zlib-ng-e4614ebcb9b3e5b108dc983c155e4baf80882311-aarch64-unknown-linux-gnu.abi
  test/abi/zlib-ng-e4614ebcb9b3e5b108dc983c155e4baf80882311-arm-unknown-linux-gnueabi.abi
  test/abi/zlib-ng-e4614ebcb9b3e5b108dc983c155e4baf80882311-arm-unknown-linux-gnueabihf.abi
  test/abi/zlib-ng-e4614ebcb9b3e5b108dc983c155e4baf80882311-powerpc-unknown-linux-gnu.abi
  test/abi/zlib-ng-e4614ebcb9b3e5b108dc983c155e4baf80882311-powerpc64-unknown-linux-gnu.abi
  test/abi/zlib-ng-e4614ebcb9b3e5b108dc983c155e4baf80882311-powerpc64le-unknown-linux-gnu.abi
  test/abi/zlib-ng-e4614ebcb9b3e5b108dc983c155e4baf80882311-x86_64-pc-linux-gnu-m32.abi
  test/abi/zlib-ng-e4614ebcb9b3e5b108dc983c155e4baf80882311-x86_64-pc-linux-gnu.abi
  test/abicheck.sh
Due: tests

[minigzip] Close gzFile before exiting on error.
  test/minigzip.c
Due: tests

Update abicheck
  test/abicheck.sh
Due: tests

Use _msan_unposion to unposion end of window for when it needs to read the past < chunksize bytes in the window. See #1245.
  inflate.c
  zbuild.h
Due: zlib-ng

Backport CMake toolchain files from current 'develop' branch.
  cmake/toolchain-aarch64.cmake
  cmake/toolchain-arm.cmake
  cmake/toolchain-armhf.cmake
  cmake/toolchain-mingw-i686.cmake
  cmake/toolchain-mingw-x86_64.cmake
  cmake/toolchain-powerpc.cmake
  cmake/toolchain-powerpc64.cmake
  cmake/toolchain-powerpc64le.cmake
  cmake/toolchain-s390x.cmake
Due: none

Adjust thread counts for compiles and tests to avoid under-utilization and congestion. The free Github Actions VMs have 2 cores, the dedicated s390x VM has 4 cores.
  .github/workflows/analyze.yml
  .github/workflows/cmake.yml
  .github/workflows/libpng.yml
  .github/workflows/pigz.yml
  .github/workflows/release.yml
  test/pkgcheck.sh
Due: tests

Remove redundant check in gz_look().
  gzread.c
Due: zlib-ng

IBM Z DFLTCC: Test with MSan
  arch/s390/dfltcc_detail.h
  arch/s390/self-hosted-builder/actions-runner.Dockerfile
Due: zlib-ng

Fix bug in deflateBound() for level 0 and memLevel 9.
  deflate.c
Due: zlib-ng

Fix crash when gzsetparams() attempted for transparent write.
  gzwrite.c
Due: zlib-ng

Have build test report library version if it doesn't match zlib.h.
  test/example.c
Due: tests

Add WIN32_LEAN_AND_MEAN for windows.h include.
  zconf.h.in
Due: zlib-ng

Have infback() deliver all of the available output up to any error.
  infback.c
Due: zlib-ng

Fix bug in block type selection when Z_FIXED used.
  trees.c
Due: zlib-ng

Fix warnings in benchmarks
  test/benchmarks/benchmark_compare256.cc
  test/benchmarks/benchmark_slidehash.cc
Due: tests

Narrow down the amount of packages installed for Wine.
  .github/workflows/cmake.yml
Due: none

Combine some of the checks that were not identical. Made longest_match and compare256 use the X86_NOCHECK_SSE2 override, thus now those are also automatically enabled on x86_64.
  functable.c
Due: zlib-ng

Add missing compare256_neon activation to functable
  functable.c
Due: zlib-ng

Simplify functable.c
  functable.c
Due: zlib-ng

Sort functable alphabetically
  functable.c
  functable.h
Due: zlib-ng

Fix CMake not enabling POWER9_FEATURES
  CMakeLists.txt
Due: none

Reduce the amount of different defines required for arch-specific optimizations. Also removed a reference to a nonexistant adler32_sse41 in test/test_adler32.cc.
  CMakeLists.txt
  arch/arm/adler32_neon.c
  arch/arm/chunkset_neon.c
  arch/arm/crc32_acle.c
  arch/arm/insert_string_acle.c
  arch/arm/neon_intrins.h
  arch/arm/slide_hash_neon.c
  arch/power/adler32_power8.c
  arch/power/adler32_vmx.c
  arch/power/chunkset_power8.c
  arch/power/slide_hash_power8.c
  arch/power/slide_hash_vmx.c
  arch/x86/adler32_avx2.c
  arch/x86/adler32_avx2_p.h
  arch/x86/adler32_avx2_tpl.h
  arch/x86/adler32_avx512.c
  arch/x86/adler32_avx512_tpl.h
  arch/x86/adler32_avx512_vnni.c
  arch/x86/adler32_sse42.c
  arch/x86/adler32_ssse3.c
  arch/x86/adler32_ssse3_p.h
  arch/x86/chunkset_avx.c
  arch/x86/insert_string_sse42.c
  configure
  cpu_features.h
  functable.c
  test/benchmarks/benchmark_adler32.cc
  test/benchmarks/benchmark_adler32_copy.cc
  test/benchmarks/benchmark_crc32.cc
  test/benchmarks/benchmark_slidehash.cc
  test/test_adler32.cc
  test/test_crc32.cc
  win32/Makefile.a64
  win32/Makefile.arm
  win32/Makefile.msc
Due: zlib-ng, tests

Use named defines instead of hard coded numbers.
  deflate.c
  deflate.h
  gzread.c.in
  infback.c
  inffast_tpl.h
  inflate.c
  inftrees.c
  test/test_deflate_hash_head_0.cc
  test/test_deflate_quick_block_open.cc
  test/test_raw.cc
  zconf-ng.h.in
  zconf.h.in
  zutil.h
Due: zlib-ng, tests

Split crc32 pclmulqdq and vpclmulqdq implementations
  CMakeLists.txt
  arch/x86/Makefile.in
  arch/x86/crc32_fold_pclmulqdq_tpl.h
  arch/x86/crc32_fold_vpclmulqdq.c
  arch/x86/crc32_fold_vpclmulqdq_tpl.h
  arch/x86/crc32_pclmulqdq.c
  arch/x86/crc32_pclmulqdq_tpl.h
  arch/x86/crc32_vpclmulqdq.c
  configure
  cpu_features.h
  functable.c
  win32/Makefile.msc
Due: zlib-ng

Fix warning: comparison of integer expressions of different signedness: 'size_t' {aka 'long unsigned int'} and 'int' [-Wsign-compare]
  test/gh1235.c
Due: tests

Inflate: refill unconditionally
  inffast_tpl.h
Due: none

Inflate: add fast-path for literals
  inffast_tpl.h
  inflate_p.h
  zutil.h
Due: zlib-ng

Path conditions:
  zlib-ng: any of: arch/, adler32.c, adler32_p.h, chunkset.c, chunkset_tpl.h, compare258.c, compress.c, crc32.c, crc32_comb.c, crc32_comb_tbl.h, crc32_p.h, crc32_tbl.h, deflate.c, deflate_fast.c, deflate.h, deflate_medium.c, deflate_p.h, deflate_quick.c, deflate_slow.c, fallback_builtins.h, functable.c, functable.h, gzguts.h, gzlib.c, gzread.c, gzwrite.c, infback.c, inffast.c, inffast.h, inffixed_tbl.h, inflate.c, inflate.h, inflate_p.h, inftrees.c, inftrees.h, insert_string.c, insert_string_tpl.h, match_tpl.h, trees.c, trees_emit.h, trees.h, trees_tbl.h, uncompr.c, zbuild.h, zconf.h, zconf-ng.h, zendian.h, zlib.h, zlib-ng.h, zutil.c, zutil.h, zutil_p.h, but not: usr/include/.*, /usr/include/.*, /build/usr/include/.*, usr/lib/.*, /usr/lib/.*, /build/usr/lib/.*, usr/lib64/.*, /usr/lib64/.*, /build/usr/lib64/.*
  tests: any of: test/, tools/, but not: usr/include/.*, /usr/include/.*, /build/usr/include/.*, usr/lib/.*, /usr/lib/.*, /build/usr/lib/.*, usr/lib64/.*, /usr/lib64/.*, /build/usr/lib64/.*
