Repository zlib-ng/zlib-ng: changes, and which Codecov flags are due for each by the changed paths.
All: zlib-ng, tests

Use STD_MIN_MATCH instead of WANT_MIN_MATCH in deflate_slow for fast-zlib.
  deflate_slow.c
Due: zlib-ng

Use UNLIKELY for branches related to rolling hash based on performance profiling.
  deflate.c
  match_tpl.h
Due: zlib-ng

Use longest_match_slow in deflate_slow.
  deflate_slow.c
Due: zlib-ng

Minor prev_length calculation improvement in deflate_slow.
  deflate_slow.c
Due: zlib-ng

Incorporate fast-zlib algorithm changes into longest_match.
  match_tpl.h
Due: zlib-ng

Switch longest_match in deflate_slow based on whether or not rolling hash is being used.
  deflate.c
  deflate_p.h
  deflate_slow.c
  match_tpl.h
Due: zlib-ng

Separate fast-zlib matching algorithm into its own longest_match variant.
  arch/x86/compare258_avx.c
  arch/x86/compare258_sse.c
  compare258.c
  functable.c
  functable.h
  match_tpl.h
Due: zlib-ng

Added reduced memory configuration option to CMake and configure.
  CMakeLists.txt
  configure
Due: none

[Power8] Add chunk*_power8.
  CMakeLists.txt
  README.md
  arch/power/Makefile.in
  arch/power/chunkset_power8.c
  configure
  functable.c
Due: zlib-ng

Turn off reduced memory cmake option by default.
  CMakeLists.txt
Due: none

Added reduced memory cmake CI job.
  .github/workflows/cmake.yml
Due: none

Fixed missing enclosing parentheses for ZSWAP64 in zutil.h to avoid erroneous result in inffast.c.
  zutil.h
Due: zlib-ng

Don't define HASH_SIZE if it is already defined.
  deflate.h
Due: zlib-ng

Remove deflate_state dependency from crc_folding.
  arch/x86/crc_folding.c
  arch/x86/crc_folding.h
  crc32.c
Due: zlib-ng

Remove extra division operation in chunkcopy.
  chunkset_tpl.h
Due: zlib-ng

Use STDC11 defined earlier in zbuild.h for Z_TLS check.
  zbuild.h
Due: zlib-ng

Added build system check for posix_memalign support.
  CMakeLists.txt
  configure
  zutil.c
  zutil_p.h
Due: zlib-ng

Use number of bytes left instead of pointer for determine limit of chunk copy. Helps prevent off by one errors.
  chunkset_tpl.h
  functable.c
  functable.h
  inffast.c
  inflate.c
Due: zlib-ng

Use fixed width integer types in chunk functions.
  chunkset_tpl.h
  functable.c
  functable.h
  inffast.c
Due: zlib-ng

Fix Z_SOLO mode
  zlib.h
Due: zlib-ng

IBM Z: Add vectorized CRC32 implementation
  .github/workflows/cmake.yml
  .github/workflows/configure.yml
  CMakeLists.txt
  README.md
  arch/s390/Makefile.in
  arch/s390/crc32-vx.c
  arch/s390/s390.c
  arch/s390/s390.h
  cmake/detect-intrinsics.cmake
  configure
  crc32_p.h
  functable.c
  zutil.h
Due: zlib-ng

Separate slide_hash_c in the same way that insert_string_c is separated from deflate.c.
  CMakeLists.txt
  Makefile.in
  deflate.c
  slide_hash.c
  win32/Makefile.a64
  win32/Makefile.arm
  win32/Makefile.msc
Due: zlib-ng

Rename slide source files to slide_hash to match function name.
  CMakeLists.txt
  arch/arm/Makefile.in
  arch/arm/slide_hash_neon.c
  arch/power/Makefile.in
  arch/power/slide_hash_power8.c
  arch/x86/INDEX.md
  arch/x86/Makefile.in
  arch/x86/slide_hash_avx.c
  arch/x86/slide_hash_sse.c
  configure
  win32/Makefile.a64
  win32/Makefile.arm
  win32/Makefile.msc
Due: zlib-ng

Add PowerPC without Power8 optimizations to GitHub Actions' configure and cmake workflows.
  .github/workflows/cmake.yml
  .github/workflows/configure.yml
  configure
Due: none

PowerPC: Add initial support for AltiVec. * Add detection of VMX instructions
  CMakeLists.txt
  arch/power/Makefile.in
  arch/power/adler32_vmx.c
  arch/power/power.c
  arch/power/power.h
  arch/power/slide_hash_vmx.c
  cmake/detect-intrinsics.cmake
  configure
  functable.c
  zutil.h
Due: zlib-ng

[PowerPC] Use templatized code for slide_hash as code for VMX and VSX is very similar * Any differences can be handled using compiler options or added as macros before including template header
  arch/power/slide_hash_power8.c
  arch/power/slide_hash_vmx.c
  arch/power/slide_ppc_tpl.h
Due: zlib-ng

Add AltiVec (VMX) to supported intrinsics for adler32 and slide_hash.
  README.md
Due: none

Added CI instances for CTZLL and CTZ builtin existence to improve code coverage.
  .github/workflows/cmake.yml
Due: none

Call deflateBound to calculate length with custom gzip header in example.
  test/example.c
Due: tests

Fill out gzheader before calling deflateSetHeader for better code coverage in example.
  test/example.c
Due: tests

Path conditions:
  zlib-ng: any of: arch/, adler32.c, adler32_p.h, chunkset.c, chunkset_tpl.h, compare258.c, compress.c, crc32.c, crc32_comb.c, crc32_comb_tbl.h, crc32_p.h, crc32_tbl.h, deflate.c, deflate_fast.c, deflate.h, deflate_medium.c, deflate_p.h, deflate_quick.c, deflate_slow.c, fallback_builtins.h, functable.c, functable.h, gzguts.h, gzlib.c, gzread.c, gzwrite.c, infback.c, inffast.c, inffast.h, inffixed_tbl.h, inflate.c, inflate.h, inflate_p.h, inftrees.c, inftrees.h, insert_string.c, insert_string_tpl.h, match_tpl.h, trees.c, trees_emit.h, trees.h, trees_tbl.h, uncompr.c, zbuild.h, zconf.h, zconf-ng.h, zendian.h, zlib.h, zlib-ng.h, zutil.c, zutil.h, zutil_p.h, but not: usr/include/.*, /usr/include/.*, /build/usr/include/.*, usr/lib/.*, /usr/lib/.*, /build/usr/lib/.*, usr/lib64/.*, /usr/lib64/.*, /build/usr/lib64/.*
  tests: any of: test/, tools/, but not: usr/include/.*, /usr/include/.*, /build/usr/include/.*, usr/lib/.*, /usr/lib/.*, /build/usr/lib/.*, usr/lib64/.*, /usr/lib64/.*, /build/usr/lib64/.*
