Repository zlib-ng/zlib-ng: changes, and which Codecov flags are due for each by the changed paths.
All: zlib-ng, tests

Speed up chunkcopy and memset
  chunkset_tpl.h
  functable.c
  functable.h
  inffast.c
  inflate.c
  inflate_p.h
Due: zlib-ng

Fixed wrong error name when calling inflate in minideflate.
  test/minideflate.c
Due: tests

Updated help usage with correct values for window_bits.
  test/minideflate.c
Due: tests

Auto-detect wrapper when inflating and no window_bits specified.
  test/minideflate.c
Due: tests

Use state->pending and state->pending_buf pointers to pending output.
  arch/s390/README.md
  arch/s390/dfltcc_inflate.c
  infback.c
  inffast.c
  inflate.c
  inflate.h
  inflate_p.h
Due: zlib-ng

Use pclmulqdq accelerated CRC for exported function
  arch/x86/crc32_fold_pclmulqdq.c
  arch/x86/crc32_fold_vpclmulqdq.c
  cpu_features.h
  functable.c
  test/benchmarks/benchmark_crc32.cc
Due: zlib-ng, tests

Added static versions of c++ libraries on S390X, MinGW, and ppc.
  .github/workflows/cmake.yml
Due: none

Move CVE-2003-0107 test to Google Tests.
  .gitignore
  CMakeLists.txt
  configure
  test/Makefile.in
  test/README.md
  test/test_cve-2003-0107.cc
Due: tests

Implement unit testing using Google Test framework.
  .gitignore
  CMakeLists.txt
  Makefile.in
  test/CMakeLists.txt
  test/Makefile.in
  test/test_adler32.cc
  test/test_compress.cc
  test/test_crc32.c
  test/test_crc32.cc
  test/test_deflate_bound.cc
  test/test_deflate_copy.cc
  test/test_deflate_dict.cc
  test/test_deflate_hash_head_0.cc
  test/test_deflate_header.cc
  test/test_deflate_params.cc
  test/test_deflate_pending.cc
  test/test_deflate_prime.cc
  test/test_deflate_quick_bi_valid.cc
  test/test_deflate_quick_block_open.cc
  test/test_deflate_tune.cc
  test/test_dict.cc
  test/test_gzio.cc
  test/test_hash_head_0.c
  test/test_inflate_adler32.c
  test/test_inflate_adler32.cc
  test/test_inflate_sync.cc
  test/test_large_buffers.cc
  test/test_main.cc
  test/test_shared.h
  test/test_small_buffers.cc
  test/test_version.cc
Due: tests

Specify c++ compiler, packages, and flags for Google Test in cmake workflow.
  .github/workflows/cmake.yml
  .github/workflows/pkgcheck.yml
  cmake/toolchain-mingw-i686.cmake
Due: none

Prefer posix versions of MinGW for compiling against googletest.
  cmake/toolchain-mingw-i686.cmake
  cmake/toolchain-mingw-x86_64.cmake
Due: none

Ignore code coverage for files in _dep directory.
  .codecov.yaml
Due: none

Compile MSAN instrumented C++ libraries for MSAN build with googletest.
  .github/workflows/cmake.yml
  test/CMakeLists.txt
Due: tests

Adding some application-specific benchmarks
  CMakeLists.txt
  test/benchmarks/CMakeLists.txt
  test/benchmarks/README.md
  test/benchmarks/benchmark_main.cc
  test/benchmarks/benchmark_png_decode.cc
  test/benchmarks/benchmark_png_encode.cc
  test/benchmarks/benchmark_png_shared.h
Due: tests

Allow compilation with MSVC variant of clang (clang-cl)
  arch/x86/insert_string_sse42.c
Due: zlib-ng

Fixed inftrees.c should be compiled with infcover when zlib is a shared library.
  CMakeLists.txt
Due: none

Added ClangCl instances to GitHub Actions workflow.
  .github/workflows/cmake.yml
Due: none

Use older version of Google test to support older versions of GCC. Allow specifying alternative Google test repository and tag.
  test/CMakeLists.txt
Due: tests

Include zutil.h for definition of DEF_MEM_LEVEL.
  test/minideflate.c
Due: tests

Use large default buffer size for minideflate to match minigzip use of GZBUFSIZE.
  test/minideflate.c
Due: tests

Added support for -k keep argument to minideflate. By default minideflate will now delete the input file.
  test/minideflate.c
Due: tests

Append extension to output file path based on window_bits when compressing and remove extension from output file path when decompressing.
  test/minideflate.c
Due: tests

Print help when no arguments supplied to minideflate.
  test/minideflate.c
Due: tests

Throw an error when input is raw deflate stream but window_bits is not supplied.
  test/minideflate.c
Due: tests

Allow bypassing runtime feature check of TZCNT instructions. * This avoids conditional branch when it's known at build time that TZCNT instructions are always supported
  CMakeLists.txt
  README.md
  configure
  fallback_builtins.h
Due: zlib-ng

[README] Add missing FORCE_SSE2 for CMake.
  README.md
Due: none

Added memory alignment compensation functions for users who may be using custom allocators that don't align on the same boundary zlib-ng expects.
  zutil.c
  zutil.h
Due: zlib-ng

Bypass memory alignment compensation if not using custom allocator.
  zutil.c
Due: zlib-ng

Path conditions:
  zlib-ng: any of: arch/, adler32.c, adler32_p.h, chunkset.c, chunkset_tpl.h, compare258.c, compress.c, crc32.c, crc32_comb.c, crc32_comb_tbl.h, crc32_p.h, crc32_tbl.h, deflate.c, deflate_fast.c, deflate.h, deflate_medium.c, deflate_p.h, deflate_quick.c, deflate_slow.c, fallback_builtins.h, functable.c, functable.h, gzguts.h, gzlib.c, gzread.c, gzwrite.c, infback.c, inffast.c, inffast.h, inffixed_tbl.h, inflate.c, inflate.h, inflate_p.h, inftrees.c, inftrees.h, insert_string.c, insert_string_tpl.h, match_tpl.h, trees.c, trees_emit.h, trees.h, trees_tbl.h, uncompr.c, zbuild.h, zconf.h, zconf-ng.h, zendian.h, zlib.h, zlib-ng.h, zutil.c, zutil.h, zutil_p.h, but not: usr/include/.*, /usr/include/.*, /build/usr/include/.*, usr/lib/.*, /usr/lib/.*, /build/usr/lib/.*, usr/lib64/.*, /usr/lib64/.*, /build/usr/lib64/.*
  tests: any of: test/, tools/, but not: usr/include/.*, /usr/include/.*, /build/usr/include/.*, usr/lib/.*, /usr/lib/.*, /build/usr/lib/.*, usr/lib64/.*, /usr/lib64/.*, /build/usr/lib64/.*
