Repository zlib-ng/zlib-ng: changes, and which Codecov flags are due for each by the changed paths.
All: zlib-ng, tests

codecov.yml:

codecov:
  max_report_age: 72h
  
coverage:
  status:
    project:
      default:
        threshold: 0.07%
      zlib-ng:
        target: 80%
        flags:
          - zlib-ng
      tests:
        target: 50%
        flags:
          - tests
        
comment:
    require_head: no     # default yes
    require_base: no     # default yes

flags:
  zlib-ng:
    paths:
      - arch/
      - adler32.c
      - adler32_p.h
      - chunkset.c
      - chunkset_tpl.h
      - compare258.c
      - compress.c
      - crc32.c
      - crc32_comb.c
      - crc32_comb_tbl.h
      - crc32_p.h
      - crc32_tbl.h
      - deflate.c
      - deflate_fast.c
      - deflate.h
      - deflate_medium.c
      - deflate_p.h
      - deflate_quick.c
      - deflate_slow.c
      - fallback_builtins.h
      - functable.c
      - functable.h
      - gzguts.h
      - gzlib.c
      - gzread.c
      - gzwrite.c
      - infback.c
      - inffast.c
      - inffast.h
      - inffixed_tbl.h
      - inflate.c
      - inflate.h
      - inflate_p.h
      - inftrees.c
      - inftrees.h
      - insert_string.c
      - insert_string_tpl.h
      - match_tpl.h
      - trees.c
      - trees_emit.h
      - trees.h
      - trees_tbl.h
      - uncompr.c
      - zbuild.h
      - zconf.h
      - zconf-ng.h
      - zendian.h
      - zlib.h
      - zlib-ng.h
      - zutil.c
      - zutil.h
      - zutil_p.h
  tests:
    paths:
      - test/
      - tools/
  
fixes:
  - "/home/runner/work/zlib-ng/zlib-ng/::"
  - "/home/runner/work/zlib-ng/build/::"
  - "/build/home/runner/work/zlib-ng/zlib-ng/::"
  - "/build/home/runner/work/zlib-ng/build/::"

ignore:
  - "usr/include/.*"
  - "/usr/include/.*"
  - "/build/usr/include/.*"
  - "usr/lib/.*"
  - "/usr/lib/.*"
  - "/build/usr/lib/.*"
  - "usr/lib64/.*"
  - "/usr/lib64/.*"
  - "/build/usr/lib64/.*"

make darwin cross compilation possible
  configure
Due: none

Update macOS Github Actions
  .github/workflows/cmake.yml
  .github/workflows/configure.yml
Due: none

Fix -std option in configure script
  configure
Due: none

Switch to python venv
  .github/workflows/cmake.yml
Due: none

.gitattributes: Enforce LF line-endings on all non-binary files
  .gitattributes
Due: none

IBM zSystems DFLTCC: Extend sanitizer checks
  arch/s390/dfltcc_detail.h
  zbuild.h
Due: zlib-ng

Add small compress() benchmark
  test/benchmarks/CMakeLists.txt
  test/benchmarks/benchmark_compress.cc
Due: tests

IBM zSystems DFLTCC: Inline DLFTCC states into zlib states
  arch/s390/README.md
  arch/s390/dfltcc_common.h
  arch/s390/dfltcc_deflate.c
  arch/s390/dfltcc_deflate.h
  arch/s390/dfltcc_detail.h
  arch/s390/dfltcc_inflate.c
  arch/s390/dfltcc_inflate.h
  deflate.c
  deflate.h
  infback.c
  inflate.c
  inflate.h
  inflate_p.h
Due: zlib-ng

Update llvm version used for MSAN. Disable unneccessary compilation of tests, benchmarks, docs.
  .github/workflows/cmake.yml
Due: none

Make lint check ignore *.patch files, as those can legally have trailing whitespace or end the file with blank lines.
  .github/workflows/lint.yml
Due: none

Use windows-2019 for build with toolset v141
  .github/workflows/cmake.yml
Due: none

Fix illegal instruction usage in Xeon Phi x200 processors
  arch/x86/x86_features.c
  arch/x86/x86_features.h
  functable.c
  test/benchmarks/benchmark_adler32.cc
  test/benchmarks/benchmark_adler32_copy.cc
  test/benchmarks/benchmark_crc32.cc
  test/test_adler32.cc
  test/test_crc32.cc
Due: zlib-ng, tests

better acle check
  cmake/detect-intrinsics.cmake
  configure
Due: none

Fix a name conflict when compiled with zlib-compat
  test/benchmarks/benchmark_compress.cc
Due: tests

Use actual compressed length
  test/test_dict.cc
Due: tests

Remove unused function dfltcc_alloc_state
  arch/s390/README.md
  arch/s390/dfltcc_detail.h
Due: zlib-ng

Add back-and-forth inflateCopy() test
  test/CMakeLists.txt
  test/test_inflate_copy.cc
Due: tests

- Make codecov uploads happen even if some jobs have failed. - Fix error in generating list of reports to upload. - Clean up the implementation a bit.
  .github/workflows/cmake.yml
  .github/workflows/pigz.yml
Due: none

Add AArch64 feature detection support for OpenBSD
  arch/arm/arm_features.c
Due: zlib-ng

Rewrite deflate memory allocation. Deflate used to call allocate 5 times during init.
  CMakeLists.txt
  configure
  deflate.c
  deflate.h
  zbuild.h
Due: zlib-ng

Prepare DFLTCC changes for new malloc system
  arch/s390/dfltcc_common.h
  arch/s390/dfltcc_deflate.h
  arch/s390/dfltcc_detail.h
  arch/s390/dfltcc_inflate.h
  deflate.c
  inflate_p.h
Due: zlib-ng

Rewrite inflate memory allocation. Inflate used to allocate state during init, but window would be allocated when/if needed and could be resized and that required a new free/alloc round.
  infback.c
  inflate.c
  inflate.h
  inflate_p.h
  test/infcover.c
Due: zlib-ng, tests

Clean up memory allocation functions that are no longer used, and its tests.
  CMakeLists.txt
  arch/s390/Makefile.in
  arch/s390/README.md
  arch/s390/dfltcc_common.c
  arch/s390/dfltcc_common.h
  configure
  test/CMakeLists.txt
  test/test_aligned_alloc.cc
  test/test_compare256.cc
  zutil.c
  zutil.h
Due: zlib-ng, tests

Update PORTING.md to document zlib-ng memory allocation details.
  PORTING.md
Due: none

Improve source compatibility with zlib
  zlib.h.in
Due: zlib-ng
