Repository zlib-ng/zlib-ng: changes, and which Codecov flags are due for each by the changed paths.
All: zlib-ng, tests

codecov.yml:

codecov:
  max_report_age: 72h
  
coverage:
  status:
    project:
      default:
        threshold: 0.07%
      zlib-ng:
        target: 80%
        flags:
          - zlib-ng
      tests:
        target: 50%
        flags:
          - tests
        
comment:
    require_head: no     # default yes
    require_base: no     # default yes

flags:
  zlib-ng:
    paths:
      - arch/
      - adler32.c
      - adler32_p.h
      - chunkset.c
      - chunkset_tpl.h
      - compare258.c
      - compress.c
      - crc32.c
      - crc32_comb.c
      - crc32_comb_tbl.h
      - crc32_p.h
      - crc32_tbl.h
      - deflate.c
      - deflate_fast.c
      - deflate.h
      - deflate_medium.c
      - deflate_p.h
      - deflate_quick.c
      - deflate_slow.c
      - fallback_builtins.h
      - functable.c
      - functable.h
      - gzguts.h
      - gzlib.c
      - gzread.c
      - gzwrite.c
      - infback.c
      - inffast.c
      - inffast.h
      - inffixed_tbl.h
      - inflate.c
      - inflate.h
      - inflate_p.h
      - inftrees.c
      - inftrees.h
      - insert_string.c
      - insert_string_tpl.h
      - match_tpl.h
      - trees.c
      - trees_emit.h
      - trees.h
      - trees_tbl.h
      - uncompr.c
      - zbuild.h
      - zconf.h
      - zconf-ng.h
      - zendian.h
      - zlib.h
      - zlib-ng.h
      - zutil.c
      - zutil.h
      - zutil_p.h
  tests:
    paths:
      - test/
      - tools/
  
fixes:
  - "/home/runner/work/zlib-ng/zlib-ng/::"
  - "/home/runner/work/zlib-ng/build/::"
  - "/build/home/runner/work/zlib-ng/zlib-ng/::"
  - "/build/home/runner/work/zlib-ng/build/::"

ignore:
  - "usr/include/.*"
  - "/usr/include/.*"
  - "/build/usr/include/.*"
  - "usr/lib/.*"
  - "/usr/lib/.*"
  - "/build/usr/lib/.*"
  - "usr/lib64/.*"
  - "/usr/lib64/.*"
  - "/build/usr/lib64/.*"

Fix visibility of a few internal functions.
  arch/x86/crc32_fold_pclmulqdq.c
  arch/x86/crc32_fold_vpclmulqdq_tpl.h
Due: zlib-ng

Change configure workflow to use gcc-11 for MacOS * gcc-9 is not installed on macos-latest runner
  .github/workflows/configure.yml
Due: none

Change pkgcheck to use macos-11 runner * macos-latest runner doesn't have XCode 11.7.0 anymore, newer XCode versions have incompatible toolchain
  .github/workflows/pkgcheck.yml
Due: none

Delete ctzl.h
  arch/arm/ctzl.h
Due: zlib-ng

Use const char* for z_error argument
  zbuild.h
  zutil.c
Due: zlib-ng

Make sure inflate_p.h is fully guarded by header guard
  inflate_p.h
Due: zlib-ng

Do not use cpuid.h on Windows
  arch/x86/x86_features.c
Due: zlib-ng

Fix compilation error where `crc32_fold` type matches field name in struct functable_s
  functable.h
Due: zlib-ng

Use size_t instead of uint64_t for len in all crc32 functions
  arch/arm/crc32_acle.c
  arch/power/crc32_power8.c
  arch/s390/crc32-vx.c
  arch/x86/crc32_fold_pclmulqdq.c
  arch/x86/crc32_fold_pclmulqdq_tpl.h
  arch/x86/crc32_fold_vpclmulqdq_tpl.h
  cpu_features.h
  crc32_braid.c
  crc32_braid_p.h
  crc32_fold.c
  crc32_fold.h
  functable.c
  functable.h
Due: zlib-ng

Fix MSVC warnings in benchmark code
  test/benchmarks/benchmark_adler32.cc
  test/benchmarks/benchmark_adler32_copy.cc
  test/benchmarks/benchmark_crc32.cc
Due: tests

Use size_t instead of uint64_t for len in all adler32 functions
  adler32.c
  adler32_fold.c
  adler32_fold.h
  adler32_p.h
  arch/arm/adler32_neon.c
  arch/power/adler32_power8.c
  arch/power/adler32_vmx.c
  arch/x86/adler32_avx2_tpl.h
  arch/x86/adler32_avx512_tpl.h
  arch/x86/adler32_avx512_vnni.c
  arch/x86/adler32_sse42.c
  arch/x86/adler32_ssse3.c
  cpu_features.h
  functable.c
  functable.h
  test/benchmarks/benchmark_adler32_copy.cc
Due: zlib-ng, tests

Fix ABI checking... * Ubuntu 22.04 use different format for ABI files so old ones need to be removed * Use more recent zlib-ng commit to avoid issues with internal adler32 and crc32 functions
  .gitattributes
  test/abi/zlib-ec3df00224d4b396e2ac6586ab5d25f673caa4c2-aarch64-unknown-linux-gnu.abi
  test/abi/zlib-ec3df00224d4b396e2ac6586ab5d25f673caa4c2-arm-unknown-linux-gnueabi.abi
  test/abi/zlib-ec3df00224d4b396e2ac6586ab5d25f673caa4c2-arm-unknown-linux-gnueabihf.abi
  test/abi/zlib-ec3df00224d4b396e2ac6586ab5d25f673caa4c2-powerpc-unknown-linux-gnu.abi
  test/abi/zlib-ec3df00224d4b396e2ac6586ab5d25f673caa4c2-powerpc64-unknown-linux-gnu.abi
  test/abi/zlib-ec3df00224d4b396e2ac6586ab5d25f673caa4c2-powerpc64le-unknown-linux-gnu.abi
  test/abi/zlib-ec3df00224d4b396e2ac6586ab5d25f673caa4c2-x86_64-pc-linux-gnu-m32.abi
  test/abi/zlib-ec3df00224d4b396e2ac6586ab5d25f673caa4c2-x86_64-pc-linux-gnu.abi
  test/abi/zlib-ng-1ab443812aceab6c80ccd573ecdd06f73a84eef4-aarch64-unknown-linux-gnu.abi
  test/abi/zlib-ng-1ab443812aceab6c80ccd573ecdd06f73a84eef4-arm-unknown-linux-gnueabi.abi
  test/abi/zlib-ng-1ab443812aceab6c80ccd573ecdd06f73a84eef4-arm-unknown-linux-gnueabihf.abi
  test/abi/zlib-ng-1ab443812aceab6c80ccd573ecdd06f73a84eef4-powerpc-unknown-linux-gnu.abi
  test/abi/zlib-ng-1ab443812aceab6c80ccd573ecdd06f73a84eef4-powerpc64-unknown-linux-gnu.abi
  test/abi/zlib-ng-1ab443812aceab6c80ccd573ecdd06f73a84eef4-powerpc64le-unknown-linux-gnu.abi
  test/abi/zlib-ng-1ab443812aceab6c80ccd573ecdd06f73a84eef4-x86_64-pc-linux-gnu-m32.abi
  test/abi/zlib-ng-1ab443812aceab6c80ccd573ecdd06f73a84eef4-x86_64-pc-linux-gnu.abi
  test/abi/zlib-ng-843c16c87afd53a20bf915661012b02acdd30281-x86_64-pc-linux-gnu.abi
  test/abi/zlib-v1.2.11-arm-linux-gnueabihf.abi
  test/abi/zlib-v1.2.11-x86_64-linux-gnu.abi
  test/abicheck.sh
Due: tests

Match __builtin_ctzl/__builtin_ctzll signatures
  fallback_builtins.h
Due: zlib-ng

Remove pointless FORCE_SSE2 feature
  CMakeLists.txt
  README.md
  configure
  functable.c
Due: zlib-ng

Allow disabling visibility attribute with configure * Disable visibility check for Cygwin, MinGW and MSYS as the compiler will only issue warning instead of error for unsupported attributes.
  configure
Due: none

Fix missing gzip functions when linking example and minigzip binaries.
  Makefile.in
  configure
Due: none

Add support for symbol prefix to linker definition files.
  configure
Due: none

Fix building resource files during out-of-tree build with configure
  Makefile.in
  configure
Due: none

Fix configure to use correct linker definition file when --without-gzfileops is specified.
  configure
Due: none

Fix MinGW build * Add detection of XSAVE intrinsics
  CMakeLists.txt
  arch/x86/Makefile.in
  cmake/detect-intrinsics.cmake
  configure
Due: zlib-ng

Avoid `functable` redefinition in functable.c
  functable.c
Due: zlib-ng

Move initialization of functable to `init_functable` function
  functable.c
Due: zlib-ng

Use local functable variable instead of standalone function pointers
  functable.c
Due: zlib-ng

Rename local `functable` variable to `ft`
  functable.c
Due: zlib-ng

Add temporary cmake build dirs/files to gitignore
  .gitignore
Due: none

Add assert for tzcnt if building with X86_NOCHECK_TZCNT
  arch/x86/x86_features.c
Due: zlib-ng

Fix typo found by codespell
  cmake/detect-intrinsics.cmake
Due: none
